[2019-06-03 23:01] guanzo opened #963 "IngressDNSRecord not receiving FederatedIngress IP addresses"
Following this guide: https://github.com/kubernetes-sigs/kubefed/blob/master/docs/ingressdns-with-externaldns.md

This step is failing:

I expect the `IngressDNSRecord` to have ip addresses in `status.dns[].loadBalancer`, instead it shows `loadBalancer: {}`

There's a repeated error in `kubefed-controller-manager` but I'm not sure its related, it's been throwing all day.
[code]

I ran this command

[2019-06-04 12:15] marun opened #964 "Update kind to 0.3.0"
[kind 0.3.0](https://github.com/kubernetes-sigs/kind/releases/tag/v0.3.0) offers a number of improvements including a switch to containerd that should significantly improve startup times.  The switch to containerd will require updates to kubefed's `create-servers.sh` script to account for the difference in configuring an insecure registry.

[2019-06-04 16:30] font opened #965 "Add admission webhook support for namespace-scoped deployments"
**What would you like to be added**:
Add support for running the kubefed admission webhook on a per-namespace basis.

**Why is this needed**:
To support kubefed namespace-scoped deployments.

/kind feature

[2019-06-04 16:56] shashidharatd commented on #963
I have re-run the examples and found they are working as expected. From your issue report i could point that the issue is related to the error in the log
[code]
which basically means that the watch on the resource in member cluster is not working.

Please give us additional information about.
1. what is your kubefed codebase? (release)
2. what is the k8s version of member cluster. Particularly, wh

[2019-06-04 19:50] guanzo commented on #963
1. I used helm to install the chart version `kubefed-0.1.0-rc2`. `helm list` only displays the chart version, not the app version.
2. The k8s version of the member cluster is `1.13.6-gke.0`

For the GVK, is that the `apiVersion + kind`? If so, the GVK of the ingress resource is `extensions/v1beta1/Ingress`

[2019-06-04 21:15] matti opened #967 "control plane on multiple clusters"
This might be an documentation issue - currently it's not clear if the control plane can be hosted in multiple clusters or not - documentation should state that it is not supported.

If so, then can the control plane be moved to another cluster? The docs should also cover that.

/kind docs

[2019-06-05 05:04] shashidharatd commented on #963
Yes, that's correct and sorry for the confusion created by the doc. Shall update the user guide to clear this.

[2019-06-05 14:51] #963 closed

[2019-06-05 16:44] marun commented on #967
No, the control plane cannot be hosted on multiple clusters.  KubeFed provides Kubernetes API types and controllers that run on a single cluster, just like any other Kube service.  Running simultaneously on multiple clusters would require exposing a non-Kube API backed by a distributed data store (and probably not etcd depending on latency between clusters).

Since #636 has already been filed to c

[2019-06-05 16:44] #967 closed

[2019-06-05 18:48] guanzo commented on #963
Thanks for the clarification.

[2019-06-06 22:29] abrennan89 commented on #955
PR merged

[2019-06-06 22:29] #955 closed

[2019-06-06 22:30] abrennan89 commented on #613
/assign abrennan89

[2019-06-06 22:31] abrennan89 commented on #613
I can't assign this but I'll work on this next when working on the cluster registration doc module.

[2019-06-07 15:24] #916 closed

[2019-06-08 01:02] font opened #975 "Update KubeFedConfig API time fields"
Per discussion in https://github.com/kubernetes-sigs/kubefed/pull/966#pullrequestreview-246138529, the time fields in the `KubeFedConfig` API should be updated to remove the unit from the name and also use `k8s.io/apimachinery/pkg/apis/meta/v1.Duration` instead to be consistent with the rest of the API. This would enable the user to specify any time interval granularity that may require conversion

[2019-06-11 00:59] xunpan commented on #961
/assign

[2019-06-11 11:36] marun commented on #574
Proposed solution 1 (indicate the error in events and status) was implemented as part of #740 and the cleanup that proceeded it.  I'm not sure automatic creation/deletion of the job is desirable, but field immutability is likely to be supported now that webhook validation is being implemented.

[2019-06-11 11:39] #574 closed

[2019-06-11 12:06] #965 closed

[2019-06-12 00:17] xunpan commented on #794
Kubefed have webhook already. Close this.

[2019-06-12 00:17] #794 closed

[2019-06-12 09:08] qinpingli commented on #964
Created a PR(#980) for this issue.

[2019-06-12 12:27] matti opened #981 "clusterSelector is ignored with ReplicaSchedulingPreference"
Following FederatedDeployment schedules correctly only to clusters with label `region=eu-west1`

[code]

When I add RSP to limit the maximum replicas it schedules to all clusters, ignoring the label:
[code]

[2019-06-12 13:58] marun commented on #981
This behavior is by design.  When RSP is enabled, placement is the result of the scheduling decision and that decision is applied via the `spec.placement.clusters` field. As per the following documentation, `clusterSelector` is ignored if `clusters` is provided:

https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#both-specplacementclusters-and-specplacementclusterselector-are

[2019-06-12 14:04] matti commented on #981
I want to limit `maxReplicas` in every cluster. the `weight` is not relevant.

My usecase: run 1000 replicas in n clusters (not specified up front), but only max 100 in one cluster. So if federation has only 1 clusters, only 100 will be running until another cluster is added, and then there are 200 replicas.

I want to use cluster labels to only run replicas with a subset of the clusters.

[2019-06-12 14:33] xunpan commented on #815
/assign

[2019-06-12 18:47] marun commented on #981
I think it would be helpful to hear more about what use case is involved here.  I'm not sure what you've described thus far represents a real-world scenario that other stakeholders would identify with.

cc: @irfanurrehman

[2019-06-12 18:52] rudoi opened #982 "Infinite update loop on FederatedDeployment"
**What happened**:

I federated a Deployment:
`kubefedctl federate -f file/with/deployment.yaml | kubectl apply -f`

It seems to be updating forever:
[code]

**What you expected to happen**:

Reconciliation to finish and the status to be updated.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a FederatedDeployment.

**Environment**:
- Kubernetes version (use `kubectl ve

[2019-06-12 19:33] matti commented on #981
Well, I can only describe my real world scenario. I'm currently running my workloads in ~20 GKE clusters that are in one or more regions at the same time. I've built my own "federation". The reason why I run multiple GKE clusters is that I need to scale quicker than that - One cluster can scale approx 10 replicas / second and I need to scale the total number of replicas faster than that. So my cur

[2019-06-12 19:39] matti commented on #981
I would imagine some "other stakeholder" to use similar pattern to run web apps in a subset of federated clusters so that when `totalReplicas: 15` is specified and a cluster leaves the federation (maintenance, upgrade, etc) the stakeholder wants to limit scheduling all replicas in remaining cluster(s) (potentially ddossing the cluster).

[2019-06-12 19:50] matti commented on #981
If `clusterSelector` is ignored when `cluster:` is defined - could it be that `totalReplicas` is under wrong key? `cluster:` is clearly meant for using fixed, named clusters as targets for replicas, while `totalReplicas` is a higher level concept.

It has to be possible to have `totalReplicas` with `clusterSelector` - it just makes sense to have these defined at the same time.

[2019-06-13 00:48] font opened #983 "Deploy and register admission webhook prior to rest of kubefed installation"
**What would you like to be added**:
Need a way to deploy admission webhook manifests and make sure the webhook server is registered with the `kube-apiserver` before any of the admission resources it operates against are created. For example for `KubeFedConfig`, we would need the mutating and validating webhook manifests to be installed by Helm, then the webhook server for `KubeFedConfig` to regis

[2019-06-13 07:21] yongzhedamaoxian opened #984 "fail to use Placement to select the cluster to create a namespace"
I use kubectl  to edit placement about my federatednamespaces test-pl and change placement from A to B.I want to  create namespaces in cluster3 and I do not want to create namespaces in cluster4.But the fact is that I can not see them in any clusters except the host cluster,cluster2.(I can see them in all clusters before I edit federatednamespace test-pl )
- A
[code]
- B
[code]
**What happened**:

[2019-06-13 07:45] yongzhedamaoxian commented on #984
I can select cluster by using label and clusterselector in placement but I can not do it  by using clustername in placement.

[2019-06-13 09:53] marun commented on #984
As per the `v0.1.0-rc1` release notes, `Cluster references in placement are now objects instead of strings to ensure extensibility`.  This means that specifying explicit cluster names is now done as per the following example (rather than via `clusterNames`):

https://github.com/kubernetes-sigs/kubefed/blob/master/example/sample1/federatednamespace.yaml#L8

[2019-06-13 09:54] #975 closed

[2019-06-13 11:41] yongzhedamaoxian commented on #984
thanks.I have made it

[2019-06-13 11:42] yongzhedamaoxian commented on #984
Thanks.I have  made it.

[2019-06-13 11:43] #984 closed

[2019-06-13 11:54] marun opened #986 "Generated federated types should set preserveUnknownFields to false"
An issue like #984 is the result of Kube not stripping unknown fields when accepting a request to add or update a custom resource. Kube 1.15 will add support for stripping unknown fields by setting `spec.preserveUnknownFields: false`, and this should be supported for generated federated types when running on kube 1.15.

[2019-06-14 06:10] xunpan commented on #809
@draveness
Do you still working on this? Any progress?

[2019-06-14 06:12] draveness commented on #809
Sorry, I'm not. I thought we would work on this after 0.1.0 released, and please feel free take it over.

[2019-06-14 06:57] xunpan commented on #747
@marun
Did you mean reject this case?

e.g.
[code]
This is wrong, we should report it is already federated for `deployments.apps` and suggest to use another federated-group for it.

[2019-06-14 11:40] marun opened #988 "Some kube types exist in more than one group but should be enabled at most once"
A number of core types exist in more than one group, e.g. (not intended to be an exhaustive list)

 - `deployments` is found in both `extensions/v1beta1` and `apps/v1`
 - `replicasets` is found in both `extensions/v1beta1` and `deployments.apps/v1`
 - `ingresses` is found in both `extensions/v1beta1` and `networking.k8s.io/v1beta1` (as of Kube 1.14)

Currently a FederatedTypeConfig (FTC) must have

[2019-06-14 11:49] marun commented on #747
@xunpan I question you pose is related but different, and I've filed #988 to address it.

[2019-06-17 23:25] roytman commented on #690
If nobody is working on it, I'll do it

[2019-06-18 12:21] marun commented on #936
All PRs targeted for this issue have merged.

[2019-06-18 12:21] #936 closed

[2019-06-18 12:28] marun commented on #690
@roytman Hi!  You're welcome to work on this.  The suggested form would be more like:

[code]

Alternately, you could look at one of the higher-priority items in the [v0.2.0](https://github.com/kubernetes-sigs/kubefed/milestone/5) (beta2) milestone.

[2019-06-18 21:03] andrewmyhre opened #999 "Support running in a cluster with restricted pod security policy"
**What would you like to be added**:
- In images/kubefed/Dockerfile when adding the hyperfed user, specify a UID (`RUN adduser -D -g '' -u 1001 hyperfed`)
- In the specs for the `kubefed-admission-webhook` and `kubefed-controller-manager` deployments specify the UID:
[code]

This was addressed in #945 but it would appear the change wasn't tested in a restricted pod security policy context. The abo

[2019-06-18 21:59] sohankunkerkar opened #1000 "Consuming the e2e binaries as release artifacts"
**What would you like to be added**:
The current setup for kubefed repo doesn't provide the e2e binaries as release artifacts for carrying out end-to-end tests. Currently, we're not only downloading a container image or a binary file but also building it locally.

**Why is this needed**:
With this feature, it would be easier to get rid of manual activities such as building tests, adding dependenci

[2019-06-19 03:31] zeronone opened #1002 "Using `adoptResources: Disabled` fails to propagate FederatedNamespace, but federates consisting resources."
I have a single-cluster, control-plane scoped federation setup. Although it is an edge case, following the steps below results in an interesting behavior. (`global.scope = "Cluster", syncController.adoptResources = "Disabled"`)

1. Create a `test-namespace` namespace
2. Create a `FederatedDeployment` in `test-namespace`. It won't be federated yet, because we haven't created the associated `Federat

[2019-06-19 07:06] irfanurrehman commented on #981
@matti would you be willing to present your case in todays or next weeks federation sync [Wednesdays at 7:30 PT](https://github.com/kubernetes/community/tree/master/sig-multicluster) to get an opinion of rest of the folks. Implementation to include this case is not difficult, but there should be general consensus that this represents a wider usage.

[2019-06-19 08:11] zeronone opened #1003 "`managed: false` is overwritten with `managed: true`"
**What happened**:
1. Create a `FederatedDeployment` in `test-namespace` namespace.
2. Create a `FederatedNamespace` in `test-namespace` namespace.
3. Confirm the propagation is true and deployments have been created.
4. Disable Propagation for `FederatedDeployment` via following:
[code]
5. Add `managed: false` label via: `kubectl label deployments.apps httpbin "kubefed.k8s.io/managed=false" -n te

[2019-06-19 09:08] zeronone opened #1004 "No FederationTypeConfig for ClusterRoleBinding in the charts"
There is an example file using `FederatedClusterRoleBinding` (https://github.com/kubernetes-sigs/kubefed/blob/a861817e014b7b735be6be5e980e62e007d9391f/example/sample1/federatedclusterrolebinding.yaml#L2); however I can't find any `FederatedTypeConfig` definition for it in the charts file: https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/templates/federatedtypeconfig.yaml. Is t

[2019-06-19 09:40] matti commented on #981
@irfanurrehman sure, how do I join that?

[2019-06-19 09:43] irfanurrehman commented on #962
@marun Do you have any additional info about this. The info generated seemed to have some problem and missing the actual data point that might have resulted in the race.
[code]
We have the read data point listed
[code]
But am unable to decipher (with this info alone) as to which might be the actual variable that is missing protection.

Let me know if you happen to see it again.

[2019-06-19 10:11] irfanurrehman commented on #981
https://zoom.us/my/k8s.mc

[2019-06-19 10:19] matti commented on #981
@irfanurrehman added this as agenda proposal comment to https://docs.google.com/document/d/1v-Kb1pUs3ww_x0MiKtgcyTXCAuZlbVlz4_A9wS3_HXY/edit#heading=h.9t4iuhw7ni0u

My time is a bit limited, I can be present ~7:30-8:00

[2019-06-19 10:20] zeronone commented on #1004
Sorry, didn't notice that it is very easy to generate using `kubefedctl`. Closing.

[2019-06-19 10:20] #1004 closed

[2019-06-19 10:21] irfanurrehman commented on #981
Thanks @matti, that should be fine.

[2019-06-19 10:29] marun commented on #1003
`managed: true` is the only label that is respected, and the absence of the label is taken to mean that a resource is not managed.  Probably this issue is correct that `managed: false` should also mean that a resource is not managed.

FYI step 6 is not valid - the orphan label is only valid for federated resources and applying it to a non-federated resource will have no effect.

[2019-06-19 10:32] marun commented on #962
@irfanurrehman I think the implication is that FTCs used in testing will need to be copied so that tests running concurrently are not in danger of interfering with one another.

[2019-06-19 13:13] zeronone commented on #1003
I tried to add the label while `managed: true` and propagation was enabled, however it was overwritten and lost after reconciliation. As the in logs above, it seems to reconcile every 10secs. Although the pods are not restarted, the `generation` keeps incrementing. Is that expected?

[2019-06-19 13:39] xunpan commented on #962
I think @font fixed this in
https://github.com/kubernetes-sigs/kubefed/pull/978/commits

The code duplicate `FederatedTypeConfig` for sync controller to avoid race condition. Though I did not see the exactly part of the lost stack, the fix should work for the case logically.

[2019-06-19 16:51] zeronone opened #1006 "FederatedDeployment resources' keeps updating"
**What happened**:
1. Deploy a `FederatedDeployment`
2. Even though nothing has changed, the `generation` keeps increasing, the `revision` keeps changing (every ~10 secs). It seems to be racing with the `DeploymentController`.

**What you expected to happen**:
1. The `generation` should not increase.
2. The logs print out `No update necessary for PropagatedVersion <...>`, but immediately follows w

[2019-06-19 17:06] zeronone commented on #1006
Duplicate of: https://github.com/kubernetes-sigs/kubefed/issues/982

[2019-06-19 17:06] #1006 closed

[2019-06-19 17:06] marun commented on #1006
Thank you for reporting this problem! It appears to duplicate #982.

[2019-06-19 17:29] marun commented on #982
As per @zeronone's discovery in #1006, the reason for the thrashing appears to be that the deployment controller in the member cluster is setting an annotation that the sync controller is clearing. The near-term fix is likely to be retaining the specific annotation.  A longer-term fix may be supporting path-based retention.

[2019-06-19 19:55] marun commented on #1002
tl;dr Namespaces in a self-joined host cluster should always be adopted.

This is an interesting case.  Note that disabling adoption is intended to prevent accidental deletion of resources, so whether always adopting makes sense depends on whether a resource can be deleted.

- In the case of a self-joined host cluster, the namespace has to exist and can't be deleted, so always adopting would appea

[2019-06-19 19:58] marun commented on #999
Thank you for suggesting this. Would you like to contribute the fix? We're expecting to release rc3 on Monday June 24th and it would be good to include both #945 and your suggestions.

[2019-06-19 23:27] andrewmyhre commented on #999
Sure, I've pushed #1007 to address this.
There are a couple of other tweaks I've made; in my testing I found the binaries were ending up owned by root and the hyperfed user was unable to execute them.

[2019-06-20 01:32] zeronone commented on #982
Path-based retention would be nice, but the user has to manually enable them for each case (needs knowledge of each case). Would changing the semantics for `metata.annotations`, `metadata.finalizers` be a bad idea? i.e: reconciliation always do a "merge" on those properties rather than overwriting them?

I am currently using Rancher, and I can't use `FederatedNamespace` either. Since rancher puts

[2019-06-20 01:34] zeronone commented on #1002
I would like to work on this task.

[2019-06-20 10:57] marun commented on #982
Merging might work for addition, but what if a user has added an annotation and then wants to remove it? Handling this effectively would require deviating from the edge-based reconciliation strategy espoused by Kubernetes (i.e. tracking intermediate states).

We've seen a number of issues related to this problem of kubefed reconciliation conflicting with local controllers, though. I think your int

[2019-06-20 11:07] marun commented on #999
Fixed by #1007

[2019-06-20 11:07] #999 closed

[2019-06-20 12:56] andrewmyhre opened #1009 "`kubefedctl join` ignores `errorOnExisting=false` when `secretName` is provided"
**What happened**: If I use `kubefedctl join`, say, in a Jenkins pipeline, and I provide the `--error-on-existing=false` flag, I would expect the command to be idempotent. When a secret name is not provided this is the actual behavior*, but when a secret is provided the join command exits with a non-zero code reporting `secrets "[secret name]" already exists`.

This might be intended behavior beca

[2019-06-20 13:10] andrewmyhre commented on #526
Finally caught up on this. I had the wrong understanding of namespace scoped deployments when I first raised this issue. Thanks for taking the time to explain!
I'll read the document @gyliu513 shared and also look at a way to enforce RBAC on kubefedclusters as they're created/updated/deleted (custom controller I'm thinking).

[2019-06-20 15:51] marun commented on #1009
I believe this was the intended behavior to avoid overwriting an existing secret. Note that `--error-on-existing=false` is the default, so a user would be in danger of overwriting an existing secret without specifying the argument explicitly.

The current behavior of join is not really idempotent - iirc the intent was to allow repeated invocation until a join was successful (i.e. in case of transi

[2019-06-20 19:24] marun commented on #982
@rudoi #1011 should resolve the problem you are seeing

@zeronone #1010 should resolve the finalizer issue you are seeing, and #1011 should enable retaining the annotations that rancher is setting on namespaces. You will need to create a PR based on #1011 and add the keys of the rancher annotations so they can be retained.

[2019-06-22 02:39] font opened #1013 "Support defaulting KubeFedConfigs"
/kind feature

[2019-06-22 16:51] andrewmyhre commented on #1009
In our use-case we're importing the kubefed module into a proprietary provisioner we've developed similar to kops (long story). We'd like to have it join a cluster to a host cluster during provisioning. Our provisioning process is intended to be idempotent so that we can use it as a driver for Gitops-style infrastructure updates. Hence the desire is for a 0 exit code when nothing needs to be done.

[2019-06-22 16:57] andrewmyhre commented on #1009
Maybe the check could be added to the `performPreflightChecks` func?

[2019-06-22 20:40] andrewmyhre commented on #1009
Here's a proposal: https://github.com/andrewmyhre/kubefed/pull/1

[2019-06-24 15:27] abhat opened #1014 "Create an easily consumable release yaml for each kubefed release"
**What would you like to be added**: Create a release yaml artifact that can be easily consumed by users that don't deploy KubeFed via Helm charts.

**Why is this needed**: Currently, every time there are changes to the CRDs for a given release, those changes are only made in the Helm charts directories. However, for a user that wants to deploy KubeFed (either via the kubefed-operator or otherwise

[2019-06-24 15:27] abhat commented on #1014
cc @pmorie @marun

[2019-06-24 21:47] marun commented on #1014
@abhat I'm not sure it should be desirable to release such an artifact. The tree used to create the yaml is tagged, and the creation is entirely mechanical (using either `go generate` or `kubefedctl enable`).  Also, the operator may want to run `kubefedctl enable` aagainst an openshift cluster rather than kubernetes.

[2019-06-24 23:29] font commented on #520
Fixed by #991.

[2019-06-24 23:29] #520 closed

[2019-06-25 02:07] senyan commented on #520
Amazing.

[2019-06-25 23:15] abrennan89 commented on #918
/assign abrennan89

[2019-06-26 14:24] marun commented on #1009
Thank you for posting, will review shortly!

[2019-06-28 08:39] bingohuang opened #1021 "Fail to install via helm on Kubeadm due to no matches for kind "FederatedTypeConfig" in version "core.kubefed.k8s.io/v1beta1""
**What happened**:
I refer to helm chart installation guide to install  a KubeFed control plane, but get this error:
[code]

**What you expected to happen**:
Successful installation

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a local cluster with version 1.14.1 by kubeadm
2. Follow the helm instruction guide
`helm install kubefed --name kubefed  --namespace kube-fe

[2019-06-28 13:59] marun commented on #1021
Did you follow the [chart install instructions](https://github.com/kubernetes-sigs/kubefed/tree/master/charts/kubefed#installing-the-chart) to install a released chart? The helm command you are using specifies neither a chart repo nor the chart version.  As per the documentation, the following should work once the chart repo has been configured:

[code]

[2019-07-01 10:36] queeno commented on #928
Hi @marun
I've just attempted to install v0.1.0-rc3 on my GKE via helm and I am seeing the exact same issue that @alexbrand reported:

[code]

[code]

Is version `0.1.0-rc3` also broken?

[2019-07-01 13:46] marun commented on #928
@queeno The rc1 image was broken for all users.  rc3 has been reportedly installed successfully by many users, but you are the second person to report that deployment on GKE fails to a problem with the validation webhook.  This suggests that a new issue be filed.

Here is a slack thread digging into the problem:

https://kubernetes.slack.com/archives/C09R1PJR3/p1561534537123100

It's not clear to

[2019-07-01 15:11] abrennan89 opened #1022 "Dependencies are outdated in installation docs"
**What happened**:
The steps at https://github.com/kubernetes-sigs/kubefed/blob/master/docs/installation.md#required-binaries are outdated - we no longer use the script installation so this is not required.

/kind bug

[2019-07-01 15:11] abrennan89 commented on #1022
/assign abrennan89

[2019-07-01 15:23] #1022 closed

[2019-07-01 20:06] queeno opened #1024 "kubefed-controller-manager fails to start up after a clean helm installation on GKE 1.13.7-gke.8"
**What happened**:
I have deployed a brand-new GKE cluster with two node pools on version `1.13.7-gke.8`.

I have followed the instructions of your [Helm chart deployment installation guide](https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/README.md) in order to deploy kubefed `v0.1.0-rc3`.

The helm installation succeeds but when I run `kubectl get pods`, I notice that the `k

[2019-07-01 20:11] queeno commented on #928
Hi @marun

Thanks very much for your reply.
I have thoroughly investigated this issue and opened a bug #1024.
If you have any thoughts, I would be mostly pleased if you could point me in the right direction.
Let's continue our discussion in that thread.

[2019-07-02 17:57] marun commented on #1024
Thank you for filing! This issue is definitely unrelated to #928. The problem here is related to webhook misconfiguration that appears specific to GKE (or at least Kube 1.13 - we only test 1.14 in CI) rather than a broken image.

The following slack conversation documents the failure to update KubeFedConfig as being caused by the validation webhook not being reachable even though the deployment ru

[2019-07-03 18:38] queeno commented on #1024
Hi @marun

Thank you for your reply!

It took me a while to troubleshoot this one. First of all, I realised that I could increase the logging by setting an insanely high `-v=100` or so in the args of the pods. That provides an amazing insight in the HTTP requests being exchanged between the pods.

I have also realised that the timeout error that I am seeing when the controller manager starts up is

[2019-07-03 22:16] pjferrell opened #1029 "Support custom TLS verification for KubeFedCluster and preserve setting from joining kubeconfig"
A cluster that has InsecureSkipTLSVerify enabled in kubeconfig, can be joined but will fail due to TLS setting not being preserved on the KubeFedCluster resource.  There are cases where allowing relaxed TLS certificate verification is required.

/kind feature

[2019-07-05 02:02] tianzhuozhuo opened #1031 "If one of clusters does not have region or zones attributes, the status of the serviceDNSRecord can not be updated"
If one of cluster does not have a node, the cluster has no region or zones attributes. In this case, we do not synchronize the state of serviceDNSRecord?

[2019-07-05 03:11] lidongdong536 opened #1032 "cloudn`t join the federation v2 by the kubeadm"
when i use the kubeadm build two cluster and  helm install the kubefed v2, i think the operation was no trouble,then i use the right version kubefedctl to join my cluster to federation and get a wrong, i`m sure that i have config the context and i can access multi-cluster by remote kubectl,cloud the user guide add the step 4 build federation v2 by use the kubeadm? >.<

/triage support

[2019-07-08 02:40] xunpan commented on #809
/assign

[2019-07-08 06:44] ernoaapa opened #1035 "Add `kube-federated-system` namespace to the `FederatedTypeConfig` in the Helm chart"
**What would you like to be added**:
At the moment, the `FederatedTypeConfig` resources in the chart don't have the namespace defined. At least if you just generate the manifests with helm, the resources lack namespace and when you create the resources with `kubectl`, the resources get created to whatever namespace you're at.
By having `namespace: {{ .Release.Namespace }}` in the [federatedtypecon

[2019-07-08 18:10] #579 closed

[2019-07-10 00:29] marun commented on #1035
Why are you attempting to create the FTCs from the chart yaml with kubectl?  If you're wanting to enable federation for a type separately from the chart I encourage you to use `kubefedctl enable` instead.

Note that `kubectl apply -n <namespace>` ensures the creation in the specified namespace.

[2019-07-10 01:27] marun commented on #1032
@lidongdong536 Can you please clarify the versions of the software involved in the problem you are experiencing?

 - helm
 - kubefed helm chart
 - kubefedctl
 - kubernetes (and the deployment platform i.e. kind/minikube/gke/etc)

It would also be helpful to see the error text reported by kubefedctl when you attempt to join a cluster.

[2019-07-10 03:41] konghui opened #1036 "federation didn't propagate resource to the cluster"
**What happened**:
I try to create a federation Namespace and federation deployment, it seems didn't propagate the namespace and deployment to the subcluster.

yamlfile:

[code]

describe federationNamespace output:

[code]

**What you expected to happen**:
subresource, such as namespace, deployment should exists in the cluster1 and cluster2, but I can't find namespace pf-k8s-federation in both tw

[2019-07-10 04:46] marun commented on #1036
Note that a federated namespace needs to have the same name as the containing namespace.  Putting a FederatedNamespace named 'pf-k8s-federation' in namspace 'default' will have no effect. This really should result in an error event logged to the resource, though.  I'll file an issue.

[2019-07-10 04:52] marun opened #1037 "An error event should be logged when the name of a FederatedNamespace doesn't match its namespace"
A `FederatedNamespace` needs to have the same name as its containing namespace in order to be propagated. Currently if the name differs there is no indication of the problem as per #1036.

/kind bug

[2019-07-10 05:58] konghui commented on #1036
thanks, it works well now.

[2019-07-10 05:58] #1036 closed

[2019-07-14 23:17] #1013 closed

[2019-07-15 03:51] #982 closed

[2019-07-16 23:36] marun commented on #1002
Fixed by #1026

[2019-07-16 23:36] #1002 closed

[2019-07-16 23:36] marun commented on #964
Fixed by #980

[2019-07-16 23:36] #964 closed

[2019-07-18 06:28] #795 closed

[2019-07-18 20:39] roytman opened #1044 "Resolve target namespace of kubefedctl commad from kubeconfig context"
**What would you like to be added**:
The `federate` and all `orphaning-deletion` commands need a namespace of the target `<federated object>`. From the [user guide](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#federating-a-target-resource) "If the flag --namespace is additionally not specified, the <target resource> will be searched for in the namespace default". I'd su

[2019-07-19 13:47] #908 closed

[2019-07-19 18:35] marun commented on #690
Fixed by #1008

[2019-07-19 18:35] #690 closed

[2019-07-20 15:49] roytman commented on #1044
Fixed by #1045

[2019-07-20 15:49] #1044 closed

[2019-07-23 03:40] michaelfig commented on #732
/remove-lifecycle stale

[2019-07-23 15:48] font commented on #697
This has been addressed by issue #860.

[2019-07-23 15:48] #697 closed

[2019-07-23 18:31] marun commented on #905
`disable` now accepts `--kubefed-group` and `--version` and `--delete-crd` is provided to allow deletion of a crd in the absence of an FTC.

[2019-07-23 18:31] #905 closed

[2019-07-24 05:51] xunpan commented on #988
/assign

[2019-07-24 13:43] marun commented on #804
There was [an unsuccessful attempt](https://docs.google.com/document/d/1uAOMzDgczEYwKcBCuSLpdhuQPHHvRYG-w3ke9659qY0/edit#) to find a strategy to upgrade the embedded template validation schema for federated types. It was decided that the best course of action was to instead remove the embedded validation schema, which was implemented by #1038. This removes the need for kubefed to worry about how t

[2019-07-24 13:43] #804 closed

[2019-07-24 13:47] marun commented on #918
I think the 'Maturity' column in the feature matrix of the readme is sufficient for now.

[2019-07-24 13:47] #918 closed

[2019-07-24 22:53] #1024 closed

[2019-07-25 16:17] #951 closed

[2019-07-26 01:26] gyliu513 commented on #434
It was fixed at https://github.com/kubernetes-sigs/kubefed/pull/1039

[2019-07-26 01:26] #434 closed

[2019-07-26 08:53] xunpan commented on #747
/assign
Let me try to check related conditions as a whole

[2019-07-26 13:35] a0144 commented on #95
what is the status of this feature?

[2019-07-26 22:56] font opened #1058 "KubeFedConfig scope should be immutable"
**What happened**:
Modifying the `kubefed` KubeFedConfig `scope` from `Cluster` to `Namespaced` succeeded.

**What you expected to happen**:
Validation failure suggesting the field is immutable.

**How to reproduce it (as minimally and precisely as possible)**:
1. deploy cluster-scoped kubefed
2. modify the scope in the `kubefed` KubeFedConfig to `Namespaced`

**Anything else we need to know?**:
S

[2019-07-27 10:19] irfanurrehman commented on #95
@a0144 this was put out on the backlog to be explored if an user requirement comes up, or  interested user/users show up with a relevant use case. Do you have a use case which can substantiate the need of this feature?

[2019-07-27 13:51] a0144 commented on #95
@irfanurrehman yes, I have two on-prem kubeadm clusters, where under normal circumstances only one is used to run the workloads. The pods for each service are scaled up by HPA locally in cluster1 as long as there are enough resources to do so. If not, they should be scaled into the second cluster. If you have some ideas of other ways to make it work I'd be really glad to get some tips.

[2019-07-29 03:12] xunpan commented on #988
My understanding for this case is that a resource is federated more than once. In that case, there will be issues for sync-controller. But it seems not a use case to me. So, we can reject the case by  checking during federating a resource. If the resource is already in one FTC as target, it is rejected. We may also need to check in webhook when a FTC is created.
@marun

[2019-07-29 10:55] #815 closed

[2019-07-29 10:57] #809 closed

[2019-07-29 10:59] marun commented on #988
@xunpan As per the questions at the end of the issue text, is it possible to detect potential duplication automatically or will special-case handling need to be hardcoded?

[2019-07-29 13:40] marun commented on #782
Being able to introspect on a control plane would seem like a feature worth implementing for beta2 to ensure an easy way of checking control plane health and configuration.

[2019-07-29 17:57] marun opened #1061 "Minimize race detection e2e runtime"
As per #1060, the race-detection e2e test run takes over 600s. The test run currently invokes all tests, but it should be possible to minimize the runtime by instead executing a representative subset that will ensure that all controllers are properly checked. For example, the sync controller only needs to be exercised for a single namespaced type and a single cluster-scoped type.

[2019-07-30 01:35] irfanurrehman commented on #95
@a0144. I am not aware of any alternative behaviours to make this work as of now. I would recommend you join the kubefed work group sync tomorrow @ 7:30 PT at https://zoom.us/my/k8s.mc to talk about your use case. I can add an agenda item if you confirm your presence.

[2019-07-30 05:58] qiujian16 commented on #1037
i will take a try on this

[2019-07-30 06:06] qiujian16 opened #1064 "kubefed join fails when host-cluster-context is not set"
**What happened**:
run `bin/kubefedctl join cluster1  --kubefed-namespace default`

the error shows:
[code]

if run `bin/kubefedctl join cluster1 --host-cluster-context cluster1 --kubefed-namespace default` everything is fine.

**What you expected to happen**:
It should either show that host-cluster-context is not set when run the command or sa name should not be formatted as `clusterContext-hostC

[2019-07-30 06:50] a0144 commented on #95
@irfanurrehman Thanks for the info. I'll join the meeting tomorrow

[2019-07-30 10:06] mvazquezc opened #1066 "KubeFed Controller doesn't remove overrides from FederatedDeployment when ReplicaSchedulingPreference is deleted"
**What happened**:

1. Created a FederatedDeployment with 1 replica on each cluster.
2. Created a basic ReplicaSchedulingPreference that defines 9 replicas distributed to "*" with a weight of 1
3. 3 replicas are placed on each cluster (FederatedDeployment overrides updated by KubeFed Controller)
4. ReplicaSchedulingPreference is deleted
5. FederatedDeployment overrides are not removed so 3 replica

[2019-07-30 11:39] glerchundi commented on #395
Is it possible to give a status update here? It seems like now the ones that are pushing this forward are different people so my friendliest ping to @marun and @font!

[2019-07-30 12:09] marun commented on #1066
@mvazquezc Removing a `ReplicaSchedulingPreference` is not intended to remove overrides applied by the replica scheduler.  KubeFed has no way of differentiating between overrides supplied by a user and replica scheduling, and even if that were not the case I think it would be safer to halt further changes to replica allocation rather than to revert to a previous configuration that may not be in ke

[2019-07-30 13:03] marun commented on #395
@glerchundi We're converging on a beta 1 release (`v0.1.0`) imminently. Considerable API cleanup has taken place over the past few months in support of this milestone to ensure that the API is in keeping with Kubernetes standards and will be supportable and upgradeable going forward. In addition to most of the API transitioning to beta (supportable) state, the resource propagation feature is also

[2019-07-30 13:12] glerchundi commented on #395
Thanks for the prompt response @marun!

Do you have a rough idea of how much time this would take? 6 months? 1 year?

[2019-07-30 15:50] marun commented on #395
@glerchundi I think a timeline to GA would very much depend on the nature of user feedback.  If we were able to achieve sufficient interest from potential adoptees and they were to indicate that the project was largely useful as-is and/or be usefully composed with other existing solutions, achieving GA would be a matter of stabilizing the existing feature set and the timeline could be within 3-6 m

[2019-07-30 16:27] font commented on #116
See https://github.com/kubernetes-sigs/kubefed/pull/1063#discussion_r308701486 for additional validations that would be useful.

[2019-07-30 16:28] font commented on #116
/remove-lifecycle stale

[2019-07-30 16:32] font commented on #711
/remove-lifecycle stale

[2019-07-30 23:55] #1058 closed

[2019-07-31 06:23] qiujian16 opened #1069 "Panic when enabling statusCollection in type config"
**What happened**:

Update federatedtypeconfig and add statusCollection as enabled

[code]

And a panic happens in controller
[code]

The reason is that statusType is nil, however according to https://github.com/kubernetes-sigs/kubefed/blob/master/pkg/apis/core/v1beta1/federatedtypeconfig_types.go#L41-L46, it should default to federatedType if it is not set.

**Environment**:
- Kubernetes version

[2019-07-31 10:48] #1037 closed

[2019-07-31 10:50] #1064 closed

[2019-07-31 11:24] #747 closed

[2019-07-31 11:30] marun commented on #763
@irfanurrehman Is this expected behavior?

[2019-07-31 16:13] font opened #1071 "Only enable supported feature gates by default"
**What would you like to be added**:
Disable all non-supported features by default in the `kubefed` `KubeFedConfig`. Features enabled by default:
https://github.com/kubernetes-sigs/kubefed/blob/cf27d7368b6a52aa6dfe0bfc421ca7baff54bf43/pkg/features/features.go#L66-L71

**Why is this needed**:
Currently we enable all feature gates regardless of their pre-release status. Since we are only moving the

[2019-08-01 10:43] sancyx commented on #95
Hi @irfanurrehman @a0144. Do you have any news on this, like design proposals?

[2019-08-02 07:23] qiujian16 opened #1078 "kubedctl enable services has conflict with knative services"
**What happened**:

run `$ ./bin/kubefedctl enable services --kubefed-namespace default`
returns `
F0802 15:16:29.293248   61760 enable.go:110] Error: Multiple resources are matched by "services": services, services.serving.knative.dev. A group-qualified plural name must be provided.`

The reason is that i installed knative services crd before. However, we cannot enable kube services using command

[2019-08-02 08:00] xunpan commented on #986
/assgin

[2019-08-02 11:29] #1069 closed

[2019-08-05 15:27] freegroup opened #1079 "Missing spec field causes Controller CrashLoopBackOff"
**What happened**:
FederatedSecrets / FederatedConfigmaps takes up to 30 minutes to be visible in
joined clusters. After several minutes some of them are visible,.....after minutes next
ConfigMaps comes (maybe)
You can't rely on the Secrects or ConfigMaps being synchronized at all. Some are not sync

**What you expected to happen**:
new created Federated#### comes within minutes and not hours

**H

[2019-08-05 15:32] freegroup commented on #1079
Note: a synch. secret has a status
[code]

The secret, which is not in sync, has no status attributte

[2019-08-05 15:45] freegroup commented on #1079
found stacktrace in the federated controller

[code]

[2019-08-05 16:00] freegroup commented on #1079
I changed the controller image to use "canary". Same Problem.

[code]

[2019-08-05 16:22] marun commented on #1079
@freegroup The problem you are experiencing is almost certainly related to Kubernetes 1.15. [A PR introducing its use](https://github.com/kubernetes-sigs/kubefed/pull/1068) does not pass CI.  If you want to use KubeFed at this time, it will be necessary for cluster hosting KubeFed to be Kubernetes 1.14. (1.15 member clusters should work fine).

[2019-08-05 19:00] marun commented on #1078
@qiujian16 Good catch.  The 'core' API types lack of a group doesn't allow providing a group-qualified name in cases like this where the kind/plural name is ambiguous.  Would it make sense for `kubefedctl enable` to accept `core` as a qualifier (e.g. `services.core`) for these types and then strip the suffix before use?

[2019-08-06 06:35] qiujian16 commented on #1078
for better user experience, should we have `kubefedctl enable service` points to the v1/services instead of running `kubefedctl enable service.core`? It is similar for federated deployment, today we need to run `kubefedctl enable deployment.apps` or `kubefedctl enable deployment.extensions`, but it will be better if we can run `kubefedctl enable deployment` which then points to a certain api group

[2019-08-06 06:53] #944 closed

[2019-08-06 09:38] marun commented on #1078
@qiujian16 The current approach is requiring that the user be explicit, and I don't think this case suggests deviating from that approach. We can't assume that we know better than the user as to what they should be enabling.

[2019-08-06 10:09] freegroup commented on #1079
kubectl version
[code]

and the pods again in CrashLoopBack
[code]

one of the joined cluster is still 1.15. But the cluster with the federated control plane is 1.14

[2019-08-06 10:17] freegroup commented on #1079
`unjoin` member cluster with 1.15 helps to sync secrets and configmaps ....but controller pods still crashing after some minutes

[code]

[2019-08-06 10:21] marun commented on #1079
@freegroup Can you provide more detail about how you have deployed your host cluster (minikube/kind/gke, released chart version, helm version)?  I'm not able to reproduce the behavior you report when I deploy kubefed with the v0.1.0-rc5 chart to a 1.14 cluster and member clusters are also 1.14.

[2019-08-06 10:28] freegroup commented on #1079
I'm using https://gardener.cloud/ to provision the cluster.
Gardener has per default RBAC enabled. `default` has no access right to the API-Server.

I federate 5 namespaces like this:

[code]

after this I apply a lot of secrets like this one below:

[code]

greetings

[2019-08-06 10:28] marun commented on #1079
Also, feel free to reach out on the #sig-multicluster channel on kubernetes.slack.com - an interactive chat might be more productive for debugging.

[2019-08-06 11:06] freegroup commented on #1079
thanks @marun for the interactive support.

we could find the problem. Some FederatedConfigMaps and FederatedSecrets didn'T have the field `spec`. I think for this kind of federated types the field should be required. In this case the API can decline the manifest and the developer gets proper feedback.

[2019-08-06 15:07] marun opened #1083 "Informer logging lacks type detail"
KubeFed's sync controller uses informers to watch federated resources in the host cluster and target resources in member clusters. The sync controller is configured with type information via the API to support the federation of types (e.g. CRDs) for which golang structs may not be available at compilation time.  Accordingly, the sync controller configures its informers with an `ObjectType` (indica

[2019-08-06 15:21] marun commented on #1083
Fixing this is likely to require changes to client-go (i.e. kubernetes/kubernetes) since that's where the informer and reflector code is sourced from.

@sttts @deads2k Your feedback on the feasibility of resolving this issue would be much appreciated.

[2019-08-06 16:06] freegroup commented on #350
seems to be related https://github.com/kubernetes-sigs/kubefed/issues/1079

[2019-08-06 16:10] #962 closed

[2019-08-06 16:20] marun opened #1084 "Scheduling tests are flaking"
**Which test(s) are failing**:

Scheduling tests with cluster-scoped control plane.

**Since when has it been failing**:

This is the second time I've seen this flake.  The PR that exhibited the failing CI run (#1082) doesn't appear to have any relation to the failure.

**Reason for failure**:

[code]

@irfanurrehman @xunpan I'm hoping one of you might have insight into why these tests are flaking

[2019-08-06 23:38] font opened #1085 "Flaky CI test failures caused by internal error failing to call webhook"
**What happened**:
Occasionally there is an intermittent CI test failure, seemingly not specific to a test, resulting in an internal error failing to call the webhook. For example, recently in https://travis-ci.org/kubernetes-sigs/kubefed/builds/565618657 when attempting to test kubefed on k8s v1.15.0, the following error was experienced:

[code]

**What you expected to happen**:
Successful creati

[2019-08-07 01:09] xunpan commented on #1084
/assign

[2019-08-07 06:15] irfanurrehman commented on #98
/remove-lifecycle stale

[2019-08-07 06:18] irfanurrehman commented on #95
@sancyx this issue is waiting for more evidence of the utility. If you have a reasonable use case then we can talk further about it. Talking about it at the community meeting as mentioned [here](https://github.com/kubernetes-sigs/kubefed/issues/95#issuecomment-516223911) is a good first step.

[2019-08-07 06:19] irfanurrehman commented on #95
/remove-lifecycle stale

[2019-08-07 06:21] irfanurrehman commented on #88
Closing this as the replica scheduling preferences API is in place as of now.
/close

[2019-08-07 06:21] #88 closed

[2019-08-07 06:26] irfanurrehman commented on #91
@shashidharatd can we consider the e2e testing complete for service dns now?

[2019-08-07 06:27] irfanurrehman commented on #182
/remove-lifecycle stale

[2019-08-07 06:28] irfanurrehman commented on #97
@shashidharatd Please let us know if it makes sense to have a `ServiceManager` akin to `SchedulingManager`. If not I think we can close this issue.
/remove-lifecycle stale

[2019-08-07 10:19] sancyx opened #1087 "Replica count of federated deployment is not updated by RSP plugin"
**What happened**:
After creating a ReplicaSchedulingPreference targeting a FederatedDeployment, cluster overrides for spec.replicas field of FederatedDeployment are not updated. I can see in debug log of ReplicaScheduler that replica counts are calculated correctly however FederatedDeployment is not updated.

**What you expected to happen**:
FederatedDeployment is updated with latest overrides pe

[2019-08-07 10:46] marun opened #1088 "Federated informer periodically logs 'too old resource version'"
There have been concern expressed at warnings like the following appearing the controller manager logs:

[code]

As per a [comment on a related kube issue](https://github.com/kubernetes/kubernetes/issues/22024#issuecomment-195107535), this is normal behavior related to watch expiry and is not something to worry about unless it is appearing multiple times per second on a sustained basis. Since kube

[2019-08-07 12:02] #1087 closed

[2019-08-07 12:20] marun commented on #763
This should be fixed by #1087.  Feel free to re-open if this is not the case.

[2019-08-07 12:21] #763 closed

[2019-08-07 12:22] marun commented on #1066
#1089 should have resolved the issue of replicas overrides not being updated.

[2019-08-07 12:22] #1066 closed

[2019-08-07 19:02] pjferrell commented on #1029
Resolved by PR #1030

[2019-08-07 19:02] #1029 closed

[2019-08-07 22:07] font commented on #1084
Here's [another CI failure example](https://travis-ci.org/kubernetes-sigs/kubefed/builds/569061073) that appears to have subsequently led to a failure of the `Federated "deployments.apps" [It] should be created, read, updated and deleted successfully` test due to:
[code]

[2019-08-08 09:42] qiujian16 commented on #1078
yes..that makes sense. So if there are not multiple match, should still use `kubefedctl enable service`, otherwise, should use `kubefedctl enable service.core`

[2019-08-08 11:42] marun commented on #633
@HaraldGustafsson Annotations (as well as finalizers) are preserved as of #1010.  Do you have a compelling reason to retain labels given that they are intended to be declarative vs set by automation (as was the case with annotations and finalizers)?

[2019-08-08 11:46] marun commented on #469
It appears that this will be fixed by Kube 1.16,.

[2019-08-08 12:07] marun commented on #1078
And not just for services - kubefedctl should accept `*.core `as a type name and strip the `.core` suffix for interaction with the API.

[2019-08-08 17:05] HaraldGustafsson commented on #633
I think annotations is enough, the only reason left for also supporting labels would be for filter support. For example locally label resources to get an overview of locally extended/annotated resources, but maybe that could be found in another way.

[2019-08-08 17:58] raffaelespazzoli commented on #834
/remove-lifecycle stale

[2019-08-09 09:56] xunpan commented on #1084
The issue happens because 'FTC' controller.

During FTC controller startup, it will reconcile and start sync controller one by one slowly (in ms):

...
start sync controller for `deployments.apps`
[delete FTC deployments.apps]
[create FTC deployments.apps]
...
stop sync controller failed. FAILED: the error message:
"E0806 15:53:08.150597     892 controller.go:196] Failed to remove finalizer from F

[2019-08-09 10:09] marun commented on #1084
@xunpan The error in question appears to be the result of the FTC being deleted. That is not a recoverable error, and without an FTC the controller would have no reason to start a sync controller for the type. That doesn't suggest a bug in the FTC controller to me, and I suggest figuring out why the FTC is being deleted if that is not a desirable condition for the test.

[2019-08-09 10:27] xunpan commented on #1084
2 tasks for me I think.
1. For the test, there was no `FTC` controller before. It was added by https://github.com/kubernetes-sigs/kubefed/pull/821.
[code]
I'm checking if this is really necessay.

2. I'm checking if FTC controller has issues about this error.
This happens during controller startup. At the moment, delete/create FTC CRD and start/stop sync-controller in some sequence way triggers th

[2019-08-09 11:09] marun commented on #1084
@xunpan I've just taken another look at the scheduling manager test, and I think it should be rewritten for isolation.  I think your intuition is correct that the ftc controller should not be required. But the test should also not be operating on the same kubefed system namespace that other tests depend on.  How about moving the scheduling manager test to its own file and running the scheduling ma

[2019-08-09 19:07] font commented on #1084
@xunpan #821 re-added the use of finalizers in the FTC so this scheduling manager test, that is only run when controllers are running in-process, was added to facilitate proper removal of the finalizer from the FTC originally created upon deployment for CI testing.

@marun I agree this test should be isolated to a test namespace. If we do that and continue to run this test in-process only, such th

[2019-08-12 08:52] xunpan commented on #782
/assign

[2019-08-12 10:39] #1079 closed

[2019-08-13 19:01] erick-thompson opened #1101 "Windows binary release for kubefedctl?"
**What would you like to be added**:
Windows support for kubefedctl.

**Why is this needed**:
A large of developers, DevOps, and Ops teams use Windows workstations. Other kubernetes tooling is available for Windows, and Kubernetes itself has first class support for Windows. By not supporting Windows, kubefedctl becomes much less useful.

/kind feature

[2019-08-14 18:42] abhat opened #1102 "--dry-run param does not take effect for kubefedctl federate --enable-type"
**What happened**:
[code]
**What you expected to happen**:
A dry run flag on the kubefedctl should not make any federation request to the server

**How to reproduce it (as minimally and precisely as possible)**:
Run: `kubefedctl federate ns test-namespace --dry-run --kubefed-namespace=federation-system -e`
**Anything else we need to know?**:

**Environment**:
- 1.14
- KubeFed version
0.1.0-rc5
- S

[2019-08-15 01:49] LalatenduMohanty opened #1104 "Add communication channel information in the Readme"
We should add following information to the readme as it will help new contributors

KubeFed is part of [multicluster SIG](https://github.com/kubernetes/community/tree/master/sig-multicluster) and it uses the same communication channels as multicluster SIG.

* Slack channel: [#sig-multicluster](http://slack.k8s.io/#sig-multicluster)
* [Mailing list](https://groups.google.com/forum/#!forum/kubernete

[2019-08-15 11:24] #813 closed

[2019-08-15 11:50] dionysius opened #1106 "`statusCollection: Enabled` crashes controller when `statusType` is not defined"
**What happened**:
[code]

**What you expected to happen**:
Should not crash the controller. Either validate error (e.g. writing to status of `federatedtypeconfigs service`) or use some well-defined defaults for `statusType` maybe?

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy kubefed
2. Edit `federatedtypeconfigs service` and add `statusCollection: Enabled`
3. See l

[2019-08-15 12:50] marun commented on #1106
This was fixed by #1070 and the fix will appear in the next release.

[2019-08-15 12:51] marun commented on #1106
Duplicate of #1069

[2019-08-15 12:51] #1106 closed

[2019-08-15 22:11] pjferrell commented on #1083
@marun With a small change to reflector.go logging, an Unstructured object can be used for the expected type and GroupVersionKind could be used for logging.  If this is acceptable, I can raise PRs.

kubefed:
https://github.com/snaproute-mino/kubefed/commit/45947e974b3b8915b471473ea92af12379ccc5a6

client-go:
https://github.com/snaproute-mino/kubernetes/commit/f5e9b912be613db010b91e8a83cb48c3a1ffb0

[2019-08-16 00:28] LalatenduMohanty commented on #1104
This is fixed now with https://github.com/kubernetes-sigs/kubefed/commit/81fa784c7d8ebbfb296f73a37446568da5294599

[2019-08-16 00:28] #1104 closed

[2019-08-16 07:17] skeeey opened #1110 "Could we remove the OS check in fix-joined-kind-clusters.sh"
I used kind (`v0.4.0`) to create clusters in my ubuntu host, then I meet the same [problem](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/cluster-registration.md#joining-kind-clusters-on-macos) as the MACOS

In my ubuntu host, the cluster API endpoint is `https://127.0.0.1:<random-port>` in its kubeconfig context. then I try to remove the [OS check](https://github.com/kubernetes-sigs

[2019-08-16 11:08] #1084 closed

[2019-08-16 13:04] marun commented on #1110
The only reason I can imagine the fixup script working on a linux host is if you are running docker in a VM.  If that is the case, I encourage you to deploy docker directly on the host, as the virtualization penalty is unnecessary on linux.

[2019-08-16 15:09] dionysius opened #1112 "Reconcile() Error in ServiceDNS Controller is not logged. Document requirements for clusters for using ServiceDNS"
**What happened**:
My example federatedservice with servicedns doesn't get any status updates and thus not creating any dns records. [Track down see slack thread](https://kubernetes.slack.com/archives/C09R1PJR3/p1565960089172100?thread_ts=1565706060.154100&cid=C09R1PJR3). The initial error is basically issue #1031 - the resource will not be processed - which might be reasonable. But this requireme

[2019-08-16 19:09] marun commented on #1085
This flake also exhibited on https://github.com/kubernetes-sigs/kubefed/pull/1092

[code]

[2019-08-16 19:29] font commented on #1085
@marun do you have links to the specific CI runs that failed?

[2019-08-16 19:52] marun commented on #1083
@pjferrell I'm already working on this after discussing with @sttts earlier this week. He indicated that Unstructured support was desirable for the reflector but only to the degree that the kind be checked for and logged (vs gvk).

[2019-08-19 04:24] pjferrell commented on #1083
Ok, just thought I'd share the diffs since we had to address this internally.  IMO... as a general purpose change itd be more helpful to provide group and kind in log.
We have some controllers handing config and state as separate kinds in same controller (would be nice for log to differentiate).  For kubefed, I could imagine multiple federatedtypes with same kind, but different groups.

[2019-08-19 13:50] gyliu513 opened #1116 "Enable placement reference for placement policy"
We are now combining the `placement` to federated resources as examples here https://github.com/kubernetes-sigs/kubefed/blob/master/example/sample1/federateddeployment.yaml#L24-L27 as follows:

[code]

The problem here is that I cannot share one `placement` for multiple federated resources, I need to create a separate `placement` spec for all of the federated resources even if there are multiple f

[2019-08-19 15:37] #1000 closed

[2019-08-20 01:51] #1102 closed

[2019-08-20 14:49] dav1x opened #1122 "Add error handling for missing cluster/context when deploying"
**What would you like to be added**:
Greetings! When applying a federatedclusterrole, the cluster placements pointed towards non-existing clusters/contexts. Would it be feasible to add some error handling for the process to check against the cluster registry to see and provide some logging if there isnt a match?

**Why is this needed**:
Easier to troubleshoot issues against issues with incorrect d

[2019-08-20 15:40] font commented on #778
/remove-lifecycle rotten

[2019-08-21 06:10] erloop opened #1123 "kubefedctl join - x509: certificate signed by unknown authority"
When I join cluster
`kubefedctl join  cluster1 --cluster-context cluster1 --host-cluster-context cluster1 --v=2`
I get error
[code]

I use cluster
`Rancher v2.2.5`

Certificate signed by **Go Daddy**

My KUBECONFIG
[code]

When run
`curl -u "<<token>>" https://example.com/k8s/clusters/c-52hg/healthz?timeout=3s`

receive
`ok`

[2019-08-21 16:21] font commented on #1123
@erloop You may be using a different CA for inside the cluster verses the CA used for access outside the cluster. That is, the CA that signed the healthz and K8s API endpoints is not related to the cluster internal CA used to generate service account certificates.

Currently, the kubefed control plane uses the certificate generated for a service account inside member clusters (performed by the `ku

[2019-08-22 17:40] font commented on #1085
Another example failing to call the kubefedconfig webhook. https://travis-ci.org/kubernetes-sigs/kubefed/builds/575436337

[2019-08-22 23:45] pjferrell commented on #761
/assign pjferrell

[2019-08-23 23:00] greatEncoder opened #1126 "Failing to join a cluster"
**What happened**:
When trying to join a cluster kubefed throws the following error
`I0823 15:52:08.898964   83622 join.go:159] Args and flags: name cluster1, host: cluster1, host-system-namespace: kube-federation-system, kubeconfig: , cluster-context: cluster1, secret-name: , dry-run: false`
`F0823 15:52:08.953390   83622 join.go:126] Error: Error retrieving KubeFedConfig "kube-federation-system/

[2019-08-26 10:33] marun opened #1127 "Document the computation of placement for namespaced federated resources"
The placement of a namespaced federated resource is computed as the intersection of the placement of the resource and the placement of its containing federated namespace. This should be documented in the userguide.

[2019-08-26 10:47] marun commented on #1116
@gyliu513 I don't think shared placement resources as described in this issue would be desirable. Shared placement is a subset of what could be described as 'application grouping'. Future work in the area of application grouping is likely to aggregate resources to support things like healthcheck and rollouts.

Note that kubefed already implicitly supports shared placement via federated namespaces.

[2019-08-26 14:04] marun commented on #1126
Updating to a version of `kubefedctl` >= `v0.1.0-rc5` should resolve the problem you are seeing. The groups used by kubefed api types was changed from `*.kubefed.k8s.io` to `*.kubefed.io` as of [v0.1.0-rc5](https://github.com/kubernetes-sigs/kubefed/releases/tag/v0.1.0-rc5).

[2019-08-26 14:04] #1126 closed

[2019-08-27 19:24] marun opened #1132 "Auth token changes require controller manager restart"
Access to a member cluster is configured by a `KubeFedCluster` resource. In addition to configuring the API endpoint for a cluster, a `KubeFedCluster` refers to a secret in the same namespace that contains an auth token providing access to the cluster. At present the cluster controller (which health checks member clusters) caches clients but does not watch for changes to secrets so changes to an a

[2019-08-28 03:09] xunpan commented on #1116
@marun
I tried [Application](https://github.com/kubernetes-sigs/application) before in a federation cluster. It is hard to federate an `Application` because an `Application` works together with other resources. I guess a chart may also has such issue. So, do we consider to use a selector based `kubefedctl` federate or support `Application` like controller for the purpose?

[2019-08-28 05:49] gyliu513 commented on #1116
Thanks @marun , but the problem is that I can only share the placement policy implicitly for namespace level, but not other fine-grained mode, like using labels etc.

For `application grouping`, does there are any document or discussion that I can reference?

[2019-08-29 15:55] marun commented on #1116
@gyliu513 What use case do you have that precludes dedicating a namespace to an application?

[2019-08-29 16:42] #711 closed

[2019-08-30 03:18] gyliu513 commented on #1116
@marun the question here is the application will be deployed to all namespaces in the all clusters of the `federated namespace`, but for some case, I may only want to deploy the application to a subset of the clusters in the `federated namespace`.

[2019-08-30 08:01] qiyongxiao opened #1136 "Command in return argument"
Hi, I download the version of v0.1.0 and build on mips64 platform. When I build, get some errors:
[code]

Help me, thanks

[2019-09-03 10:18] #988 closed

[2019-09-05 09:53] qiyongxiao opened #1138 "Only show one cluster"
Hi, everyone.
I deploy an federation v2 with kubernetes v1.13.7 on mips64el platform. I  build helm、kubebuilder、kubefedctl、hyperfed-linux-mips64el,etc. Now I modified the kubeconfig
[code]
Then I start tiller pod, this is start-tiller scripts:
[code]
Show the pod running status:
[code]
Finaly, I deployment the kubefed with command:
[code]
I see an cluster on kube-federation-system's namespace
[cod

[2019-09-05 11:10] marun commented on #1138
Kubefed only supports a single control plane deployed to a single host cluster. All member clusters are then registered (joined) with the control plane. It appears that you are deploying kubefed to each cluster and this results in multiple control planes. Please follow the instructions in the userguide (i.e. deploy a single control plane and register each cluster to that control plane).

Note that

[2019-09-05 14:25] boopathykpm opened #1139 "Error while adding multiple cluster to the federation pane"
**What happened**:
Error while adding the second cluster to the federation plane, Below is the error when trying to add the new cluster to the plane

`Error: Error retrieving KubeFedConfig "kube-federation-system/kubefed": no matches for kind "KubeFedConfig" in version "core.kubefed.io/v1beta1"`

**What you expected to happen**:
The cluster should have got added to the federation plane

**Environm

[2019-09-05 14:35] marun commented on #1139
I'm guessing the `kubefedctl join` invocation may be targeting the wrong host cluster, since a successful deployment ensures that the KubeFed api is available on the host cluster. What is the full command that was executed that resulted in the reported error message?

Also, what versions of kubefedctl (`kubefedctl version`) is used and what version of the chart was used to deploy the control plane

[2019-09-05 15:01] boopathykpm commented on #1139
kubefedctl version (`v0.1.0-rc6`)

Below is the command i used to join a cluster.

`export KUBECONFIG="/home/federation_kubeconfig:/home/federation_one_kubeconfig"
  kubefedctl join federation --host-cluster-context federation --v=2 - **This got successful**
  kubefedctl join federation_one --host-cluster-context federation_one --v=2 - **This is getting failed**`

[2019-09-05 15:29] marun commented on #1139
This command is attempting to join the cluster `federation` to a control plane in the cluster `federation`.

This command is attempting to join the cluster `federation_one` to a control plane in cluster `federation_one`. If your intention is to join the cluster to the control plane in cluster `federation`, use `--host-cluster-context federation`.

[2019-09-06 01:43] qiyongxiao commented on #1138
@marun
I clone the source code to $GOPATH/src/sigs.k8s.io and without any changes to build the command of controller-manager-linux-mips64le, hyperfed-linux-mips64le, kubefedctl-linux-mips64le, webhook-linux-mips64le.
And build the customer image, then with deploy-kubefed.sh to join master1. The command is:
[code]
With Follow you supports, I have removed the control plane from one of the cluster na

[2019-09-06 05:32] boopathykpm commented on #1139
Ah, my bad I was able to connect to the cluster now. @marun Thanks for helping me out.

[2019-09-06 05:32] #1139 closed

[2019-09-06 07:32] osswangxining commented on #1138
It looks no KubeFedConfig CR in you cluster, you can create using the following YAML.

apiVersion: core.kubefed.io/v1beta1
kind: KubeFedConfig
metadata:
  name: kubefed
  namespace: kube-federation-system
spec:
  clusterHealthCheck:
    failureThreshold: 3
    period: 10s
    successThreshold: 1
    timeout: 3s
  controllerDuration:
    availableDelay: 20s
    unavailableDelay: 60s
  featureGates:

[2019-09-06 07:40] qiyongxiao commented on #1138
@osswangxining 你知道如何使用kubectl explain展示FederatedNamespace这样自定义kind里面的字段吗？我用kubectl explain FederatedNamespace提示找不到信息，下面是我放上的一个图片，教教我怎么查看
![image](https://user-images.githubusercontent.com/7349963/64409912-72cd5880-d0bc-11e9-8641-4b96788e6d19.png)

[2019-09-06 08:13] qiyongxiao opened #1141 "CRD validation schema is not compatible with being published in OpenAPI schema"
Dears Authors:
    I want to use 'kubectl explain ' to show FederatedSecret's substance. I don't know how to show it. While I do this command, and show below:
[code]
Could I use this kinds of command to show it's substances? Please tell me how to show it.
Thanks.

[2019-09-06 13:15] marun commented on #1138
@qiyongxiao Assuming the control plane has been deployed to cluster with context `master1` and you want to register cluster with context `master2`:

[code]

`--host-cluster-context` should specify the context of the host cluster (i.e. `master1`), not the context of the cluster that is being registered.

[2019-09-06 13:47] marun commented on #1141
`kubectl explain` support for CRDs requires the `CustomResourcePublishOpenAPI` feature flag to be set to `true`.  In Kube 1.14 this feature was alpha and disabled by default. In Kube 1.15 the feature was beta and enabled by default. If you are still on 1.14, you can enable the feature flag as per the documentation:

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2019-09-06 14:09] marun commented on #1141
#1142 ensures federated types will be included in OpenAPI schema.  Addressing core type inclusion likely requires updating the vendored version of kubebuilder to 2.x.

[2019-09-06 14:12] marun commented on #1141
Note that `kubectl explain` doesn't actually provide much information. Services and Spec are the most useful fields and even for core types very little detail is provided:

[code]

The kubefed userguide is likely to be a more useful source of detail of federated types.

[2019-09-06 14:32] qiyongxiao commented on #1138
@marun I have joined it to control plane with this kind of command.  I used was
[code]

[2019-09-06 14:52] qiyongxiao commented on #1141
I deploy it with version 2.0.0-alpha,this is the information
![image](https://user-images.githubusercontent.com/7349963/64437382-c8bff180-d0f8-11e9-91b8-c5c7f121383e.png)

[2019-09-06 14:53] qiyongxiao commented on #1141
My cluster version is v1.13.7, has not upgrade to v1.14.x even  higher

[2019-09-06 14:55] qiyongxiao commented on #1141
@marun Thanks you very much.

[2019-09-06 14:56] qiyongxiao commented on #1141
I known it for wanted to add more configurations to the deployment.

[2019-09-06 16:15] jishminor opened #1143 "Helm Chart Failed Installation with Helm 3"
**What happened**:
Helm chart fails to install with error:
[code]

When installed using command:
[code]

It appears that the crd-hook in the chart is potentially failing. Could be an issue with helm 3 crd-hooks.

**What you expected to happen**:
Successful installation of kubefed chart.

**How to reproduce it (as minimally and precisely as possible)**:
- Install helm 3 via release page on their gi

[2019-09-06 16:41] jishminor commented on #1143
Some other interesting notes:

When using helm 3.0.0-alpha.1, I verified that if you take the controller-manager [crd yaml](https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/charts/controllermanager/templates/crds.yaml) and just manually apply it as a file, then the api group is created properly. However installing the helm chart fails with the same error.

Having upgraded to h

[2019-09-06 18:12] font commented on #1143
We only support deployment with helm 2 at the moment, especially since helm 3 is not officially released yet (still in beta). Despite that, since the `crd-install` hook is used to request helm to install the CRD resources early so that other resources can depend on them, helm 3 should provide the same, or similar, facility to guarantee this. I'm not aware of the backwards compatibility guarantees

[2019-09-06 18:42] jishminor commented on #1143
I have seen a few issues floating around surrounding the crd-install features of helm. I will go ahead and file these issues in the helm repository with references back to this thread.

As for the namespace issue, I most certainly had the namespace set as an argument when installing. I'm sure in the coming months helm 3 will be out of beta, and hopefully many of these issues will be resolved. I wi

[2019-09-06 19:53] jishminor commented on #1143
Upon reading the release notes for helm 3 beta:

![image](https://user-images.githubusercontent.com/16505634/64456503-f768a880-d0b5-11e9-8b7c-2b3efb316408.png)

Looks like this is the culprit for the issues above.

[2019-09-06 19:53] #1143 closed

[2019-09-07 05:00] #479 closed

[2019-09-07 05:00] #580 closed

[2019-09-07 05:00] #546 closed

[2019-09-07 05:00] #611 closed

[2019-09-07 05:00] #614 closed

[2019-09-07 05:00] #524 closed

[2019-09-07 05:00] #514 closed

[2019-09-07 05:00] #489 closed

[2019-09-07 05:00] #509 closed

[2019-09-07 06:02] #456 closed

[2019-09-07 06:02] #464 closed

[2019-09-07 06:02] #450 closed

[2019-09-07 06:02] #370 closed

[2019-09-07 06:02] #375 closed

[2019-09-07 06:02] #330 closed

[2019-09-07 06:02] #347 closed

[2019-09-07 07:02] #317 closed

[2019-09-07 07:02] #319 closed

[2019-09-07 07:02] #267 closed

[2019-09-07 07:02] #252 closed

[2019-09-07 07:02] #261 closed

[2019-09-07 07:02] #246 closed

[2019-09-07 07:02] #154 closed

[2019-09-07 08:04] #115 closed

[2019-09-07 08:04] #90 closed

[2019-09-07 09:04] #35 closed

[2019-09-08 10:29] #633 closed

[2019-09-09 08:20] qiyongxiao opened #1144 "enable api-resource on all member"
With the 'UserGuid.md' follow, I'll enable api-resources in all member of federation clusters. And need deploy kubefed on other member?  Is too excute bellow?
[code]
Or to excute bellow:
[code]
When I deploy the sample  on the main cluster, get some errors:
[code]
- Verifying API type is installed on all member clusters

[2019-09-09 08:51] #364 closed

[2019-09-09 09:08] marun commented on #1144
- A KubeFed control plane needs to be deloyed to a single cluster, and all member clusters are joined to that control plane. There is no need to deploy multiple control planes or to install federated APIs in member clusters.
- The yaml in `example/sample1` is intended for use with the userguide walkthrough, so the error you are seeing doesn't represent a problem. If there is a type that you want e

[2019-09-09 09:30] qiyongxiao commented on #1144
@marun I use ```kubefedctl enable``` to enable this kind
[code]
### I deploy the sample, but there is no pod on running. And how to show the pod's running status?
[code]
### Here is the configurations:
[code]

[2019-09-09 10:33] marun commented on #1144
`kubefedctl enable` enables federation of an existing type. If your intent was to federate `ClusterRoleBinding`, the invocation would be `kubefedctl enable ClusterRoleBinding`. This command would create the `FederatedClusterRoleBinding` type to allow declaring how a `ClusterRoleBinding` resource should appear in clusters registered to the KubeFed control plane. It would also create a `FederatedTyp

[2019-09-09 12:45] qiyongxiao commented on #1144
### I was enabled it on kubefed control plane. But get error
[code]

[2019-09-09 12:49] qiyongxiao commented on #1144
@marun Deployed an nginx pod with FederatedDeployment, but can't get pod process. It could show the pod running status and get the process with ```docker ps |grep nginx``` ?
[code]

[2019-09-09 12:54] marun commented on #1144
As per my original reply, it is not possible to enable types that do not exist. The error message is a clear indication that the API resource targeted by the command - `FederatedClusterRoleBinding`  - does not exist.  `FederatedClusterRoleBinding` would be created as a result of running `kubefedctl enable ClusterRoleBinding`.

[2019-09-09 14:43] qiyongxiao commented on #1144
@marun  This issues is not completion at now?
![image](https://user-images.githubusercontent.com/7349963/64540544-f86a3600-d352-11e9-815c-62ecff3fcc73.png)
![image](https://user-images.githubusercontent.com/7349963/64540716-30717900-d353-11e9-8a36-fc096f88ba85.png)

[2019-09-09 14:49] marun commented on #1144
@qinpingli Have you had an opportunity to review the userguide? It includes a [walkthrough](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#verify-your-deployment-is-working) of how to check if your deployment is working. It also documents how to interpret [propagation status](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#propagation-status) and

[2019-09-09 23:59] asincu opened #1147 "Editing a placement does not propagate deletion"
**What happened**:
Removing the member cluster from the placement of a resource does not propagate on that cluster.

**What you expected to happen**:
By removing one of the clusters from the placement of a resource, I would expect that kubefed would ensure deletion.

**How to reproduce it (as minimally and precisely as possible)**:
I have two clusters joined: cluster a is the host cluster and clus

[2019-09-10 01:25] marun commented on #1147
If you add the managed label to the configmap in cluster b, I would expect the resource to be deleted.

Any idea how the managed label came to be removed from the configmap in cluster b? All resources created in member clusters by KubeFed controllers will include the managed label, and any existing resources for which placement exists will be adopted by KubeFed by the addition of the managed label

[2019-09-10 02:47] qinpingli commented on #1144
@marun sure

[2019-09-10 03:16] osswangxining commented on #1138
@marun   @qiyongxiao 's question is using non-English so that it confused you :-)
The error log looks like that No related CRD is created shown as below.
error: Couldn't find resource for "types.kubefed.k8s.io/v1beta1, Kind=FederatedNamespace"

@qiyongxiao  can you check if FederatedNamespace CRD is created in your cluster using the following command:
kubectl get crd |grep  FederatedNamespace

[2019-09-10 08:33] marun commented on #1144
@qinpingli My apologies! I accidentally typed your name instead of @qiyongxiao.

[2019-09-10 08:41] qinpingli commented on #1144
@marun Never mind, ^_^.

[2019-09-10 13:51] qiyongxiao commented on #1136
I have been build it successfully.
[code]

[2019-09-10 13:51] #1136 closed

[2019-09-10 14:09] qiyongxiao commented on #1144
@marun  Thank you very much for  your patients. Is only a problem with clusterOverrides.
Here is some configuration for my federateddeployment
[code]
For the first  to excute ``kubectl apply -f  federateddp.yaml``` on KubeFed control plane, with the master1 running nginx pod, image is nginx:latest.  With the devel running nginx pod, image is nginx:1.17.0-alpine.
When changed  the value of "/spec/r

[2019-09-10 14:20] qiyongxiao commented on #1138
@osswangxining Are you a Chinese? I'm a Chinese, for English was poor
[code]

[2019-09-10 15:57] killcity opened #1148 "kubefedctl join failing when joining eks clusters (endpoint validation)"
**What happened**: Tried joining cluster to itself and failed with dns related endpoint validation error

**What you expected to happen**: Expected cluster to join successfully

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`) : 1.13
- KubeFed version: 0.1.0-rc6
- Scope of i

[2019-09-10 16:07] marun commented on #1148
cc: @font

[2019-09-11 09:17] marun commented on #1144
@qiyongxiao As per my previous comment, a failure of kubefed to respect declared intent should result in an indication of error in the propagation status of the affected resource and/or in the controller manager logs. Is that not the case?

[2019-09-12 07:56] #1148 closed

[2019-09-13 20:07] boopathykpm opened #1151 "Federated ingress is not working"
I'm trying to create a federated ingress and I'm following the steps provided in https://github.com/kubernetes-sigs/kubefed/blob/master/docs/ingressdns-with-externaldns.md

I have installed the ExternalDNS with the following args to create the CRDs and also installed the ExternalDNS with RBAC enabled, then placed the ingress controller under `kube-system` namespace.

I tried to create the Federate

[2019-09-14 00:36] marun commented on #1151
cc: @shashidharatd

[2019-09-16 07:34] #774 closed

[2019-09-17 07:32] boopathykpm commented on #1151
On debugging more, found that the annotations added while creating the federated ingress is not added to the ingress resource which is created.

[code]

[2019-09-17 19:03] matti commented on #981
/remove-lifecycle stale

[2019-09-23 13:52] xunpan commented on #1151
append recent test.

I tried with `KIND` for latest Kubernetes and `minikube` for Kubernetes version 1.13. When a `IngressDNSRecord` is created, there will be a corresponding `DNSEndpoint`.

I have no AWS environment. I'm trying to understand how `KOPS` does for kubernetes. This seems a little out of scope of the kubefed function. But it worth to know what happens for this case.

[2019-09-26 17:39] #113 closed

[2019-09-27 06:25] kelepirci opened #1153 "Missing Documentation on how to define disabledTLSValidations"
I have been trying to define `disabledTLSValidations` for our test clusters. There is no documentation how to define this option.

I would be glad if anyone help me out on this and I would be happy to add this note in documentations.

/triage support

[2019-09-27 08:34] kelepirci commented on #1153
The problem is finally solved. There is no need to define or pass `disabledTLSValidations` in order to overcome following error:

[code]

If value of `server` in kubeconfig file contains uppercase letters, convert them to lover case.

Do not use custom namespace for kubefed v2 deployment. Use `kube-federation-system`.

[2019-09-27 08:34] #1153 closed

[2019-09-28 19:28] #826 closed

[2019-09-28 21:30] #314 closed

[2019-09-28 21:30] #829 closed

[2019-09-30 20:26] marun opened #1155 "Artifacts created by join should not include the host cluster context name"
As per the following log provided by a user on slack, it is not possible to join a cluster when the name of the supplied host cluster context is not a valid DNS-1123 subdomain:

[code]

The error occurred because join composed the name of the service account in the joining cluster with the key used to identify the host cluster context (`kubernetes-admin@kubernetes`), and though this key is a valid

[2019-09-30 20:27] marun commented on #1155
cc: @xunpan

[2019-09-30 20:34] marun commented on #1155
Note that there are 2 possible workarounds pending a fix:

 - rename the host cluster context (e.g. `kubectl config rename-context <old name> <new name>`)
   - this works fine so long as the context remains stable between `join` and `unjoin`
 - supply `--host-cluster-name` to 'kubefedctl` `join` or `unjoin`
   - this requires that the user supply the same argument across `join` and `unjoin`

[2019-10-01 01:21] #837 closed

[2019-10-01 06:34] irfanurrehman commented on #1155
@marun I am not sure if this should be treated as a bug.
In the abscence of an unique global identifier which a cluster can be identified with we have to depend on something provided by the user, for example the local kubneconfig cluster context name or the supplied `--host-cluster-name`.
I also think its reasonable enough to ask a user to provide the same name (either the kubeconfig cluster conte

[2019-10-01 14:08] marun commented on #1155
@irfanurrehman I think it would be preferable for kubefed to generate a guid to use on deploy vs the current strategy of relying on the user to do exactly the right thing over a period of time (i.e. good is preferable to bad in the absence of perfect).

[2019-10-04 01:31] #841 closed

[2019-10-06 07:24] #91 closed

[2019-10-06 07:24] #182 closed

[2019-10-07 12:53] #872 closed

[2019-10-07 17:58] #864 closed

[2019-10-07 17:58] #151 closed

[2019-10-09 06:23] xunpan commented on #986
/assign

[2019-10-11 04:18] #884 closed

[2019-10-12 06:44] #894 closed

[2019-10-12 08:41] #1144 closed

[2019-10-12 16:43] #1021 closed

[2019-10-18 06:35] coldTea214 opened #1158 "service.spec.ports is overrided"
**What happened**:

according to your document: https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#local-value-retention, sync controller won't overrides service.spec.ports field. But in my test, this field is overrided.

**What you expected to happen**:

service.spec.ports is not overrided

**How to reproduce it (as minimally and precisely as possible)**:

* create a federat

[2019-10-18 06:54] marun commented on #1158
It appears that the documentation is misleading. The entirety of the `ports` field is not retained - rather, the `nodePort` values are retained (since they are supplied by a controller local to the member cluster). I don't think it would be desirable to prevent all changes to the ports field after creation in member clusters.

[2019-10-18 08:27] coldTea214 commented on #1158
thanks

[2019-10-18 08:27] #1158 closed

[2019-10-19 15:36] #275 closed

[2019-10-19 15:36] #838 closed

[2019-10-21 07:36] xunpan commented on #1003
https://github.com/kubernetes-sigs/kubefed/pull/1159 is trying to fix the `managed` label issue.

For `generation` issue, it should be a bug. I tried federated deployment sample in source code. It is reproduced. Currently, `override` will remove `deployment.kubernetes.io/revision` before comparing to see if member cluster object changes. It always tell that changing happens because the related ann

[2019-10-22 01:45] xunpan commented on #1003
A reference ticket: https://github.com/evanphx/json-patch/issues/92

/assign

[2019-10-22 06:55] jacobjohnanda opened #1160 "kubefedctl join command resulting in "Error retrieving KubeFedConfig" error"
kubefedctl join command resulting in the following error:-

F1022 06:43:38.976156     980 join.go:126] Error: Error retrieving KubeFedConfig "kube-federation-system/kubefed": v1beta1.KubeFedConfig.Spec: v1beta1.KubeFedConfigSpec.ClusterHealthCheck: v1beta1.ClusterHealthCheckConfig.SuccessThreshold: Period: unmarshalerDecoder: time: missing unit in duration 60, error found in #10 byte of ...|riod":

[2019-10-23 08:41] xunpan commented on #1160
@jacobjohnanda

Your settings of `period` and  `timeout` should be `60s` instead of `60` to make parsing of them correct in helm for `kubefedconfig`.

[2019-10-23 11:29] ijaveed opened #1161 "Helm ERROR when installing kubefed-charts/kubefed"
helm install kubefed-charts/kubefed --name kubefed --version=0.1.0-rc6 --namespace kube-federation-system

**Error: CustomResourceDefinition.apiextensions.k8s.io "federatedclusterroles.types.kubefed.io" is invalid: spec.validation.openAPIV3Schema.properties[spec].properties[placement].properties[clusterSelector].properties[matchLabels].additionalProperties: Forbidden: additionalProperties cannot b

[2019-10-23 19:31] marun commented on #1161
KubeFed depends on having a minimum level of CRD support, and as per the [helm chart installation guide](https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/README.md), that requires Kube >= `v1.13`.

[2019-10-23 19:31] #1161 closed

[2019-10-24 16:34] #889 closed

[2019-10-28 23:15] #954 closed

[2019-10-30 13:46] jacobjohnanda commented on #1160
OK thanks alot its working now.I think , we can close this issue.

[2019-10-30 14:22] jacobjohnanda opened #1165 "Enabling federation of the API type StorageClass not working."
DESCRIPTION:-
Enabling federation of the API type StorageClass not working.

STEPS:-
1. Enable federation for the API type StorageClass
ubuntu@ip-172-23-1-87:~/trident-installer$ kubefedctl enable storageclass
customresourcedefinition.apiextensions.k8s.io/federatedstorageclasses.types.kubefed.io created
federatedtypeconfig.core.kubefed.io/storageclasses.storage.k8s.io created in namespace kube-fed

[2019-10-30 18:31] marun commented on #1165
- Federated resources are input for federated controllers, so for normal use of KubeFed they only need to exist on the host cluster rather than all clusters.
- I recommend [checking the propagation status](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#propagation-status) of a federated CR if it is not propagating as expected.
- If propagation status is not conclusive, I

[2019-10-31 08:07] jacobjohnanda commented on #1165
Thank you for the response. When i do a describe on the FederatedStorageClass i get the following details. It looks like  propagation status is true. but i dont see local storage classes being created.

ubuntu@ip-172-23-1-87:~$ kubectl describe fsc local
Name:         local
Namespace:
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion"

[2019-10-31 08:23] marun commented on #1165
@jacobjohnanda Propagation status is true, but the cluster names declared for placement do not appear in the propagation status which is an indication that the named clusters are not actually known to KubeFed. I think someone filed a bug on that issue but I can't seem to find it right now. I suggest:

 - checking the names of member clusters
   - `kubectl -n kube-federation-system get kubefedclust

[2019-10-31 08:58] marun commented on #1165
@jacobjohnanda As per my previous comment, have you checked the controller logs?

[2019-10-31 10:12] #324 closed

[2019-11-04 00:36] #613 closed

[2019-11-04 08:42] xunpan commented on #1155
@marun,
`--host-cluster-name` was introduced by (https://github.com/kubernetes-sigs/kubefed/issues/577) to address related issue. A message change or document change is easy for this as irfan metioned.

From your comments, did you mean that we generate an UUID and use it as part of generated resource name in member clusters, instead of specified name. The UUID is recorded in `KubefedCluster` for `

[2019-11-04 22:16] marun commented on #1155
@xunpan Correct, `--host-cluster-name` would not be necessary if the name of the host cluster (whether explicitly specified or the name of the host cluster context) were not embedded in the name of resources created in member clusters. And I don't think it has to be per-cluster - it's identifying the host cluster, not the member cluster (which already has a name unique to the control plane). Maybe

[2019-11-07 18:03] rinormaloku opened #1168 "Parametrize Securit Context UID for the Kubefed chart"
Different Kubernetes platforms use different ranges of UID and we cannot use the default of 1001 without causing failures on other platforms. The default of 1001 was set in this PR https://github.com/kubernetes-sigs/kubefed/pull/1007

/kind bug

[2019-11-08 03:12] #961 closed

[2019-11-09 10:19] hectorj2f opened #1170 "kubefed chart cluster roles are not aggregating permissions to the default cluster roles"
**What happened**: The kubefed cluster roles are not aggregated to default kubernetes cluster roles, as you could expect. That is a common practice to aggregate the rules of custom resources to the existing kubernetes cluster roles such as view, edit, admin. That'll keep the consistency and purpose of these cluster roles.

**What you expected to happen**:

kubefed cluster roles should add permissi

[2019-11-13 14:30] nzoueidi commented on #355
/reopen
/remove-lifecycle rotten

[2019-11-13 14:31] nzoueidi commented on #355
/assign

[2019-11-14 14:38] damoresa commented on #1165
Good afternoon,

This may not be the right place to ask, but I've been digging for information about the FederatedStorageClass type and I've been unable to find anything within this repository or even Googling about it.
I tried enabling the type on my federation and it worked, I've been able to deploy a wrongly formatted object which failed to be deployed, but the controller seems to work.

Would

[2019-11-17 14:54] #526 closed

[2019-11-18 22:24] #983 closed

[2019-11-21 17:15] eugene-dm opened #1172 "Add support for autoscaling/v2beta1"
I want to use external metrics in HPA configuration, but it's not possible in 'autoscaling/v1'.
Please add support for `autoscaling/v2beta1`

/kind feature

[2019-11-22 10:46] #1014 closed

[2019-11-23 16:15] #1009 closed

[2019-11-27 15:41] eugene-dm commented on #1172
As a workaround for my own request above:
`kubefedctl enable horizontalpodautoscaler
kubectl -n kube-federation-system patch federatedtypeconfigs.core.kubefed.io horizontalpodautoscalers.autoscaling  --type='json' -p='[{"op": "add", "path": "/spec/targetType/version", "value": "v2beta1"}]'`

[2019-11-27 15:41] #1172 closed

[2019-11-30 05:08] Colstuwjx opened #1173 "docs about kubefed on kubernetes website is outdated"
Hi team,

**What would you like to be added**:
I know it's not a good place to ask questions, but the [federation page](https://kubernetes.io/docs/tasks/federation/) from kubernetes website is outdated, see also [website no.17736](https://github.com/kubernetes/website/issues/17736), [website no.16776](https://github.com/kubernetes/website/issues/16776) issues.

maybe we should make the pages under

[2019-12-02 05:37] #1031 closed

[2019-12-02 15:56] walduino opened #1174 "Arm64 support"
**What would you like to be added**:
I would like to have Arm64 support for KubeFed.

**Why is this needed**:
For eductational purposes only, in my case, but there might be production use cases

/kind feature

[2019-12-07 02:30] #1035 closed

[2019-12-07 03:31] #1032 closed

[2019-12-11 06:23] Colstuwjx commented on #1173
@xunpan Shall we take a look about this issue? The kubernetes website didn't maintain any docs about kubefed ( aka federation v2 ), what's the next plan about this part?

IMO, I think kill all related v1 docs and just link to our [kubefed repo docs](https://github.com/kubernetes-sigs/kubefed/tree/master/docs) should be current solution, see [PR 17949](https://github.com/kubernetes/website/pull/179

[2019-12-11 09:13] xunpan commented on #1173
I agree with you that `kubefed` document should be used to replace obsolete federation v1 document.

For the follow up, I guess @pmorie, @quinton-hoole may know when&how to make it work.

[2019-12-16 22:06] matti commented on #981
/remove-lifecycle stale

[2019-12-18 03:51] camrossi commented on #1112
I had the exact same issue.
Would be great to have this documented!

[2019-12-20 05:37] #732 closed

[2019-12-21 15:10] #917 closed

[2019-12-26 20:13] #1061 closed

[2019-12-27 18:35] #116 closed

[2019-12-28 17:58] #1071 closed

[2020-01-02 17:57] #828 closed

[2020-01-02 17:57] #846 closed

[2020-01-04 08:35] #833 closed

[2020-01-04 08:35] #98 closed

[2020-01-04 08:35] #95 closed

[2020-01-04 08:35] #97 closed

[2020-01-04 12:39] #1088 closed

[2020-01-05 14:04] #581 closed

[2020-01-05 14:04] #469 closed

[2020-01-05 14:04] #636 closed

[2020-01-05 14:04] #143 closed

[2020-01-05 14:04] #251 closed

[2020-01-05 14:04] #75 closed

[2020-01-05 14:04] #83 closed

[2020-01-05 20:10] #834 closed

[2020-01-06 10:24] #753 closed

[2020-01-09 08:01] bharaththiruveedula commented on #778
@marun is this issue still valid? If yes, can I work on this?

[2020-01-09 10:35] #782 closed

[2020-01-09 12:37] #798 closed

[2020-01-09 12:37] #709 closed

[2020-01-11 13:24] #189 closed

[2020-01-13 15:13] #1110 closed

[2020-01-13 18:16] #1101 closed

[2020-01-14 21:52] #1170 closed

[2020-01-15 17:15] caueasantos opened #1176 "Error while joining cluster to federation pane"
**What happened**:

`kubefedctl join gke-southamerica-east1-b --cluster-context gke-southamerica-east1-b \
    --host-cluster-context gke-southamerica-east1-a --v=2`

Error while joining cluster to federation plane:

`[F0115 13:34:19.313173  127748 join.go:126] Error: Error retrieving KubeFedConfig "kube-federation-system/kubefed": no matches for kind "KubeFedConfig" in version "core.kubefed.io/v1

[2020-01-16 06:14] #1083 closed

[2020-01-17 04:35] #1112 closed

[2020-01-17 11:38] Docteur-RS opened #1177 "Network failure between federated pods"
**1) What happened**:
Got connectivity issues in namespaces federated by kubefed.
Everything works well for some time and then all communication using IP and DNS suddenly starts to **timeout**.
Only happens on master cluster (even on fresh kubernetes and kubefed install).
Services can still be accessed from outside the cluster. Its only the in-cluster communication that is being impacted (using se

[2020-01-17 12:28] hectorj2f commented on #1177
@Docteur-RS
Did you join the master cluster as part of the federated clusters ?
Could you verify the created pod templates run on similar clusters ? Perhaps it has to do something with the properties of the federate pod.

[2020-01-17 12:36] hectorj2f commented on #1176
@caueasantos The error means you're missing the kubefed configuration in the cluster, so I assume you won't get anything when running `kubectl get kubefedconfig  -A`. You should get something like:

[code]
If you didn't I assume the installation isn't correct or any of the kubefed pods are failing.

[2020-01-17 13:50] caueasantos commented on #1176
@hectorj2f thank you for the heads up, however kubectl is a binary and doesn't require an installation and kubefed  is a chart that was successfully deployed. What I may possibly missed during the installation ?

![kubefed](https://user-images.githubusercontent.com/46695526/72616279-5a483700-3915-11ea-8864-7d2697d738f0.png)

Inspecting those pods I'm able to see a connection timeout while trying t

[2020-01-17 14:54] Docteur-RS commented on #1177
Yep ! Got two clusters.
`cluster 1` is the master and `cluster 2` is the slave.
[code]

I've compared 2 pods's templates on the two clusters : They are identical.

[2020-01-17 15:04] hectorj2f commented on #1177
Did you federate any other resources or just the pods ? If you only federated the pods, I don't see how kubefed could affect the networking stack of a cluster, especially if it works in cluster2 but not in cluster1 🤔 .

[2020-01-17 15:17] Docteur-RS commented on #1177
Got the following federated ressources :
* 1 namespace
* 1 httpbin deployment with its service
* 1 custom demo_backend deployment with its service
* 1 custom demo_frontend deployment with its service
* 2 ingresses
* 1 prometheus

Network is working in all namespaces except the kubefed one (on the master cluster). Though it does work for some time before getting stuck in timeout.

**Oh and I forgot

[2020-01-17 16:47] #1122 closed

[2020-01-19 19:36] #1085 closed

[2020-01-20 01:42] #761 closed

[2020-01-22 06:20] debianmaster opened #1178 "Question: is there a library to convert k8s Object to FederatedObject"
Is there a library/existing method to convert normal k8s object (Like Deployment) to FederatedObject . (Like FederatedDeployment) ?

cc  @ranbirkatal

[2020-01-22 09:03] hectorj2f commented on #1178
@debianmaster No, as far as I know. We use the unstructured objects cause anything prefixed by `Federated*` would be a federated object so there isn't a static structure. Anyway if you find some time to code a helper function that would be great. So far I have been using what you can find in the current code

[2020-01-22 09:12] hectorj2f commented on #1177
I suggest to check the networking stack in these clusters. Kubefed does not proxy these federated namespaces, it just populates resources across federated cluster and reconcile them. Check the list the federated resources to avoid having unexpected resources federated in the clusters.
I have a "similar setup" and I am not experiencing any issues.

[2020-01-22 09:35] debianmaster commented on #1178
thanks for the update @hectorj2f
@ranbirkatal . can you see if we can make this a library function as discussed ^ ?

[2020-01-22 12:05] ranbirkatal commented on #1178
@debianmaster , can be worked on

[2020-01-23 07:41] debianmaster commented on #1178
@hectorj2f   i see following is working
```kubefedctl federate deployments.extensions  mycurrent-object  --dry-run -oyaml```
we will try to re-use functionality from kubefedctl and create a wrapper .

[2020-01-23 08:11] debianmaster commented on #1178
This also works
```kubefedctl federate -f test.yaml  --dry-run -oyaml```

[2020-01-23 13:04] #749 closed

[2020-01-24 10:53] avarf opened #1179 "Question regarding the steps for setting up federation"
Hi, I want to set up federation between clusters but because of the differences in the documentation both on the Kubernetes website and also repo docs I am a little confused.

On the [website](https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/) it is mentioned that "Use of Federation v1 is strongly discouraged." but their own [link](https://console.cloud.google.com/stor

[2020-01-24 21:36] #1127 closed

[2020-01-24 21:36] #1132 closed

[2020-01-25 15:53] #950 closed

[2020-01-25 15:53] #1123 closed

[2020-01-25 18:56] #855 closed

[2020-01-27 05:30] #1116 closed

[2020-01-27 10:09] binkkatal opened #1181 "Namespace not populated in the FederateResources response"
**Input**

[federate.FederateResources(resources)](https://github.com/kubernetes-sigs/kubefed/blob/v0.1.0-rc6/pkg/kubefedctl/federate/federate.go#L233)

where resources contain the input kubernetes object.

[code]
**What happened**:
The namespace was not copied in the response of [federate.FederateResources(resources)](https://github.com/kubernetes-sigs/kubefed/blob/v0.1.0-rc6/pkg/kubefedctl/feder

[2020-01-28 17:42] poothia commented on #778
@bharaththiruveedula yes, this issue is still valid you can take it if you want.

[2020-02-03 02:49] xunpan commented on #986
/remove-lifecycle stale

[2020-02-03 02:50] xunpan commented on #1003
/remove-lifecycle stale

[2020-02-03 16:41] jdai97 opened #1182 "kubefedctl join error "x509: certificate signed by unknown authority""
kubefed v0.1.0-rc6
[code]

Followed the suggested workaround in issue #1123, by adding "insecure-skip-tls-verify: true" in KUBECONFIG.
[code]
Unjoined and re-joined cluster1.
[code]

[2020-02-03 17:26] #1141 closed

[2020-02-06 08:29] EronWright commented on #1132
/reopen

[2020-02-07 03:44] #1147 closed

[2020-02-07 15:36] jdai97 commented on #1182
After setting user in KUBECONFIG to be kubernetes admin, I was able to join clusters successfully. Close the issue.

[2020-02-07 15:36] #1182 closed

[2020-02-07 15:56] #1138 closed

[2020-02-18 03:35] armstrongli opened #1185 "fed enable fails on duplicate names"
**What happened**:
There are multiple CRDs/k8s resources created in k8s cluster with same name, and different groups. kubefedctl enable command fails because of the resource already federated. error message is
[code]

**What you expected to happen**:
All the resources with same name but different groups are enabled on federation

**How to reproduce it (as minimally and precisely as possible)**:
1.

[2020-02-18 08:14] hectorj2f commented on #1185
Oh, yes! This is a good catch.

[2020-02-18 14:19] #778 closed

[2020-02-20 16:04] #1151 closed

[2020-02-21 20:04] mhallmark-jnp opened #1188 "FederatedStatefulSet Missing In Version v1beta1"
**What happened**:
Federated a namespace and its contents with enabling types

`kubefedctl federate namespace mynamespace --contents --enable-type`

However, the federated statefulset has this error in description
[code]

**What you expected to happen**:
All items in namespace to be federated to member cluster, including resources deployed from a statefulset that exists in the namespace.

**How to

[2020-02-23 22:07] aiziumov opened #1190 "kubefedctl join failing when joining eks clusters (endpoint validation) with Uppercase letters in FQDN Cluster API"
**What happened**: Tried joining AWS EKS cluster to itself and failed with dns related endpoint validation error

**What you expected to happen**: successful joining to federated cluster

**How to reproduce it (as minimally and precisely as possible)**:
in /kube/config for cluster awsfedcluster:
`server:  "0FCAD7BC040802FA0.yl4.eu-west-2.eks.amazonaws.com" `

`
kubefedctl join awsfedcluster --clus

[2020-02-24 10:47] jimmidyson commented on #1190
This is fixed by 29c2c88608596e0f76f86c15e3a3adab8a5b6ca1 by removing host validation completely.

[2020-02-24 10:53] aiziumov commented on #1190
@jimmidyson I've checked that yesterday on the rc6 version - still got an error during cluster Join - as you can see in error log. Let me know if you need more details to review this one. I have this cluster in hands to test/check.

[2020-02-24 11:05] jimmidyson commented on #1190
29c2c88608596e0f76f86c15e3a3adab8a5b6ca1 is only in master - we're hoping to restart releases soon, but you should be able to test it out with `quay.io/kubernetes-multicluster / kubefed:canary` docker image instead of `v0.1.0-rc6`.

[2020-02-24 14:30] xunpan commented on #1185
Currently, we use resource name plus federated group as federated type. So, if 2 resources have same name. It shows confliction during enable the later one.

We can use a new federated group to federate the later one. Please refer to
https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md#enabling-an-api-type-with-a-non-default-api-group

For logged case, you can:
`kubefedctl enab

[2020-02-24 14:33] armstrongli commented on #1185
I know it is available to use specific command option to set up the dedicated group. The root cause of default command doesn't work is that there are message lost during resource generation and registration.

[2020-02-24 14:43] xunpan commented on #1188
I cannot reproduce with master code.
[code]

After your deployment of `kubefed`, does "FederatedStatefulSet" exist in version "types.kubefed.io/v1beta1" before your operation?

[2020-02-24 15:08] xunpan commented on #1185
I noticed your message is not same as in my environment. Did you mean that?

What I got with your case is:
[code]
It seems clear tell what happens and how to address the issue.

[2020-02-24 15:13] armstrongli commented on #1185
it is one workaround from my perspective, though the error message provided is clear. It is one issue, which can be resolved from beginning rather than using one work around, and at the same time increases the cost of study on fed.

[2020-02-24 18:39] mhallmark-jnp commented on #1188
This is what I see when running `kubectl api-resources` after running the helm install for kubefed
[code]

[2020-02-24 19:38] hectorj2f opened #1194 "Add custom kubefed metrics and expose them on a prometheus friendly format"
**What would you like to be added**:

I'd like to add custom metrics about kubefed that could be expose in a prometheus friendly basis analogously as other controller does in the Kubernetes ecosystem.

**Why is this needed**:

My intention would be to add custom metrics and a baseline that would enable to easily expose more metrics in the future.

/kind feature

[2020-02-25 08:47] irajdeep commented on #1194
@hectorj2f We recently started using kubefed. So as an exercise to get familiar with the codebase, I can work on this, if no one else is currently working on it.

[2020-02-25 09:47] hectorj2f commented on #1194
@irajdeep I already have a PR in the pipeline so I might create very soon. However I am willing to see if we can all benefit from your metrics as well.

[2020-02-25 12:14] irajdeep commented on #1194
@hectorj2f one of the metrics I had in mind related to how many objects kubefed failed to federate. If you haven't already implemented this metric, I can look into it.

[2020-02-25 12:23] hectorj2f commented on #1194
@irajdeep look at https://github.com/kubernetes-sigs/kubefed/pull/1196 :)

[2020-02-25 12:59] xunpan commented on #1185
I understand your point. What I'm thinking is that current behavior is a design choice.
A CRD name is composed of spec name and group. It is limited to no more than 253 characters. So, we use resource name pluse federation group for a CRD federation.

It is welcome for any proposal that enhance kubefed better. Please show me your consideration of solution if you have any.

[2020-02-25 13:07] armstrongli commented on #1185
my proposal is to change the name to be `<resource name>.<origin group>.<fed group>`. In this way, it is available to federate any resources without specification on resource group on federation control plane.

please help check whether there are potential impact on the controllers. Here are the thinking I have on the change, and I suppose there are no imapct on the change:

[code]
One thing I'm n

[2020-02-25 13:35] xunpan commented on #1185
I'm afraid it is also not a perfect solution.
1. `.<origin group>.<fed group>` is a new conception. That a CRD group contains a group composed of 2 groups.
2. when name.origin_group near or almost reached 253, you cannot federate it functionally because `.<fed group>` will make it exceed K8s limitation.

[2020-02-25 13:43] armstrongli commented on #1185
there are 26 chars used by shared: `federated` + `.types.kubefed.io`. there are another 227 chars. It is a little hard to use up to 227 chars for one resource. And if it really reaches 227 chars, it is availble to go to the work around with command option: `--federated-group`.
By now the longest one we have for CRD is : `federatedclickhouseoperatorconfigurations.federatedclickhouse.elasticsearch.i

[2020-02-25 14:09] xunpan commented on #1181
good catch. this is a bug.
Would you like to contribute code to fix it?

[2020-02-25 14:58] irajdeep commented on #1194
@hectorj2f nice. So I think I can wait for your PR to be merged to work on top of it to expose metrics related to objects which couldn't be federated

[2020-02-26 04:14] binkkatal commented on #1181
@xunpan ,

Will raise a PR this weekend

[2020-03-10 19:13] abrenneke opened #1202 "Cannot `kubectl rollout restart` a federated deployment"
**What happened**:

After running `kubectl rollout restart deployment X`, the restart begins, but then is overridden by the kubefed controller and basically cancelled (returned to previous ReplicaSet?)

**What you expected to happen**:

The deployment on one cluster performs a rolling restart

**How to reproduce it (as minimally and precisely as possible)**:

Attempt to restart a deployment using

[2020-03-12 13:31] Addono opened #1203 "Helm install documentation misses --devel flag"
**What happened**:
When following the [guide](https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/README.md) on installing the Helm chart, some commands do not work straight away, as the latest release of `kubefed` is a development release, and as such needs the `--devel` flag to be used.

**What you expected to happen**:
The given Helm commands work out of the box, specifically

[2020-03-13 09:22] jimmidyson commented on #1203
I think we should remove the federation-v2 chart from the repo index and potentially release without the alpha|beta|rc suffixes - it should be enough to mark the project as alpha without having to include that in the release version.

In the meantime, I agree we should get the docs updated as in your PR.

[2020-03-13 12:32] #1203 closed

[2020-03-17 09:14] matti commented on #981
/remove-lifecycle stale

[2020-03-18 08:15] makkes opened #1205 "Delete select federated resources upon unjoin"
**What would you like to be added**:

I'd like to be able to configure certain federated resources in such a way that kubefed deletes them from the managed cluster when the cluster is unjoined.

**Why is this needed**:

It might be desirable in certain circumstances to leave a clean cluster behind after it is unjoined from the management cluster, clearing it of all the resources created when it wa

[2020-03-18 08:17] makkes commented on #1205
This is basically a duplicate of #583 which was closed. However, in my opinion it makes sense, to re-assess and discuss this proposal again.

[2020-03-18 16:55] hectorj2f commented on #1205
Perhaps it could be possible by adding a specific annotation similar to `kubefed.io/orphan` to achieve this goal.

[2020-03-19 18:04] vasanth89 opened #1206 "Enabling CRDs themselves for federation does not work"
**What happened**:
I tried doing a `kubefedctl enable CustomResourceDefinition` to enable federation of CustomResourceDefinitions (which are also resources similar to pods/deployments/etc). This caused a stack overflow error. Including part of the log from my setup -

[code]

**What you expected to happen**:
`kubefedctl enable CustomResourceDefinition` should succeed and we should see a new CRD ca

[2020-03-27 15:41] hectorj2f commented on #1194
I am closing the issue, we added some custom metrics now

[2020-03-27 15:41] #1194 closed

[2020-03-28 17:46] hectorj2f commented on #1206
@vasanth89 you're right, this is failing. I workaround for now until I have more information would be to create yourself the Federated equivalent. We are doing that using the CustomResourceDefinition and creating one for FederatedCustomResourceDefinition so we can federate CRDs.

[2020-03-29 16:16] hectorj2f commented on #1206
@vasanth89 I found the bug, I am pushing a PR

[2020-03-30 19:45] vasanth89 commented on #1206
@hectorj2f Thanks for getting this done! We might need to update the documentation in kubefed user-guide (see the description of this issue). We can add a note to say that kubefed can be used to federate the CRD to the member clusters before federating resources of that CRD type.

[2020-03-30 22:17] hectorj2f commented on #1206
@vasanth89 sure, I'd do it. Could you also test https://github.com/kubernetes-sigs/kubefed/pull/1207 changes to validate this statement on your own environment ?

[2020-03-31 15:26] aiziumov commented on #1190
I made a workaround - lowercase'd FQDN of EKS endpoint in config - and it did work.

[2020-03-31 18:26] hectorj2f commented on #1190
@aiziumov can we close the issue then ?

[2020-03-31 18:53] aiziumov commented on #1190
Yes, considering the workaround and 0.20 release with Master's fixes - I think we're good to close.

[2020-03-31 22:19] #1190 closed

[2020-03-31 23:36] vasanth89 commented on #1206
I am not sure how to go about doing that since I have always used the `canary` image of KubeFed. Any suggestions? I guess I might have to follow the [Development Guide](https://github.com/kubernetes-sigs/kubefed/blob/b11635ee0e27b24063e29370a914afb70d33eee6/docs/development.md)

[2020-03-31 23:38] vasanth89 commented on #1206
Or if you have the image hosted somewhere with a specific tag, I can just point my deployment to pull that image

[2020-04-01 14:25] hectorj2f commented on #1206
@vasanth89 it is just the kubefectl binary generated by `make build` which I used to validate these changes. I hope I clarified the changes here https://github.com/kubernetes-sigs/kubefed/pull/1207, can you review it before I ping one of the owners :) ?

[2020-04-02 19:19] vasanth89 commented on #1206
Oh shucks. Sorry I didnt realize that its the kubefedctl binary. I will try it and get back to you by today.

[2020-04-03 00:32] #1155 closed

[2020-04-03 23:31] vasanth89 commented on #1206
- I pulled your changes and did a `make build`
- I was able to do `kubefedctl enable customresourcedefinitions` which resulted in a `FederatedCustomResourceDefinition` CRD. I noticed the following logs from KubeFed
[code]

- I tried to federate the `dnsendpoints.multiclusterdns.kubefed.io` CRD but I did not see it propagate the member cluster. Here are some more logs -
[code]

P.S: Ignore the erro

[2020-04-05 15:41] hectorj2f commented on #1206
federated crd needs to have `preserveUnknownFields: true` while normal CRD has it `false`. I can see my federated crd set to `true` while the crds are `false`. I don't see any error due to that. I'll check again.

[2020-04-05 19:38] #1168 closed

[2020-04-11 16:57] #355 closed

[2020-04-12 13:46] qianzhangxa opened #1211 "Failed to join host cluster `TLS handshake timeout`"
**What happened**:
I installed kubefed in my Kubernetes cluster via Helm chart.
[code]

And then I tried to join the host cluster itself first, but it failed.
[code]

**What you expected to happen**:
Successfully join the host cluster.

**How to reproduce it (as minimally and precisely as possible)**:
See the above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `

[2020-04-12 15:23] hectorj2f commented on #1211
Can you confirm the webhook is running ```F0412 21:29:10.381185   13215 join.go:126] Error: Internal error occurred: failed calling webhook "kubefedclusters.core.kubefed.io": Post "https://kubefed-admission-webhook.kube-federation-system.svc:443/apis/validation.core.kubefed.io/v1beta1/kubefedclusters?timeout=30s": net/http: TLS handshake timeout``` ?

Do you see any error in the apiserver about th

[2020-04-12 16:20] #1165 closed

[2020-04-13 00:11] qianzhangxa commented on #1211
Yes, `kubefed-admission-webhook` is running. I see there was a warning message in apiserver:
[code]
I spin up Kubernetes cluster with [local-up-cluster.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh) on a virtual machine, so both Kubernetes control plane and kubelet/kube-proxy are running on this machine, and I also run `kubefedctl join` on this machine.

[2020-04-13 22:44] hectorj2f commented on #1165
I have recently tested the federation of a storageclass and it worked without any problem.

[2020-04-14 02:53] qianzhangxa commented on #1211
This issue disappeared when I run `local-up-cluster.sh` with `sudo`.

[2020-04-14 02:53] #1211 closed

[2020-04-21 14:54] makkes opened #1215 "Annotations are not federated"
**What happened**:
Annotations in the `spec.template.metadata.annotations` part of federated resources are left out of federation.

**What you expected to happen**:
Annotations are propagated to the target resources.

**How to reproduce it (as minimally and precisely as possible)**:
Create a `FederatedConfigMap` on the management cluster:
[code]
If there's a kubefed cluster named `my-cluster`, the

[2020-04-21 15:06] hectorj2f commented on #1215
That is not possible. You cannot set in the template annotations nor finalizers

[2020-04-21 15:13] hectorj2f commented on #1215
The `annotations` and `finalizers` cannot be set via template to avoid conflicting with controllers in member clusters. Consider using an override to add or remove elements from this collection.

[2020-04-22 09:07] makkes commented on #1215
The design decision to not enable this functionality has been made already, see #1010 for reference.

[2020-04-22 09:07] #1215 closed

[2020-04-22 23:18] hymgg opened #1217 "empty spec in dnsendpoint"
Have 2 k8s 1.15 clusters,
Followed the userguides to setup kubefed, etcd / CoreDNS / ExternalDNS / MetalLB.
Tried example/sample1, w/ federatedservice.yaml changed to LoadBalancer.
Created test domain and servicednsrecord.

Somehow dnsendpoint service-test-service has empty spec.

`$ kubectl --context=cluster1 get svc test-service -n test-namespace
NAME           TYPE           CLUSTER-IP       EX

[2020-04-23 05:27] lilic commented on #469
@marun any chance of this being backported to 1.15?

[2020-04-24 07:49] eugene-dm opened #1219 "kubefed doesn't use the MacOs DNS resolver"
**What happened**:
kubefedctl can't resolve DNS records when MacOs can.
We are connecting to development/production environments in AWS through VPN.
We are using private Route53 zones for internal DNS, so they are not visible worldwide.
kubefedctl  tries to resolve DNS using nameserver from /etc/resolv.conf which is usually a router that is not connected to VPN.
So when I try to join a cluster I g

[2020-04-26 16:47] kbhawkey commented on #1173
@Colstuwjx , Is this issue ready to close?

[2020-04-27 00:33] Colstuwjx commented on #1173
Yes, but the kubefed document is still not maintained inside k/website repo. I'd like to close this issue, and for the new version documentation, I think it should be tracked by another issue.

[2020-04-27 00:33] #1173 closed

[2020-04-30 14:47] makkes opened #1220 "Cluster creation script doesn't work with recent kind version"
**What happened**:
Tried to run the `/scripts/create-clusters.sh` script with kind v0.7.0, causing the script to fail after the first cluster has been created due to usage of a deprecated kind CLI command.

**What you expected to happen**:
The clusters are up and running and the scripts returns success.

**How to reproduce it (as minimally and precisely as possible)**:
Run `./scripts/create-cluste

[2020-05-01 10:38] #1174 closed

[2020-05-03 08:02] hectorj2f commented on #986
/remove-lifecycle stale

[2020-05-03 17:38] makkes opened #1223 "Support kind v0.8 in build scripts"
**What would you like to be added**:
#1221 adds support for kind v0.7 but according to the [v0.8.0 release notes](https://github.com/kubernetes-sigs/kind/releases/v0.8.0), the newest version introduces breaking changes that prevent using it in the build scripts such as `scripts/create-clusters.sh` or `scripts/pre-commit.sh`.

**Why is this needed**:
The [kind docs](https://kind.sigs.k8s.io/docs/us

[2020-05-04 02:43] zhx828 commented on #872
@dc520 did you solve the issue? I see the same issue for IngressDNSRecord.
Using v0.2.0-alpha.1

[2020-05-04 07:40] #1220 closed

[2020-05-06 03:03] zhx828 commented on #872
Oh never mind, I found answer in https://github.com/kubernetes-sigs/kubefed/issues/963
The name of ingress and IngressDNSRecord need to be the same.

[2020-05-06 03:26] zhx828 commented on #1217
@hymgg not sure servicedns is similar to ingressdns. They need to have the same name of the ingress. https://github.com/kubernetes-sigs/kubefed/issues/872#issuecomment-624418013

[2020-05-06 03:43] xunpan commented on #1217
There has an issue in the document. I will update it.

@hymgg
Please make sure:
1. add label to your nodes of each cluster
`failure-domain.beta.kubernetes.io/region`
`failure-domain.beta.kubernetes.io/zone`

2. add RBAC to clusterrole
[code]

[2020-05-06 04:14] zhx828 commented on #1217
@xunpan well I have you here in the externalDNS deploy. Are we only having `--source=crd`, do we need to include `--source=service` and `--source=ingress`.
Cause only having crd does not help me update the DNS records on Route53. And the logs of externalDNS looks fine.

[2020-05-06 05:26] xunpan commented on #1217
@zhx828 based on my understanding, `kubefed` creates/updates `DNSEndpoint` to let `externalDNS` updates its DNS backend. So from `kubefed` point of view, `externalDNS` should only have case with `--source=crd` configured.

If you want to use `externalDNS` for your service and ingress, I guess you can configure the corresponding sources. But it should not be part of `kubefed` I think.

[2020-05-07 12:23] ArchangelX360 opened #1224 "overrides `op: add` seems not to work as expected for array values"
**What happened**:

Let say I have:
[code]

Adding an override on an array key using `op: add`:

[code]

Created this object in `mycluster`:
[code]

**What you expected to happen**:

Merging the two arguments in the array, thus creating this object in `mycluster` instead:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Apply the earlier described manifests.

**Anything e

[2020-05-11 20:01] zhx828 commented on #1217
@xunpan it works with only `crd` as source. Thank you.

[2020-05-14 13:46] #1217 closed

[2020-05-14 14:38] xunpan commented on #1224
@ArchangelX360
It seems you did not follow the convention of https://tools.ietf.org/html/rfc6902#page-12
Please have another try to make path as below.
[code]

[2020-05-15 04:21] hymgg commented on #1217
Thank you @xunpan @zhx828

Added node labels and rbac to clusterRole, endpoints are populated in dnsendpoint spec.

$ kubectl get dnsendpoint service-test-service -n test-namespace -o yaml
apiVersion: multiclusterdns.kubefed.io/v1alpha1
kind: DNSEndpoint
metadata:
  creationTimestamp: "2020-05-15T03:08:57Z"
  generation: 2
  name: service-test-service
  namespace: test-namespace
  resourceVersion:

[2020-05-15 07:44] ArchangelX360 commented on #1224
Oh I see, you meant:

[code]

This works, thanks, I'll PR to add this to the override documentation to avoid future user's confusion.

[2020-05-15 07:44] #1224 closed

[2020-05-25 14:08] armstrongli commented on #1185
/remove-lifecycle stale

[2020-05-26 04:42] binkkatal commented on #1181
Closing this under https://github.com/kubernetes-sigs/kubefed/pull/1199

[2020-05-26 04:42] #1181 closed

[2020-05-28 19:07] KadenLNelson opened #1234 "Add support for deploying kubefed with Helm3"
**What would you like to be added**:
I would like to be able to install kubefed with Helm3. Currently you can install kubefed with Helm3 if you apply the CRDs manually, but that is not optimal and you run into warnings like;

[code]

**What needs to be done?**:
[Helm gives us two options to deploy our CRDs;](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/)

1. we can add the

[2020-05-29 03:05] RainbowMango commented on #1234
Yes, It's time to update to Helm3.  Thanks.

I'll take it.
/assign

But, @KadenLNelson If you want to help with this, please feel free to send a PR and let me know.

[2020-06-12 03:57] zryfish opened #1235 "kubefed controller manager crashes because of leadership lost"
**What happened**:
After upgrade to v0.3.0, kubefed-controller-manager crashes a lot because of leadership lost, leaderelection config is set to default. Sometimes I have to restart deployment to make it running normal for a while.  Is something I've missed?

[code]

Last lines of logs before restart by k8s.
[code]

My kubefedconfig
[code]

[code]

**What you expected to happen**:
Running normally

[2020-06-12 06:06] RainbowMango commented on #1235
Hi @zryfish Thanks for reporting this.

Can you provide the steps about how to reproduce it?

I've noticed that you're saying crashes, a backtrace would be useful.

[2020-06-13 08:31] zryfish commented on #1235
@RainbowMango  Not actually a crash, it seems kubefed controller keeps losing its leadership.
[code]

[2020-06-14 15:17] zryfish commented on #1235
Just found why kubefed controller keeps losing leadership. The default memory limits https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/values.yaml#L15 is 128Mi, which is too low for my case.
[code]

It's not easy to find the oom from logs. I think we could increase the resources limits in chart to avoid this.

[2020-06-15 02:05] RainbowMango commented on #1235
Yeah, that's a good finding.  How about enlarging the limit memory to 256Mi? Can you help verify if this works for you?

By the way, maybe you can get the logs from `dmesg`, e.g.
[code]

[2020-06-15 02:19] zryfish commented on #1235
After increase the limits, kubefed works just fine. I think 256Mi is ok for most cases, in my environment, I've enabled 20+ type of resources which consumed more memory than usual.  It's better to tell the users to increase the resource limit if they enable more and more resources.

Below is the resource usage of kubefed controller in my cluster
![截屏2020-06-15 10 14 27](https://user-images.githubu

[2020-06-15 02:53] RainbowMango commented on #1235
Thanks for your quick feedback. I'd prefer 512Mi which will cover more cases. How do you think?

[2020-06-15 03:03] zryfish commented on #1235
Agree, I suggest we also increase cpu limits to 400m for better performance since 100m is too low. I'd like to create a PR to address above issues, Is that ok?

[2020-06-15 03:17] RainbowMango commented on #1235
Yeah, go for it!

I agree to enlarge CPU to 400m and memory to 512Mi.

[2020-06-15 11:06] matti commented on #981
/remove-lifecycle stale

[2020-06-15 16:20] #1176 closed

[2020-06-17 07:51] makkes commented on #1205
/remove-lifecycle stale

[2020-06-19 06:02] #1235 closed

[2020-06-20 11:11] #1177 closed

[2020-06-21 10:34] #1178 closed

[2020-06-22 13:00] #1179 closed

[2020-06-30 02:48] pacoxu opened #1240 "Federated workloads' status is not updated with availableReplicas/readyReplicas"
**What would you like to be added**:

Current status of FederatedDeployment
[code]
Deployment status
[code]

The expected status of federated deployment is something like.
[code]

**Why is this needed**:
In federated resource aspect, we can see READY instances number and available instances numbers like deployment.
[code]

For workloads like deployment/replicasets/statefulsets/daemonset, the statu

[2020-06-30 03:19] RainbowMango commented on #1240
@pacoxu Thanks, I'm glad to hear from you.
We are discussing how to add generic status for all kinds of federated resources at #1237. You are welcome to join in.

In my opinion, your request is totally reasonable, let's see how to accomplish it.

[2020-06-30 03:57] pacoxu commented on #1240
From federated deployment controller side,  this status would help a lot in rebalance scenario like below.

![image](https://user-images.githubusercontent.com/2010320/86081791-c506bc80-bac8-11ea-97c8-2306392656ea.png)

[2020-06-30 07:51] dgorst opened #1241 "A single federated cluster can stop propagation of a type for all clusters if it does not have the specified resource version."
A single federated cluster can stop propagation of a type **for all clusters** if it does not have a particular resource version.

And a question - any good strategies for handling cluster estates that could have multiple versions of a resource in circulation (e.g. v1beta1 and v1 CRDs)

Editing the target type version in the federated type config to v1beta1 (lowest common denominator) appears to w

[2020-06-30 09:47] RainbowMango commented on #1241
@dgorst Thanks for your feedback.
Let me reproduce it locally and then get back to you.

[2020-07-01 02:08] lmxia opened #1242 "Add FederatedChart feature."
**What would you like to be added**:
FederatedChart
**Why is this needed**:
Then we can federate helm chart resource to member clusters implements the Helm v3 Controller based on Helm v3 Proposal.

/kind feature

[2020-07-01 13:22] RainbowMango commented on #1241
@dgorst
Cloud you please help confirm if this the minimum step for reproducing?

Prepare clusters:
[code]

Operation Steps:
- create a CRD, such as `crontabs.stable.example.com` which apiVersion is `apiextensions.k8s.io/v1beta1`
- enable CRD by command: `kubefedctl enable customresourcedefinitions`
- federate CRD by command: `kubefedctl federate crd crontabs.stable.example.com`

Result:
[code]

Yo

[2020-07-01 13:33] RainbowMango opened #1243 "v0.3.0 assets binaries version is not align with the release"
**What happened**:
[code]
**What you expected to happen**:
The version tag should be `v0.3.0` not a `v0.2.0-alpha.1-35-gd7b7b3c9-dirty`.
https://github.com/kubernetes-sigs/kubefed/releases/download/v0.3.0/kubefedctl-0.3.0-linux-amd64.tgz

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versi

[2020-07-01 13:34] RainbowMango commented on #1243
/assign @hectorj2f

[2020-07-01 17:36] dgorst commented on #1241
Yes exactly @RainbowMango 👍

It feels like the blast radius from a single (tbf misconfigured) cluster, should not impact propagation to the good clusters. So in your example, yes I don't expect a v1 CRD in cluster1 to be propagated to cluster3, but I would expect it to continue to be propagated to cluster2.

I mention a CR of the type of the CRD as that would also stop propagating at the point the

[2020-07-02 04:45] #1003 closed

[2020-07-02 07:28] hectorj2f commented on #1243
Yes, we need to fix this, perhaps there is a step missing in the release process

[2020-07-02 11:45] RainbowMango commented on #1243
I guess you make these binaries before setting a tag.

[2020-07-02 22:03] dgorst commented on #1242
https://github.com/fluxcd/helm-operator pairs pretty nicely with kubefed - we've had some joy federating the HelmRelease CRD and using those to distribute out helm packages to clusters. Worth taking a look to see if that meets your use cases!

[2020-07-03 07:19] lmxia commented on #1242
pretty cool, i will take a look and see, thanks.

[2020-07-03 07:21] hectorj2f commented on #1242
Yeah, it sounds like a good approach too. I like the idea too.

[2020-07-03 10:08] RainbowMango commented on #1241
@dgorst
I did some investigation and found that the `FederatedCustomResourceDefinition` sync controller totally be blocked as one of the informers can't finish its sync process.

The following check keeps failing.
https://github.com/kubernetes-sigs/kubefed/blob/bf67d02369e9b2d93281f8224747b94afab3170e/pkg/controller/sync/controller.go#L235-L238

I agree with you that the propagation process should

[2020-07-03 10:47] dgorst commented on #1241
Thanks @RainbowMango for recreating and confirming 👍

Happy to have a stab at resolving this if that'll help? (caveat: I'm new to the kubefed codebase so may need to reach on slack with some questions though!)

[2020-07-09 01:51] RainbowMango opened #1246 "Make component log level configurable"
**What would you like to be added**:
Follow-up of https://github.com/kubernetes-sigs/kubefed/pull/1245#issuecomment-655589668.

Make component log level configurable by Chart.

Possible changes:
- kubefed-controller-manager template
- kubefed-admission-webhook template
- scripts? such as CI.

**Why is this needed**:

/kind feature

[2020-07-09 01:52] RainbowMango commented on #1246
/assign

[2020-07-10 09:47] RainbowMango commented on #1241
I've tried a workaround locally, but the community has discussed [a better solution](https://github.com/kubernetes-sigs/kubefed/issues/314#issuecomment-431389314).

@hectorj2f @jimmidyson @irfanurrehman
Could you please take a look? If the solution that changes `FederatedTypeConfigStatus` OK for you?

[2020-07-13 09:33] RainbowMango opened #1247 "statusCollection not working for FederatedTypeConfig"
**What happened**:
When enabling the status collection for a FederatedTypeConfig, the informer will be hanging there and keep writing following logs:
[code]
**What you expected to happen**:
The informer should be running normally.

**How to reproduce it (as minimally and precisely as possible)**:
- S1: first create two clusters as per [user guide by kind](https://github.com/kubernetes-sigs/kubefed

[2020-07-13 09:38] RainbowMango commented on #1247
/assign

[2020-07-14 02:42] RainbowMango opened #1249 "Federated resource status feature todo list"
**What would you like to be added**:
- [ ] We need some E2E tests to cover federated resource status. (follow up of #1248)
- [ ] Need adds documents for this feature.

**Why is this needed**:

/kind feature

[2020-07-14 09:25] #1247 closed

[2020-07-15 02:57] irfanurrehman commented on #1241
@RainbowMango thanks for tracking this. IMO the solution proposed by pmorie as per the link you mentioned is completely legit and can be implemented. As far as I understand @font might not be available to complete it.

[2020-07-15 03:23] RainbowMango commented on #1241
Given the implementation is a little bit complicated(API change, controller adopt, testing, etc...), I'd like to set up an umbrella issue and split this to several tasks and then run it by iteration. @dgorst you are welcome and feel free to pick any iterated items you interested in.

How do you say? @irfanurrehman , and If it's ok for you, can you help review the following PRs?

[2020-07-15 05:42] irfanurrehman commented on #1241
Awsome suggestion @RainbowMango. I can certainly review the same.
If time permits, I will take up some tasks too.

[2020-07-16 08:48] hectorj2f commented on #1241
Thanks for taking care of this @RainbowMango. It sounds good to me too. Share the action items to see if we can help somehow.

[2020-07-16 10:01] RainbowMango opened #1252 "Extend federated type config status umbrella issue"
## Background
If a target type in a `FederatedTypeConfig` not present in one or more member clusters, that will cause the sync controller totally not working because the federated informer hanging in sync.
For more details discussion and reproduce, you can get from [here](https://github.com/kubernetes-sigs/kubefed/issues/1241).

## Solutions
The community has discussed this issue years ago and pro

[2020-07-16 10:06] RainbowMango commented on #1241
Just sent a draft issue #1252. I have started some work locally, so I'll take the first task.
Thanks for your support @irfanurrehman @hectorj2f .

[2020-07-17 09:59] #1246 closed

[2020-07-20 07:42] RainbowMango opened #1254 "The deletion of federated resources will be blocked forever by not-ready clusters"
**What happened**:
The deletion of federated resources will be blocked forever by Irrelevant/not-ready clusters.

**What you expected to happen**:
When deleting a federated resource, should ignore the irrelevant clusters no matter it's status is ready or not.

**How to reproduce it (as minimally and precisely as possible)**:
- S1: Prepare two clusters and cluster2 is not-ready.
[code]
- S2: Deploy

[2020-07-20 07:43] RainbowMango commented on #1254
/assign

[2020-07-21 04:23] pacoxu opened #1255 "request a ReplicaFree Option for cluster autoscale"
**What would you like to be added**:

I want the hpa strategy to effect the replica of deployment in current cluster.

Something like "ReplicaFree" option. If this option is opened,  we can deploy deployments without fixed replica in each cluster. The hpa will decide the replica of pods according to the application/pod load.

**Why is this needed**:
For application autoscale, federated knative ser

[2020-07-23 15:56] eugene-dm commented on #1219
/remove-lifecycle stale

[2020-07-23 20:10] #1188 closed

[2020-07-27 23:44] rushins opened #1257 "Error: Unauthorized slave"
hi

while running kubefedctl join i get the error unauthoried of the slave (second cluster )

kubefedctl join slave --v=2 --host-cluster-context master --kubefed-namespace=kube-federation-system
----
error
---
I0727 16:42:07.535733   38817 join.go:148] Defaulting cluster context to joining cluster name slave
I0727 16:42:07.535797   38817 join.go:160] Args and flags: name slave, host: master, host-

[2020-07-28 14:26] hectorj2f commented on #1257
Based on the logs, you seem to have authorization problems with the `slave` cluster. You seem to miss the `--cluster-context` for the `slave` cluster or the KUBECONFIG in your environment is not configured to talk to `slave`.

[2020-07-28 18:07] rushins commented on #1257
@hectorj2f : No, i do have the context of slave in my kubeconfig file along with master cluster as master..
.can you check below kubeconfig file and suggest what was missing or needs for kubefedctl join
---------
[root@node1 ~]# more ~/.kube/config
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN5RENDQWJDZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXc

[2020-07-28 20:52] rushins commented on #1257
it seems a bug in the kubefedctl with kubectl ..i have updated both with latest version  and the error is gone.

[2020-07-29 05:57] davidwtf opened #1258 "Should not delete namespace when unjoin cluster"
**What would you like to be added**:

`UnjoinCluster` in `pkg/kubefedctl` should not delete the kubefed namespace.

**Why is this needed**:

Because maybe there are other resources in this namespace, which can not and should not be deleted.
This will leave a `Terminating` namespace, and will cause a failure when joining this cluster again.
Because it's not allowed to create any resource (include t

[2020-07-29 07:43] hectorj2f commented on #1257
Glad to know the error is fixed with the latest version.

[2020-07-29 07:43] #1257 closed

[2020-07-29 08:57] hectorj2f commented on #1258
@davidwtf I don't think it is a good and recommended practice to use the kubefed namespace to federated resources. I'd recommend to use a different namespace that you can after federate to the clusters. If you don't want to get the resource deleted when unjoining you could also make usage of an annotation `kubefed.io/orphan: true`. This annotation ensures retention of the resource (e.g.. namespace

[2020-07-29 13:58] hectorj2f opened #1259 "chart: expose the `env` property for the kubefed components in `values.yaml`"
**What would you like to be added**:
We should expose the `env` properties of the deployment specs for the kubefed pods in case we need to add ENV variables such as HTTP_NOPROXY, ...

**Why is this needed**:

/kind feature

[2020-07-29 15:02] sagikazarmark commented on #1234
@RainbowMango we've forked the chart to add CRD support: banzaicloud/banzai-charts#1121

Not sure if it's everything you would need, it worked for us, but feel free to use it for a PR. Don't really have the time to contribute it back in a PR, but it would be nice to drop the fork and use the official chart.

[2020-07-29 15:08] eumel8 commented on #1234
@sagikazarmark 10 min to late when I started to struggle about the HelmV3 issue and landed in this issue ;)
I managed the issue in the same way and can confirm your solution. Thanks for sharing!

[2020-07-29 15:11] hectorj2f commented on #1234
@eumel8 @sagikazarmark  yeah, we would need to have a helmv3 compatible chart. Feel free to open any PR.

[2020-07-29 15:18] eumel8 commented on #1234
@hectorj2f will test first if it's really working

[2020-07-30 01:13] RainbowMango commented on #1234
Great job and thanks for picking this up! @sagikazarmark @eumel8

[2020-07-30 13:53] dev-e opened #1262 "Kubefed helm chart installation error after total uninstall"
**What happened**:
kubefed helm release installation fails on the repeated attempts after the initial deployment
**What you expected to happen**:
kubefed helm release is installed successfully
**How to reproduce it (as minimally and precisely as possible)**:
[code]
The `federatedtypeconfigs.core.kubefed.io` may be different from time to time (e.g. `ingresses` or `jobs.batch`) but the overall error

[2020-07-31 04:01] #1259 closed

[2020-07-31 07:27] davidwtf commented on #1258
@hectorj2f Thanks for your suggestion.
But I think the main point is not which namespace to save the federated resources, but is that we can not stop the user to save something in the kubefed namespace.
The user may save just normal resources. And maybe there are other operators will create their CR in the kubefed namespace.
If we delete the namespace, we will delete the resources that not create

[2020-07-31 07:39] davidwtf commented on #1258
To be clear,  the namespace which I mentioned, is the not the user defined federated namespace, but the namespace used by `kubefed`'s control plane .

[2020-08-03 14:13] GitHubxsy commented on #1255
![image](https://user-images.githubusercontent.com/11901080/89192128-80de6e80-d5d6-11ea-8a5a-9eb9e9fe4588.png)
@pacoxu

[2020-08-05 17:31] makkes opened #1267 "pkg/controller/webhook.Validate et al should return an `AdmissionResponse`"
**What would you like to be added**:
The functions in [pkg/controller/webhook/util.go](https://github.com/kubernetes-sigs/kubefed/blob/bb3cd73f60ec8053c7fb991c94efe6d4a99aaced/pkg/controller/webhook/util.go) should not mutate the `admission.Response` parameter but rather return a new one.

**Why is this needed**:
This came out of [this PR review](https://github.com/kubernetes-sigs/kubefed/pull/126

[2020-08-05 20:08] rushins commented on #1165
@hectorj2f : Could you please provide the details or how this worked. i am running into some issues with netapp trident

[2020-08-05 21:09] rushins opened #1268 "federation storage class, federation PVClaim"
HI

I am using kubernetes federation (federated control plane ) on 2 clusters with NetApp trident as a storage class on-prem using NetApp CDOT storage, both clusters (Federation master and Federation slave) are working and i can run deployments, services , however. was not able to do storage class, storage persistence volume and persistence volume claims.

So, would like to get idea of  Federated

[2020-08-05 23:04] rushins commented on #1165
@hectorj2f : could you please share your federatedstorageclass.yaml and federatedstoragepvc.yaml along with the POD.yaml which was using federatedstroageclass , basically i want to compare my configuration as well along with trident driver.i can share my files if needed .

can you share.

[2020-08-06 07:23] pacoxu commented on #1255
close per https://github.com/kubernetes-sigs/kubefed/blob/5f2292c8ebaecfee1968329dc449c0b37be57a10/docs/userguide.md#scalable

thanks @GitHubxsy

[2020-08-06 07:23] #1255 closed

[2020-08-08 07:20] hectorj2f commented on #1268
@rushins I federated storage classes without problem across kubefed clusters. But I didn't try to federated persistent volumes claims although I don't see why it won't work. Can you describe what problem are you facing with more details?

[2020-08-11 10:08] htlabc opened #1271 "kubefedclusters"
environment
 kubectl version:v1.16.3 (K8s cluster created by kubeadm)
kubefed version:v0.3.1
tow clusters:
CURRENT   NAME           CLUSTER    AUTHINFO           NAMESPACE
*         cluster1       cluster1   kubernetes-admin
          cluster2-htl   htl        htl

htl clusters can be accessed by executing the command kubectl config use-context cluster2-htl on the server of cluster1.
and then i jo

[2020-08-13 10:18] #1234 closed

[2020-08-14 13:49] makkes commented on #1271
It looks like kubefed cannot reach your cluster from it's controller so you might have a connectivity issue from *inside* cluster1. Would you mind trying this out and pasting the result here?

[code]

[2020-08-14 15:20] htlabc commented on #1271
ok!!i will try it .thanks your adviser

[2020-08-17 09:26] jimmidyson commented on #1202
I'm going to reopen this PR because it is a definite bug.

/reopen
/remove-lifecycle rotten

[2020-08-19 20:04] dev-e commented on #1262
KubeFed version: `0.4.0`
Helm version: `3.3.0`
produced more meaningful output:
`Error: rendered manifests contain a resource that already exists. Unable to continue with install: FederatedTypeConfig "services" in namespace "kube-federation-system" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernetes.io/managed-by":

[2020-08-23 21:25] nzncngz opened #1276 "multi-cluster join failed"
**What happened**:

I am install two k8s cluster on same region(aws).I want to manage 2 clusters with multi-cloud.But it failed
CONFIG

Cluster1:   k8s-cluster-kubefed
Cluster2:   demo2

Cluster1 is host cluster and kubefedctl installed.

export KUBECONFIG=$PWD/k8s-cluster-kubefed-kubeconfig

kubectl config get-contexts
CURRENT   NAME                                                          CLUSTE

[2020-08-31 06:15] tuananh opened #1277 "release build for windows"
I'm not sure what's the reason for not having windows build. i searched through the issues and found nothing.

I want to to test kubefed by creating clusters with `kind` and join them with kubefedctl but kubefedctl is not available for windows.

[2020-08-31 09:30] hectorj2f commented on #986
/remove-lifecycle stale

[2020-08-31 09:30] hectorj2f commented on #986
/remove-lifecycle rotten

[2020-09-01 08:30] makkes commented on #1223
/remove-lifecycle rotten

I may have the opportunity to tackle this in the coming weeks.

[2020-09-02 03:28] lmmmml opened #1278 "retainReplicas failed"
**What happened**:
When retainReplicas is set to true, the replicas of the member cluster deployment is still overrided by federatred sync controller.

**What you expected to happen**:
When retainReplicas is set to true,  the replicas of the member cluster deployment cannot be change by modify the rsp.

**How to reproduce it (as minimally and precisely as possible)**:
set the retainReplicas to tru

[2020-09-02 17:06] #1206 closed

[2020-09-04 08:28] ysjjovo commented on #1078
So what's the solution?
I still got error message while execute command ```kubefedctl enable service.core```.
[code]

[2020-09-07 09:59] hectorj2f commented on #1078
/reopen.

[2020-09-07 09:59] hectorj2f commented on #1078
/reopen

[2020-09-08 11:15] htlabc commented on #1276
your cluster name kubernetes-admin@k8s-cluster-kubefed is not allow

[2020-09-08 11:25] htlabc commented on #1271
I follow your method to try command in the cluster1,but the ttl is no response
curl: (7) Failed to connect to 10.57.4.21 port 6443: Connection timed out

[2020-09-13 14:25] matti commented on #981
/remove-lifecycle stale

[2020-09-15 08:30] hectorj2f commented on #1205
/remove-lifecycle stale

[2020-09-21 15:15] makkes commented on #1267
/assign

[2020-09-22 09:32] ysjjovo opened #1281 "Knative service can't federate properly."
**What happened**:
federate failed.
**What you expected to happen**:
federate success.
**How to reproduce it (as minimally and precisely as possible)**:
First install k8s & knative,Then run some scripts below to deploy and federate a knative service.
[code]
Run cmd ```kubectl logs -n kube-federation-system   kubefed-controller-manager-648f8dff-kqnft```
got following message
[code]
**Environment**:

[2020-09-22 09:59] hectorj2f commented on #1281
Is the kufedecluster healthy? Can you share the status of the federated service you just created?

[2020-09-22 10:09] makkes commented on #1281
@ysjjovo I would suppose that the `Service` CRD is missing on the target cluster.

[2020-09-22 10:13] hectorj2f commented on #1281
@makkes Yes, `serving.knative.dev/v1` needs to be federated to the target clusters.

[2020-09-22 10:54] makkes commented on #1281
Expanding on my comment a bit: @ysjjovo, you'd need to run something like

[code]

[2020-09-22 17:12] ysjjovo commented on #1281
Thanks for your reply!Federated service describe info below
[code]

[2020-09-22 17:20] ysjjovo commented on #1281
Thanks,I do as you say,it succesed!I don't understand why it works,because I already install crd ```services.serving.knative.dev``` on all of the member clusters.

[2020-09-22 21:08] hectorj2f commented on #1281
@ysjjovo you need to enable the type.

[2020-09-23 06:03] #1281 closed

[2020-09-28 07:42] hectorj2f commented on #1240
/remove-lifecycle stale

[2020-09-28 07:42] hectorj2f commented on #1240
/assign @hectorj2f

[2020-09-28 08:56] #1267 closed

[2020-09-28 09:47] makkes commented on #1276
@nzncngz were you able to verify that it works with a different cluster name?

[2020-09-28 14:32] hectorj2f opened #1283 "kubefed: remove CrossClusterServiceDiscovery feature"
**What would you like to be added**:
Kubefed v2 should be only focused on the federation of resources across kubefed clusters. In the Kubernetes ecosystem there are other third party tools (such as service meshes or multi-cluster mesh) that already provide support to a DNS based cross cluster service discovery.

**Why is this needed**:

Therefore, we need to remove any related work as part of kube

[2020-09-28 14:38] hectorj2f opened #1284 "kubefed: remove FederatedIngress feature"
Kubefed v2 should be only focused on the federation of resources across kubefed clusters. In the Kubernetes ecosystem there are other third party tools (such as service meshes) that already provide support to the DNS based federated ingress.

As a consequence, kubefed won't create anymore IngressDNSRecord objects https://github.com/kubernetes-sigs/kubefed/blob/master/docs/ingressdns-with-externald

[2020-09-29 01:21] RainbowMango commented on #1284
I'm not familiar with this feature. Which third-party tools we are talking about here?

[2020-09-29 01:21] RainbowMango commented on #1284
cc @shashidharatd @irfanurrehman

[2020-09-29 07:10] irfanurrehman commented on #1284
@hectorj2f This feature is already behind a feature flag and if we don't want to support it in future, it can always remain so, that is in an alpha state. If we foresee that this can burden us as maintenance debt, I would suggest to remove it when we reach that point (for example failing/flaky/broken tests which none of us wants to fix). If there are other more pressing issues/problems this is cau

[2020-09-29 07:12] irfanurrehman commented on #1284
I did miss saying that if it is enabled by default now, we can certainly change that  to keep it disbled in the default deploy configuration.

[2020-09-29 07:56] yuswift opened #1285 "service dns controller ignores err while reconciling"
**What happened**:
```pkg/controller/servicedns/controller.go```
[code]
Because err is nil, so runtime.HandleError function will not handle the err.
**What you expected to happen**:
It should print the err.
**How to reproduce it (as minimally and precisely as possible)**:
If one of the cluster does not have region or zone, the err happens and will be ignored.
**Anything else we need to know?**:

*

[2020-09-29 08:28] yuswift commented on #1285
Should I open a pr to fix the bug?
I think just use errors.Errorf() instead of errors.Wrapf() with an empty err can fix it

[2020-09-29 08:41] hectorj2f commented on #1285
@yuswift Can you explain what you see or share the error you get in the logs ?

[2020-09-29 09:01] yuswift commented on #1285
I think we should see logs like " "Cluster1 does not have Region or Zones Attributes"" if nodes of cluster1 do not have failure-domain.beta.kubernetes.io/region or failure-domain.beta.kubernetes.io/zone label.
But I did not see any logs like that, because errors.Wrapf() returned a nil err with the given nil err.
And runtime.HandleError() will not handle the nil err returned by errors.Wrapf(). So t

[2020-09-29 09:05] RainbowMango commented on #1285
@hectorj2f I guess it's a mistake and the log will be ignored by `errors.Errorf()`. Because will not wrap a nil error.

I think just use errors.Errorf() instead of errors.Wrapf() with an empty err can fix it.

Sure thing! If @hectorj2f no other comments.

I'd prefer just use `klog.Errorf` to replace `runtime.HandleError` as follows:
[code]

[2020-09-30 08:54] kiich opened #1287 "Target cluster joins federation fine but after a "while", kubefed-controller-manager shows ClusterNotReachable"
**What happened**:
Target cluster joins federation fine but after a "while", kubefed-controller-manager shows ClusterNotReachable

**What you expected to happen**:
Target cluster to stay in federation

**How to reproduce it (as minimally and precisely as possible)**:
kubefedctl join target-cluster --cluster-context target-cluster --host-cluster-name host-cluster --host-cluster-context host-cluster

[2020-09-30 12:03] hectorj2f commented on #1243
This has been fixed on recent releases.

[2020-10-01 09:18] hectorj2f commented on #1284
One of the intentions of this issue was to call the attention of any potential user of this feature. Based on the current reactions, I cannot see anyone relying on this feature at this moment and finding this action as a blocker to use kubefed. With that said, I am happy to follow a specific procedure such as disabling it first, and then delete it at some point in the future.

@RainbowMango I don'

[2020-10-01 09:22] hectorj2f commented on #1242
/remove-lifecycle stale

[2020-10-01 11:13] #1243 closed

[2020-10-02 13:39] makkes commented on #1287
@kiich thanks for reporting this bug. After running `kubefedctl join`, would you please run `kubectl get kubefedclusters -Aw` and paste the output here? Does the cluster get ready eventually?

[2020-10-04 17:44] hectorj2f commented on #1285
Yes, it looks like a good option to me ;). Thanks @RainbowMango

[2020-10-05 12:38] kiich commented on #1287
Thanks for getting back @makkes
This turned out to be user error 🤦  where we were using the "generated" token as our secret on the host cluster which only lasted for 1 hour! once we used the proper token, this stayed up and target cluster in federation continued to stay.

Appreciate you getting back - i'm closing this one now. thanks!

[2020-10-05 12:38] #1287 closed

[2020-10-06 02:06] shashidharatd commented on #1284
LGTM for disabling and eventually remove from the code. This was an experimental feature and i don't know anybody using it. I agree that its a burden to keep maintaining the feature in alpha state.
Also it is high time to revisit the features in alpha state (https://github.com/kubernetes-sigs/kubefed#features) and evaluate whether to promote them to beta or drop them. keeping the features in alpha

[2020-10-07 10:55] hectorj2f commented on #1078
/remove-lifecycle rotten

[2020-10-09 13:45] makkes commented on #1078
I issued a PR with a potential fix: #1294

[2020-10-10 07:21] yuswift commented on #1284
I‘m using this feature for muti-cluster dns discovery with external-dns and coredns.
Hope the community keep the feature.

[2020-10-10 09:41] hectorj2f commented on #1284
@yuswift As a short term solution, we would disable it by default. But I'll share my thoughts during the next sig meeting about these features and their possible future.

[2020-10-12 07:59] stevenshuang opened #1295 "it's pretty good to add a detailed explanation of rsp"
**What happened**:
Tried `rsp` in federation cluster, when `rebalance` set as `true`, a pod in cluster2 can not be scheduled for a long, but cluster1 also does't create a new pod!
rsp settings are as follows:
[code]
when i set `cluster1.maxReplicas=2`, after a while,  cluster1 creates a new pod. Whether `rebalance` is limited to `maxReplicas`?
**What you expected to happen**:
Maybe we should add a

[2020-10-12 11:24] makkes opened #1296 "Transition from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1"
**What happened**:
When installing the Kubefed CRDs into a cluster, the API server will issue a warning:
[code]

**What you expected to happen**:
No warnings

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.19.1
- KubeFed version: `master`
- Scope of installation (namespa

[2020-10-13 11:32] #1285 closed

[2020-10-14 11:10] jimmidyson commented on #1241
/remove-lifecycle stale

[2020-10-14 23:45] #1078 closed

[2020-10-19 10:41] jimmidyson commented on #1254
/remove-lifecycle stale

[2020-10-20 08:26] makkes opened #1304 "pre-commit script fails on macOS"
**What happened**:
on macOS, the scripts/pre-commit.sh doesn't work:
[code]

**What you expected to happen**:
pre-commit runs and returns successfully (exit code 0).

**How to reproduce it (as minimally and precisely as possible)**:
on macOS, run:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- KubeFed version
- Scope of installation (na

[2020-10-20 08:27] makkes commented on #1223
@jimmidyson is working on kind v0.9 support in #1303, so I'll close this.

[2020-10-20 08:27] #1223 closed

[2020-10-22 15:34] #1185 closed

[2020-10-29 14:28] Gaploid opened #1312 "Kubefed roadmap and GA dates"
Hi,
Im really like the KubeFed project and see a lot of potential in that tech especially in hybrid scenarios but me and my customers are wondering about unclear GA dates and the roadmap. I know thats a hard question and its hard to commit to something like that but probably you can share any information on when it would be ready to use in production scenarios or any approximate dates/roadmap?

/t

[2020-10-29 20:50] makkes commented on #1258
/remove-lifecycle stale

[2020-10-31 10:09] makkes opened #1313 "Add e2e upgrade tests"
**What would you like to be added**: End-to-end test verifying upgrade behaviour between two different kubefed versions.

**Why is this needed**:

* Follow-up to #1296
* These tests could (should?) be run on each PR to ensure existing kubefed clusters don't break with a certain change.

/kind feature

[2020-11-02 05:58] mYmNeo opened #1314 "No log output"
**What happened**:
add --v=X, X is log level. There is no log output for any level.

**What you expected to happen**:
option --v=X works well

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- KubeFed version
master
- Scope of installation (namespaced or cluster)
- Others

/kind bu

[2020-11-02 08:47] hectorj2f commented on #1312
@Gaploid We are actively using and maintaining kubefed. In addition, we have proposed certain improvements that we want to include into kubefed.

Some of those improvements are:

* Remote federated resource status: https://github.com/kubernetes-sigs/kubefed/blob/master/docs/keps/20200619-federated-resource-status.md
* Pull reconciliation model: https://github.com/kubernetes-sigs/kubefed/blob/maste

[2020-11-03 11:52] asears commented on #1277
#1101 related.  Release on Chocolatey or other Windows package manager could be helpful too.

https://chocolatey.org/docs/create-packages

[code]

[2020-11-05 10:20] makkes commented on #1314
Hi @mYmNeo, would you mind providing some more details on where (which component, kubefedctl, controller,...) and how you provided the flag, please? Thanks!

[2020-11-05 11:40] mYmNeo commented on #1314
I've tried `controller` and `hyperkube`, I think `kubefedctl` is the same situation. Since a commit about upgrade to kubernetes 1.19 dependency, this problem occurred. And v0.4.1 is not affected.

The flags is very simple, just run any of these binary with `--v=4`, For example, `controller` should print all flags result because of the print level greater than 1 , but in fact none of flags printed.

[2020-11-05 22:52] Gaploid commented on #1312
That's great. Any ideas of multi-deployment of kubefed to remove a single point of failure? As I understand currently kubefed deployed on one "master" cluster and if it will go down all federation will be de-synced.

[2020-11-06 10:00] hectorj2f commented on #1312
@Gaploid That is an interesting topic, I've been reading related work that shards the control plane across the cluster or clusters to solve that problem. We could kick the discussion in a KEP if you also have ideas but I don't think it is part of the imminent roadmap.

In relation to your comment, ` if it will go down all federation will be de-synced`, there won't be such de-synced because the kub

[2020-11-06 15:16] hectorj2f commented on #1314
@mYmNeo You are right, I can see the same behavior. It seems it ignores the verbose level in v0.5.0. For v0.4.0 and v0.4.1, it works as expected. Perhaps we have some hidden bugs when upgrading the new dependencies.

[2020-11-09 08:27] hectorj2f commented on #1314
@mYmNeo I pushed a bugfix if you have the chance to have a look at it https://github.com/kubernetes-sigs/kubefed/pull/1315

[2020-11-10 07:09] mYmNeo commented on #1314
@hectorj2f I've tried this patch, it works. :+1:

[2020-11-11 09:56] hectorj2f commented on #1249
/remove-lifecycle rotten

[2020-11-11 13:53] #1314 closed

[2020-11-12 03:32] Reminisd opened #1316 "empty spec in dnsendpoint and status: observedGeneration: 1"
# question
![image](https://user-images.githubusercontent.com/39513283/98891824-f7461300-24d9-11eb-9979-1bbd2fe05995.png)
# external
        - --source=crd
        - --source=service
        - --crd-source-apiversion=multiclusterdns.kubefed.io/v1alpha1
        - --crd-source-kind=DNSEndpoint
        - --registry=txt
        - --provider=coredns
        - --log-level=debug # debug only
external log

[2020-11-12 03:35] Reminisd commented on #1316
[code]

[2020-11-12 07:17] yuswift commented on #1316
All of your nodes must have region/zone labels. Try to check that.

[2020-11-12 07:42] htlabc opened #1317 "planner"
**What would you like to be added**:
I think node replica distribution can simulate the process of adding nodes through scheduler framwork. Then find the most suitable copy allocation number for each kubefed cluster, or dynamically allocate copies based on the resources of monitoring k8s

**Why is this needed**:

/kind feature

[2020-11-12 11:10] hectorj2f commented on #1317
@htlabc I think other people might miss some context here. Could you add more details about this issue such as user scenarios for this ? Is it a feature proposal or an improvement/addition to any existing feature ?

[2020-11-13 00:32] Reminisd commented on #1316
Thank you, it works normally after tagging. I want to know how to implement back-end health detection. If one of my clusters fails and resolves it, will it be automatically removed from Dnsendpoints?

[2020-11-13 02:57] yuswift commented on #1316
I didn't test for that. You can have a try and see what will happen. If you want to add `back-end health detection` feature, edit the `dnsendpoint controller` code. BTW, the community will deprecate the `crossclusterservicediscovery` and `crosscluster ingressrecovery` features in the future. See [here](https://github.com/kubernetes-sigs/kubefed/issues/1284).

[2020-11-15 10:36] hectorj2f commented on #1202
/remove-lifecycle stale

[2020-11-16 02:37] Reminisd commented on #1316
I see tahnks

[2020-11-16 02:37] #1316 closed

[2020-11-17 14:16] #1296 closed

[2020-11-18 16:02] makkes commented on #1262
@dev-e with Helm v3 and the latest chart you shouldn't run into these problems, anymore and should be able to `helm install` and `helm uninstall` several times without problems.

[2020-11-18 16:03] makkes commented on #1262
/close

[2020-11-18 16:03] #1262 closed

[2020-11-30 10:50] jimmidyson commented on #986
/remove-lifecycle rotten

[2020-11-30 10:50] jimmidyson commented on #986
/remove-lifecycle stale

[2020-11-30 12:23] xunpan opened #1322 "create cluster script does not work by default according to kind document"
**What happened**:
[code]

/kind bug

[2020-11-30 12:23] xunpan commented on #1322
/assign

[2020-12-02 12:39] xunpan commented on #986
CRD v1 will pruning unknown field by default.
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#pruning-versus-preserving-unknown-fields
[code]

I checked in `kubefed`, it follows the behavior. When I tried to add unknown field, it was rejected. That means this issue is fixed.
[code]

So, close this ticket.

/close

[2020-12-02 12:39] #986 closed

[2020-12-02 13:40] #1322 closed

[2020-12-04 09:12] xunpan commented on #981
/assign
let me follow up this ticket

[2020-12-04 09:28] xunpan commented on #981
From my point of view,
`placement` of `FederatedDeployment` is used to assign the resource placement.
`ReplicaSchedulingPreference` is used to control replicas for resources allocated to each cluster. It does not need to control the resource placement. We do not need to duplicate placement function in `Federated*` resources.

 @matti @irfanurrehman any comments?

[2020-12-04 16:40] makkes commented on #1278
/remove-lifecycle stale

[2020-12-04 16:41] makkes commented on #1278
/assign

[2020-12-04 16:57] makkes commented on #1278
@lmmmml thanks for filing this issue.  I was trying to reproduce your issue but wasn't available to so let's try to get on the same page:

I created a `FederatedDeployment` with `replicas: 2`. This causes a `Deployment` with `replicas: 2` to be created on the attached cluster, leading to two pods. Then scaling down the `Deployment` to 1 replica on the attached cluster will lead to only one pod and

[2020-12-04 17:00] makkes commented on #1278
Interestingly enough I was able to reproduce an error when setting `retainReplicas: false` again which should lead to the `Deployment` scaled up again but that didn't happen in my scenario. I'll look into this.

[2020-12-05 07:31] irfanurrehman commented on #981
@xunpan I think the scenario @matti asked for is genuine. What he is asking for is being able to combine the label based placement with the replica scheduling preference. Design wise, I think it can be built in the RSP scheduler to additionally consider the label selector in its decisions.

[2020-12-05 11:22] lmmmml commented on #1278
You can try to change the total copy of rsp after adding `retainReplicas: true`, and `Deployment` on the attached cluster may change accordingly.

[2020-12-07 08:20] makkes commented on #1278
I'm not sure I totally understand the reason to set `overrides.replicas` instead of just setting `spec.template.spec.replicas` directly. Would you mind enlightening me here? And does setting `spec.template.spec.replicas` work fine together with `spec.retainReplicas` for you as it does for me?

I haven't tested RSPs in this regard, yet.

[2020-12-07 14:21] xunpan commented on #981
I think we want below case
[code]

[2020-12-08 12:58] xunpan commented on #981
I had an Slack chat with @irfanurrehman. We're agreed to avoid duplicated selector in `RSP` and `placement` of Federated*:
 - intersection behavior support. `placement` of Federated* is used to specify the placement. `clusters` in `RSP` specifies the replicas. Only `placement` defined clusters will apply the definition. This intersection behavior is controlled by a flag. We also support current ov

[2020-12-10 06:58] huiwq1990 opened #1327 "support kubernete below kubernete v1.16"
**What would you like to be added**:

As upgrade `CustomResourceDefinition` solved with #1296 , kubefed could not deploy on kubernete v1.16 below.

**Why is this needed**:

We could not keep up with the newest k8s.

/kind feature

[2020-12-10 09:19] makkes commented on #1327
Thanks for raising this issue, @huiwq1990. However, Kubernetes 1.16 [isn't supported by the community, anymore](https://kubernetes.io/docs/setup/release/version-skew-policy/):

You will not receive patches for 1.16 by the community. I understand some vendors still support older versions but I'm not sure whether kubefed should support any Kubernetes version older than the three most recent minor re

[2020-12-10 10:31] huiwq1990 commented on #1327
Thanks, whether support not latest version really matter for me or someone else, any result please notify us.

[2020-12-10 16:46] makkes commented on #1304
Doesn't happen, anymore.

[2020-12-10 16:46] #1304 closed

[2020-12-13 11:49] #1252 closed

[2020-12-14 09:31] hectorj2f commented on #1205
/remove-lifecycle stale

[2020-12-15 11:38] hectorj2f opened #1329 "Disable SchedulerPreferences feature by default"
**What would you like to be added**:
`SchedulerPreferences` is marked as an alpha feature and enabled by default. We need to disable it by default due to its alpha nature.

**Why is this needed**:
 In order to mark kubefed as beta, we have to disable this feature by default.

/kind feature

[2020-12-15 11:42] hectorj2f opened #1330 "Split kubefed repo into two submodules: core and schedulerpreferences"
**What would you like to be added**:

To easily identify the beta components of kubefed, we have decided to split the current sourcecode into two golang modules within the same repository:

* kubefed-core: it would include all the core components for the federation of resources
* kubefed-scheduler-preferences: it would focus on the scheduling preferences and additional properties.

**Why is this n

[2020-12-17 22:55] mvaal commented on #581
/reopen

Between this https://github.com/kubernetes-sigs/kubefed/pull/1010 and this not being implemented, we are in an annoying situation.
Trying to using charts that requires annotations (e.g., https://github.com/mittwald/kubernetes-replicator)
and having to continually to update the overrides list for every single cluster doesn't seem like a great solution.
We would need an operator that update

[2020-12-20 17:39] #1219 closed

[2020-12-27 08:37] hectorj2f commented on #1240
/remove-lifecycle stale

[2020-12-27 18:40] hectorj2f commented on #1276
/remove-lifecycle stale

[2020-12-29 06:35] yuswift opened #1333 "How to upgrade kubefed v0.3.0 to v0.6.0"
/kind support
Kubefed v0.3.0 was installed by helm2, now v0.6.0 is installed by helm3. According to the READEME, it's recommended to use helm 2to3, but the command didn't work and I got errors(kubefed-admission-webhook pod) as follows:
`E1229 06:20:55.428412       1 controller.go:267] Could not update status fields of the CRD: "kube-federation-system/namespaces": Internal error occurred: failed ca

[2020-12-29 06:58] yuswift commented on #1333
After I executed `helm rollback -n kube-federation-system kubefed 1`, the error disappeared. I guess the secret was changed by helm but the upgrade was failed, so I got the error.

[2020-12-29 07:09] yuswift commented on #1333
I tried the upgrade again using the following command:
`helm --namespace kube-federation-system upgrade -i kubefed kubefed-charts/kubefed --version=v0.6.0`
Then I got an error:
`Error: UPGRADE FAILED: cannot patch "kubefed" with kind KubeFedConfig: admission webhook "kubefedconfigs.core.kubefed.io" denied the request: spec.featureGates.name: Unsupported value: "RawResourceStatusCollection": suppor

[2020-12-30 10:39] hectorj2f commented on #1242
/remove-lifecycle stale

[2021-01-03 19:12] WoodpeckerBaby opened #1344 "Is this project abandoned?"

[2021-01-03 19:13] hectorj2f commented on #1344
@WoodpeckerBaby It isn't. Why are you asking ?

[2021-01-03 19:29] WoodpeckerBaby commented on #1344
I check back every few months, and I feel this project is not getting as much love as before. Recent comments are more maintenance in nature, and this has been in Alpha since I noticed that V1 was deprecated. I’m wondering if it’s stuck for some Engineering reason like Apple’s AirPower. Since that this is a really complex and high risk project, there is no guarantee that it will work, at least unt

[2021-01-03 19:42] hectorj2f commented on #1344
Please, check the Slack channel and attend to the sig meeting if possible. There is a plan for an official beta release even if it is consistent enough to be considered as beta regarding core feat.

[2021-01-04 09:53] npu21 opened #1345 "No DnsEndpoint created"
**What happened**:
After creation of a Service Domain and a ServiceDNSRecord for the federated service，there's no DNSEndpoint result.
Any help will be appreciated！
[code]
**What you expected to happen**:
A DnsEndpoint created

**Environment**:
- Kubernetes version (use `kubectl version`)
- v1.18.8
- KubeFed version
- v0.5.1
- Scope of installation (namespaced or cluster)
- Others
[code]

/kind bug

[2021-01-05 09:48] #1268 closed

[2021-01-06 18:12] naikn commented on #1333
Facing the same problem upgrading from 0.4.0 to 0.6.0. I did workaround the problem to perform helm upgrade in one shot without rollback, but by updating the webhook image to 0.6.0 and then upgrading to 0.6.0.
`kubectl set image deploy kubefed-admission-webhook -n kube-federation-system admission-webhook=quay.io/kubernetes-multicluster/kubefed:v0.6.0`
`helm3 --namespace kube-federation-system upgr

[2021-01-07 09:41] hectorj2f commented on #1344
@WoodpeckerBaby I am sharing the plans for kubefed beta that I presented in one of our previous sig meetings https://docs.google.com/presentation/d/1YSk7y-qZvfdz8hUNgB6tQtz8EdAhmhqrjDEsMJXzV-o/edit?usp=sharing.

[2021-01-07 10:21] cebernardi commented on #1333
Following, same problem

[2021-01-07 10:29] hectorj2f commented on #1333
I'll test it myself and investigate the issue. But `RawResourceStatusCollection` feature flag was added in v0.6.0 so it is unclear to me why you are facing this issue.

[2021-01-07 10:30] hectorj2f commented on #1333
I believe we need to add a test to validate the upgrade path.

[2021-01-07 10:30] naikn commented on #1333
I did try to enable the feature flag, while upgrading.

[2021-01-07 11:07] hectorj2f commented on #1344
I am closing this issue for now. Please, feel free to re-open it again if you need more answers to your initial question.

[2021-01-07 11:07] #1344 closed

[2021-01-07 12:24] cebernardi commented on #1333
But it's happening even without enabling the feature flag (always upgrade path)

[2021-01-08 03:54] yuswift commented on #1345
See [there](https://github.com/kubernetes-sigs/kubefed/issues/1316).

[2021-01-08 03:56] yuswift commented on #1333
Try to downgrade the kubefed.

[2021-01-08 09:59] hectorj2f commented on #1284
/remove-lifecycle stale

[2021-01-10 12:12] #1295 closed

[2021-01-11 15:13] cebernardi commented on #1333
Hi Yuswift, thank you for your reply.

What I did was:
Upgrade from 0.4 to 0.6 (fail)
Upgrade from 0.4 to 0.5 (success), and from 0.5 to 0.6 (fail)

That said, could you please expand a bit on your suggestion? To which version are you suggesting to downgrade?
Thank you in advance!

[2021-01-12 03:15] yuswift commented on #1333
The reason I upgraded to v0.6.0 was to try out the [remote status collect feature](https://github.com/kubernetes-sigs/kubefed/pull/1292). I just downgraded to the original v0.3.0 version I used. If you are not interested in the features after v0.4.0, I suggest you downgrading to v0.4.0 for safety. For more features,  please take a look at the [release page](https://github.com/kubernetes-sigs/kubef

[2021-01-12 10:06] hectorj2f commented on #1333
I am gonna work on this issue regarding the upgrading path today. I'll share whatever I discover or the PR with the bugfixes.

[2021-01-12 10:30] cebernardi commented on #1333
Oh, I see.. I also need the new feature, of course.
I was just sharing some more data I collected trying to troubleshoot the issue.

[2021-01-12 11:46] hectorj2f commented on #1241
/remove-lifecycle stale

[2021-01-12 12:05] naikn commented on #1333
@hectorj2f I looked at the changes webhook component had between 0.4.0 and 0.6.0, so I upgraded the webhook deployment to `v0.6.0` version before upgrading the helm chart to 0.6.0. I just wanted to check with you if it would cause any issue, something I may have missed.
Initially when I had faced the issue, I let helm upgrade fail for the first attempt and then upgraded again. But that does not he

[2021-01-12 15:45] hectorj2f commented on #1333
Alright! I managed to reproduce the error mentioned in the thread. So I got a working upgrade from v0.5.0 to v0.6.0 after adding some helm hooks to the resources.
After that, I did a full upgrade path from v0.3.0 till v0.6.0 without issues. I will create a PR with the fix in the following hours.

[2021-01-13 09:39] hectorj2f commented on #1313
I might take care of this test ;).

[2021-01-22 07:06] RolandMa1986 opened #1348 "Support DeleteOptions when deleting resources in member clusters"
**What would you like to be added**:
Support DeleteOptions when deleting resources in member clusters.

**Why is this needed**:
DeleteOptions may be provided when deleting an object with kube-apiserver, such as GracePeriodSeconds and PropagationPolicy. This is extremely useful when the user wants to control the lifecycle of the federated resources as same as the Kubernetes's way.
ref: [DeleteOptio

[2021-01-25 02:08] RolandMa1986 commented on #1348
**User Story**
[KubeSphere](https://kubesphere.io/) is a tailored Kubernetes platform for hybrid multi-cloud. It providers an integrated multi-tenant and multi-cluster management solution. Kubefed is used to manage Multi-tenancy resources and workloads crossing clusters. Each workspace(a tenant) may contain one or more namespaces, which are owned by the workspace. When the workspace is being delet

[2021-01-25 02:11] RolandMa1986 commented on #1348
/assign

[2021-01-25 12:48] #1333 closed

[2021-01-28 08:20] CharlesQQ opened #1350 "create federatedcustomresourcedefinitions, but found ` Failed to watch apiextensions.k8s.io/v1` error, all CR is created in host cluster"
I want to federate CRD & CR, but found error, the host cluster version is k8s 1.18, member cluster version is k8s 1.10
here is error log

E0128 16:18:15.823707      39 reflector.go:127] pkg/mod/k8s.io/client-go@v0.19.3/tools/cache/reflector.go:156: Failed to watch apiextensions.k8s.io/v1, Kind=CustomResourceDefinition: failed to list apiextensions.k8s.io/v1, Kind=CustomResourceDefinition: the serv

[2021-01-28 11:21] hectorj2f commented on #1350
@CharlesQQ I don't know where these errors are prompted but I assume the problem might come with the usage of deprecated or new api versions that might not be available on 1.10.

We have not used kubefed with clusters whose kubernetes version differed so much. Many of the federated types in the kubefed control plane cluster won't work on the managed clusters due to the usage or newer api versions

[2021-01-29 06:20] yuswift commented on #1350
I guess you need to upgrade your member cluster version to v1.18(same as the host cluster).

[2021-02-01 13:17] mars1024 opened #1354 "classify different kinds of retainments in dispatching"
**What happened**:
[https://github.com/kubernetes-sigs/kubefed/blob/eda276709b8abb69bac2917b513ddd6b682bab9c/pkg/controller/sync/dispatch/managed.go#L212-L218](https://github.com/kubernetes-sigs/kubefed/blob/eda276709b8abb69bac2917b513ddd6b682bab9c/pkg/controller/sync/dispatch/managed.go#L212-L218)

Now the dispatching codes show that overriding will be done after the retainment, but is it always

[2021-02-01 13:19] mars1024 commented on #1354
Maybe we can separate the function `RetainClusterFields` into `RetainGeneratedClusterFields` and `RetainRequiredClusterFields` to solve this problem.

[2021-02-01 13:20] mars1024 commented on #1354
[code]

[2021-02-02 02:31] huiwq1990 opened #1356 "Sync member cluster resources to host cluster"
**What would you like to be added**:

In some cases, we want collect member cluster's node infomation to host cluster.  I think kubefed could implement a webhook, so user can inject customer bussiness, just like kubernetes `auditsink`  does.

**Why is this needed**:

1) sync data from member cluster to  host cluster is one kind of sync.
2) kubefed implement this feature is more unified, otherwise

[2021-02-03 08:42] sagikazarmark opened #1358 "Upgrade controller-runtime to 0.8.1"
**What would you like to be added**:

Upgrade controller-runtime to 0.8.1

Required changes:

- Upgrade admission webhook to v1
- kubernetes/kube-openapi#220

**Why is this needed**: Allow clients to use newer controller-runtime

/kind feature

[2021-02-05 12:58] #1271 closed

[2021-02-07 08:46] makkes opened #1359 "Use Docker credentials to circumvent request limit"
**What would you like to be added**:
The kubefed project is now included in Docker's Open Source Program: https://kubernetes.slack.com/archives/C09R1PJR3/p1611587365011500

We need to use the credentials of the Docker Hub "kubefed" project in our CI builds.

**Why is this needed**:
To get around Docker Hub rate limits in CI and thus build failures.

/kind feature

[2021-02-09 23:13] hectorj2f commented on #1283
Closing this issue. It has been addressed in #1351

[2021-02-09 23:13] #1283 closed

[2021-02-09 23:19] hectorj2f commented on #1359
Yes, we need to apply these changes. We are getting some rate limit errors in PRs.

[2021-02-12 16:08] relaxtheo commented on #1254
I have same issue in deleting federatedDaemonset

[2021-02-12 17:13] hectorj2f commented on #1254
/remove-lifecycle stale

[2021-02-12 17:13] hectorj2f commented on #1254
@relaxtheo Could you share the logs ?

[2021-02-13 14:26] relaxtheo commented on #1254
root@fedhost-master:/home/ubuntu# kubectl get fds --all-namespaces
NAMESPACE   NAME                   AGE
fedns-e2    fed-laundry-test-ds    3d4h
fedns-e2    fedds-nano             18d
fedns-e2    laundry-fed-test-ds    3d
fedns-e2    laundry-fed-test1-ds   2d22h

root@fedhost-master:/home/ubuntu# kubectl delete fds fedds-nano -n fedns-e2
federateddaemonset.types.kubefed.io "fedds-nano" deleted
^[

[2021-02-18 09:30] #1348 closed

[2021-02-27 00:36] marinoborges commented on #356
I have 2 questions regarding this topic:
1. If I edit a KubeFedConfig resource for one cluster, specifically the `spec.controllerDuration.unavailableDelay` field, this setting takes effect immediately or a restart in the kubefed-controller-manager pod is needed?
2. Do I need to edit this field for all the clusters in the federation individually?

[2021-03-03 09:25] conquerorAlex opened #1368 "failed to set propagation"
**What happened**:
according user guide(https://github.com/kubernetes-sigs/kubefed/blob/master/docs/userguide.md) to build test, after creating the test-namespace for the test resources, got error log as follow:
![image](https://user-images.githubusercontent.com/45348944/109783026-7f485800-7c44-11eb-875c-fb6c07a3f644.png)

Operation Steps:
`./scripts/create-clusters.sh`
`helm --namespace kube-fede

[2021-03-03 09:36] conquerorAlex commented on #1368
`kubectl apply -f example/sample1/federateddeployment.yaml`
got similar error logs:
![image](https://user-images.githubusercontent.com/45348944/109784915-86706580-7c46-11eb-9741-f9da115c0863.png)

[2021-03-03 11:19] hectorj2f commented on #1368
How does your kubefedclusters look `kubectl get kubefedclusters -o yaml -A ?

[2021-03-03 13:53] makkes commented on #1277
/close

[2021-03-03 13:53] #1277 closed

[2021-03-04 01:55] conquerorAlex commented on #1368
@hectorj2f
`[root@work1 sample1]# kubectl get kubefedclusters -o yaml -A
apiVersion: v1
items:
- apiVersion: core.kubefed.io/v1beta1
  kind: KubeFedCluster
  metadata:
    creationTimestamp: "2021-03-04T01:47:51Z"
    generation: 1
    managedFields:
    - apiVersion: core.kubefed.io/v1beta1
      fieldsType: FieldsV1
      fieldsV1:
        f:spec:
          .: {}
          f:apiEndpoint: {}

[2021-03-04 02:51] conquerorAlex commented on #1284
with latest version, or v0.6.1, is this feature still available? In another word, user guide (https://github.com/kubernetes-sigs/kubefed/blob/master/docs/ingress-service-dns-with-coredns.md) is unavailable, is that right?
I have done the same work according the ingress-service-dns-with-coredns.md, but got empty spec in dnsendpoint and status. And  dig failed in dnstools container.

[2021-03-04 09:11] conquerorAlex commented on #1316
I got the same error. And All nodes have region/zone labels. As follow:
![image](https://user-images.githubusercontent.com/45348944/109939988-8f2b6f00-7d0c-11eb-853d-008e917ab228.png)

error log:
![image](https://user-images.githubusercontent.com/45348944/109940057-a10d1200-7d0c-11eb-9dc0-09b07db90c82.png)

[2021-03-04 09:15] conquerorAlex commented on #1345
I got the same error. And All nodes have region/zone labels. As follow:
![image](https://user-images.githubusercontent.com/45348944/109940567-327c8400-7d0d-11eb-837c-3af86a9e9aa8.png)

error log:
![image](https://user-images.githubusercontent.com/45348944/109940608-3dcfaf80-7d0d-11eb-8c2f-b8a1dbe1b9a8.png)

[2021-03-04 09:23] hectorj2f commented on #1345
@conquerorAlex That functionality would be removed within the next release. I would try to have a look and test it with `v0.5.1` to check if I can reproduce it.

[2021-03-04 18:04] marinoborges opened #1369 "Bug Report envolving ReplicaSchedulingPreference"
**What happened**:
I've set up kubefed with 2 clusters and I was testing RSP with targetKind FederatedDeployment and totalReplicas=1 with greater weight on the downstream cluster.
The pod is scheduled and gets ready on downstream cluster accordingly. My attempt was to check whether the host cluster will schedule the pod when cordoning all downstream clusters' workers.
What I found after cordoning

[2021-03-05 06:14] irfanurrehman commented on #1369
/assign

[2021-03-07 09:08] hectorj2f commented on #1278
/remove-lifecycle stale

[2021-03-08 03:01] shiyan2016 opened #1370 "A way to make controller retain certain fields"
**What would you like to be added**:
I would like to have a way to define a list of fields for resource that if they're updated on some cluster won't trigger federation controller to sync and overwrite them.

**Why is this needed**:
Some controller which want to control the release, we need to mark the resource pasued to  make the controller waiting paused to be false to work. But If I mark the re

[2021-03-08 03:57] yuswift commented on #1284
This feature has been disabled by default within v0.5.0 and will be removed in the future(maybe v0.6.2). If you want to try the feature, use v.0.4.1 or before.

[2021-03-08 06:37] RainbowMango commented on #1370
Hi @shiyan2016, the request seems reasonable, could you please describe your case more clearly?

I guess the `Some controller` you mean is running in federated clusters, they will modify resources propagated by `kubefed`, have I understood correctly? does the resource is a custom resource defined by CRD?

[2021-03-09 02:06] shiyan2016 commented on #1370
@RainbowMango  yes, it is. And the resource is a custom resource.

[2021-03-09 09:55] hectorj2f commented on #981
/remove-lifecycle stale

[2021-03-09 10:09] hectorj2f commented on #1370
@shiyan2016 If i understand correctly you want kubefed to only reconcile the state of federated resources for certain fields while being able to ignore others.

Could you share a use case so we can get an idea of what you are trying to do ? Perhaps we could propose an alternative workaround.

[2021-03-10 13:38] DraganDjuric94 commented on #1370
We have a use case that would benefit from this feature.

We have Gloo CRDs which are federated (https://www.solo.io/products/gloo-edge/).
Problem is that these resources are changed in member clusters, e.g. Gloo controller changes status field periodically.

So, we have a situation like this:
kubefed sync resource (removes status) --> gloo adds status --> kubefed sync --> gloo status --> and so o

[2021-03-11 03:22] shiyan2016 commented on #1370
Our user case is we have Rollout CRD which is federated, and there is a field spec.paused which used to control the rollout. This used for fort & canary pod release. after fort or canary pod release. we need to pause the release(make the paused to true) until user confirmed is ok to continue release (make the paused to false). Since the member cluster rolllout controlller has made the paused to tr

[2021-03-12 04:19] tehlers320 opened #1372 "workqueue metrics do not work."
Due to the do.Once in this:
https://github.com/kubernetes/client-go/blob/master/util/workqueue/metrics.go#L217-L227

This causes these 2 items to go first.

[code]
Then finally

https://github.com/kubernetes-sigs/kubefed/blob/master/cmd/controller-manager/app/controller-manager.go#L117

which has the doOnce flag already set from the other two and will not register.

/kind bug

[2021-03-12 08:42] mars1024 commented on #1372
I'm sorry but I've not got your point,

Yes, metrics provider can only be set once, and that depends on who call [SetProvider](https://github.com/kubernetes/client-go/blob/a5722b416f4b141ac9482ea884f6a5101087445c/util/workqueue/metrics.go#L259-L261) firstly.

Actually, `SetProvider` is called by two upstreams as I know, one is `controller-runtime/pkg/metrics` and the other is `component-base/metri

[2021-03-12 15:23] tehlers320 commented on #1372
Hmm well i'm not sure what is going on then, but i'm building with `make controller` off master branch currently `16b2f5cc4f05c9e9b696970295f353c56d33aa3a`

Anything different in your process or is there a public build server with the master releases, maybe i've done something wrong.

[2021-03-12 16:48] cebernardi opened #1373 "Intermittent huge selective delay in propagation of federated resources and infinite reconciliation loop"
**What happened**:
We're running `kubefed` 0.6.0 on a eks controlplane with 2 target clusters joined successfully.

We're intermittently (but quite often) observing a huge delay (between 7mins and 50minutes) in propagation of newly created resources, of selective types (FederatedConfigmap and FederatedSecret so far, and one custom CRD that we can exclude from the picture for sake of simplicity)

F

[2021-03-13 16:23] algebra2k opened #1374 "Adding the type identification of the cluster"
**What would you like to be added**:
Currently, it is not possible to know what type of cluster is through the KubeFedCluster object。

**Why is this needed**:
In our actually practice, we often wrap a Cluster object on top of a KubeClusterObject and then we add `Type` fields to one, so we hope to add the  `Type` field to the KubeFedCluster object

/kind feature

[2021-03-15 02:33] mars1024 commented on #1372
Nothing different I think, could you help to print collected metrics here?

[2021-03-15 02:36] mars1024 commented on #1372
I can show an example in ours,
[code]

[2021-03-15 10:02] irfanurrehman commented on #1369
@marinoborges
So I had a look at this and the code so far looks allright.
Your scenario is that the federated resource (in your case a deployment in joined clusters) is supposed to be observed by RSP to balance replicas. In the situation that you mentioned what does not seem to happen is the trigger of reconciliation when the pods change state.

The RSP reconciliation is set to trigger on any chan

[2021-03-15 11:53] RainbowMango commented on #1329
/remove-lifecycle stale

[2021-03-15 15:43] tehlers320 commented on #1372
@mars1024  thanks for being patient with me.

Exact steps taken to ensure i have a 100% clean environment.

[code]

First pod:
https://gist.github.com/tehlers320/d836db9a72e86a2f05c5a05397a6be30
Second pod:
https://gist.github.com/tehlers320/e5586c22aaf6844230b45fcbfddd4282

[2021-03-15 23:57] irfanurrehman commented on #981
@xunpan were you able to make any progress on this?

[2021-03-16 02:20] xunpan commented on #981
@irfanurrehman  I will try to submit a PR by this month.

[2021-03-16 09:09] hectorj2f commented on #1284
@conquerorAlex Yes, @yuswift is right about the plans for this feature.

Are you still experiencing the issue with v0.5.0? Did you open any issue about it ?

[2021-03-16 09:10] hectorj2f commented on #1254
/remove-lifecycle rotten

[2021-03-16 11:41] mars1024 commented on #1372
Did you ever run the controllers? I mean metrics are only visible after a valid collection.

[2021-03-16 12:23] tehlers320 commented on #1372
@mars1024 ah thats a good point, ive been loading these into another kind cluster as well. But for cleanliness sake i added a federated namespace to the /tmp/kubefed cluster. Still no metrics.

[code]

Is there some old version of something in a vendor folder? The docker builds still pickup vendor. If i change this to a version where i edited the client-go/workqueue/metrics.go in the same cluster

[2021-03-16 12:24] mars1024 opened #1375 "repeated sync/status controller initialization"
**What happened**:
When one `federatedTypeConfig` is created with expectation of enabled sync and status controllers, I found sync/status controller will be initialized several times.
[code]

**What you expected to happen**:
Each sync/status controller should be initialized only once.

**How to reproduce it (as minimally and precisely as possible)**:
First creating one `federatedTypeConfig` with e

[2021-03-16 12:24] mars1024 commented on #1375
/assign

[2021-03-16 12:25] mars1024 commented on #1375
Already figure out this root cause, will pull a request to fix this soon.

[2021-03-16 12:30] hectorj2f opened #1376 "Kubefed cluster should store the proxy URL to talk to clusters in DMZs"
**What would you like to be added**:

Kubefed clusters could require specifying a Proxy URL in addition to a CaBundle, therefore we should consider adding a ProxyURL field to the kubefed cluster object.

**Why is this needed**:

There are certain scenarios where a kubefed cluster can be behind a NAT gateway or DMZ. kubefed needs to be able to talk to these specific clusters using a proxy url. In a

[2021-03-16 15:04] #1284 closed

[2021-03-17 06:17] mars1024 commented on #1372
What do you mean by "reloading my edited vendor version"? I see the second gist contains the metrics what we expect.

[2021-03-17 14:08] tehlers320 commented on #1372
I have done
`go mod vendor`
and edited this line https://github.com/kubernetes/client-go/blob/master/util/workqueue/metrics.go#L217-L227 taking out the do.once to make this functional on `Reloading my edited vendor version (built locally):`

[2021-03-18 07:18] mars1024 commented on #1372
try to visualize the dependency tree between two metrics registers and kubefed,
[code]

Seems `k8s.io/component-base/metrics/prometheus/workqueue` has never been imported, a little puzzled :)
Still working on this...

[2021-03-18 07:54] mars1024 commented on #1372
check the three packages who have indirect dependency on `k8s.io/component-base/metrics/prometheus/workqueue`,
[code]

[2021-03-18 08:30] mars1024 commented on #1372
So, the two dependency paths below will have a race,
[code]

And the second metrics register（which we expect）will not work with the limitation of `doOnce`.

[2021-03-19 02:18] mars1024 commented on #1372
Thanks to @tehlers320 , I think this issue has been fixed, could you try again with the new version?

[2021-03-19 14:18] tehlers320 commented on #1372
@mars1024
Sorry this does not resolve the issue. I tried this earlier as well.

This is what i built off of https://github.com/ExpediaInc/kubefed/commits/tehlers/metrics_and_reconcile which is current master + the reconcile patch.

[2021-03-22 03:40] mars1024 commented on #1372
/reopen

[2021-03-22 04:10] mars1024 commented on #1372
:?
Could you help to use `depth` tool to analyze the dependency trees about metrics?

[2021-03-22 18:06] tehlers320 commented on #1372
@mars1024  i think i have it in this PR https://github.com/kubernetes-sigs/kubefed/pull/1386 if we can get our CLAs sorted out.

[2021-03-23 18:43] #1376 closed

[2021-03-24 09:24] #1369 closed

[2021-03-25 06:39] #1373 closed

[2021-03-28 23:06] #1258 closed

[2021-03-29 05:01] pacoxu commented on #1240
/remove-lifecycle stale

[2021-03-31 05:47] #1242 closed

[2021-04-01 06:41] yuswift commented on #1374
Does the `Type` field mean connection type or something else? I think we need to modify the field more clearly.

[2021-04-01 08:03] yuswift commented on #1358
@sagikazarmark
The latest controller-runtime version is v0.8.3. Should we upgrade to this version? If so, I'm willing to open a pr for this issue.

[2021-04-01 11:15] #1375 closed

[2021-04-01 11:16] sagikazarmark commented on #1358
Sure, why not. Not sure if the above linked PR is updated everywhere.

[2021-04-01 12:06] hectorj2f commented on #1358
@yuswift Sure, please do it :).

[2021-04-01 15:10] dfateyev opened #1390 "invalid kubefedctl version"
**What happened**:
Kubefedctl downloaded from the 0.7 release page reports 0.6.1 version.

`kubefedctl version: version.Info{Version:"v0.6.1-34-ge13973ce-dirty", GitCommit:"e13973ceaaba961a9abb6c7cb17a1d6a92c6eaf8", GitTreeState:"dirty", BuildDate:"2021-03-25T17:37:15Z", GoVersion:"go1.15.3", Compiler:"gc", Platform:"linux/amd64"}
`

**What you expected to happen**:
Updated binary which represents

[2021-04-01 15:15] hectorj2f commented on #1390
@dfateyev Let me check it, but I'll update the binaries. If I remember correctly, it is more of a tagging problem rather than a wrong downgraded version.

[2021-04-01 15:37] hectorj2f commented on #1390
@dfateyev It should be fixed now. Please, check it again.

[2021-04-01 15:43] dfateyev commented on #1390
@hectorj2f now the proper version is reported, thanks for the fix.
`kubefedctl version: version.Info{Version:"v0.7.0", GitCommit:"e13973ceaaba961a9abb6c7cb17a1d6a92c6eaf8", GitTreeState:"clean", BuildDate:"2021-04-01T15:30:57Z", GoVersion:"go1.15.3", Compiler:"gc", Platform:"linux/amd64"}
`