[2018-12-17 21:07] marun commented on #507
@kc004 I would also appreciate more detail of the method of installation.  I would also note that the
`https://github.com/kubernetes-sigs/federation-v2/releases/tag/v0.0.4` release is now available and encourage you to attempt deployment with that, as there have been considerable changes since `v0.0.3` and previous releases will fedv2 remains in alpha are not supportable.

[2018-12-17 21:16] marun commented on #495
@shashidharatd If the goal is ensuring at most one `Domain` per deployment, would it make sense to have the name of the resource be the domain so that uniqueness can be enforced by kubernetes?  Otherwise uniqueness validation would require the complexity of webhook validation that considered all the domain resources defined for a deployment.

[2018-12-17 21:38] marun opened #520 "Support jsonpath overrides"
Overrides are easy to specify for simple paths (e.g. `spec.replicas`), but overriding paths with an indexed field (e.g. `spec.template.spec.containers[0].image`) requires using a separate configmap or secret resource to work around the lack of indexing support in the path-based mechanism.  This suggests supporting json-patch directives:

[code]

It should be possible to supply both `clusterOverrid

[2018-12-17 22:00] marun commented on #513
If a user wants to remove federated resources from one or more member clusters, placement policy is the only way to reliably accomplish that goal.  It should not be the responsibility of `kubefed2` since it would involve considerable coordination with the scheduling and sync controllers that run in the federation control plane.

[2018-12-17 22:07] marun commented on #513
@magicwang-cn I can see the utility in adding a `--force` option to `kubefed2 join` that will remove existing resources  in the cluster targeted for join (rather than failing as it does today).    Is that  what you're suggesting?

To you questions:

 - A member cluster can belong to only a single cluster-scoped federation.  A member cluster can belong to as many namespace-scoped federations as it

[2018-12-17 22:10] marun commented on #161
This was fixed in https://github.com/kubernetes-sigs/testing_frameworks/pull/62, so updating the vendored version should fix.

[2018-12-18 01:06] magicwang-cn commented on #514
@marun yes, you are right. but there are still something need to do:
so the localdns should be deployed with federation configuration. but now, there has nowhere to do the configuration work. maybe we should consider somewhere to do the work? There are some aspects to consider：

who will do the configuration work, kubefed2, the specific controller or document to user itself to do the work. In my o

[2018-12-18 01:13] magicwang-cn commented on #513
@marun yes. another way, maybe `check` before `join` is more friendly to the developers.

[2018-12-18 02:01] magicwang-cn commented on #513
@marun what is the cluster-scoped federation, do you meaning the `--federation-namespace` with different values?("" for cluster-scoped and "xxx" for namespace-scoped).

[2018-12-18 02:04] gyliu513 commented on #513
@magicwang-cn please refer to https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#namespaced-federation for what is namespaced federation.

[2018-12-18 02:08] magicwang-cn commented on #513
@gyliu513 OK, tks. sorry, i did't see it before :(

[2018-12-18 05:33] #490 closed

[2018-12-18 06:17] gyliu513 commented on #383
@irfanurrehman @marun can you help close this issue as https://github.com/kubernetes-sigs/federation-v2/pull/503 and https://github.com/kubernetes-sigs/federation-v2/pull/521 already got merged.

[2018-12-18 14:29] andreypetruk opened #523 "need help with fed2"
Hi all,

was created two cluster GKE - cluster11, cluster12)  then on cluster12  was deployed fed2 using helm. and joined cluster12 and cluster11.

---
ame:         cluster11
Namespace:    federation-system
Labels:       <none>
Annotations:  <none>
API Version:  core.federation.k8s.io/v1alpha1
Kind:         FederatedCluster
Metadata:
  Creation Timestamp:  2018-12-18T13:42:38Z
  Generation:

[2018-12-18 17:20] #383 closed

[2018-12-18 18:33] marun commented on #523
@andreypetruk What version of Kubernetes are the GKE clusters?  And what release of federation -  v0.0.4?

[2018-12-18 21:01] tghartland opened #524 "Support restricting access to certain clusters"
For the CERN use case of running many different types of workload in a large federation of clusters, restricting access to certain classes of cluster does a few things for us (and lets us use a very simple placement to schedule everywhere else).

- Mainly it lets us reserve clusters with particular hardware for only workloads that require that hardware, i.e GPU clusters or for clusters with especi

[2018-12-19 02:30] gyliu513 commented on #523
@andreypetruk we actually have a document for how to run fed v2 on GKE at https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/environments/gke.md

FYI @danehans

[2018-12-19 14:14] andreypetruk commented on #523
@marun 1.11.5-gke.5, federation from helm
repository: quay.io/kubernetes-multicluster
  image: federation-v2
  tag: canary

[2018-12-19 14:16] andreypetruk commented on #523
@gyliu513 yep I know, my steps was mostly the same. I only use the latest version K8S from GKE

[2018-12-19 16:17] marun commented on #507
It looks like initialization of the primitive crds isn't yet complete when the controller is started, but become initialized eventually such that the  `Failed to list` errors are temporary.  Are you still seeing the clusters not become ready?

[2018-12-19 17:25] andrewmyhre opened #526 "Support federated clusters in separate namespaces"
In our use case we want to run 'fleets' of kubernetes clusters which would be owned by different groups which only have permissions to get / list / update / delete within their fleet. By creating federated cluster resources in separate namespaces in the federation cluster we could leverage RBAC to scope user access to different clusters.

Currently the federation controller is scoped to one namesp

[2018-12-19 18:58] font commented on #526
The federation controller by default supports running as one instance to monitor all namespaces. We tend to refer to this as a cluster-scoped deployment. The namespace-scoped deployment that you describe is the other supported mode.

Ah yes, that error is because custom resource definitions are cluster scoped. For namespace-scoped deployments i.e. with `limitedScope=true`, we should not fail if th

[2018-12-19 19:31] andrewmyhre commented on #526
Aha, so if I'm understanding correctly this model would work for me as-is if i dropped the `--limited-scope` argument. I'll try this. Thanks!

[2018-12-20 01:00] marun commented on #523
I don't think the last error you reported (`Failed to update status...`) is a problem, it just indicate that a status write will be retried.  I've proposed to downgrad it to a warning in #529.

[2018-12-20 20:53] andrewmyhre commented on #526
@font so I actually had to make a couple of changes to get this to work, which could be because I'm joining clusters incorrectly. The namespace where federated clusters are listed, watched and where statuses are updated are locked to the federated cluster namespace, which means if you add a federated cluster to any other namespace the controller will ignore them. The cluster secrets have the same

[2018-12-21 19:02] font commented on #526
@andrewmyhre Are you using `kubefed2 join` to join your clusters to the federation? If so, the `--federation-namespace` defaults to `federation-system` and currently needs to match the namespace that the federation controller manager is running in.

Is it important for you to use different namespaces to create federated clusters? Or are you able to use the same namespace as the controller manager?

[2018-12-21 20:57] marun commented on #526
@andrewmyhre Sourcing the clusters from a single namespaces ensures that a given cluster name can exist at most once for a given federation control plane.  Ensuring cluster name uniqueness is required to support placement via `clusterName`, as name collisions would result in unexpected behavior.

Your proposed change would also break namespaced (`--limited-scope=true`) deployment of the federation

[2018-12-21 21:20] #505 closed

[2018-12-26 06:26] tianzhuozhuo opened #535 "need healthcheck with federation-controller-manager"

[2018-12-27 07:41] xunpan commented on #477
[code]
From my point of view, "enable" is more suitable than "federate" in this case.
1. `enable` is opposite to `enable`. It is more general to a user. It is expected to `enable` resources after it is `disable`-ed
2. `kubefed2 enable` tells that federation (command name tells) enables resource/type.

[2018-12-28 10:07] xunpan opened #536 "test e2e case for Federated CRD resources failed in helm chart case because RBAC"
It only happens when federation is enabled by helm chart.
For deploy-federation.sh, it is fine.

In helm chart case, ClusterRole for controller has no access right to "example.com". However, federated CRD case need it.

I'm working on it.

[2018-12-29 05:55] gyliu513 commented on #526
@andrewmyhre would you please help check if the document here https://docs.google.com/document/d/1s_w3auALOt7U0Ifu6oCh4-NcF0JwDU8-SAAhtxOUQKc/edit?usp=sharing can satisfy your requirement?

[2018-12-29 07:14] xunpan commented on #536
It is actually an code error in PR #525.  federation-admin is not created in the scripts. Fixed.

[2018-12-29 07:14] #536 closed

[2018-12-29 08:54] xunpan opened #538 "federation finalizer is tagged to kubernetes namespace"
After federation is deleted from cluster, the host cluster namespace still tagged by federation finalizer.
[code]

[2019-01-02 13:16] marun commented on #538
I appreciate your filing this issue. The strategy of always applying finalizers to resources is a legacy of fedv1, and potentially harmful for fedv2.  It may be preferable to avoid applying a finalizer to a resource unless resources are expected to exist in member clusters (i.e. remove a finalizer if no clusters are selected and resources have been confirmed to have been removed from all member cl

[2019-01-02 13:36] marun commented on #477
@xunpan I think your reasoning follows my initial reasoning when the only thing `enable` did was enable federation of a type.  I'm not sure `enable` makes sense for 'federating this resource' or 'federating this namespace' though - it's just not descriptive enough.

[2019-01-02 14:46] marun commented on #208
I think the next steps for this issue are:

 - Replacing all calls to the generated clients with equivalent calls to the `controller-runtime` generic client
 - Removing the generated clients (and the `+genclient` annotation on the types to prevent regeneration)

Here is an example of a call to a generated client:

[code]

Here is an equivalent call with the generic client:

[code]

[2019-01-02 15:14] andrewmyhre commented on #526
@marun

That's partly it, yes. I'll provide some background..

I work in a large organization (financial, process driven, tight access controls etc) where Kubernetes is quickly becoming a common capability. Currently there are hundreds of AWS accounts scoped for various lines of business and areas within those LOBs. Hundreds of teams are looking to start using Kubernetes clusters and they're sprin

[2019-01-02 16:15] marun commented on #526
@andrewmyhre It is possible to control access to a specific set of resources via RBAC:

https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources

It should be possible, then, to create an RBAC role defining the subset of federated clusters (defined centrally in the federation system namespace) that a given operator should have access to. In combination with the previous

[2019-01-02 16:20] marun commented on #524
I apologize for taking so long to respond to this, I've been away.  I appreciate your taking the time to document your use case, and I think I have a better grasp of your motivation for #515.

- I think it unfortunate that `kubectl taint` is restricted to targeting nodes, since the logic would seem to readily apply to a `FederatedCluster` that has the same `Taints` field.

- I think you're correct

[2019-01-02 21:11] marun commented on #535
@tianzhuozhuo A health-check is certainly suggested as fedv2 becomes something that needs to be supported, but we're still in alpha now and there is lots of other work still to do.  Would you be willing to document your reasons for filing this issue so there are rationale justifying prioritization?

[2019-01-04 21:10] #386 closed

[2019-01-07 02:14] xunpan opened #543 "add test case for stopping scheduler/plugins"
**What would you like to be added**:
test case for stopping scheduler. It is the following up action for PR#533

**Why is this needed**:
the new code should be covered by test

/kind feature

[2019-01-07 10:43] tghartland commented on #524
For your proposal in that comment, I think it would technically work but is really suited to only a single parameter i.e separating based on ownership of clusters as suggested there. With each created resource being limited to a single namespace, for arbitrary combinations of multiple parameters the number of namespaces required would be too many to find concise names for and keep track of.

I als

[2019-01-07 15:59] marun commented on #524
@tghartland I should clarify that my pointer to #526 was more to raise the possibility of defining authz permissions for clusters such that users would have to be authorized to propagate to a given cluster.  I agree that namespaces as the mechanism for association is not in keeping with what you're trying to do.

[2019-01-10 08:02] magicwang-cn commented on #489
other issue is that when Domain is changed, the `dnsendpoint` is also not changed correctly.

[2019-01-11 22:05] senyan opened #546 "Support for partial override (variable substitutes) for CRD attributes"
**What would you like to be added**:
Support for partial override for CRD attribute
**Why is this needed**:
for example if I have a federated deployment with an multi-cloud environment, we would like to use the docker registry of that local cloud with different url, it would be nice to be able to do
image: ``<registry>``/app1:v1

where ``<registry> `` is a variable and being override while deploy

[2019-01-12 19:06] marun commented on #546
Overrides already allow per-cluster variation, just at the field level.  For the use case you describe the entire image name would have to be provided for each cluster.  Do you think the complexity of defining variables and a substitution mechanism are justified for such a use case, or is this use case  a trivial example of something more involved?

[2019-01-12 19:38] senyan commented on #546
I realized the fed-v2 already allow change the whole value with Json path which is useful. But I would not feel this is a trivial example, especially for people continuously roll out applications. For a fast pace team, I want to deploy and roll out dozens times a day. ``image`` version is the most frequent changed variables of the deployment. This use case is probably the biggest use case for serv

[2019-01-14 14:47] senyan commented on #546
@marun Please let me know if this a good thing to add in your mind. I can code the initial POC. Long run, I think this is a bigger multi-cluster (or cloud) ``workflow`` type of deal.

[2019-01-16 16:33] senyan commented on #546
@marun
I wouldn't fight hard for this solution (substitute by variable/regex), as I feel it is hacky as well, but wanna raise the issue that some capability of adding ``transformation`` logic is needed while the federation control plane propagate the kube object to federated clusters.

The exists of ``ClusterOverrides `` seems having the intent of solving this problem. But it has been insufficient

[2019-01-16 16:40] senyan commented on #520
support of jsonPatches would be a great step forward. In addition, I would feel if we could get more ``transformation`` logic would be even better while propagate to federated clusters. Please see [here](https://github.com/kubernetes-sigs/federation-v2/issues/546).

[2019-01-16 16:40] senyan commented on #520
support of jsonPatches would be a great step forward. In addition, I would feel if we could get more ``transformation`` logic would be even better while propagate to federated clusters. Please see [here](https://github.com/kubernetes-sigs/federation-v2/issues/546).

[2019-01-17 02:59] xunpan commented on #489
@magicwang-cn It cannot reproduce your issue.

When `Domain` is changed, the `dnsendpoint` is updated accordingly in my environment. In this case, even `dnsendpoint` was deleted before the change. It will be created again.

If it can reproduce in your environment, please more show details.

[2019-01-17 03:04] magicwang-cn commented on #489
@xunpan see this: https://github.com/kubernetes-sigs/federation-v2/issues/489#issuecomment-445268251

does the new version fix this issue?

[2019-01-17 06:50] poothia commented on #535
I would like to explore this and work on this.

[2019-01-17 10:30] marun commented on #381
@poothia Were you going to follow up on this?

[2019-01-17 11:13] marun commented on #546
The current API of fedv2 is intended to be low-level and not necessarily user-facing - it's intended to drive controllers.  The integration point for higher-level functionality is intended to be the API rather than adding an explicit plugin mechanism to the controller manager.  Higher-level functionality could be implemented as webhooks on the federation api types, or as new API types that could b

[2019-01-17 14:38] #538 closed

[2019-01-17 14:50] senyan commented on #546
To be very direct, ``The current API of fedv2 is intended to be low-level and not necessarily user-facing`` this is a bit drop expectation on my stand point.  I understand it will drive controllers, and I am expecting the ``controller`` will do a ``transformation`` based on my specification or logic.

I know there are other cicd tools could do  the job, but that defeats the purpose of fedv2 in my

[2019-01-18 01:30] xunpan commented on #489
@magicwang-cn
You mentioned 2 issues in this ticket here:
1. remove dnsendpoint
   it is not created automatically without any operation. Yes. I reproduced it before. As I append in comments before.

2. Domain is changed but dnsendpoint is not changed
   I cannot reproduce this issue. And you just show no information for details.

[2019-01-18 08:54] braceinhz opened #549 "resource in joined cluster will be deleted if federatedresource is created with the same name"
**What would you like to be added**: I create a deployment named nginx in joined cluster,then create a nginx federateddeployment in the kubernetes federation, the old nginx deployment will be deleted ,with nginx federateddeployment create new one.

**Why is this needed**:This will causing business disruption

/kind feature

[2019-01-21 12:04] fabxc opened #550 "Generated CRDs prone to name collisions"
When enabling a resource of <kind> for federation, several CRDs are created:

* `federated<kind>.primitives.federation.k8s.io`
* `federated<kind>overrides.primitives.federation.k8s.io`
* `federated<kind>placements.primitives.federation.k8s.io`

This disregards the API group that namespaces the kind. Thus it's not possible to federate two distinct resources with the same kind name.

While this seem

[2019-01-21 17:21] marun commented on #550
The negative consequence of kind name clashes is having to specify the api group with every invocation of `kubectl`.   I think this is sufficient disincentive for duplicate kind names even in different api groups.  For those cases where someone has ignored this problem (to the obvious detriment of their users), `kubefed2 federate` supports specifying `--primitive-group`.  I think that is a prefera

[2019-01-22 07:56] xunpan commented on #549
This seems a case that a resource created in member cluster has same name within same namespace for a federation propagated resource. It shows 2 ways to create a resource which have conflict.

To make federation only manages its own resource, federation needs to identify all federation propagated resources in each member cluster. Only propagated resources need to be deleted when the federated reso

[2019-01-23 06:33] xunpan opened #557 "Install multiple namespaced fedeartion is failed"
**What happened**:
1. When second namespaced federation is deployed by deployment script. The operation is failed.

[code]

2. When skip federate step in the script and manually join cluster. It still failed in
[code]
The reason is that our health check uses cluster role.

**What you expected to happen**:
Namespaced federation shold deployed for multiple instances.

**How to reproduce it (as minim

[2019-01-23 07:13] gyliu513 commented on #557
@xunpan for second error, I think we do not support adding one cluster to multiple federation controllers, each cluster can only join one federation controller.

The first one is indeed an issue, not only for install but also for delete, as delete will delete all of the CRDs as well, and this will cause other federation controllers does not work.

[2019-01-23 07:49] xunpan commented on #557
As we support namespaced federation, I think we should support one cluster in multiple namespaced federation. @marun

@font what is the reason to create service account (which bind to healthcheck role), e.g. cluster1-cluster1.
[code]
It is created by `join` and deleted by `unjoin`. I did not see any controller or place to use it. Is there something I lost?

[2019-01-23 07:50] gyliu513 commented on #557
FYI @marun @shashidharatd @irfanurrehman @pmorie

[2019-01-23 08:11] gyliu513 commented on #557
An option is we can move the CRDs out and make a separate chart for CRDs, then use a flag `crds.enabled` to control install CRD or not, let me get some comments from helm chart community first at https://github.com/helm/helm/issues/5201

@xunpan I think the deploy in multiple namespaces should succeed when install federation with scripts, but if you delete one federation controller from the cluste

[2019-01-23 09:04] xunpan commented on #557
I guess I understand the reason.
This SA creates a secret on member cluster. Joining operation creates a secret on host cluster with the data of member cluster secret.
This secret will be used for federatedcluster controller to detect member cluster status.

[2019-01-23 13:08] marun commented on #557
The health check is necessarily a cluster-scoped role.  The name of the cluster-scoped role for a namespaced deployment should reflect the namespace that federation is deployed to so that multiple deployments do not clash (or share a common cluster role).

[2019-01-23 13:20] marun commented on #549
@xunpan I don't think it is desirable for fedv2 to 'only manage its own resources', at least not explicitly.   A user or administrator can always implement a permission scheme to achieve custom behavior as you're describing, but I don't think the community should be responsible for supporting those schemes.  Otherwise the complexity of federation will be unbounded.

[2019-01-24 11:12] gyliu513 commented on #557
@xunpan @marun the CRD can be checked as follows after some discussion with helm community:

[code]

[2019-01-24 21:24] marun commented on #557
@gyliu513 Thank you for investigating.  I'm assuming helm's current ability to detect cluster capabilities predates CRDs being a thing, because an apiversion being present is a very weak guarantee that a crd will be present.  Does helm have the equivalent of `kubectl apply` so that application of yaml would be idempotent?

[2019-01-25 02:07] gyliu513 commented on #557
@marun I think helm do not want to have `kubectl apply` feature, as for this case, the install will be succeed if we install multiple times, but for delete, one delete will delete all resources, and other helm releases will not have the deleted resources any more, this may cause the other helm releases will not work.

So for now, how about use the solution to add a `enabled` parameter to do the ch

[2019-01-25 14:44] marun commented on #557
@gyliu513 Yes, the enabled parameter is fine for now.   In the future, I would expect to want to transition to a tool with better support for what we're trying to do (maybe an operator?) if helm continues to lag behind the kube state-of-the-art.

[2019-01-29 09:19] llarsson opened #565 "User guide shoud state implicit GOPATH dependency"
**What happened**:

Trying to run through the User Guide from some other directory than `${GOPATH}/src/github.com/kubernetes-sigs/federation-v2` fails while downloading binaries and cannot build federation using scripts.

Making sure to clone to the `${GOPATH}/src/github.com/kubernetes-sigs/federation-v2` directory works as intended.

**What you expected to happen**:

Since nothing was stated abou

[2019-01-30 20:12] marun opened #567 "Teardown timeout causes CI failures"
#545 switched finalization for federated namespaces to the placement resources instead of the namespaces.  Since it merged, CI jobs have started timing out when attempting to teardown a test federation.  The likely cause is a race between namespace deletion and controller shutdown, such that if controllers are shut down before federated resources are marked for deletion and finalized, the containi

[2019-02-04 00:33] lyxsus opened #570 "A way to prevent controller from overwriting certain fields"
**What would you like to be added**:
I would like to have a way to define a list of fields for resource that if they're updated on some cluster won't trigger federation controller to sync and overwrite them.

**Why is this needed**:
I want to specify, which clusters contain my deployment and I want local versions of HPA to scale them based on local usage.

I have federated Deployment an federated

[2019-02-06 11:15] mvazquezc opened #573 "Stack overflow while trying to federate CustomResourceDefinition"
**What happened**:

When trying to federate the type CustomResourceDefinition, `kubefed2` tool crashes.

**What you expected to happen**:

CustomResourceDefinition federated types are created.

**How to reproduce it (as minimally and precisely as possible)**:

1. git clone this repo
2. git checkout tags/v0.0.4
3. make kubefed2
4. deploy federation
5. kubefed2 federate enable CustomResourceDefiniti

[2019-02-06 11:40] marun commented on #573
This should have been fixed by https://github.com/kubernetes-sigs/federation-v2/pull/470, will need to see why the bug resurfaced.

[2019-02-06 11:44] mvazquezc commented on #573
This would explain why this is not happening with newer versions of kubefed2.

The v0.0.4 release dates from Dec 10, and the PR you just mentioned dates from Dec 11.

When are you planning to tag a new release?

Thanks,

[2019-02-06 11:46] marun commented on #573
Likely once the unification PR is merged?

[2019-02-06 11:49] mvazquezc commented on #573
Sounds good to me. We will use a newer kubefed2 version in the meanwhile. Thanks for the clarification. I guess the issue could be closed.

[2019-02-06 20:24] andersjanmyr opened #574 "Jobs are not updated when federated jobs are changed (and status does not show this)"
**What happened**:
When a I update a `FederatedJob`, it tries to update the managed Jobs, but since Jobs are immutable, the update fails silently.

**What you expected to happen**:
I expected one of three things.
1. The error is propagated back to the `FederatedJob` Status and Events.
2. Or, instead of updating the `Job` it would be replaced (deleted, then created).
3. Or, the `FederatedJob` could

[2019-02-07 01:32] marun commented on #573
Ok, thank you!

[2019-02-07 01:32] #573 closed

[2019-02-07 01:45] marun commented on #574
Thank you for your detailed report!

#44 describes the same concern related to overrides, but as you point out the same problem can result from an update to immutable fields in the template.

The error is not silent - it is logged to the controller log - but I agree that it should be surfaced more effectively.

As to how to resolve the underlying problem of immutability, the propagation controller

[2019-02-07 12:21] poothia opened #575 "Skip Travis build for doc-only changes"
The Travis CI build is triggered regardless of changes made in the PR, Which is not a desirable outcome in case of doc-only changes.

There is an open Issue in travis CI (https://github.com/travis-ci/travis-ci/issues/6301) for the same, but as it's not being followed up, other repos have implemented it on their side.

Ref:
https://github.com/facebook/react/issues/1768
https://github.com/serverless

[2019-02-07 12:23] poothia commented on #575
if this is a desireable change, i would like to work on it.

[2019-02-07 17:15] pmorie opened #577 "kubefed2 join does not work correctly with some kubectl context names for the hosting cluster"
**What happened**:

I used `kubefed2 join` with a cluster whose kubectl context contained a slash (`default/pmorie-dev-api-devcluster-openshift-com:6443/kube:admin`), which is a perfectly valid kubectl context name. However, the name of the kubectl context for the host cluster is used to construct the names of resources, which will yield invalid resource names in cases like this where the name of

[2019-02-07 23:11] csrwng opened #579 "Support federating resources to a different/mapped namespace"
**What would you like to be added**:
Allow annotating a namespace such that its contents federate to a different target namespace

**Why is this needed**:
In the use case of Openshift Hive we are planning to distribute system configuration to our target clusters using Federation. End users of Hive will create templates/placement resources in the Hive cluster that we will then federate to clusters

[2019-02-07 23:17] csrwng opened #580 "Watch FederatedClusters and cluster-registry Clusters in any namespace"
**What would you like to be added**:
Allow the federation controllers to watch/update FederatedClusters in any namespace and not just a single Federation namespace. Similarly allow cluster registry resources to live in any namespace and not just a single designated cluster registry namespace.

**Why is this needed**:
Just as FederatedClusters in Federation v2, OpenShift Hive's ClusterDeployment re

[2019-02-07 23:21] csrwng commented on #580
/cc @pmorie

[2019-02-07 23:21] csrwng commented on #579
/cc @pmorie

[2019-02-08 01:48] marun commented on #579
A foundational tenant of fedv2 is the 1:1 mapping of federated resources to their non-federated equivalents.  The implementation you are proposing would violate that tenant.  I encourage you to formulate the use case you are trying to address cleanly, without a specific implementation in mind.  I think that would make it more likely that a solution could be found that respected the 1:1 mapping.

[2019-02-08 01:57] marun commented on #580
This issue appears similar to #526.  As per commentary on that issue, federated clusters are currently in a single namespace to ensure that a cluster name referenced in a placement directive can be unambiguous.  If federated clusters were allowed to exist in multiple namespaces, it would be necessary to implement a way to either maintain that characteristic (e.g. webhook validation ensuring system

[2019-02-08 02:00] marun commented on #580
It should be possible to allow clusters to be defined in any namespace by ensuring references to those federated clusters are namespace-qualified.

[2019-02-08 13:24] marun commented on #575
@poothia What is required to implement this feature?

[2019-02-08 15:38] csrwng commented on #579
Our use case  is that we have a central cluster that multiple users will use to create and manage their own clusters. Managing those clusters includes distributing configuration resources to them (mainly 4.0 operator configs). These configs live in usually privileged namespaces of the target clusters. Ideally, we would like the users of the central cluster to not have access to those same namespac

[2019-02-08 16:19] pmorie commented on #579
I talked with @csrwng offline about this and we're going to explore addressing this with RBAC instead of a feature request; will comment with the outcome of that exploration later.

[2019-02-08 21:01] jewzaam opened #581 "Support selector-based overrides"
**What would you like to be added**:
Ability to define a `clusterSelector` on all Federated<Type>Override objects.

**Why is this needed**:
We plan to manage many clusters with Hive + Federation.  Rollout of changes is expected to be managed by groups of clusters, such as dev, test, stage, production though I expect it to be more varied.  In order to do this, it looks like overrides are a good opt

[2019-02-09 23:24] andersjanmyr commented on #574
I believe solution 1 could be generically implemented. When the error is logged it could also be added as an event on the `Federated<resource>`. It should possibly also change the status.
I can take a look and see how this could be implemented if it's interesting.

[2019-02-10 04:02] poothia commented on #575
@marun i think adding a check in `travis.yml` to check if only changed files are `.md` files then it should exit without making the whole build should be enough. if you say so, i can update a WIP PR to see the same.

[2019-02-10 10:48] matti commented on #565
well, I also stumbled in to this - I wouldn't clone the repo, but helm install failed with

[code]

[2019-02-10 14:34] matti opened #582 "bin/kubefed2 is downloaded by ./scripts/deploy-federation-latest.sh"
scripts/download-binaries.sh downloads other stuff than bin/kubefed2 - this is confusing, not necessarily "a bug"

[2019-02-10 15:01] matti commented on #582
okay, so it's not downloaded, but compiled. docs could be cleared about this.

[2019-02-10 17:20] matti opened #583 "method to delete deployed resources on unjoin"
**What would you like to be added**:
remove deployments on unjoin

**Why is this needed**:
currently when a cluster is unjoined, all deployments/pods remain running

/kind feature

[2019-02-10 17:21] #582 closed

[2019-02-11 07:57] xunpan commented on #583
There has similar discussion in ticket #513

unjoin operation is just opposite operation to join. It is not designed for clean resources created by federated resources, e.g. federateddeployment in your case, in member clusters.

Comments https://github.com/kubernetes-sigs/federation-v2/issues/513#issuecomment-448016763 describes the detailed reason.

[2019-02-11 08:08] xunpan commented on #581
This case makes sense to me. We've already had clusterSelector in placement. It should be useful to make it in override in similar way.

@marun any comments?

[2019-02-11 08:37] marun commented on #565
@matti That error message indicates that installation had already been attemped on the target cluster.  Attempting re-installation will fail because the crds have already been installed.

[2019-02-11 08:38] marun commented on #575
@poothia If that's the case, then please go ahead.  It wasn't clear to me from the provided links that direct travis support was available.

[2019-02-11 08:43] marun commented on #574
Please go ahead with proposing to add an event to federated resources on propagation failure.  This is something half-heartedly supported today, and could definitely stand improvement.  I'm less convinced of the value of recording errors in status, especially since the same sync controller processes all types and some types are going to commonly report transient propagation failures due to control

[2019-02-11 10:21] matti commented on #583
understood - but how can I know in the unjoined cluster that it has unjoined?

[2019-02-11 10:24] marun commented on #583
There is no definitive way for a member cluster to know whether it has been unjoined from a federation.  As per the linked comment, removal of federated resources from member clusters prior to unjoin would need to be effected by placement changes.

[2019-02-11 10:44] matti commented on #583
I think it should be possible to:

create an operator in the member cluster that notices that it has been unjoined and then it will destroy all the resources.

reason: the unjoin may be issued by another admin who no-longer wishes to see the cluster in the federation - I think it's not right that the another admin goes in to the member cluster and deletes everything from it.

[2019-02-11 10:52] marun commented on #583
An operator as you've described does not make sense to me.  Fedv2 with push propagation is not intended to be used in a scenario where close coordination between admins isn't the rule.  Anyone with admin privileges to the federation control plane has defacto control over configuration in member clusters, including right of deletion.  I don't understand the value in supporting the removal of that c

[2019-02-11 11:03] matti opened #585 "a cluster should know if it has been joined or not"
**What would you like to be added**:
A way to know if cluster is joined or not.

I could not find any way to determine this - a namespace "kube-multicluster-public" is created in the cluster, but it is not deleted when the cluster has been unjoined.

**Why is this needed**:

To support scenarios where something needs to be done in cluster unjoin - for example clean up deployments as described in #

[2019-02-11 11:04] matti commented on #583
okay, since what I want to do "does not make sense", I'm gonna close this in favour of a smaller subset in #585 so that I can do what I think that makes sense to me.

[2019-02-11 11:04] #583 closed

[2019-02-11 11:05] marun commented on #585
As per commentary in #583, the federated control plane is the source of truth as to whether a cluster is joined or not, and cleanup of federated resources is the responsibility of the federated control plane.  I don't think this issue has sufficient details that would justify a mechanism for determining whether a cluster was a member of a federation separate from the federation control plane.

[2019-02-11 11:14] matti commented on #585
In my topology the member cluster has no access to the federated control plane - the control plane is not deployed in the member cluster.

So therefore I want to build a cleanup mechanism that starts when the cluster has been unjoined.

I don't think this is unreasonable request as the member cluster already knows that it has been joined OR it has been member (because the namespace is not deleted)

[2019-02-11 11:29] marun commented on #585
My point is that the place for cleanup to be initiated from is the federation control plane, which would be expected to have access to the member cluster.  Any other solution would require that federation annotate every resource that it propogates to (or adopts in a) member cluster, and I don't think the bar for making that kind of sweeping change has been reached yet.

Cleanup initiated via the f

[2019-02-11 16:06] matti commented on #585
I'm already annotating my resources, it's not a big thing to do.

This is how I deploy currently:
[code]

So every cluster ever joined gets replicas, but my "main" cluster does not (this is where I run federation control plane)

I have to delete resources after I issue the unjoin command and this gets interrupted, then resources are left running.

*but* if the cluster which has been unjoined is re

[2019-02-11 16:23] marun commented on #585
I encourage you to use the removal (or a change to the 'Terminating' phase) of the federation namespace (`federation-system` by default) in a member cluster as your signal that cleanup should commence.  I don't see there being a need to signal unjoin more than that, as from what I'm reading  your use case (and proposed solution) is very specific and not something that would apply generally to all

[2019-02-11 16:37] matti commented on #565
@marun yeah I figured that out later when I actually understood what was happening.

[2019-02-11 18:16] marun commented on #479
Given recent conversations about scalability concerns, I'm less sure that it makes sense to store propagated version in federated resources rather than separately.  Keeping them separate ensures that the version accounting doesn't have to compete for etcd object space with the definition of a federated resource for large numbers of clusters.

[2019-02-11 18:17] marun commented on #570
@lyxsus I'm going to implement a workaround for HPA in advance of a more general-purpose solution.

[2019-02-11 18:35] jewzaam commented on #581
I've been trying out overlaps with the existing mechanism and cannot figure out how it's reported as an error yet.  I see in the source it should report that the `clusterName` "appears more than once" but when I test this with duplicate overrides for a configMap there's no reference in anything I can think to check.  I'm looking in federation-controller-manager logs and the following CRs:  Federat

[2019-02-11 18:41] marun commented on #581
I think it's preferable to minimize the potential for errors in the default case.  Bulking up the core API to support every use case is not desirable - it's easy to add and hard to take away.  I consider your use case as a nice-to-have and something that can be implemented on top of the existing API rather than as part of it.  If in the future it becomes clear that it is an essential feature used

[2019-02-11 18:51] marun commented on #581
To be clear, `clusterNames` may contain duplicate cluster names but if that happens the resolution should really be to ignore the duplicate names rather than raising an error.  The same easy path to resolution is not possible for competing overrides and would require an error.  That seems like a footgun to me, and I'd rather see that behavior delivered as an optional add-on until it is proven othe

[2019-02-11 18:52] matti commented on #585
Hmm, okay - that might work - thanks for the tip.

[2019-02-11 22:03] jewzaam commented on #581
Fair point on detection up front being impossible with a selector.  It's a mutable state.

I observed that duplicate cluster name would cause a silent failure.  I'll create a separate issue for that.

On resolution being easy, how can you know which version of the override is desired in either case?  Is there a generally approved pattern for which to ignore?  I could see it being a problem either

[2019-02-11 22:33] jewzaam opened #588 "Federation of placement stops when clusterName duplicated in override"
**What happened**:
Created a FedreatedConfigMap, FederatedConfigMapPlacement, and FederatedConfigMapOverride.  Initial override settings had unique `clusterName` values listed.  I updated it to include a duplicate `clusterName` and the change was not federated.  Subsequent updates to the config map are not federated either.  I was unable to find an error in the federation-controller-manager log.

[2019-02-12 06:53] marun opened #589 "Helm sync script doesn't build kubefed2"
**What happened**:

Running `./scripts/sync-up-helm-chart.sh` did not update the helm chart after changes that affected the generation of federated type crds.

**What you expected to happen**:

`./scripts/sync-up-helm-chart.sh` to synchronize the state of the chart with the state of the code by building `kubefed2` before attempting to generate federated type yaml.

**How to reproduce it (as minima

[2019-02-12 09:20] gyliu513 commented on #589
@marun `./scripts/sync-up-helm-chart.sh` was not rebuilding `kubefed2` as this script was only called by `./scripts/pre-commit.sh`, and `./scripts/pre-commit.sh` do have the logic to rebuild `kubefed2`. So if you run `./scripts/pre-commit.sh`, you should get the latest helm chart. But here I'm +1 with you, we should update `./scripts/sync-up-helm-chart.sh` to build the latest `kubefed2` as well to

[2019-02-12 16:13] matti opened #591 "federateddeployment delete is stuck waiting for a missing cluster"
**What happened**:
- Deployed a FederatedDeployment to clusters c1,c2,c3
- Removed cluster c1
- kubectl delete federateddeployment nginx
[code]
- `kubectl get cluster -n kube-multicluster-public` lists c2,c3
-  `kubectl delete federateddeployment nginx --force --grace-period 0` does not work, command is stuck.

**Environment**:
- Kubernetes version (use `kubectl version`)
client: v1.12.1
server: v

[2019-02-12 16:22] matti commented on #591
okay, so cluster is still present in `federatedclusters`, but I still think that `--force --grace-period 0` should work?

[2019-02-12 16:26] matti opened #592 "kubefed2 unjoin --force"
**What would you like to be added**:
`kubefed2 unjoin --force clusterthatnolongerexists`

**Why is this needed**:
Currently a cluster that does not exist cluster config can not be unjoined.

/kind feature

[2019-02-12 16:32] matti commented on #591
after:
[code]
the federateddeployment disappeard.

opened #592

[2019-02-12 17:28] marun commented on #589
@gyliu513 I think we're in agreement that the script should ensure kubefed is built to simplify the life of developers updating the chart outside of the ci script.  A local go build is super cheap - it can detect that nothing has changed - but maybe the docker build performed by the makefile suggests the sync script accept a `BUILD_KUBEFED` flag that defaults to `y` and can be passed as empty when

[2019-02-12 17:58] cwilkers commented on #592
What is your kubefed2 version? Unjoin has a --force option in 0.0.4 (possibly 0.0.3 as well, I haven't looked when it was added...)

[2019-02-12 18:06] matti commented on #592
Strange, I just checked using master and force was missing

[2019-02-12 18:12] cwilkers opened #593 "Kubefed2 unjoin of cluster hosting control plane deletes federation control plane"
**What happened**:
I was attempting to restore a previously installed control plane on a new cluster (minishift) for disaster recovery testing. Certificates did not match, so I attempted to unjoin/rejoin the host cluster to reestablish control, but the unjoin removed the federation-system namespace, thus deleting the federation-controller-manager-0 deployment config and all cluster definitions.

*

[2019-02-12 18:15] cwilkers commented on #592
I recently ran into the same problem, I'd updated the federation-v2 repo, but had an old (alpha 0.0.1) version of kubefed2 in my ~/bin

Try `kubefed2 version` to check.

[2019-02-12 18:35] matti commented on #592
Hmm, actually my scripts compile it every time - I don't have it in any "bin"

https://github.com/kubernetes-sigs/federation-v2/issues/582

have to recheck

[2019-02-12 18:36] matti commented on #593
if the namespace is removed, I can not rely on it here: https://github.com/kubernetes-sigs/federation-v2/issues/585#issuecomment-462391765

[2019-02-12 19:34] cwilkers commented on #593
This may be a case for establishing a best practice of not adding the host cluster to its own federation.

[2019-02-12 21:13] marun commented on #593
@cwilkers It's perfectly valid to add a host cluster to its own federation.  `unjoin` should be detecting that the federation namespace is in the host cluster and skipping deletion.

[2019-02-12 21:48] marun commented on #593
@cwilkers Given that context names are necessarily unique in a kube config, what were the values for the host and unjoining cluster contexts for the unjoin invocation that removed the federation namespace from the host cluster?

[2019-02-13 00:18] marun commented on #592
@matti `--force` is indeed an option to unjoin and has been for some time.  Please close this issue once you've verified this for yourself.

[2019-02-13 00:27] marun commented on #591
This is not a bug, it is a feature (though it does likely indicate a gap in the documentation).  The sync controller adds a finalizer to all federated resources the first time it reconciles them, and that finalizer is only removed once it is confirmed that the target resource does not exist on all registered clusters (and confirmation is only possible for reachable clusters).  This is to ensure th

[2019-02-13 00:33] marun commented on #588
@jewzaam Have you checked the event log for the federated resource?  The code indicates that an event is logged if an error occurs in determining cluster operations (which is where the overrides handling is called from):

https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/sync/controller.go#L308

[2019-02-13 00:41] marun commented on #581
@jewzaam Currently crd validation requires deploying webhooks, and we've avoided implementing one to handle things like override validation just yet because of the complexity of cert handling.  I'm expecting, though, that webhook deployment is going to become easy at some point and then we can validate duplicates in overrides on creation/updates of a federated type.

[2019-02-13 01:13] cwilkers commented on #593
@marun I did not specify the context for either cluster, they are both renamed to match the cluster name, in this case cluster1. Does the comparison code have access to the default context name of "cluster name" if left unspecified?

[2019-02-13 01:44] marun commented on #593
@cwilkers It appears that the host cluster context is defaulted to `""` and this value is never converted to an explicit name (the config library will presumably determine the active context in the kubeconfig file).  I'm undecided as to whether it makes more sense to lookup the context name or compare the identity of federated namespaces to decide whether removal is warranted.

[2019-02-13 02:00] cwilkers commented on #593
Unless there is another use for knowing the host cluster context during unjoin, I vote for comparing namespace identities -- I would expect fewer side effects.

[2019-02-13 02:49] gyliu513 commented on #592
@matti please refer to https://github.com/kubernetes-sigs/federation-v2/issues/188 and https://github.com/kubernetes-sigs/federation-v2/pull/431 for detail.

[2019-02-13 03:14] xunpan commented on #592
`--force` cannot handle if a member cluster context does not exists or the member cluster cannot be accessed.

This is not good to me because we cannot sure if there has any admin operations break a member cluster assumptions in these ways.

@marun @gyliu513

[2019-02-13 03:30] gyliu513 commented on #593
@marun @cwilkers I was bit confused, do we need to support the command like this `kubefed2 unjoin --force clusterthatnolongerexists`? I think we need at least specify host cluster `host-cluster-context`, am I missing anything?

FYI @xunpan

[2019-02-13 05:25] gyliu513 commented on #588
@jewzaam some tips for how to troubleshoot this case: https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#troubleshooting

[2019-02-13 07:06] matti commented on #591
Agree, but shouldn't force delete work?

[2019-02-13 16:35] cwilkers commented on #593
@gyliu513 The documentation says the host-cluster-context is optional and the default is current-context:

[code]

The current thread does not deal with --force. You might be thinking about #592

[2019-02-13 17:21] marun commented on #591
@matti As per the documentation on finalizers, kubernetes only removes an object if its list of finalizers is empty:

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers

To clear finalizers manually:

[code]

I encourage extreme caution in removing finalizers manually.   Kubernetes controllers use finalizers to ensure resource cleanup on

[2019-02-13 17:25] marun commented on #592
@xunpan I think you're correct that `unjoin --force` should be able to remove all trace of a member cluster from the host cluster even in the absence of the member cluster context.  The code at present will fail as soon as the cluster config can't be retrieved, which is not ideal.  `--force` should likely ignore that error.

[2019-02-13 18:20] jewzaam commented on #588
@marun @gyliu513  thanks, I can see a warning in the FederatedConfigMap events.

[code]

Given the impact, probably should be an Error?  Either way, good to know where to look.

[2019-02-14 01:57] gyliu513 commented on #588
@marun it seems k8s do not have `EventTypeError` yet https://github.com/kubernetes-sigs/federation-v2/blob/master/vendor/k8s.io/api/core/v1/types.go#L4529-L4535 , shall we fix this in Kubernetes first?

[2019-02-14 03:21] gyliu513 commented on #593
@cwilkers Yes, I think this is a small bug, as if `host-cluster-context` was not specified, then the service account will not be found and the cluster unjoin will be failed. I think we may need to update the CLI to make `HostClusterContext` as must have option. @marun comments?

[code]

[2019-02-14 03:24] marun commented on #593
@gyliu513 `--host-cluster-context` is only required if the currently active context is not the host context.

[2019-02-14 03:29] gyliu513 commented on #593
@marun thanks, yes, I see, then I think the current help info is good enough for end user.

[code]

[2019-02-14 05:45] #593 closed

[2019-02-14 18:00] marun commented on #550
I think the ability to override the group of the generated CRD renders this bug invalid.  Feel free to reopen if you disagree.

[2019-02-14 18:00] #550 closed

[2019-02-14 18:01] marun commented on #585
@matti Have you been able to use the termination of the federation namespace as an indication of unjoin?  And if so, does that satisfy your use case such that you would consider this bug resolved?

[2019-02-14 18:03] marun commented on #591
While I don't think there is a technical fix for this, I do think the role of finalizers in propagation needs to be clearly documented to avoid the confusion this issue represents.

[2019-02-14 18:06] matti commented on #585
yes, it works.

[2019-02-14 18:06] #585 closed

[2019-02-15 20:46] #575 closed

[2019-02-15 20:49] marun opened #598 "Concept diagram should reflect type unification"
Update https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/images/concepts.png to felect the reunification PR #564.

[2019-02-15 22:23] marun commented on #588
Given the commentary on the kube issue (https://github.com/kubernetes/kubernetes/issues/15624#issuecomment-151390110), I'm not sure our use case justifies the addition of an error event type.  Also, it's likely that we'll want an indication of propagation state in status, and on seeing an error a user can look for a specific problem in the event log.  I think that could preclude the need to worry

[2019-02-15 22:34] #589 closed

[2019-02-16 01:09] gyliu513 commented on #588
@marun so you mean based on the comment in https://github.com/kubernetes/kubernetes/issues/15624#issuecomment-151390110 , the current `warning` level is good enough and we do not need to take action for this?

[2019-02-18 16:26] marun commented on #588
@gyliu513 I think that is correct, yes.  We have work to do on our side to improve the troubleshooting of propagation failure before we consider going upstream to kube.

[2019-02-19 08:21] mvazquezc opened #603 "Objects stuck with finalizer "delete-from-underlying-clusters""
**What happened**:

Federated environment with 5 clusters, 2 of them are down.

We tried to remove a namespace that was federated across the 5 clusters, objects got stuck by finalizer `federation.kubernetes.io/delete-from-underlying-clusters`.

We couldn't remove non-available clusters using kubefed2 tool (before deleting the namespace).

When removing the finalizer manually, then the objects got

[2019-02-19 08:31] marun commented on #603
I don't think the solution is a configurable grace period.  As per a [comment](https://github.com/kubernetes-sigs/federation-v2/issues/591#issuecomment-463001664) in a related issue, there needs to be better documentation of the different ways to remove federated resources.

[2019-02-19 10:28] mvazquezc commented on #603
Hi @marun,

Thanks for your help.

Using v0.0.5 and following the proper steps to delete a federatedNamespace it worked.

So basically we have two scenarios:

1. One of our clusters is down, but we can recover it
2. One of our clusters is down and we can't recover it

For the 1st scenario, the followed steps were:

1. `test-namespace` distributed across `cluster1` and `cluster2`
2. `cluster2` goes

[2019-02-19 19:56] #592 closed

[2019-02-19 20:09] marun commented on #603
Thank you for the detailed report!  I'm going to hold the issue open for now to ensure the docs are updated to cover deletion.

[2019-02-20 16:53] #480 closed

[2019-02-22 05:55] marun commented on #506
This was fixed by #525

[2019-02-22 05:55] #506 closed

[2019-02-22 06:06] marun opened #608 "kubefed2 disable should support the use of kind and short name"
**What would you like to be added**:

`kubefed2 disable` only supports identifying the type config to enable by name (group-qualified plural name e.g. deployment.apps).  It should be possible to specify kind (Deployment) or short name (deploy) as well, as is already possible with `kubefed2 enable`.  Only if an api resource is not available (e.g. mycrd.mygroup was deleted before the associated fede

[2019-02-22 06:08] marun commented on #608
It will also be useful for #607 to support providing kind or short name to identify the type of the resource targeted for federation.

cc: @irfanurrehman

[2019-02-22 10:51] irfanurrehman commented on #608
@marun Acknowledge, and it makes more sense, and while implementing 607, did think about it too. I can take this up for both disable and federate, however would prefer to do it post #607.

[2019-02-22 18:45] marun commented on #608
@irfanurrehman I've spoken with @xunpan and he's agreed to take responsibility for resolving this issue.  He wanted to help with the beta and I identified this issue as something that could proceed in parallel to your efforts.

[2019-02-25 18:28] irfanurrehman commented on #608
@maru Ack, @xunpan thanks!

[2019-02-26 17:42] marun opened #611 "Consider configuring primary features directly rather than with feature gates"
The controller manager currently uses 'feature gates' as the only mechanism to enable/disable features.  As per a discussion on a related issue (#600), it may make more sense for feature gates to only control alpha or experimental features.

/kind feature

[2019-02-26 17:50] #543 closed

[2019-02-26 22:09] marun opened #612 "Minimize the member cluster resources tracked by the control plane"
The federated control plane can be scoped to all namespaces or a single namespace, and will then watch all resources in the selected namespace(s) for enabled types (in all member clusters) whether or not those resources are federated.  Since each tracked resource imposes a memory cost on the federation control plane, it would be desirable to minimize memory usage by not tracking resources that wer

[2019-02-26 22:17] raffaelespazzoli opened #613 "improve doc on kubefed2 join - what happens behind the scene"
**What would you like to be added**:

Documentation about what happens exactly on when a kubefed join command is issued.

**Why is this needed**:

The imperative nature of the kubefed2 CLI may be a limitation for fully declarative environment. Knowing what it is supposed to happen in a kubefed2 join, would allow to create a more declarative operator to manage cluster joining and leaving a federati

[2019-02-26 23:20] marun commented on #613
The join operation creates a namespace, service account, and rbac roles and bindings in a cluster targeted for federation membership.  How would a declarative operator acquire the privileged cluster credentials necessary to perform these operations on an arbitrary cluster?

[2019-02-27 00:35] raffaelespazzoli commented on #613
@marun I am thinking of using this kind of API structure:

[code]
As you can see from the comments I assume that the credentials exist as secret.

[2019-02-27 00:40] raffaelespazzoli opened #614 "Allow multiple namespaces to be part of the same federation"
**What would you like to be added**:

I'd like the ability to specify multiple namespaces to be part of the same federation. So instead of a federation scoped to one namespace, we would have the ability to specify a namespace selector with the contract that namespaces selected by that selector are to be federated (i.e. replicated to the federated clusters).
We can assume that if multiple federatio

[2019-02-27 03:44] marun commented on #614
I think this requirement duplicates what is captured by the first bullet of #612.  If you agree, please close this issue.

[2019-02-27 03:56] marun commented on #613
So your proposal is to grant an operator root access to a cluster so that it could be capable of joining the cluster to one or more federation control planes?  I think anyone who could write this kind of operator would be equipped to ask or inspect the code to figure out what to do without specific documentation, so I'm not sure the effort required in writing documentation would justify a near-ter

[2019-02-27 06:24] xunpan commented on #614
I think this is not duplicated with #612.

This ticket asks for a federation control plane for a set of namespaces. It also asks for multiple federation control planes installation for different namespace sets.

#612 is only prefer cache optimization. Though it may limit namespace by selector to a federation control plane, it does not mention multiple control planes case.

[2019-02-27 07:20] marun commented on #614
@xunpan I think this issue is only requesting the implementation of option 1 of #612. So long as a control plane can be limited to a subset of available namespaces, there is no implementation required to support running multiple control planes that target mutually-exclusive subsets of namespaces.

[2019-02-27 07:26] #608 closed

[2019-02-27 08:11] marun commented on #523
@andreypetruk Closing since I haven't heard a response in more than 60 days.  Feel free to re-open if needed.

[2019-02-27 08:11] #523 closed

[2019-02-27 14:23] raffaelespazzoli commented on #614
@marun @xunpan thanks for considering this request. Yes the objective is to be able to run multiple federations the same cluster targeting non overlapping namespace sets identified via label selector.
And this is where my knowledge of federation is blurry and probably why my message was a bit confusing. Why do I actually need multiple federation control planes? Can't a federation control plane man

[2019-02-27 14:28] raffaelespazzoli commented on #613
@marun granting an operator sufficient access so that it can join the cluster is similar to granting kubefed2 sufficient access from a security standpoint, but it's more declarative.
The problem is still that I don't understand what it means to join a cluster.
Is you answer really: if you can write an operator you can reverse engineer the federation controller therefore we are not going to documen

[2019-02-27 15:35] quinton-hoole-2 commented on #612
@marun Have we measured what that memory cost is?

[2019-02-27 17:36] marun commented on #614
I don't think a federation control plane that can manage multiple federations is justified.  Implementing such a change would incur an implementation cost and maintenance burden, and the same effective result can be achieved with the current code by running multiple control planes (assuming support for label selection of target namespaces).

[2019-02-27 17:42] marun commented on #614
A `FederatedCluster` resource identifies a cluster that is a member of a federation.  There is no single resource defining a 'federation'.  Instead, a 'federation control plane' consists of the following resources (in the host cluster unless otherwise identified):

- A `StatefulSet` running the controller manager
- The set of`FederatedCluster` resources (and their related `Cluster` and `Secret` re

[2019-02-28 22:01] andersjanmyr opened #618 "Deleting a FederatedNamespace does not delete the federated namespaces"
**What happened**:
I have a federated namespace which is placed on 2 clusters.
[code]

 When I delete the federated resource with `kubectl delete -f namespace.yaml`, the federated resources are not deleted. If I instead of deleting the `FederatedNamespace`, I update it by setting
the clusterNames to an empty array, the clusters are deleted.
[code]

**What you expected to happen**:
I expected the f

[2019-03-03 11:25] jSchnitzer1 opened #619 "enabling ClusterRoleBinding returns error"
In the user guide for a tutorial of how to deploy the federation v2 control plane, everything went fine until applying the example/sample1. In other worlds, I could join cluster1 and cluster2 and when I describe the federated clusters I can see healthz is ok (I posted the result of federated clusters description)

when I tried to applying the example (kubectl apply -R -f example/sample1), I encoun

[2019-03-04 09:59] yamt commented on #619
it seems that your kubefed2 binary is older than the server.

[2019-03-04 12:03] jSchnitzer1 commented on #619
Do you think I should change the kubectl to an older version?
I can see GoVersion:"go1.11.2" in kubefed2 and kubectl GitVersion:"v1.11.3"

[2019-03-04 12:26] yamt commented on #619
i guess:
- you should update your kubefed2 binary to match with the rest. ie. federation controller and its associated CRDs
- no need to change kubectl
- you should tell which exact part of the `the user guide for a tutorial` you followed so that someone can fix it

[2019-03-04 12:41] jSchnitzer1 commented on #619
- I downloaded the latest kubefed2 from releases (v0.0.6). it has GoVersion:"go1.11.2"
- The exact part of user guid (as mentioned in the question) is:
User Guide -> Example -> Create Test Resources -> kubefed2 enable <type>
<type> in my case is: ClusterRoleBinding

Generated error:

[code]

[2019-03-04 21:54] marun opened #622 "Orphaning deletion of federated resource is not reliable"
The sync controller is intended to respect the `orphan` finalizer added to a federated resource when a deletion request specifies `propagationPolicy: Orphan` (via a raw or custom client request - `kubectl delete` doesn't support setting it).  However, as per a discussion intiated by @yamt on #606, a race exists between the sync controller and the garbage collector:

 - Desired behavior (sync contr

[2019-03-04 22:01] marun commented on #622
As per discussion on #606, it should be possible to test handling of the federation-specific finalizer   without resorting to an expensive e2e test.  `DeletionHelper.HandleObjectInUnderlyingClusters` could be refactored to test for removal of the all federation finalizers without attempting to delete resources in member clusters, and this shouldn't require an api server to validate.

[2019-03-05 01:55] marun commented on #619
@jSchnitzer1 That error seems to indicate that the version of the federation API you are using is less than `v0.0.6`.  You will need to deploy a `v0.0.6` control plane to use kubefed2 `v0.0.6`.  kubfed2 as of v0.0.6 expects `FederatedTypeConfig` to have the `federatedType` field added in that release.

[2019-03-05 04:25] marun opened #623 "Enable race detection in CI"
The recent changes to replace the generated clients introduced CI instability.  Anders Janmyr was first to notice this, and thought to enable the race detector (`-race').  Races were detected in the following code:

 - [x] Generic client construction (new race, fixed by #620)
 - [x] Version manager (new race, fixed by #624)
 - [x] Passing a shared config to generic client construction (new, fixed

[2019-03-05 05:26] marun commented on #618
What happens if you delete the federated namespace via `kubectl -n test-namespace delete federatednamespace test-namespace`?  I'm wondering if `delete -f` has different behavior, because there is a test of federated namespace cleanup running in CI that more closely resembles an invocation without `-f`.

[2019-03-05 12:15] HaraldGustafsson opened #625 "scripts/create_cluster.sh does not work"
**What happened**:
trying to create a cluster using the ´scripts/create-clusters.sh' but it fails. The scripts are run in a VM with docker etc installed. First the cluster renaming in the script have missmatches fixed by the following patch:

    --- a/scripts/create-clusters.sh
    +++ b/scripts/create-clusters.sh
    @@ -89,7 +89,7 @@ function create-clusters() {

       for i in $(seq ${num_clu

[2019-03-05 16:19] HaraldGustafsson commented on #625
I made some more changes to create clusters, so that I can keep both versions, but I still fail with `kubefed2 join`. Seems like join can't use different contexts for reaching and storing in registry.

    diff --git a/scripts/create-clusters.sh b/scripts/create-clusters.sh
    index 2fa913b1..00f29180 100755
    --- a/scripts/create-clusters.sh
    +++ b/scripts/create-clusters.sh
    @@ -27,6 +2

[2019-03-05 16:41] marun commented on #625
Just an FYI, kind is not something that's easy to support across different environments so the changes that work in your environment are not guaranteed to work in others.  We use it in CI to enable multi-cluster testing (and the script is working fine there), but I do a decent amount of federation development and I still use minikube clusters because it just works.

[2019-03-05 16:52] HaraldGustafsson commented on #625
Thanks, that explains why it does not work for me, the CI would be running
as a container and would not have any problems with the the outside view.
Guess I need to switch to minikube also, just wanted something less heavy
on my machine.

[2019-03-05 19:00] marun commented on #625
CI is actually running in a VM, and I don't want to discourage you from getting kind working if you are resource constrained.  It's just that it can be finicky and if you can spare the resources minikube is pretty much guaranteed to work.

[2019-03-06 17:01] HaraldGustafsson opened #633 "Preserve local cluster changes to status, annotations and labels"
**What would you like to be added**:
Preserve local cluster changes to status, annotations and labels.

I did a simple test with a CRD `zzz`, did `kubefed2 enable zzz`. The federated CRDs where created. I then created a `FederatedZzz` resource which is federated to my other cluster. But when I update status, annotations or labels in the other clusters resource of the `zzz`type it is replaced by th

[2019-03-06 18:33] marun commented on #633
Federation's sync controller never sets status.  I suspect you're running into the lack of support for patching status via kubectl: https://github.com/kubernetes/kubernetes/issues/67455

As to retaining non-status local changes to federated resources, that is not possible.  Federation supports setting labels and annotations in the template and overrides, and has no way of knowing which labels and

[2019-03-06 19:33] HaraldGustafsson commented on #633
I noticed I had forgotten the subresource/status in the CRD, that's why I could set the status using kubectl but it is part of the object and hence then also will be replaced. But just after noticing I got interrupted and did not manage to update the issue before your response.

About the labels/annotations. The thing is that our clusters will be used in an environment with potential long network

[2019-03-06 20:05] marun commented on #633
fedv2 propagation assumes control over federated resources in member clusters, including annotations and labels.  Changing that would be non-trivial, let alone something like two-way merging.

If you require central control combined with local control in the event of partition, have you considered a gitops model?  Local git repos containing cluster configuration could be synchronized with a master

[2019-03-07 08:29] HaraldGustafsson commented on #633
Interesting that there are discussions of combination between gitops and the federation api. Because with the tools available today you would loose the ability to easily schedule over several clusters with gitops. At least to my understanding. Is there any discussion of more than one federation host cluster as well?

[2019-03-07 14:28] gyliu513 opened #636 "federation controller disaster recovery Support"
**What would you like to be added**:
Currently, we can only have one host cluster, but if the host cluster goes down, then the federation controller will also goes down, and then the federation will not work.

**Why is this needed**:
It is better to enable the federation controller can support disaster recovery mode, such as we can introduce active-passive mode for federation controller, if the pr

[2019-03-07 14:33] marun commented on #636
@gyliu513 Does this duplicate #402?

[2019-03-07 14:39] gyliu513 commented on #636
@marun those two issues are different I think. For #402 , it is claiming we want to deploy multiple federation controllers in **one** cluster, but if the cluster goes down, no matter how many federation controllers, the federation will not work; But my case is for **multiple** clusters, if the cluster which is hosting the federation controller goes down, then we should have another cluster take ov

[2019-03-07 14:39] marun commented on #636
I think it's important to note that the federation control plane not running or not being able to reach one or more member clusters does not affect running workloads in member clusters.   'the federation does not work' is only an indication that reconciliation will not be possible for the duration of downtime.

[2019-03-07 14:44] gyliu513 commented on #636
@marun Yes, `federation controller` goes down will not impact running workload on member clusters, but the problem here is the end user will not able to deploy new federation resources or query resources.

[2019-03-07 14:49] gyliu513 commented on #636
So the basic requirement is that we may want to deploy federation controller to multilple Kubernetes clusters, and when one cluster is down, the federation controller can be smoothly switched to another cluster.

[2019-03-07 22:09] marun commented on #633
There have been recurring requests to implement a multi-cluster HA solution for federation ([most recently on this issue](https://github.com/kubernetes-sigs/federation-v2/issues/636).  Enabling reliable HA of kubernetes APIs, though, would be very expensive.  It would require constantly replicating a consistent snapshot of API state between two or more clusters and figuring out how to reliably per

[2019-03-07 22:15] marun commented on #636
As per my revised comment above, I think a most reasonable goal than the one originally proposed for this issue could be documenting the procedure to reconstitute the API resources of a federation control plane on another cluster from a recent snapshot.  I think that would more accurately be described as a disaster recovery strategy than HA.  I'm not sure it should be in scope for fedv2 to impleme

[2019-03-08 01:58] gyliu513 commented on #636
@marun how about introduce kind of federation-v2-operator as controller on multiple federation controllers in different clusters, and do failover for federation controller on each cluster?

[2019-03-08 15:28] marun commented on #636
@gyliu513 How would that solve the problem of synchronizing api state?  Are you suggesting that this new master control plane be the API that users would access, and that they would work with federated federated types?

[2019-03-08 20:56] pmorie opened #638 "User guide doesn't cover `unjoin`"
Pretty much what it sounds like, the userguide doesn't cover `kubefed2 unjoin` and should.

[2019-03-09 02:34] gyliu513 commented on #636
@marun my thinking is that enabling the `federation-v2-operator` in each cluster to be synchronized periodically, and once the primary host cluster down, `federation-v2-operator` can select a new host cluster without data loss (There maybe some data loss in a small time-window before data sync up).

[2019-03-11 04:03] shashidharatd commented on #402
Now the leader election is added to controller-manager in PR #632, following this are pending.
- [ ] Document enabling leader-election for controller-manager.
- [ ] Select the appropriate deployment method for running controller-manager with leader election

[2019-03-11 08:36] SataQiu opened #640 "scripts/create_cluster.sh does not work well with the latest kind"
**What happened**:
The scripts/create_cluster.sh does not work!
I tried to create clusters by `scripts/create_cluster.sh`, but the following error was thrown:
[code]

**What you expected to happen**:
The scripts/create_cluster.sh should work well.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

kind version: 0.2.0-alpha

**Environment

[2019-03-11 08:51] #640 closed

[2019-03-11 19:37] marun commented on #636
@gyliu513 Your last comment would seem to confirm my assertion that you're talking about disaster recovery and not HA.  I suggest revising this issue accordingly.

[2019-03-12 06:31] xunpan opened #642 "CI failed in Leader Elector"
**Which test(s) are failing**:
`Leader Elector`

**Since when has it been failing**:
Since today

**Reason for failure**:
[code]
**Anything else we need to know**:
The case is not synchronized, so it is not to be executed independently.

/kind failing-test

[2019-03-12 06:42] shashidharatd commented on #642
@xunpan, Can you give more context.
Which type of test are you executing. unit/e2e test? managed/unmanaged?
what is the command you used to execute test?

Note: It has been passing in CI.

[2019-03-12 08:37] shashidharatd commented on #642
@xunpan, never mind. here is one more instance of failed CI log https://travis-ci.org/kubernetes-sigs/federation-v2/builds/505079399?utm_source=github_status&utm_medium=notification

[2019-03-12 10:08] gyliu513 opened #643 "Enable Override support using clusterSelector"
Now the `placement` already support `clusterSelector` which can enable the end user can select multiple clusters with a label.

But the `overrides` do not support `clusterSelector` now https://github.com/kubernetes-sigs/federation-v2/blob/master/example/sample1/federateddeployment.yaml#L28-L32 , how about enable it support as well?

/cc @marun

[2019-03-12 13:05] kuanf commented on #643
@gyliu513 when introducing clusterSelector into overrides, one concerns is the potential conflicts among overrides. May need to consider some sort of ordering of prioritization to the overrides if not random pick...

[2019-03-12 14:09] marun commented on #643
This appears to be a duplicate of #581, please close.

[2019-03-12 14:14] marun commented on #581
Determination of whether a resource in a member cluster needs to be updated is currently dependent on the contents of the overrides field being hashed and compared with the hash most recently used to update the resource.  Implementing selector-based overrides would require either hashing the entire resource computed for the update or hashing the overrides field after expanding any selectors.  Ther

[2019-03-12 23:21] #643 closed

[2019-03-12 23:22] gyliu513 commented on #581
@marun @jewzaam can you please update the title a bit by removing `Federated<Type>`?

[2019-03-13 01:43] marun commented on #636
Related: https://github.com/kubernetes-sigs/federation-v2/issues/450

[2019-03-13 01:47] #623 closed

[2019-03-13 18:55] #642 closed

[2019-03-13 20:04] #570 closed

[2019-03-14 07:50] aviweit commented on #565
I also suggest to denote GOPATH setting in userguide, as @llarsson mentions (even just as an aside comment). I encountered same issue yesterday when attempting to install federation v2.

Thanks.

[2019-03-14 10:15] irfanurrehman commented on #549
After the label selector based placement in place there are now two aspects of this issue

1. The resource placement
    The resource is placed in all clusters including new clusters joining. If resource exists in new cluster joining it will be adopted by federation. To achieve this there is now an option of using an empty label selector to result in placement into all clusters at any time. One ca

[2019-03-14 12:37] magicwang-cn commented on #549
i agree with @irfanurrehman . 'ownerReference' is needed for k8s resource which related with federated resource. we should remind users that the same name resource has been existed in the cluster instead of deleting it directly.

[2019-03-14 17:30] marun commented on #565
I don't think the userguide should require mention GOPATH, so I'll take it as an action item to limit it to documenting deployment with helm.  Script-based deployment is likely to go away, and while it remains it is very much intended for developers only.

[2019-03-14 17:51] marun commented on #549
As per discussion in yesterday's wg meeting with @shashidharatd , I think it makes sense to allow the federation's behavior regarding existing resources to be configurable.  In addition to the requirement expressed thus far on this issue - that it would be desirable for federation to avoid managing existing resources - other use cases require that federation manage resources in member clusters reg

[2019-03-14 17:56] andersjanmyr commented on #618
@marun I finally got around to verifying that the namespace is not removed when I do `kubectl -n test-namespace delete federatednamespace test-namespace`.
I have to set `clusterNames: []` to get the namespaces removed.

[2019-03-14 20:23] llarsson commented on #565
Good! As long as a user does not fail with their experiments because they need implicit knowledge of what language the software was written in and therefore know what steps to take to set up a development environment, I am satisfied. 😀 Because as a user, I do not typically expect that.

On March 14, 2019 6:30:08 PM GMT+01:00, Maru Newby <notifications@github.com> wrote:

--
Sent from my Android de

[2019-03-14 21:13] marun opened #652 "Changes to the namespace containing a FederatedNamespace are not propagated"
**What happened**:

- In a federation of more than one cluster, I created a FederatedNamespace.
- I checked that the namespace was propagate to the second cluster
- I added a label to the namespace containing the FederatedNamespace
- The namespace in the second cluster was not updated with the label

**What you expected to happen**:

- The namespace in the second cluster should have been updated w

[2019-03-14 21:16] marun commented on #652
I think federated namespaces are always going to be a special case because namespaces are a very special case.  I think this bug reveals that the current strategy of using the containing namespace as the template is too complicated, and that it would be preferable for a FederatedNamespace to define the template for the namespace in the same manner as other federated types.

[2019-03-14 21:16] marun commented on #618
This is definitely a bug.  And likely related to #652.

[2019-03-14 21:49] cwilkers opened #653 "Enabling Namespace returns error"
**What happened**:

[code]

**What you expected to happen**:

Creation of `federatednamespaces` custom resource definition.

**How to reproduce it (as minimally and precisely as possible)**:

Federation v 0.0.6 on an OpenShift 4.0 test cluster, follow directions in user guide to set up federation (shortcut `hack/intall-latest.yaml`). After installing, attempt above command to create Namespaces fed

[2019-03-15 09:27] poothia opened #654 "kubefed2 installtion guide missing in userguide"
**What would you like to be added**:
Going throught the userguide prerequisites, there should be a (optional) guide on how to install "kubefed2".

**Why is this needed**:
"kubefed2" tool is used in many commands mentioned in userguide document.

/kind docs

[2019-03-15 15:46] cwilkers opened #656 "Kubefed2 enable with wrong federation namespace leaves federated type half created"
**What happened**:
`kubefed2 enable Namespace` was run on a cluster where the federation-namespace was not `federation-system` as expected by default.

Output was
[code]
Attempting to then `enable` `Namespace` with the right `federation-namespace` fails:
[code]
Attempting to then `disable` Namespace fails:
[code]

**What you expected to happen**:
Sanity checking by `kubefed2 enable` to avoid creat

[2019-03-15 20:55] marun commented on #654
The binary is provided as part of a release, and the user can invoke it directly or put it in their path.    This seems pretty basic to me, and not necessarily worth documenting.  Are there additional material you think would be helpful?

[2019-03-15 22:41] digivava commented on #654
As someone new to working with open-source software in an alpha state, I was lost for awhile trying to find it as well. I had assumed that the Prerequisites section contained all the info on binaries needed to run the deployment scripts.

It might be helpful just to add the first sentence of your comment above into the prerequisite section of the docs.

[2019-03-18 05:24] poothia commented on #654
@marun Ya I do agree, but for a new person it is quite confusing. Because there is mention of where to find the "kubefed2" file. So maybe a note in pre-requisites section might be helpful.

@digivava Ya I too got confused. I dont feel it is necessary but a little more clarity would be of no harm.

[2019-03-18 06:11] #638 closed

[2019-03-18 06:54] xunpan commented on #653
@cwilkers do you try the latest code? I tried in my latest updated code, it seems has no such issue.

Another question: if you use script to install federation, namespace should be federated. So, could you help to show your installation step?

[2019-03-18 07:08] xunpan commented on #656
It makes sense to me.
We need basic sanity check. Though it is not a full transaction, it covers the most case that a user federates a resource carelessly.

[2019-03-18 07:19] xunpan commented on #656
After fixed in https://github.com/kubernetes-sigs/federation-v2/pull/628, existing CRD will not break `enable` operation. In such case, even the partial success case left a federated* CRD, it is fine to reuse this in a correct `enable` operation in correct namespace. So, it is functional correct.

However, it is not good experience to have such a partial succeed in basic case. Let me fix it.

[2019-03-19 03:53] marun commented on #653
This bug was fixed by #646, closing.

[2019-03-19 03:53] #653 closed

[2019-03-19 22:46] marun commented on #598
Fixed by #651

[2019-03-19 22:46] #598 closed

[2019-03-20 01:52] #656 closed

[2019-03-20 06:26] shashidharatd opened #668 "Mechanism to identify a resource created by user vs created by federation control plane"
**What would you like to be added**:
Mechanism to differentiate API resources (or just called resource here after) created by federation control plane from user created resources in member clusters.

**Why is this needed**:
It might be required by some controllers, or visualization tools to differentiate the resources based on who owns the resources. It might also aid in debugging some specific is

[2019-03-20 06:40] marun commented on #668
Note that I'm targeting labeling of federated resources in #612.  An extension to that labeling could be adding a configuration option to determine whether existing resources that lack the label are adopted or left alone (likely resulting in a propagation error being reported in status).

[2019-03-20 06:44] shashidharatd commented on #668
Cool, Good to know. Thanks !

[2019-03-20 08:27] shashidharatd commented on #577
@pmorie, can this be closed?

[2019-03-20 08:34] #557 closed

[2019-03-20 14:51] #618 closed

[2019-03-20 23:48] marun opened #670 "Helm chart rbac doesn't appear to be tested in CI"
A number of people have complained that they are not able to get federation working by following the user guide.  One of the problems was diagnosed by @pmorie as an rbac rules issue (allowing access to the old `primitives.federation.k8s.io` group instead of the new `types.federation.k8s.io`).  While the fix for that is easy, I want to make sure CI will catch issues like this before they merge and

[2019-03-20 23:49] marun commented on #402
@shashidharatd Are you still working on adding documentation for leader election to the userguide?  It doesn't have to be exhaustive, but at least a short indication of what leader election is, why federation enables it by default, and how it can be configured.

[2019-03-20 23:53] marun commented on #241
@gyliu513 It looks like the pull to add to the helm repo was closed.  Would you be willing to revisit? Ideally we would be publishing a new release of the chart to the official repo with every release of federation (and ensure the chart defaults to the appropriate image version instead of master's use of `canary`).

[2019-03-21 00:03] marun opened #672 "The release procedure doc should document how to ensure a new image is published"
I had assumed that a new image was published automatically when a new release was cut, but `v0.0.7` was cut yesterday and there doesn't appear to be a corresponding `v0.0.7`-tagged image yet:

https://quay.io/repository/kubernetes-multicluster/federation-v2?tab=tags

It would be helpful the release procedure doc could be updated to include details on how the image is published automatically along

[2019-03-21 01:03] xunpan commented on #114
I think it can be organized as a new `FederationConfig` API after read https://docs.google.com/document/d/1arP4T9Qkp2SovlJZ_y790sBeiWXDO6SG10pZ_UUU-Lc/edit and based on shashidharatd's proposal.
[code]
The behavior should be:
 - This resource should be created after federation namespace is created.
 - This resource only take effect in controller start up. Controller will not monitor it and reconci

[2019-03-21 06:10] marun commented on #114
@xunpan I have a couple of comments:

 - I don't think install-crds should be exposed.  It's more a vestige of our kubebuilder heritage than anything, and I think its use should be deprecated.
 - I'm not sure feature-gates should be a hard-coded list.  That would complicate a feature gaining sufficient maturity to be enabled without a feature gate, or a feature being deprecated and removed.  Is th

[2019-03-21 06:34] marun opened #676 "The managed e2e suite is sometimes failing CI on shutdown due to a panic in the scheduling controller"
Relevant portion of the CI log captured in a gist: https://gist.github.com/marun/df4bef5cd9cf5b5721f423144e219c81

I'm not able to reproduce the failure locally, and it doesn't always occur in CI.  When I run the managed e2e suite, though, I do see a ton of error log spew that appears to be from the scheduling controller.  I'm assuming that the scheduling controller is not being shutdown cleanly a

[2019-03-21 06:46] xunpan commented on #114
@marun
1. I agree to deprecate `--install-crds`. I never see it is used in deployment ...
2. I did not see any best practise for feature-gates settings. Your proposal makes sense.
3. `FederationConfig` should be a resource that we created for controller manager configuration. So, if we use `--config`, does that means controller manager will create/update the `FederationConfig` based on this yaml f

[2019-03-21 07:05] marun commented on #114
@xunpan   For your 3.

My thinking is that provision of yaml via -f would be to support running the controller manager outside of a kube cluster (e.g. for testing).  As you say, the use cases within the cluster are both exposing configuration to agents other than the controller manager (e.g. kubefed2 discovering configuration) as well as configuring the controller manager.

In a world with a singl

[2019-03-21 09:27] braceinhz opened #677 "Federated Status will not reconcile when federation has no readyCluster"
**What happened**:Federated Status will not reconcile when federation has no readyCluster

**How to reproduce it (as minimally and precisely as possible)**:when federation has no readycluster, and we have already deploy federatedresource such as nginx federateddeployment, the controller will report err
```E0321 16:35:40.655125      10 controller.go:313] Failed to update status object for federated

[2019-03-21 12:02] Dingshujie opened #678 "Member cluster's nodes may deployed in muti availability zone"
What would you like to be added:
FederatedClusterStatus.Zone use []string instead of string, and generate multiple AZ level dns name.

Why is this needed:
Now, FederatedCluster status Region and Zone use first node Region and Zone.
A lot of Cluster's nodes may deployed in muti availability zones, this field may in influence dns enpoint controller to generate dns record name,  dnsname of az-level d

[2019-03-21 21:47] pmorie opened #680 "Releases should use make targets to push images to quay"
Created after #679; we should use a make target instead of a separate script to push images during a release.

[2019-03-21 23:15] pmorie opened #681 "Remove old references to primitives.federation.k8s.io"
There are a number of references left over to `primitives.federation.k8s.io` which need to be scrubbed.

/kind bug

[2019-03-22 16:39] marun commented on #681
This was fixed by #671.

[2019-03-22 16:39] #681 closed

[2019-03-22 17:11] marun opened #687 "Ensure that the federated control plane is minimally privileged"
#670 revealed that the helm chart was not granting sufficient privileges to the control plane.  While it is tempting to just use the cluster-admin role, it should be possible to grant only the privileges required.  For some types, the scope of privilege will depend on how the control plane is deployed (namespaced or cluster-scoped):

 - `get/watch/list/update`
   - `(multiclusterdns|scheduling|typ

[2019-03-22 21:39] pmorie opened #688 "Placement references to clusters violates API convention"
TLDR: Cluster names for the purposes of placement are specified unqualified, but according to kube api conventions that means a given cluster should reside in the same namespace as the federated resource that refers to it.

### Background Info

In the history of federation-v2, the `Cluster` resource in the cluster-registry and `FederatedCluster` resource in federation-v2 were originally cluster-sc

[2019-03-24 17:53] irfanurrehman opened #690 "Facilitate adding the annotation on federated object to specify users intent of orphaning/not orphaning target/managed resources."
**What would you like to be added**:
https://github.com/kubernetes-sigs/federation-v2/pull/669 moves away from the usage of `orphanDependents` and uses intent via an annotation on the object to signify whether the dependent resources should be orphaned or not.
This seems to be an additional step, where user will need to create the annotation on the federated object if a non default behaviour is ne

[2019-03-24 17:58] irfanurrehman commented on #690
A more suitable name then `enable-orphaning-deletion` for the command is welcome.

[2019-03-24 18:05] irfanurrehman commented on #677
@braceinhz thanks for reporting this. Seemingly you have done some debugging to pinpoint the cause, do u want to propose a fix.

[2019-03-25 00:17] xunpan commented on #687
For leader elector, `configmaps`, `secrets` needs RBAC based on my test, and we also have `events`, so it needs RBAC too.

I will check detailed operation verbs for these resources.

[2019-03-26 00:08] xunpan commented on #114
Follow up actions:
 - [ ] make installer script uses federationconfig for configuration
 - [ ] make helm chart uses federationconfig for configuration
 - [ ] make kubectl disable reject in namespaced federation.

[2019-03-26 01:27] xunpan commented on #688
There has a similar issue for `Cluster` and `FederatedCluster` references. Now, we plan to make both resources to the same namespace by default https://github.com/kubernetes-sigs/federation-v2/issues/114#issuecomment-475130017.

However, it still has case in sharing `Cluster` or `FederatedCluster` from different namespaces.

Keeping current behavior seems not good for usability because convention

[2019-03-26 21:25] skochetkov opened #693 "federation v2 deployment error"
Hi,
I am trying to install latest (master) v2 following the user guide (executed all steps: download binary, go path etc). But getting the error. Please see my output below:

Here's what I am currently have:
[code]

I tried to delete and install again several times but no luck....
Any help will be very welcome!
Thanks

/kind bug

[2019-03-26 21:33] marun commented on #693
Please follow the helm instructions.   The script-based deployment is not supportable, and I will be moving references from the userguide to the devguide this afternoon.

[2019-03-26 21:34] marun commented on #693
Also, the best place to get support is the #sig-multicluster channel on kubernetes.slack.com.

[2019-03-27 01:06] skochetkov commented on #693
Thank you!

[2019-03-27 01:35] braceinhz commented on #677
@irfanurrehman With pleasure , I propose a PR: https://github.com/kubernetes-sigs/federation-v2/pull/692

[2019-03-27 12:23] poothia opened #694 "Use a forked version of glog in kubernetes"
Use the permanent forked version of glog for kubernetes instead of glog.

ref:
https://github.com/kubernetes/kubernetes/issues/70264
https://github.com/kubernetes/klog/blob/master/README.md

/kind feature

[2019-03-27 15:21] gyliu513 opened #697 "Move federation-v2 from kubernetes-sigs to sigs.k8s.io under GOPATH"
**What would you like to be added**:
As discussed in 20190327 meeting, we want to replace `kubernetes-sigs` to `sigs.k8s.io` for the url of federation-v2, like [cluster-api](https://github.com/kubernetes-sigs/cluster-api) and its related cloud providers.

/cc @marun @shashidharatd @kubernetes-sigs/federation-wg

**Why is this needed**:
Keep consistent with [cluster-api](https://github.com/kubernet

[2019-03-27 22:25] marun opened #699 "Ensure CI tests against the most recent release version of kube"
As discovered in #698, CI is currently testing against kube 1.12.  The managed fixture test run sources a `kube-apiserver` binary from the kubebuilder archive, and the version of kubebuilder we're currently stuck on provides a 1.12 `kube-apiserver`.   The unmanaged fixture test run uses a pinned version of kind that uses kube 1.12.  To resolve this issue:

 - [x] Update to latest version of kubebu

[2019-03-28 04:45] marun opened #701 "Provide a versioned helm chart with each release"
- [x] Update [release doc](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/releasing.md) to reflect the need to:
     - Create an archive of the helm chart that defaults to the released image tag
     - Create an sha hash of the chart archive
     - Include the archive and sha hash as release artifacts
     - Create a PR that updates the repo index of the chart to point to the lo

[2019-03-28 15:34] cooktheryan opened #705 "body was not decodable (unable to check for Status): Object 'Kind' is missing"
**What happened**: No issues in use but the logs of the federation controller manager repeatedly an error.

**What you expected to happen**: No errors

**How to reproduce it (as minimally and precisely as possible)**: Deploy a federated namespace cluster and then run kubectl logs -f federation-controller-manager-specific-pod

**Anything else we need to know?**:
[code]
## gist of deployment and fed

[2019-03-30 15:27] #622 closed

[2019-04-01 03:00] #676 closed

[2019-04-01 05:20] marun opened #709 "FederatedClusters should indicate the scope of their join"
Currently `kubefed2 join` results in a `FederatedCluster` and associated secret containing credentials for the service account used to access the member cluster.  There is no way of determining the join mode (namespace-scoped vs cluster-scoped) of a given cluster (at least those joined by a tool like `kubefed2`), and it would likely be a useful detail to be able to expose to the user.

cc: @pmorie

[2019-04-01 07:39] marun opened #711 "Travis jobs should provide access to controller manager logs"
Currently a failed travis job can be difficult to debug if it involves a server-side error.  It would be helpful if travis were to output the server logs after a failed test run or maybe dump logs to S3 as an [artifact](https://docs.travis-ci.com/user/uploading-artifacts/).

[2019-04-02 06:15] marun commented on #668
@shashidharatd Will this be addressed to your satisfaction by #715?

[2019-04-02 18:39] marun opened #718 "Replace managed e2e with unmanaged in-memory testing"
Currently federation e2e tests can be run with 'managed' (test creates a federation) and 'unmanaged' (a deployed federation is targeted) fixture.  At one point managed fixture was cheaper in terms of time and resource usage and this was helpful in accelerating the early development of fedv2.  With the availability of kind, unmanaged clusters are now arguably the cheaper option.

The remaining reas

[2019-04-02 22:38] pmorie commented on #114
A couple notes here while they're in my head:

I think one input to determining what the shape of the eventual config API is knowing the outcome of #688.

The right granularity for configuration APIs seems like one per functional area. That would yield:

- workloads/sync
- dns
- replica scheduling

Having distinct APIs for different functional areas would make it easier to evolve and version confi

[2019-04-03 02:26] shashidharatd commented on #718
@marun, agree with your observations about reducing the maintenance burden.

[2019-04-03 04:26] marun opened #720 "kubefed2 enable should succeed if federation of the type is enabled"
Currently running `kubefed2 enable` the same type more than once will result in an error on subsequent invocations, e.g.

[code]

Likely the command should not report the error if a FederatedTypeConfig exists.  Or it might make sense to add a flag to support overwriting an existing FTC.

[2019-04-03 04:31] marun opened #721 "kubefed2 disable should delete the FTC rather than set propagationEnabled"
`kubefed2 enable` adds the crd and ftc necessary for federation of a type.  Currently `kubefed2 disable` sets `propagationEnabled: false` on the target FTC (and deletes the crd and ftc if `--delete-from-api=true` is provided).  Instead, `kubefed2 disable` should be the reverse of `enable` and delete the target FTC and optionally the crd.  A user can edit the FTC if they want to disable propagation

[2019-04-03 04:40] marun opened #722 "Removal of the FederatedTypeConfig for namespaces should disable all namespaced sync controllers"
Sync controllers for namespaced types currently require that an FTC for namespaces exist as a condition of starting, but if the FTC is removed running sync controllers for namespaced types will continue running.  The FTC controller should detect the removal of the namespace FTC and stop all namespaced sync controllers.

As part of fixing this bug, the error messages logged by the FTC controller wh

[2019-04-03 05:04] marun commented on #114
The only options we set today are for all controllers - there are no options specific to the functional areas you mention.

[2019-04-03 05:57] gyliu513 opened #723 "sync up helm chart failed due to no etcd"
**What happened**:

[code]

**What you expected to happen**:

The script of `./scripts/sync-up-helm-chart.sh` should check if `./bin/etcd` not existed, just download it via `scripts/download-binaries.sh`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- Federation version
- Insta

[2019-04-03 09:59] shashidharatd commented on #723
Fixed with https://github.com/kubernetes-sigs/federation-v2/pull/716

[2019-04-03 09:59] #723 closed

[2019-04-03 10:01] shashidharatd commented on #208
This is addressed with https://github.com/kubernetes-sigs/federation-v2/pull/716

[2019-04-03 10:01] #208 closed

[2019-04-04 04:37] shashidharatd commented on #152
@pmorie, this has been addressed. Please reopen if you feel otherwise.

[2019-04-04 04:37] #152 closed

[2019-04-04 04:45] shashidharatd commented on #654
@poothia, are you interested in working on this task?

[2019-04-04 04:46] shashidharatd commented on #677
This has been addressed with https://github.com/kubernetes-sigs/federation-v2/pull/692

[2019-04-04 04:46] #677 closed

[2019-04-04 04:47] shashidharatd commented on #699
@marun, can we close this issue?

[2019-04-04 10:51] cmclopes opened #726 "ExternalDNS deployment failure on AWS (source: CRD and provider:coreDNS)"
**What happened**:
I'm following the user guide to enable the federation DNS for Ingress and Service using the coreDNS as the provider (https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/ingress-service-dns-with-coredns.md), and I can't go further the ExternalDNS installation step (https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/ingress-service-dns-with-coredns.md#

[2019-04-04 12:15] pmorie commented on #688
@xunpan Just want to make sure I understand your comments correctly

This refers to allowing explict cross-ns references, correct? (ie, ability to specify explicitly the namespace of a referred cluster when you want to reference a FederatedCluster outside the enclosing namespace)

Not sure what you meant here - can you elaborate?

I think this refers to, allow name-only references only within the

[2019-04-04 13:12] marun commented on #726
ExternalDNS needs to run on the host cluster so it has access to the resources that federation creates.  It does not have to run on each member cluster.  It appears that you are trying to run ExternalDNS on a cluster other than the one hosting the federation control plane.

FYI, please use helm to deploy federation, as script-based deployment is developer-only and not supportable (and has been rem

[2019-04-04 13:12] marun commented on #699
@shashidharatd Closing!

[2019-04-04 13:12] #699 closed

[2019-04-04 22:47] marun commented on #693
Closing, as this appears to be a support request that has been resolved.

[2019-04-04 22:47] #693 closed

[2019-04-04 23:03] marun commented on #705
@cooktheryan The error here indicates the failure of the sync controller to launch an informer.  That can occur when a `FederatedTypeConfig` refers to an API type that does not exist.  Given that the only supported deployment method for this repo is via the helm chart, and I can't reproduce the problem deploying with a chart, I'm left with the assumption that the cause of the problem you're seeing

[2019-04-05 09:42] cmclopes commented on #726
@marun Thanks for your response.  Yes, you are right, I was trying to deploy the external DNS on both clusters (my bad). I also followed your suggestion of using the helm to install the federation control plan and use the release 0.0.7 instead of the canary.

It's fully working now (with the sample project), and the DNS is propagated to the AzureDNS like a charm.

I am closing this ticket.

Thanks

[2019-04-05 09:42] #726 closed

[2019-04-05 09:59] abrennan89 opened #728 "Request to break relevant sections from User Guide out into separate installation docs module"
**What would you like to be added**:
We should split the sections in the user guide up until 'Operations' into a separate doc for installation docs, and then just provide a link as/if needed to this.

**Why is this needed**:

- As the document grows it will become unwieldy to have just a single user guide, modules of documentation make it easier to find content a user needs than searching through

[2019-04-05 17:13] shashidharatd commented on #728
@abrennan89, Thank you for taking this up. much appreciated.

[2019-04-05 18:16] marun commented on #726
@cmclopes I'm glad our issue has been resolved.  It should be possible to get an invite via https://slack.k8s.io/

[2019-04-08 00:39] xunpan opened #729 "FederationConfig enhancement"
**What would you like to be added**:
following up actions after add FederationConfig resources in #685:
- [ ] change helm chart to use FederationConfig for controller options for both namespaced and cluster scoped clusters.
- [ ] remove command line options
- [ ] make kubectl disable reject in namespaced federation.
- [ ] update document to reflect the changes
- [ ] --federation-config=myfile.yaml

[2019-04-08 16:40] abrennan89 commented on #728
PR added; https://github.com/kubernetes-sigs/federation-v2/pull/730

[2019-04-08 23:32] michaelfig opened #731 "Namespaced install attempts to create cluster-wide CRDs"
**What happened**: I created a namespaced cluster with:
[code]

then the deployed federation-controller in the "dev" namespace logs the following and exits:

[code]

**What you expected to happen**: Namespaced federation would not reference any CRDs for cluster-scoped resources like "clusterpropagatedversions".

**How to reproduce it (as minimally and precisely as possible)**: Install with the abo

[2019-04-08 23:42] michaelfig opened #732 "kubefed2 reads .kube/config files relative to current working directory"
**What happened**: I ran:
[code]

**What you expected to happen**: kubectl works just fine with this configuration, so kubefed2 should as well.

**How to reproduce it (as minimally and precisely as possible)**:

Have `$HOME/.kube/config` of the following:
[code]

and certificates/keys in `$HOME/.certs/my-cluster/ca.crt`, `$HOME/.certs/my-cluster/michael.crt`, `$HOME/.certs/my-cluster/michael.key`.

[2019-04-08 23:49] michaelfig opened #733 "kubefed2 aborts when trying to create existing namespace"
**What happened**: As a user that has full access to the "dev" namespace, I ran:
[code]

**What you expected to happen**: kubefed2 would detect that the "dev" namespace already exists and try to use it instead of aborting with an RBAC error.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a namespace, say "dev".
2. Create a user whose RBAC gives full access to resourc

[2019-04-09 15:41] #652 closed

[2019-04-09 22:26] font opened #738 "kubefed2: cleanup global and common subcommand options"
This issue captures the work needed to cleanup various global and shared subcommand options in `kubefed2`. Some examples:
- `--registry-namespace` parameter is not needed for `kubefed2 <enable|disable>` commands.
- `NAME` is not required for `kubefed2 enable` command as a filename option is also accepted.
- Code for join and unjoin each define options that are mutual e.g. `--cluster-context` and `

[2019-04-09 23:44] #718 closed

[2019-04-10 01:21] marun commented on #731
As of last week, the controller manager no longer has the ability to install CRDs, so it would not be possible to reproduce this bug with master.  However, until #701 is implemented there is no released chart and the documentation is not clear on the need to specify an image version when deploying from the chart in master.  Once #701 is released I think this issue can likely be closed.

[2019-04-10 01:27] marun commented on #670
With the removal of script-based deployment, rbac for a deployment of federation is only provisioned by helm so it is always tested.

[2019-04-10 01:27] #670 closed

[2019-04-10 01:29] marun commented on #619
I don't think this issue is actionable.  Please feel free to reopen if you still need assistance or contact me on #sig-multicluster in kubernetes.slack.com.

[2019-04-10 01:29] #619 closed

[2019-04-10 01:37] marun commented on #603
The docs have been updated: https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#deletion-policy

[2019-04-10 01:37] #603 closed

[2019-04-10 01:38] marun commented on #591
The userguide has been updated documenting the role of finalizers in deletion of federated resources: https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#deletion-policy

[2019-04-10 01:38] #591 closed

[2019-04-10 01:39] marun commented on #588
I'm adding this to the v1beta1 milestone to ensure resource status is addressed.

[2019-04-10 01:41] marun commented on #577
Fixed by #578

[2019-04-10 01:41] #577 closed

[2019-04-10 02:34] marun commented on #507
Given the lack of activity on this issue, I'm closing.  Feel free to reopen if necessary.

[2019-04-10 02:34] #507 closed

[2019-04-10 02:36] marun commented on #678
@shashidharatd What are your thoughts on this issue?

[2019-04-10 03:05] marun commented on #513
With the addition of idempotent join (#555) and unjoin (#431), I think this issue can be closed.  Feel free to reopen.

[2019-04-10 03:05] #513 closed

[2019-04-10 03:06] marun commented on #495
@magicwang-cn I'm closing this due to lack of activity.  Feel free to reopen.

[2019-04-10 03:06] #495 closed

[2019-04-10 03:13] marun commented on #396
I think this issue is resolved in master (especially after #545). Feel free to reopen.

[2019-04-10 03:13] #396 closed

[2019-04-10 03:16] marun commented on #364
@poothia Is there more to do here or can this issue be closed?

[2019-04-10 03:18] marun commented on #362
This issue has been superceded by #477.

[2019-04-10 03:18] #362 closed

[2019-04-10 03:19] marun commented on #347
@shashidharatd Do you have any interest in following up on this issue or can it be closed?

[2019-04-10 03:20] marun commented on #330
@shashidharatd Can this issue be closed?

[2019-04-10 03:21] marun commented on #324
@shashidharatd Can this issue be closed?

[2019-04-10 03:24] marun commented on #318
Given that this work is no longer actionable for this repo (beyond the already-implemented support for propagation of cluster-scoped types), I'm closing this issue.  Feel free to reopen.

[2019-04-10 03:24] #318 closed

[2019-04-10 03:26] marun commented on #310
Given the addition of gke documentation, I'm assuming this issue can be closed.

[2019-04-10 03:26] #310 closed

[2019-04-10 03:27] marun commented on #265
I think this issue is superceded by #687, and largely complete thanks to the efforts of @xunpan.

[2019-04-10 03:28] marun commented on #302
@poothia Can this issue be closed?

[2019-04-10 03:29] marun commented on #275
@pmorie Is this issue still actionable?

[2019-04-10 03:30] marun commented on #261
@pmorie Is this issue worth tracking in this repo, given that it is can be an orthogonal concern implemented elsewhere?

[2019-04-10 03:32] marun commented on #258
I don't think we're any closer to renaming the sync controller than we were in September.  It just doesn't seem like much of a priority (especially in the absence of pull reconciliation).  I'm closing for now, and we can revisit in the future if necessary.

[2019-04-10 03:32] #258 closed

[2019-04-10 03:34] marun commented on #242
Given that federation of cluster-scoped types is now implemented, I think this issue is no longer actionable.

[2019-04-10 03:34] #242 closed

[2019-04-10 03:35] marun commented on #241
I think this issue has been superceded by #701.

[2019-04-10 03:35] #241 closed

[2019-04-10 03:36] marun commented on #182
@irfanurrehman Is this issue still actionable?

[2019-04-10 03:38] marun commented on #173
I think this issue can be considered resolved by the switch to alpine in #416.

[2019-04-10 03:38] #173 closed

[2019-04-10 03:39] marun commented on #161
The removal of managed fixture in #736 obviates the need for further action on this issue.

[2019-04-10 03:39] #161 closed

[2019-04-10 03:45] marun commented on #116
Each crd generated for a federated type with `kubefed2 enable` includes a validation schema (sourced from openapi or crd schema).  Dry-run validation is still suggested to provide more exact validation, and as mentioned perviously a generic webhook is probably the best way to accomplish this.

[2019-04-10 03:46] marun commented on #115
I think this is being partially resolved with the (ongoing) implementation of `kubefed federate`.   Helm integration would be the logical next step, and a separate issue should be filed for that at some point..

[2019-04-10 03:48] marun commented on #114
Work is ongoing to implement support for `FederationConfig` via #729.

[2019-04-10 03:49] marun commented on #113
@shashidharatd What work items are required to satisfy this issue for v1beta1?

[2019-04-10 03:54] marun commented on #87
This issue was superseded and resolved by #401.

[2019-04-10 03:54] #87 closed

[2019-04-10 03:55] #60 closed

[2019-04-10 03:57] marun commented on #44
Adding to v1beta1 to ensure this issue is documented for the release.

[2019-04-10 04:00] marun commented on #697
@shashidharatd Why does this need to be a beta1 priority?  This is an internal detail that wouldn't impact consumers of a released version of federation.

[2019-04-10 04:03] marun opened #740 "Propagation status should be recorded on federated resources"
There have been a number of issues filed that suggest the value of the sync controller writing per-resource status and per-cluster status to aid in troubleshooting, including but not limited to:

 - Federation of placement stops when clusterName duplicated in override (#588)
 - Jobs are not updated when federated jobs are changed (and status does not show this) (#574)

The consensus seems to be th

[2019-04-10 04:25] marun commented on #265
It looks like helm is binding roles to the default service account, which doesn't satisfy this issue.

[2019-04-10 06:56] #565 closed

[2019-04-10 09:37] shashidharatd commented on #697
@marun, its not a priority, but a nice to have before beta. we shall remove it from milestone if it is a blocker.

[2019-04-10 18:28] marun opened #743 "Attempting to enable federation of an already-enabled type should fail fast"
Attempting to enable federation of an already-enabled type with a non-default group will create the crd for the federated type and then fail in attempting to create the `FederatedTypeConfig` (since it already exists).   `kubefed2 enable` should check for the presence of the FTC for the type and fail immediately if it already exists, since a type can be enabled at most once for a control plane.

/k

[2019-04-10 19:03] marun commented on #721
As part of this bug, the `disable` command should return without error if the type is already disabled.

[2019-04-10 19:37] marun opened #745 "Unjoin should be idempotent"
Currently, attempting to unjoin an already-unjoined cluster will result in error messages as unjoin tries and fails to remove resources that do not exist in the cluster targeted for unjoin.  Similar to join, unjoin should default to not reporting errors of missing resources unless provided with an argument like `--error-on-missing`.

/king bug

[2019-04-10 21:52] marun opened #746 "Document how to enable federation of types with the same plural names"
When `kubefed2 enable` is used to enable types whose plural names (e.g. `<deployments>.extensions`
 and `<deployments>.apps`) match, the crd name of the generated federated type would also match (e.g. `<deployments>.types.federation.k8s.io`).  After the first type with a given plural name is enabled, enabling other types with the same name will fail because a crd with the generated name already ex

[2019-04-10 21:59] marun opened #747 "kubefedctl should indicate the referencing FederatedTypeConfig when generating for a duplicated plural name"
As per #746, it is possible to attempt to enable a type with a plural name that is already in use by another type.  When that occurs, it would be helpful if `kubefedctl` could report the name of the  `FederatedTypeConfig` representing the already enabled type that the attempted enable was conflicting with.

[2019-04-10 22:14] marun opened #748 "kubefed2 should configure itself with FederationConfig"
With the impending requirement that the federation controller manager configure itself with a `FederationConfig` resource, `kubefed2` should be updated to configure itself where possible from the same resource.  At a minimum, this should remove the need for the following arguments:

 - `--registry-namespace`
 - `--limited-scope`

[2019-04-10 22:15] marun commented on #729
@xunpan I've added a separate issue to track configuring kubefed2 with FederationConfig: #748

[2019-04-10 22:31] marun opened #749 "It should not be possible to join a cluster multiple times"
With the update to `kubefed2 join` to support idempotency (#555), it is now possible to join a cluster multiple times without error (unless `--error-on-existing` is supplied).  If this were done accidentally, the sync controller could end up fighting itself if the placement or overrides for duplicated clusters differed.

Possible fixes:

 - update join to be optionally idempotent so that existing

[2019-04-10 23:30] shashidharatd opened #750 "Improve reliability of cluster health check"
**What would you like to be added**:
  Currently, the cluster health check does a single probe and based on the result, the cluster state is changed. This could be erroneous. It is preferable to retry the probe in a row to ascertain the cluster condition accurately. This is also how it is done in [liveness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readines

[2019-04-11 01:43] cooktheryan commented on #705
It seems like the issue has gone away on it's own

[2019-04-11 01:43] #705 closed

[2019-04-11 05:24] #720 closed

[2019-04-11 05:28] xunpan opened #753 "helper functions for idempotent operations"
**What would you like to be added**:
In fix #744,

It makes sense because we have several places with duplicated code for checking/creating/updating resources.

**Why is this needed**:
make code clean

/kind feature

[2019-04-11 07:49] irfanurrehman commented on #182
Yes I see that there still are some items using stuff outside make, which can as well be done using the Makefile.
These "some items" are mostly where building or pushing the image are involved.

[2019-04-11 14:46] #738 closed

[2019-04-12 02:24] xunpan opened #756 "CI failed in configure registry"
**Which test(s) are failing**:
`Configuring container registry on host`

**Since when has it been failing**:
yesterday as far as I know

**Reason for failure**:
It seems CI environment issue.

**Anything else we need to know**:
[code]

/kind failing-test

[2019-04-12 06:49] poothia commented on #364
@marun yes, a couple of things are remaining in it, I'll try to finish it by next week. and close the issue. thanks.

[2019-04-12 06:53] poothia commented on #302
@marun I think it can be closed and individual issues can be opened to add missing go scripts checks, that would be more specific.
what do you think?

[2019-04-12 07:02] #756 closed

[2019-04-12 09:58] xunpan commented on #729
@marun I will handle it

[2019-04-12 11:40] xunpan commented on #709
@marun
We've already had `limitedScope` in `FederationConfig`. Customer can get `FederatedClusters` and know these clusters are in namespaced or cluster-scoped federation based on `FederationConfig` information.

What do you think to make it in `FederatedCluster`?

[2019-04-12 11:45] xunpan commented on #748
I will take this
/assign xunpan

[2019-04-12 11:46] xunpan commented on #729
/assign xunpan

[2019-04-12 17:03] marun commented on #709
@xunpan As per the 'awaiting more evidence' priority, there is no requirement to implement this feature.  As we're experimenting internally with disaster recovery, it occurred to me that someone might attempt to migrate a 'FederatedCluster' between deployments, and if the deployment was of a different scope the behavior could be unexpected (i.e. migrate a namespace-scoped cluster to a cluster-scop

[2019-04-12 17:40] #302 closed

[2019-04-12 22:01] marun commented on #721
When optionally deleting the crd, `kubefed2` should delete the ftc (which will ensure the sync controller is stopped) and then iterate over all instances of the crd and remove the federation finalizer to ensure that garbage collection is possible.  Only then should deletion of the crd be attempted.

[2019-04-13 00:42] font opened #759 "FederatedCluster should use strongly-typed reference to 'Cluster'"
### Background

Kube API convention discourages the use of general object references that are currently being used in `FederatedCluster` `ClusterRef` via `LocalObjectReference`. The reason is that the use of strongly-typed references provides the following advantages:

- it enables you to have specific doc for your type
- prevents additional fields being added by other stakeholders that may not ma

[2019-04-13 00:42] font opened #760 "FederatedCluster should use strongly-typed reference to 'Secret'"
### Background

Kube API convention discourages the use of general object references that are currently being used in `FederatedCluster` `SecretRef` via `LocalObjectReference`. The reason is that the use of strongly-typed references provides the following advantages:

- it enables you to have specific doc for your type
- prevents additional fields being added by other stakeholders that may not mak

[2019-04-13 00:43] font opened #761 "KubeFedClusterStatus should reflect when the content of the secret is invalid"
### Background

The `SecretRef` field of [KubeFedCluster](https://github.com/kubernetes-sigs/kubefed/blob/61da561fd0acb2380ff5b2051e389555713672c3/pkg/apis/core/v1beta1/kubefedcluster_types.go#L39) could point to a secret whose content is invalid, preventing the kubefed controller from performing the necessary operations in the member cluster. Currently if the kubefed controller is using an invali

[2019-04-13 11:02] #549 closed

[2019-04-15 10:51] mvazquezc opened #763 "Replicas are not re-balanced (back) when using RSP and "rebalance: true""
**What happened**:
A RSP[1] is created to distribute replicas evenly across all clusters (3 in our scenario), one of the clusters is cordoned so replicas cannot be scheduled there. The rebalancing mechanism configured the replicas like this:

[code]
If we uncordon Cluster B, the replicas are not re-balanced, so Cluster B configuration remains to 0 replicas.

[1]
[code]

**What you expected to happ

[2019-04-16 18:45] #729 closed

[2019-04-17 00:45] xunpan opened #770 "support optional values in FederationConfig"
**What would you like to be added**:
support optional filed in `FederationConfig` yaml.

Currently, default values of `FederationConfig` is not supported in yaml file.
If a field in yaml file is not specified, the default value in yaml but not in controller manager is used. E.g. `cluster-monitor-period` is not specified, it is not `40s` as default but `0s` as default value.

**Why is this needed**

[2019-04-17 00:50] marun commented on #770
Doing this properly will require a validating webhook, since openapi schema validation does not support defaults.  A good stopgap could be the controller manager observing invalid values (like `0s` for a monitor period) and writing its defaults back to the API.

[2019-04-17 06:01] xunpan commented on #687
I've already fixed this in https://github.com/kubernetes-sigs/federation-v2/pull/710. But it seems not make it closed automatically.

@marun please close this ticket if there is no other concern.

[2019-04-17 11:02] Joseph-Irving commented on #740
Has there been any discussion around including more detailed statuses that have some basic info about the state of the resource in each cluster? e.g for a deployment:
[code]
This would make our lives a lot easier, as iterating over all our kube contexts to check if the deployment succeeded can be a bit awkward. There would still be scenarios where you would need to go into an individual cluster to

[2019-04-17 14:19] shashidharatd commented on #678
IMHO, the cross-cluster service discovery feature should be able to work with multi-zone clusters. logically, there should be no issues. But we have to try and test it. I would try to put up a PR in coming days.

[2019-04-17 14:23] marun commented on #740
Yes. Federation is intended to be general-purpose, so including custom behavior to collect arbitrary status for any type is unlikely.  Scalable resources (deployments, replicasets) are likely to be an exception, though, since aggregating those details locally would simplify scheduling mechanisms.

[2019-04-17 14:28] #265 closed

[2019-04-17 15:08] marun commented on #687
@xunpan I think there is still a bit more work to reduce the control plane permissions for built-in types to a minimum:

- secrets should only have 'get', and only in the federation namespace for the cluster role
- namespaces should not have 'patch', 'create', or 'update'
- configmaps should have not 'patch' (and maybe not list or watch?  it's only used for leader election afaik) and only in the f

[2019-04-17 16:42] marun opened #773 "Rename `limitedScope` option to `scope` or `deploymentScope` for clarity"
When talking about federation deployment, we talk about 'cluster-scoped' or 'namespace-scoped'.   The option to configure the scope , though, is `limitedScope` in `FederationConfig`, with a value of `true` indicating namespace-scoped and `false` indicating cluster-scoped.  It would be easier to understand if the argument was `scope` or `deploymentScope` and the values were `cluster` and `namespace

[2019-04-17 22:14] marun commented on #749
It may also make sense for `kubefed2 join` (without a cluster name argument) to list available contexts in the local kubeconfig as well as indicate which contexts have already been joined.

[2019-04-17 22:22] marun opened #774 "Support resource grouping"
Currently federation only manages individual resources.  There is no mechanism to define the relationship between the resources that comprise an application (e.g. a service that depends on a deployment that depends on a secret).  This complicates scheduling, which only knows about scalable resources but not its dependents or dependencies.  It also prevents the reporting of the sync status of the r

[2019-04-18 00:06] xunpan commented on #773
/assign
I will handle this.

[2019-04-18 04:38] #750 closed

[2019-04-18 12:22] poothia opened #778 "Switch to go modules for dependancy management"
switching to go modules for depndancy management

REF:

https://github.com/liggitt/gomodules/blob/master/README.md

https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md

[2019-04-19 05:24] draveness commented on #774
/cc

[2019-04-20 02:32] marun commented on #778
I don't think this is something we want to tackle until after v1beta1.

[2019-04-20 03:29] marun opened #782 "`kubefed2`: Add command(s) that report control plane state"
The implementation of `FederationConfig` exposes the configuration of a federation controller manager, and suggests adding a command that outputs aggregated details of the control plane:

[code]

Or maybe it makes more sense to have individual commands for each type of config (e.g. `get config`, `get clusters`, `get ftc`)?

/kind feature

[2019-04-21 14:36] XiangLi0619 opened #783 "Fail to join a new cluster"
I installed the federation control plane and joined the host cluster. Before adding another cluster, how can I edit config and add the new cluster information? As someone new to kubernetes I was somehow confused with the user guide, because when I followed it
`./bin/kubefed2 join federated1 --cluster-context federated1 \
    --host-cluster-context xxxx --add-to-registry --v=2`
I got
`I0421 22:27:3

[2019-04-21 18:22] marun commented on #783
The context name for the cluster you are joining needs to exist prior to joining.   As per the log message, the kubeconfig context being used for `--cluster-context` was `federated1` (not `cluster2` as indicated in the command line you provided).  Note that, if not provided, `--cluster-context` will default to the name of the cluster you are attempting to join.

I encourage you to follow the guide

[2019-04-22 05:41] poothia commented on #778
seems logical.

[2019-04-22 10:38] draveness commented on #743
Is this issue still exists? I checked out the code in `enable.go` file and found out the cmd will update the `FederatedTypeConfig` if it already exists.

[code]

[2019-04-22 17:06] XiangLi0619 commented on #783
Thanks @marun . I found what I missed and made it. This issue can be closed.

[2019-04-22 17:06] #783 closed

[2019-04-22 19:01] font commented on #743
This issue has been superseded by #720. I would close this but considering this issue was created after #720, I'll defer to @marun.

[2019-04-22 19:05] font commented on #782
+1
We could even do both and the aggregated info command can re-use code from the individual commands.

[2019-04-23 04:25] draveness commented on #782
I could take a look at this issue and open a PR. :)

[2019-04-24 02:31] xunpan opened #794 "webhook for federation"
**What would you like to be added**:
add webhook to avoid manually change the read only content for federation controller
 E.g. `ConfigurationConfig` scope part does not need to be changed after it is set during deployment.

It will be used to validate related values in setting federated related resources.

**Why is this needed**:

/kind feature

[2019-04-24 02:31] xunpan commented on #794
/assign panpxpx

[2019-04-24 02:32] xunpan commented on #794
/assign xunpan

[2019-04-24 04:36] marun commented on #794
@xunpan I'm not sure this should be a near-term priority given how many items remain in [v1beta1](https://github.com/kubernetes-sigs/federation-v2/milestone/4).  I don't think shipping a webhook will be trivial given the certificate management it will require.

[2019-04-24 04:58] marun commented on #782
@draveness I think we'll want to flesh out our intention before you go ahead with implementation.

[2019-04-24 05:29] xunpan opened #795 "use namespace from system in"
**What happened**:

**What you expected to happen**:
It would be desirable to set federation-namespace via the config mechanism if scope == Namespace.

Follow up action for https://github.com/kubernetes-sigs/federation-v2/pull/771

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
-

[2019-04-24 06:36] draveness commented on #782
👍

[2019-04-24 15:17] pmorie commented on #688
In the April 24 2019 meeting, we established consensus that explicit name-based references should be conformant with the API conventions. Discussion still happening on selectors.

[2019-04-24 17:23] font opened #798 "Ability to disable leader election"
In order to properly debug the `controller-manager` using a debugger, it is necessary to be able to disable leader election. Otherwise while things are halted in the debugger, the leader election will timeout resulting in an unusable debug session. Adjusting the various leader election time interval options that are currently available and shown below is not sufficient. As while it may improve the

[2019-04-24 23:00] marun commented on #743
@font This issue was not been superseded by #720.  If you inspect the code, you will notice that CRD creation is performed before checking if an FTC exists.  This allows creation of a duplicate CRD with non-default group/version.  A check for the FTC should instead be performed in advance of CRD creation, and enabling should fail if the group and version of the CRD that will be created don't match

[2019-04-24 23:37] marun commented on #795
The federation namespace is implicitly the same namespace that the controller manage is running in.  The only case where it should be necessary to manually specify `--federation-namespace` is if running outside of a cluster (i.e. for testing), and even then the namespace could be defaulted to the namespace of the service account the controller manager is using to authorizing itself to the API serv

[2019-04-25 00:16] font commented on #743
@marun Apologies I misread your original comment. The important keyword was `non-default` group.

[2019-04-25 05:40] #678 closed

[2019-04-25 06:17] xunpan commented on #798
I remember we removed leader election option in command line before. Do we change our mind? Or I lost something?
@font

[2019-04-25 06:18] xunpan commented on #794
This is logged for long term trace .

[2019-04-25 11:08] #701 closed

[2019-04-25 14:54] marun commented on #798
How about we allow leader election to be disabled only if the controller manager is running outside the cluster (i.e. `--kubeconfig` is provided)?

[2019-04-25 15:23] xunpan commented on #114
@pmorie @marun
#729 is closed and `FederationConfig` is merged. Is that OK to close this ticket?

[2019-04-25 16:06] marun commented on #114
Yes, I think this can be closed.  Thank you!

[2019-04-25 16:06] #114 closed

[2019-04-25 17:42] #770 closed

[2019-04-25 17:44] #748 closed

[2019-04-25 19:14] font commented on #798
@marun Is there a reason to only allow this outside the cluster? It would probably cover most cases, but doing so may preclude using certain tools that can debug inside of kubernetes. Are we concerned about users shooting themselves in the foot? I was thinking we could have a flag and possibly mark the flag as hidden.

[2019-04-25 21:44] marun commented on #798
@font I'd prefer to only support controller managers that are using leader-election if at all possible.  Won't debugging inside of kubernetes be restricted to the 'attach to running process' variety, such that the appropriate lease and retry duration would allow debugging with leader election enabled?

[2019-04-25 22:16] font commented on #798
@marun I guess it depends on the debugger. But I don't think that attaching to a running process would be different than debugging the process from the beginning.

[2019-04-25 22:25] marun commented on #798
@font 'Attaching to a running process' to me implies the possibility of the process having gained a lease prior to the debugging session being launched, and with a long enough lease and retry duration it would be unlikely to disrupt a debugging session.

But, whatever.  Allowing it to be disabled is fine as long as corresponding documentation is added to warn about the consequences of doing so.

[2019-04-25 22:32] marun opened #799 "Rename `kubefed2` binary"

[2019-04-25 22:35] marun opened #800 "`kubefed2 federate` should support input from disk"
Current `kubefed2 federate` only takes converts resources sourced from a Kubernetes API.  A frequent request has been to source resources to federate from yaml.  A simple implementation could be `kubefed2 federate -f myresources.yaml`, without output automatically being to stdout as converted yaml.

[2019-04-26 01:27] font commented on #798
@marun I see your point! That would certainly get around the timeout. One would just have to select the right values before the `controller-manager` runs as I don't think those values are currently configurable at runtime. Either way, if we had a hidden flag, would that be enough to not require documentation?

[2019-04-26 02:07] marun commented on #798
I'm not sure what you mean by 'hidden flag', given that developers will need to know how to use it.  We need to add documentation for leader election anyway (@shashidharatd!).

[2019-04-29 06:19] xunpan commented on #745
I think `--force` should be removed if we support `unjoin` operation in idempotent way.
Because no matter what happens (no `--error-on-missing`), `unjoin` always make related resources removed. @marun

[2019-04-29 13:29] pmorie opened #804 "Understand how to upgrade the federation API for a resource"
**What would you like to be added**:

APIs in the kubernetes ecosystem are not static and will change across releases of Kubernetes or the component that provides them. Currently, we do not have a story for how the federation API for a resource is upgraded when the API being targeted changes. This issue is for us to understand how we would support API upgrades to federation APIs.

Take for example

[2019-04-29 14:03] irfanurrehman commented on #800
How elaborate is the suggested need of this functionality before beta. For an example, kubectl can scan directories and read json or yaml files with multiple resources in each files. Should we support something similar or a single file input (say --filename) should suffice for now.

[2019-04-29 14:15] irfanurrehman commented on #668
I think this should centainly be taken care by #715.
Also https://github.com/kubernetes-sigs/federation-v2/issues/612 takes care or majority of other scenario.

The only missing piece I think remains as an option for the user (via a configuration) to control the behaviour of adoption. @shashidharatd as per out last talk, are you intending to implement that?

[2019-04-29 14:18] irfanurrehman commented on #113
@pmorie I have taken the liberty to assign this to you together with @shashidharatd. Please feel free to unassign if this is not the right thing to do.

[2019-04-29 14:42] pmorie commented on #804
In the April 29 WG meeting we talked about the output for this in the initial beta release being documentation that expresses what types of upgrades a user should expect to be able to handle. We expect that this area will be the subject of ongoing work as the CRD capability matures (eg conversion webhooks being elevated to beta).

[2019-04-29 15:48] shashidharatd opened #805 "Configurable 'adopt pre-existing resource' behaviour of sync controller"
**What would you like to be added**:
Currently the behaviour of sync controller is to adopt an pre-existing resource in member cluster by adding a `managed` label to it. There is a desire to not adopt and report an error/event on such occurrences in some control plane deployments. We could add a configuration to sync controller to implement the above said behaviour and let the administrator chose

[2019-04-29 15:49] shashidharatd commented on #668
Closing this one as per above comment and have opened https://github.com/kubernetes-sigs/federation-v2/issues/805 for the missing part.

[2019-04-29 15:49] #668 closed

[2019-04-29 20:29] #773 closed

[2019-04-29 20:32] marun commented on #687
@xunpan I would like to see secret and configmap permissions limited to the federation namespace as per [my comment on #796](https://github.com/kubernetes-sigs/federation-v2/pull/796#pullrequestreview-230702861) before this is closed.

[2019-04-30 06:14] marun opened #809 "Cluster controller errors should be logged as events on clusters where possible"
/kind feature

[2019-04-30 08:03] freegroup opened #810 "failed to install via helm"
**What happened**:
Installing kube.fed-v2 vi helm reports an error
[code]

I add the helm repo for the fed-v2 before
[code]
**What you expected to happen**:
the fed-v2 control plane is installed without any errors

**Environment**:
- Kubernetes version (use `kubectl version`)
[code]
- Federation version: 0.0.9
- Install method (helm vs script): helm
- Install configuration (namespaced vs cluster-s

[2019-04-30 10:32] HaraldGustafsson commented on #810
I had the same issue but after removing the CRDs and other things (as explained in deleting federation) and run it a second time it worked.

[2019-04-30 10:36] HaraldGustafsson opened #811 "kubefed2 release v0.0.9 only contains symlink"
**What happened**:
Downloaded kubefed2 binary release 0.0.9, verified checksum, untared it to find it only contained a sym link to kubefed2-linux and not the actual binary.

**What you expected to happen**:
That the actual binary should be included.

**How to reproduce it (as minimally and precisely as possible)**:
as above

**Anything else we need to know?**:

**Environment**:
- Kubernetes versio

[2019-04-30 15:18] pmorie opened #812 "Beta APIs should be validated"
**What would you like to be added**:

We currently do not have any API validations for the core API resources (FederatedTypeConfig, etc). We should add a validating webhook for APIs we are going to elevate to beta so that we can meet the normal user expectation of not allowing invalid data into APIs.

**Why is this needed**:

Users have a baseline expectation that APIs are validated, which is espe

[2019-04-30 15:20] pmorie commented on #812
I should note that I mean this statement to apply only to the APIs of _federation_ - not to the APIs that we generate. Validation for generated APIs should be thought of as a different issue.

[2019-04-30 16:51] font opened #813 "Automate the release of new versions"
**What would you like to be added**:
The release instructions documented at https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/releasing.md should be automated to the extent possible. We could introduce a new Makefile target e.g. `make release` that would invoke a script. If necessary, this may include prompting the user at various steps in order to make a decision. We may also requ

[2019-04-30 18:10] marun commented on #811
Thanks for reporting this, fixed!

[2019-04-30 18:10] #811 closed

[2019-04-30 18:25] marun commented on #810
@freegroup As per @HaraldGustafsson's comment, are you deploying to a clean cluster (where fedv2 has not been deployed previously or fedv2 has been removed as per the instructions)?

[2019-04-30 20:28] marun commented on #745
@xunpan SGTM

[2019-04-30 20:51] marun opened #815 "Changing the target version of an FTC does not result in sync controller restart"
It is possible to upgrade the target version of an `FederatedTypeConfig` (FTC), but the FTC controller does not currently respond to the change:

[code]

The FTC controller should detect when the target version of an FTC has changed and restart its sync controller.

/kind bug

[2019-04-30 20:52] marun commented on #804
`kubefed2 enable` supports updating an existing federated type `CRD` and `FederatedTypeConfig` (FTC).  Provided backwards compatibility in the target API (i.e. no explicit conversion required), this will allow upgrading of federated types:

[code]

Existing CRs for the federated type should not need to be modified so long as field changes are additive only.  However, the FTC controller does not cu

[2019-04-30 21:31] freegroup commented on #810
IT Is a fresh and Clean kubernetes Cluster.

[2019-04-30 21:43] pmorie opened #816 "Creating default FederationConfig fails"
**What happened**:

TLDR: the controller does not correctly create a default `FederationConfig` if one does not exist.

We ran the federation controller thusly:

[code]

Notice that in the last line of the log, the error message states `resource name may not be empty` - this is because the flow in setOptionsByFederationConfig does not give the default `FederationConfig` a name

**What you expected

[2019-04-30 22:53] marun commented on #810
@freegroup What version of helm are you using?  And have you granted the necessary permissions to the tiller (if rbac is enabled in the host cluster)?  I was not able to reproduce the issue you report (using kube 1.14 helm 2.13) so long as I granted the tiller the necessary permissions (see #817).

[2019-04-30 23:00] #759 closed

[2019-05-01 05:50] HaraldGustafsson commented on #810
Clarify that I also installed to a cluster that not previously had fed V2 installed, the deletion was between the attempts. I did not delete the federation system namespace in between. But it worked the second time. The cluster is on VMs on openstack. Maybe a race condition?

[2019-05-01 10:45] freegroup commented on #810
I'm using helm in the version below:
[code]

we have RBAC enabled in our cluster. Installation of helm is shown below
[code]

The Kubernetes version is 1.14.0 and it is created via https://gardener.cloud/ . Gardener seems to pass the kubernetes conformance test with 100% (https://k8s-testgrid.appspot.com/conformance-gardener#Gardener,%20v1.14%20AWS). I think nothing special or broken setup should

[2019-05-01 10:54] freegroup commented on #810
`brew upgrade kubernetes-helm` is the solution. Sorry for the noise.

[code]

maybe it is a good idea to mention which are the required HELM version for the installation

Thanks for the support!

[2019-05-01 10:54] #810 closed

[2019-05-01 14:43] shashidharatd commented on #799
I can pick this up, if no one else is already working on it. provided we have consensus on the name

[2019-05-01 14:58] marun commented on #810
@freegroup The helm install instructions already mentions the dependency on helm > 2.10:

https://github.com/kubernetes-sigs/federation-v2/blob/master/charts/federation-v2/README.md#prerequisites

[2019-05-01 15:10] freegroup commented on #810
Thank you again for your patience. Sometimes I accidentally overlook the important things. :-/

[2019-05-01 15:40] marun commented on #799
Consensus: `kfctl`

[2019-05-01 15:43] gyliu513 commented on #799
@marun I think it may not good to use `kfctl` as kubeflow is already using it, please refer to follows:

- https://medium.com/kubeflow/kubeflow-v0-5-simplifies-model-development-with-enhanced-ui-and-fairing-library-78e19cdc9f50
- https://github.com/kubeflow/kubeflow/blob/master/kfctl/README.md

[2019-05-01 15:46] marun commented on #799
Thanks @gyliu513.  Revised consensus: `kubefedctl`

cc: @shashidharatd

[2019-05-01 15:46] shashidharatd commented on #799
@gyliu513, Thanks for the reference. Agree, that we should not rename to kfctl as there is already such tool in the k8s ecosystem.
How about `kcfctl` --> Kubernetes Cluster federation Ctl?

[2019-05-01 15:47] shashidharatd commented on #799
kubefedctl SGTM

[2019-05-01 16:58] marun opened #826 "kubefedctl should support checking whether an FTC is/all FTCs are using the latest api version"
Enabling a type (e.g. `deployments.apps`) for federation requires specifying a version (e.g. `v1apha1`) for the target type.   This version is configured via the `FederatedTypeConfig` for the type, and will need to be maintained over time as new versions become available.  It would be helpful if `kubefedctl` supported a command that would check the versions configured in `FederatedTypeConfig` reso

[2019-05-01 18:56] marun opened #827 "Document how to determine that a target type is present in all federated clusters"
This is intended to document how to manually do what #314 is intended to automate.

[2019-05-01 19:25] marun opened #828 "Enable `kubefedctl` testing"
Currently what little testing we have for `kubefedctl` is largely implicit testing via use in e2e setup (e.g. join/unjoin) or e2e execution of internal methods.  Given the large number of additions and improvements to the cli tool, a proper testing framework is suggested that makes it easy to test binary invocation directly.  The deliverable for this issue would be:

 - a framework for invoking `k

[2019-05-01 19:42] font opened #829 "kubefedctl should support deleting CRDs when custom resources exist"
**What would you like to be added**:
When optionally deleting the CRD using `--delete-crd`, `kubefedctl` deletes the CRD only if any of its custom resources do not exist. If resources exist, it will report an error suggesting the user to delete them manually and retry. Instead when resources exist, `kubefedctl` should handle having those resources deleted when the user specifies a `--force` option

[2019-05-01 19:43] font commented on #721
Closing this as fixed by #769. I've created a new issue https://github.com/kubernetes-sigs/federation-v2/issues/829 to track handling the deletion of custom resources.

[2019-05-01 19:43] #721 closed

[2019-05-02 06:47] shashidharatd commented on #535
This is addressed with https://github.com/kubernetes-sigs/federation-v2/pull/824

[2019-05-02 06:47] #535 closed

[2019-05-02 06:48] #402 closed

[2019-05-02 14:25] irfanurrehman opened #833 "How should federate resource pick type info for conflicting types [kinds exposed in multiple groups]"
There is a possibility that same `target kind` exists across multiple groups. For example k8s core type `deployments` is available in both `extensions` and `apps`.
This poses a problem while federating a resource (especially namespace with content), such that the same resource could be queried against all exposed group and versions (with internal API conversions). So effectively a single resource

[2019-05-02 17:22] irfanurrehman commented on #833
There is also a possibility that a `kind` under multiple `groups` is not meant for the same resource (implying different CRDs). This is the scenario handled right now in #741 by treating all `group resources` except those relevant to `extensions` as different resources.

[2019-05-02 17:48] #799 closed

[2019-05-02 19:24] #805 closed

[2019-05-02 19:58] marun commented on #833
As per our discussions, I think erroring out is an acceptable solution and one that requires minimal effort to implement.  So long as a target type is enabled prior to attempting to convert a resource of that type with `kubefedctl federate`, conversion should work fine.  If the type of a resource intended for conversion has not been converted, and enabling with the default group would result in a

[2019-05-03 12:54] #827 closed

[2019-05-03 17:01] raffaelespazzoli opened #834 "error resolving name when attempting to create the dnsendpoint object"
**What happened**:

I am getting this error when the federation control plane is attempting to create a dnsendpoint object related to a servicednsrecord:
[code]
attempting the same resolution from the container terminals gives this result:
[code]

the name seems to be resolved correctly, but at notice the initial error:
`nslookup: can't resolve '(null)': Name does not resolve`

digging on it, it s

[2019-05-03 17:25] font opened #835 "Controller log flooded with 'ClusterReady healthz responded with ok' messages"
**What happened**:
When increasing log verbosity to `--v=4` in an attempt to debug the `controller-manager` logs, the log is flooded with repeated messages of:
[code]

These appear to be benign `healthz ok` messages, but it makes debugging the log difficult. Consider reducing the verbosity by increasing its log level to something > 4:
https://github.com/kubernetes-sigs/federation-v2/blob/a2b9d8f2b

[2019-05-03 17:34] marun commented on #835
@font I think for issues as trivial as this - requiring one character change to affect a log level - I would suggest minimizing the effort involved by just posting the PR without a detailed issue.

[2019-05-03 17:38] font commented on #835
@marun +1. I was originally just filing the issue, but as I was doing so I dug into it and just fixed it in tandem. At that point the issue was already created so I just made a quick PR. Apologies for the thrash.

[2019-05-03 17:39] #760 closed

[2019-05-03 17:41] #687 closed

[2019-05-03 18:29] #612 closed

[2019-05-03 18:45] font opened #837 "Add tests for federatedtypeconfig controller"
The `FederatedTypeConfig` controller should have more testing implemented as it is currently limited. Some things that need testing:

1. The FTC status updates for the `PropagationController` `Running` or `NotRunning` needs to be tested.
2. The reconciliation of FTCs when namespace FTC is created or deleted. See #801.

In discussions with @marun, some thoughts on testing could include updating the

[2019-05-03 20:36] michaelfig commented on #731
With the helm chart 0.0.9, I need the following doc fix:

[code]

but when I run the Helm install with `global.scope=Namespaced`, I get:

[code]

It seems that some cluster-wide CRDs are still required to do a namespaced install.

[2019-05-03 22:01] michaelfig opened #838 "Documentation: integration with single-cluster controllers"
**What would you like to be added**: Documentation for how to integrate federation with useful controllers that are not aware of Federated resources, like [cert-manager](https://github.com/jetstack/cert-manager), [Weave Flux](https://github.com/weaveworks/flux), and similar systems that update non-Federated resources based on external state.

I am working on one particular solution at https://gith

[2019-05-03 22:15] michaelfig commented on #838
A useful related feature would be a way to specify via `placement` that a given Federated resource should not be scheduled on the host cluster, without also deleting a source resource that has the same name.

Currently, if I have a cert-manager Certificate that generates a Secret called `cloud-secret` in the host cluster, which k8s-copier uses to update the `spec.template` of a FederatedSecret als

[2019-05-03 22:17] marun commented on #731
@michaelfig A fedv2 deployment depends on a number of API resources (e.g. `FederatedCluster`, `FederatedTypeConfig`, etc) that are deployed as CRDs.  CRDs are cluster-scoped resources even if the resources they represent are not (e.g. `FederatedCluster` is namespaced).  Therefore, deployment of federation depends on having sufficient permissions to create CRDs.

Assuming your use case requires all

[2019-05-03 22:17] #731 closed

[2019-05-03 22:34] marun commented on #838
@michaelfig fedv2 supports 2 ways of leaving existing resources alone in a given cluster (any cluster, not just the host cluster).   The implementation of #612 ensures that federation only operates on resources that are labeled with `federation.k8s.io/managed: true` (that includes deletion).  If a federated resource were created without placement for a given cluster (including the host cluster), t

[2019-05-03 22:38] marun commented on #838
Does the above comment satisfy this issue?  Otherwise I'm not clear on what exactly is intended to be the actionable result of the issue.  The mention of 'single cluster controllers' in the title suggests it may have to do with respecting local modifications, but if that is the case this issue should likely be closed in favor of #633.

[2019-05-03 22:46] michaelfig commented on #838
Thanks so much for your feedback!  It looks like #612 solves this for me.

You can close this issue if you'd like.  I'd created it as a placeholder for communicating the process around using one cluster's automatically-updated resources as a template for Federated resources.  Maybe I didn't make that explicit.

Maybe that belongs in a different forum, but I thought it was a frequent-enough situati

[2019-05-03 22:49] marun commented on #838
Feel free to propose additions to the user guide that you think would be helpful to others.

[2019-05-03 23:07] #733 closed

[2019-05-03 23:12] marun opened #839 "ServiceDNS test setup races with cluster controller"
I've seen a few instances of this (most recently on #801) but didn't identify the nature of the problem until today.  It looks like `ensureClustersHaveRegionZoneAttributes` called from `ServiceDNS` test setup needs to retry the status update on failure due to contention rather than always failing.

[code]

[2019-05-04 04:32] michaelfig opened #841 "Allow -oyaml for kubefedctl join"
**What would you like to be added**:

As discussed in https://github.com/kubernetes-sigs/federation-v2/pull/781#issuecomment-486460654 I would like to settle on a design for a dry-run `kubefedctl join -oyaml`.  I may be able to work on it if there is agreement on the direction to take.

The main constraint is that (unlike `kubefedctl enable` and `kubefedctl federate`) portions of the generated YAM

[2019-05-04 04:54] marun commented on #841
The yaml that is applied to a cluster targeted to be joined will be easy enough.  The resulting yaml would be the same for any cluster for a given scope.

Yaml for the host cluster side of a given join isn't so simple, because it depends on the the auth credentials of the service account created in the joined cluster by the first part of the join operation.  How would you propose to address this d

[2019-05-04 06:45] #816 closed

[2019-05-04 18:07] #722 closed

[2019-05-04 18:44] michaelfig commented on #841
I'm not suggesting that the two phases/roles need to be independent.  They would need the same input parameters, but could be dependent on a specific ordering.

For example, the `join-host` could look up values (such as the service account credentials), and if they were not yet created, squawk with `join-target` needs to be applied first.

Then, I could do:

1. Run `join-target -oyaml` (or `join -

[2019-05-05 02:07] #835 closed

[2019-05-05 02:47] xunpan commented on #745
Logic here should be:
1. if host cluster client failed, return false.
2. if unjoining cluster client failed, contrinue to operate on host cluster.
3. if error on missing, return false if any federation related `resource` does not exists.

@marun, is it only for logic equivalent of `join` or it is useful for `--error-on-missing`? Unjoin should clean resource as many as it can. What is the use case

[2019-05-05 03:02] xunpan commented on #104
@pmorie
What does your walkthrough means for a script?
From my understanding, below `kubectl` command line is enough to deploy a simple federation resource.
[code]

[2019-05-05 05:25] xunpan commented on #746
/assign

[2019-05-05 06:41] gyliu513 opened #846 "Leverage kubernetes/test-infra for federation v2 CI"
**What would you like to be added**:
It is better to enable federation v2 also leverage `kubernetes/test-infra` to do the CI checking, please refer to https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs for detail.

/cc @marun @xunpan

**Why is this needed**:

/kind feature

[2019-05-05 11:28] xunpan commented on #654
/assign

Let me handle it for beta

[2019-05-05 12:22] xunpan commented on #151
I think APIVersion should be independent from release version. However, as we're entering beta, do we plan to use `v1beta1` to our API version?

@shashidharatd @marun @pmorie

[2019-05-06 02:09] shashidharatd commented on #834
@raffaelespazzoli, Thanks for filing the issue. This is legit issue and affects the environment involving AWS loadbalancers.

[2019-05-06 02:13] shashidharatd commented on #834
Related Issue: https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-484673984

[2019-05-06 07:56] xunpan commented on #44
Currently, there is only 1 `federatedjobs`. The change to the `immutable` filed also not allowed.
However, currently, controller accept the change with no err message in controller by default.

I think we can doc this behavior and cover it later in webhook implementation.
@marun

[2019-05-06 11:49] raffaelespazzoli commented on #834
@shashidharatd I run a test with a different base image. The issue remains, so I can confirm that it's not caused by the alpine base image.
Are there any plans to fix this issue?

[2019-05-06 14:57] felixhuangau opened #851 "Fail to run ./scripts/create-clusters.sh"
After download the binaries and I run `./scripts/create-clusters.sh`, it failed and showed `
./scripts/create-clusters.sh: line 98: kind: command not found`.

How can I fix that?

[2019-05-06 15:04] #851 closed

[2019-05-06 19:14] marun commented on #846
A past blocker for adopting prow was this repo's dependency on a deployed cluster.  kind is now supported by prow, but now we're dependent on multiple deployed clusters.  Does prow support multiple kind clusters for a job?

Also, prow is very different from travis in that it is based on containers rather than images.  This move to a more 'immutable' approach to our CI infrastructure is potentially

[2019-05-06 19:39] marun commented on #745
@xunpan Maybe the only use-case is pathological testing - ensuring that the resources that were expected to be present were actually present.  If that is true, then I don't see a good reason to expose it to the user as a flag.

[2019-05-06 19:54] marun commented on #104
I think a script is suggested because the existing walkthrough is not sufficient.  A revised walkthrough would ideally include something like the following:

 - apply yaml to create a namespace and resources in that namespace that comprise a web service (i.e. create a non-federated microservice)
 - federate the application with `kubefed federate ns --contents ` (e.g. #741)
 - check the propagation

[2019-05-06 20:00] marun commented on #44
@xunpan This is also a problem with secrets - it's not possible to change the secret type after creation.  But yes, as per the doc tag we're targeting a doc fix rather than a technical one for beta.

[2019-05-06 23:10] marun commented on #841
I think what you are suggesting is reasonable.  The caveats to my tentative go-ahead are:

 - This will be sufficiently risky that I think it should be deferred until after `v1beta1`
 - Comprehensive testing will be required.  We currently lack good coverage for many cli commands, including `join`, and I would like to see decent coverage merged for the command (via something like the cli testing f

[2019-05-06 23:15] marun opened #855 "Attempting to enable a type in group `extensions` should fail"
Currently it is possible to enable a type in the `extensions` group (e.g. `kubefedctl enable deployments.extensions`).  Given that `extensions` is deprecated, and the types it contains have been available in other groups for some time, any `enable` invocation should instead be made for the type in the new non-deprecated group.  This would avoid the potential of someone accidentally enabling an `ex

[2019-05-06 23:23] marun opened #856 "Update version of APIs that are transitioning to beta"
Any API that we intend to move to a beta status will need to have its version updated in the code and documentation before we release.

[2019-05-06 23:23] marun commented on #151
@xunpan Yes, part of the beta release process will be renaming the API groups we intend to take to beta.  I've filed #856 to ensure we track the work involved.

[2019-05-06 23:33] michaelfig commented on #841
Okay, sounds good.  Is there some GitHub label you can apply to this issue so that we remember to come back to it?

[2019-05-07 00:38] marun commented on #373
I think we may want to add a darwin binary to the release artifacts for v1beta1.

[2019-05-07 00:59] #743 closed

[2019-05-07 15:14] shashidharatd commented on #373
I can work on this if nobody else is working on this.

[2019-05-07 15:15] shashidharatd commented on #373
@yamt, @draveness any of you interested in picking up this task?

[2019-05-07 23:02] #746 closed

[2019-05-08 00:26] #654 closed

[2019-05-08 00:50] draveness commented on #373
I could pick this up. :)

[2019-05-08 01:29] draveness commented on #373
Hi, just found out this PR https://github.com/kubernetes-sigs/federation-v2/pull/854/files#diff-935529b9829971ac67b10793cc76e3acR40 which build release artifacts automatically.

Is it correct we should use `kubefedctl-darwin` instead of `kubefedctl-linux`?

[2019-05-08 01:38] marun commented on #373
@draveness `make kubefedctl` should continue building for the detected platform.  The cross compile support requested by this issue requires something like `make kubefedctl HOST_OS=<darwin|linux>` to enable building for a host os different from the one that the command is being executed on.

[2019-05-08 01:40] marun commented on #373
@draveness Ideally the proposed build script would be able to automatically build `kubefectl` for both darwin and linux:

https://github.com/kubernetes-sigs/federation-v2/pull/854/files#diff-935529b9829971ac67b10793cc76e3acR37

[2019-05-08 01:40] draveness commented on #373
Yeah, I ran this cmd on my laptop and got two binaries at the same time.

[2019-05-08 02:00] draveness commented on #373
Sorry for questions again, does this script already have the ability to build binary cross platform, I ran the following cmd on macOS terminal:

[code]

[2019-05-08 02:12] marun commented on #373
I guess that would  be it, yes.  I can update the PR in question...

[2019-05-08 02:12] marun commented on #373
I'm going to close this issue - it looks like it's fixed (thanks to @yamt).

[2019-05-08 02:12] #373 closed

[2019-05-08 02:18] draveness commented on #809
I'd like to take this.

[2019-05-08 08:42] blucruz opened #858 "Add federated StatefulSet and DaemonSet."
**What would you like to be added**:I noticed there is federated Deployment in federation. Yet StatefulSet and DaemonSet is not supported. Could we add this two resource to federation?

**Why is this needed**:There is a demand for federated StatefulSet and DaemonSet in federation.

/kind feature

[2019-05-08 14:37] marun commented on #858
@blucruz fedv2 enables a subset of available types by default, and also supports enabling any kube type (including any CRD) as per the documentation:

https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#enabling-federation-of-an-api-type

Please close this issue if the above link satisfies your requirements.

[2019-05-08 16:56] pmorie opened #860 "Rename repo to kubefed"
This issue represents our group consensus to rename the repo to `kubefed`.

- [x] Rename software references to `federation` to `kubefed`
  - [x] API groups
  - [x] Helm chart name
  - [x] Name of `federation-system` namespace
- [x] Rename repository to `kubernetes-sigs/kubefed`
- [x] Rename appropriate doc references to `kubefed`

/kind feature

[2019-05-08 18:46] marun commented on #860
#697 should be coordinated with this issue so that import references in the code are changed from `github.com/kubernetes-sigs/federation-v2` to  `sig.k8s.io/kubefed`.

cc: @gyliu513

[2019-05-09 11:05] irfanurrehman opened #864 "kubefedctl federate resource from input yamls can work with or without API server"
`kubefedctl federate` using `--filename` option can convert given yaml to a federated equivalent as implemented in #832 using default values and details directly from input yaml.

There are additional enhancements needed for the same such that the same conversion is useful both online while using `kubefedctl federate` targetting a given API Server and offline mode which can work without an API Ser

[2019-05-09 15:19] shashidharatd commented on #860
probably docker image needs a rename too.

[2019-05-09 15:20] shashidharatd commented on #860
IMHO, `federation-system` namespace name is standard and does not warrant a name change.

[2019-05-09 15:29] marun commented on #860
@shashidharatd I think the default system namespace should become `kubefed-system` to avoid confusion, but wouldn't prevent anyone from deploying with the old name.

[2019-05-09 15:36] #694 closed

[2019-05-09 20:19] marun opened #868 "The default system namespace should be prefixed with `kube-`"
As per the kube api convention [on system namespaces](https://github.com/kubernetes/community/blob/20c1e33a741f238ec0428f7fdc096ca1ff0d862d/contributors/devel/sig-architecture/api-conventions.md#namespace-names), the default federation system namespace should have the `kube-` prefix reserved for system namespaces to avoid collision with user namespaces.  Suggested options:

 - `kube-fed`
 - `kube-

[2019-05-09 20:29] marun commented on #688
A review of this issue with @deads2k, @pmorie and myself concluded that explicit namespace references are not required, but that the use of a string representing a cluster name to reference a cluster in placement directives should be changed to an object with a name field.

Here is the current method of referencing clusters in placement:

[code]

This needs to become:

[code]

This change will hav

[2019-05-09 20:31] marun commented on #688
I'm going to take on implementing this change.

[2019-05-09 20:47] marun opened #869 "Storing `Cluster` resources outside of the kubefed namespace is a potential security risk"
As per an observation by @deads2k, storing a `Cluster` resource outside of the kubefed namespace (e.g. in the `kube-multicluster-public` namespace) represents a potential security risk. A user with the appropriate permissions for `Cluster` resources in the cluster registry namespace could change the api endpoint of a `Cluster` to a malicious endpoint that could collect the kubefed credentials for

[2019-05-09 22:39] sohankunkerkar commented on #868
+1 for `kube-federation-system`

[2019-05-10 08:21] dc520 opened #872 "DNS Endpoint Controller can't create service DNSEndpoint"
-->
/triage support

Federation v2 controller-manager version: v0.0.9
kubernetes version: v1.14.0

I ran two kubernetes clusters on AWS, were managing them using Federation v2, and the kubernetes cluster was able to use the cloud-provider=aws feature. I used the Multicluster Service DNS via external-dns and Multicluster Ingress DNS via external-dns functions. When I created the IngressDNSRecord, t

[2019-05-10 10:11] qinpingli commented on #680
Pull request #766 has been merged, @pmorie could you help close this issue?

[2019-05-10 10:12] #858 closed

[2019-05-10 10:26] shashidharatd commented on #834
@raffaelespazzoli, this need more investigation to find the root cause.

[2019-05-10 10:27] shashidharatd commented on #872
related issue: https://github.com/kubernetes-sigs/federation-v2/issues/834

[2019-05-10 14:19] pmorie commented on #869
I'm +1 on inlining the fields in the Cluster resource's spec into FederatedCluster's spec because the API mechanics, security implications, and user experience become much easier to reason about. We can still integrate with the cluster-registry if we do that, for example, by having a way to let a user publish a FederatedCluster into the cluster-registry.

[2019-05-10 14:40] marun commented on #680
@qinpingli Thanks!

[2019-05-10 14:40] #680 closed

[2019-05-10 15:41] marun commented on #151
Thus far we've been incrementing the patch version (i.e. `v0.0.x`) with each alpha release.  With the move to beta, we will:

 - switch to incrementing the minor version (i.e. `v0.x.0`) for successive beta releases
 - switch to incrementing the patch version (i.e `v0.0.x`) to release bug fixes for a given beta release

When the project goes GA, we will:

 - update the major version to 1 (i.e. `v1.

[2019-05-10 15:42] marun commented on #672
@pmorie I don't think this is strictly a beta requirement, so I'll move it out of the milestone.  Is this something you could delegate?

[2019-05-10 16:07] marun commented on #672
@font Not a beta priority, but I think you're the best person to tackle this at some point.

[2019-05-10 16:38] #740 closed

[2019-05-10 16:38] #588 closed

[2019-05-10 19:08] #868 closed

[2019-05-10 19:23] font commented on #688
What about the use of `clusterName` in `ClusterObjectVersion`? It seems we should also use a `Cluster` object.

https://github.com/kubernetes-sigs/federation-v2/blob/2d354db6e977571bfa374881293a08955eeb9c68/pkg/apis/core/v1alpha1/propagatedversion_types.go#L37-L43

[2019-05-10 19:24] font commented on #688
Similarly for `FederatedServiceClusterStatus`:
https://github.com/kubernetes-sigs/federation-v2/blob/2d354db6e977571bfa374881293a08955eeb9c68/pkg/apis/core/v1alpha1/federatedservicestatus_types.go#L25-L28

[2019-05-10 20:01] marun commented on #688
@font I think those a `clusterName` string needs to be converted to a `Cluster` object in those cases.  A slice of strings was a problem because there's no easy way to add new fields.  The examples you cite are already objects, so adding new fields is not a problem.  If anything it might be worth renaming the field from `ClusterName` to `Name`, since the context should make it obvious what it is a

[2019-05-10 20:06] marun opened #875 "Secret ref should be mandatory for FederatedCluster"
Given that we lack a use-case that would require insecure access to a member cluster, I think the [secret ref](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/apis/core/v1alpha1/federatedcluster_types.go#L44) in `FederatedCluster` should be made mandatory.

/kind bug

[2019-05-10 21:22] font opened #878 "Retry if attempt to add cluster client fails"
**What happened**:
`FederatedCluster` never became `Ready` after initial attempt to add cluster client failed:

[code]

We should probably re-attempt to add cluster if the following fails:
https://github.com/kubernetes-sigs/federation-v2/blob/68bca8c23e006a0ebcbdc66e1555d034d5c2d4bb/pkg/controller/federatedcluster/controller.go#L168-L171

This means we have a `FederatedCluster` stored in the API b

[2019-05-10 22:28] marun commented on #855
I was under the impression that the `extensions` group was long deprecated, but it was only deprecated as of kube `1.14`.  `Ingress` resources, at a minimum, were still in the `extensions` group as of `1.13`.  I think this precludes ignoring the extensions group for the purposes of enabling a type unless we only want to support kube >= `1.14`.

@irfanurrehman This suggests that you will need to ad

[2019-05-11 01:29] font opened #879 "Align kubefed core APIs with kubernetes API conventions"
This issue is to track the work to modify the core API types in `core.federation.k8s.io` that do not abide by the [kubernetes API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md). These issues include:

- Optional fields should have both the `omitempty` json struct tag and the `+optional` comment tag in Go, as well as be a poi

[2019-05-11 17:51] irfanurrehman commented on #855
Ack!

[2019-05-12 15:41] zhaohaidao commented on #798
Is there anyone working on it?
I like to have a try.

[2019-05-13 01:38] #688 closed

[2019-05-14 00:29] #869 closed

[2019-05-14 01:24] font opened #884 "Refactor federatedtypeconfig controller"
The `FederatedTypeConfig` controller is in need of a refactor, particularly the `reconcile` method. Starting/stopping the sync and status controllers as well as the status update should be refactored. Additionally status should not be updated if it has not changed.

/kind feature

[2019-05-14 01:48] marun commented on #884
@font I don't think status updates should be avoided, even if nothing has changed.  As per the example of propagation status, `lastProbeTime` should always be updated to ensure that the currency of status can be trivially determined.

[2019-05-14 04:58] marun commented on #839
@shashidharatd This problem is not yet fixed.  @irfanurrehman reported seeing instances of the failure in CI and I just saw another one just now.  I've taken another look at #849, your proposed fix, and realized that the loop is attempting to repeatedly update the status without retrieving the latest state, which is guaranteed to fail if there is a conflict because the resource version won't be up

[2019-05-14 05:55] #875 closed

[2019-05-14 06:11] #839 closed

[2019-05-14 09:59] yongzhedamaoxian opened #889 "problems in deploying Federaion v2 using kubeadm"
**Which test(s) are failing**:
I deployed Federation v2 in GKE,now I want to deploy it using kubeadm.I did as I saw in user guide except the part Create Clusters,and I have created my Federation by helm.When I try to join the host cluster in the Federation,there is something wrong.I know the user guide advise a list of Kubernetes environments that have been tested.Is it ok using kubeadm?

`kubectl

[2019-05-14 11:15] shashidharatd commented on #860
Some additional TODOs from https://github.com/kubernetes-sigs/federation-v2/pull/865#issuecomment-491027453.  This is by no means complete, and I intend to re-review as you post updates and add to this list as I find more items.

 - [ ] - `s/federation controllers/kubefed controllers/` (comments and docs)
 - [ ] - `s/federation-namespace/kubefed-namespace/` (controller manager and e2e arg)
 - [ ]

[2019-05-14 14:42] marun commented on #889
@yongzhedamaoxian Helm is the only supported way to deploy.  Please document what helm version and what chart version you are using to install and the problems you are encountering.

[2019-05-14 14:57] xunpan commented on #856
/assign

[2019-05-14 14:57] xunpan commented on #44
/assign

[2019-05-14 14:59] marun commented on #856
@xunpan Please ensure #859 and #882 are finalized before taking this on.  This rename is very much mechanical (i.e. low-risk) and your current work in progress is more important.

[2019-05-14 15:13] pmorie opened #891 "Re-examine doc after kubefed rename"
This issue is to re-examine the doc content after the merge of #865 to find any places where we may have missed renaming or where grammatical changes may be required.

@abrennan89 is going to take this one, but she's not in the kubernetes-sigs org yet.

[2019-05-15 04:27] shashidharatd opened #894 "Enable FOSSA license scanning and vulnerability management for the repo"
Ref: https://github.com/kubernetes/org/issues/164

[2019-05-15 11:18] shashidharatd commented on #860
This issue can be closed as there is another issue to reexamine docs https://github.com/kubernetes-sigs/kubefed/issues/891.

[2019-05-15 11:18] #860 closed

[2019-05-15 18:40] pmorie commented on #795
I'm not sure that I understand what the value proposition of making this change would be - since you can get the same behavior in-cluster by setting the CLI argument from downward API env and just set it explicitly if you want to run the controller outside the cluster.

Am I missing something?

[2019-05-15 19:07] marun commented on #795
@pmorie This change removes the need to define the env var via the downward api and use it in as an argument.  Running outside the cluster doesn't change (`--kubefed-namespace` must be specified).

[2019-05-16 04:30] 11janci commented on #749
Hi,
I'd take this, however need to clarify couple of questions:

* `update join to be optionally idempotent so that existing resources would stop the join`
Currently if you try to add a cluster with a name that already exists, it either overwrites the existing spec (default) or fails (if the `--error-on-existing` flag is set). So if I understand correctly, you'd like to simply terminate the join o

[2019-05-16 05:03] marun commented on #749
@11janci Your interest is much appreciated.  I would like to see validation that a given api endpoint is used at most once in a kubefed control plane.  I think that check belongs in an admission webhook for `KubeFedCluster` (an initial version of which is proposed in #862).  If you wanted to work on this I suggest branching #862 and adding a check that queries other `KubeFedCluster` resources and

[2019-05-16 05:48] 11janci commented on #749
thanks, will look into it.

[2019-05-16 05:59] #745 closed

[2019-05-16 15:38] #44 closed

[2019-05-16 17:14] abrennan89 commented on #891
Added PR #904 for initial changes - awaiting feedback

[2019-05-16 17:34] marun opened #905 "`kubefedctl disable` should not accept `--federation-group` or `--version` parameters"
These options are only valid for `kubefedctl enable`.

/kind bug

[2019-05-16 17:58] marun commented on #878
This represents a big hole in how cluster health is determined.  Cluster clients are added once, when the `KubeFedCluster` is first encountered, and then never updated.  We need a proper reconcile loop that responds to changes in cluster configuration.

Prior to #869, this same issue would have affected the federated informer since the cluster registry clusters were not being watched for changes,

[2019-05-16 17:59] marun commented on #878
Moving to v0.1.0 - this needs to be fixed for beta.

[2019-05-16 18:11] pmorie opened #907 "Rename occurences of `Kubefed` to `KubeFed`"
Per the Wednesday May 15 WG meeting consensus.

cc @abrennan89

[2019-05-16 18:20] #728 closed

[2019-05-16 20:29] font opened #908 "Validations for KubefedCluster API"
### Field Validations for [KubefedCluster](https://github.com/kubernetes-sigs/kubefed/blob/master/pkg/apis/core/v1alpha1/kubefedcluster_types.go)

- `KubefedClusterSpec`
  - `APIEndpoint` is a valid API endpoint
- `LocalSecretReference`
  - `Name` is a valid resource name
- `ClusterCondition`
  - `Type` is a valid enum value
- `ConditionStatus`
  - `Status` is a valid enum value

[2019-05-16 21:03] font opened #909 "Validations for FederatedTypeConfig API"
### Field Validations for [FederatedTypeConfig](https://github.com/kubernetes-sigs/kubefed/blob/master/pkg/apis/core/v1alpha1/federatedtypeconfig_types.go)

#### Spec
- `APIResource`
  - `Group` must be a valid group name (same as for [CRDs](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go#L120)), howeve

[2019-05-21 04:38] font opened #916 "Validations for KubefedConfig API"
### Field Validations for [KubefedConfig](https://github.com/kubernetes-sigs/kubefed/blob/master/pkg/apis/core/v1alpha1/kubefedconfig_types.go):

- `scope` must be a valid enum value. It should be immutable.
- `ControllerDuration`
    - `availableDelay` is a valid `int64` > 0
    - `unavailableDelay` is a valid `int64` > 0
- `LeaderElectConfig`
    - `leaseDuration` is a valid `int64` > 0 and must

[2019-05-21 07:48] xunpan commented on #916
- LeaderElectConfig
  - leaseDuration must be greater than renewDeadline
  - renewDeadline must be greater than retryPeriod*JitterFactor

[2019-05-21 08:50] Jaanki commented on #907
@pmorie Is this to be changed in docs only or in the source code too like function names?

[2019-05-21 09:14] abrennan89 commented on #907
@Jaanki I have an open issue for this in docs; https://github.com/kubernetes-sigs/kubefed/issues/891

[2019-05-21 10:25] Jaanki commented on #907
@abrennan89 I was thinking to take this up. I see #891 is not assigned to anyone. If you are not planning to work on it, I would be happy too :)

[2019-05-21 13:36] marun opened #917 "Update userguide walkthrough to match walkthrough script"
An automated version of the walkthrough script was added by #882.  The existing script in the userguide needs to be updated to match.

[2019-05-21 13:37] marun opened #918 "Ensure the support status of features is explicitly called out"
It should be obvious from the repo readme as to the status of the features that aren't intended to be supportable (at least not in the near term) such as aggregated status.

[2019-05-21 13:40] marun commented on #918
It will also be necessary to identify where fields will remain in alpha even though a resource has gone to beta (like `StatusType` and `StatusCollection` on `FederatedTypeConfig`) as per an [issue comment](https://github.com/kubernetes-sigs/kubefed/pull/899#discussion_r285654536) from @font.

[2019-05-21 13:46] marun commented on #907
@Jaanki This is already being worked on as part of #912

[2019-05-21 13:47] marun commented on #907
The PR author is not in the ks org so assignment was not possible.

[2019-05-21 14:18] #104 closed

[2019-05-21 21:08] #856 closed

[2019-05-22 07:00] kigawas opened #919 "Fail to install via helm on GKE due to missing field in k8s api"
**What happened**:
[code]
**What you expected to happen**:
Successful installation
**How to reproduce it (as minimally and precisely as possible)**:
1. Create a GKE cluster with version 1.13.5-gke.10
2. Follow the helm instruction guide

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

K8s:
[code]

Helm:
[code]
- Federation version
0.0.10
- Instal

[2019-05-22 10:30] marun commented on #919
Deployment of kubefed CRDs works for non-GKE kube 13.x, so I'm assuming this problem is specific to GKE.  Someone familiar with GKE's support of CRDs will need to investigate.

[2019-05-22 13:36] pmorie commented on #891
/kind doc

[2019-05-22 13:36] pmorie commented on #891
/kind documentation

[2019-05-22 13:37] pmorie commented on #838
/kind documentation

[2019-05-22 13:37] pmorie commented on #672
/kind documentation

[2019-05-22 13:38] pmorie commented on #613
/kind documentation

[2019-05-22 13:38] pmorie commented on #275
/kind documentation

Yes, it's still actionable.

[2019-05-22 21:19] font commented on #879
Closing as all PRs have been merged.

[2019-05-22 21:19] #879 closed

[2019-05-24 08:40] gyliu513 commented on #355
/remove-lifecycle stale

FYI @nzoueidi

[2019-05-24 10:57] 11janci commented on #749
Hi @marun ,
I finally managed to look into this. I can add a validation to the admission webhook, however it won't be bulletproof as there will always be a race condition where two clusters with the same endpoint can be added if the join requests happen close enough to each other. I don't see a simple solution to this. The most viable probably would be including a check for duplicates in the Clust

[2019-05-24 14:28] alexbrand opened #928 "kubefed-controller-manager fails to start up"
**What happened**: The kubefed-controller-manager enters a crash loop with the following error in the logs:

[code]

**What you expected to happen**: The kubefed-controller-manager to start up properly.

**How to reproduce it (as minimally and precisely as possible)**:

Install kubefed using the `v0.1.0-rc1` helm chart:
[code]

**Anything else we need to know?**:

I believe the problem is that the

[2019-05-24 18:28] alexbrand opened #929 "Support running controller and webhook as non-root user"
**What would you like to be added**:
Support running controller and webhook as a non-root user.

**Why is this needed**:
Currently, it is not possible to run kubefed in a cluster that uses PodSecurityPolicy to prevent pods from running as the root user.

/kind feature

[2019-05-27 04:19] kigawas commented on #919
@marun

Thanks for your reply. I also encountered this problem via installing on the cluster set up with `kubeadm`, so maybe it's not GKE-specific

[2019-05-27 11:31] marun commented on #749
@11janci I think this may need to wait until the Cluster ID initiative (ensuring a unique and immutable cluster identifier) bears fruit.  Neither a unique API endpoint, server cert or token would guarantee the identity of a cluster (especially over time).

[2019-05-27 15:04] marun commented on #928
Thank you for reporting this!  It appears our image build pipeline broke after publishing that bad image.  I don't have the necessary information to fix it today, and I'll make sure this issue is updated as soon as a fixed image becomes available.

[2019-05-27 15:40] marun commented on #928
@alexbrand  I am unable to update the rc1 image at this time, but I've tested the [v0.1.0-rc2](https://github.com/kubernetes-sigs/kubefed/releases/tag/v0.1.0-rc2) image and it appears healthy.  Please close this issue if the rc2 fixes the problem you were seeing.

[2019-05-27 22:57] 11janci commented on #749
hey @marun, ok agreed, probably makes sense to wait then.

[2019-05-28 07:39] marun commented on #477
I think this feature has been implemented.  Thank you @irfanurrehman!

[2019-05-28 07:39] #477 closed

[2019-05-28 07:40] #928 closed

[2019-05-28 07:41] marun commented on #812
Closing in favor of specific issues targeting the beta resources: #908, #909, and #916

[2019-05-28 07:41] #812 closed

[2019-05-28 07:52] marun commented on #800
This has been implemented for v0.1.0.

[2019-05-28 07:52] #800 closed

[2019-05-28 08:10] yongzhedamaoxian commented on #919
using helm,v2.13.1 may be helpful.I have problems using helm,v2.14 a few days ago.But it is ok using v2.13.1.However,I have problem using gke joining a cluster

[2019-05-28 08:13] marun commented on #919
@yongzhedamaoxian What problems have you experienced with helm 2.14?  kubefed is using it in CI without problems as of yesterday.  Also, would you be willing to file a separate issue for the problem you are experiencing with joining a gke cluster?

[2019-05-28 08:18] marun commented on #919
@kigawas Can you please try again with [v0.1.0-rc2](https://github.com/kubernetes-sigs/kubefed/releases/tag/v0.1.0-rc2)?  Note that the chart install instructions have been updated to reflect the new name of the chart (i.e. `kubefed-charts/kubefed` instead of `kubefed-charts/federation-v2`).

Also, did you configure helm with RBAC as per the [instructions in the chart readme](https://github.com/ku

[2019-05-28 08:21] yongzhedamaoxian commented on #919
I remember Federation is 0.0.10.I forget others

[2019-05-28 12:15] yongzhedamaoxian opened #932 "fail to use the kubefedctl tool to join clusters vie GKE"
**What happened**:
`kubefedctl join cluster3 --cluster-context cluster3  --host-cluster-context cluster3 --v=2`
[code]
**What you expected to happen**:
Join sucessfully
**How to reproduce it (as minimally and precisely as possible)**:
1 Create a GKE cluster with version 1.12.7-gke.10
2 Follow the kubefed guide via gke

**Anything else we need to know?**:
**Environment**:
- Kubernetes version (use

[2019-05-28 12:20] marun commented on #932
@yongzhedamaoxian Previous pre-release versions of kubefed are not supportable.  Please reopen this bug if you can reproduce it against v0.1.0-rc2 or greater.

[2019-05-28 12:41] yongzhedamaoxian commented on #932
I have changed.Please reopen

[2019-05-28 12:49] marun commented on #932
@yongzhedamaoxian Ah, now the error is clear to me. It appears that you are using an outdated version of `kubefedctl`.  Please use the version of `kubefectl` corresponding to the release you are targeting (i.e. `v0.1.0-rc2`).

[2019-05-28 13:01] yongzhedamaoxian commented on #932
ok.Let me try

[2019-05-28 14:33] marun opened #935 "Rename `kubefedctl` join/unjoin to register/unregister"
While working on internal renaming, I found myself rewording the help text for `kubefedctl join` and `unjoin`.  It occurred to me that 'Join' represents jargon that we have to explain.  'Registering' seems a more natural verb to use, with the result being obvious (KubeFed is now aware of the cluster and can manage its API state).

[code]

vs.

[code]

[2019-05-28 16:08] marun opened #936 "Finalize rename from `federation v2` to `kubefed`"
#860 was only partially completed.  This issue is intended to ensure all remaining instances of 'federation' are removed from the repo before the final beta release.  This is not a strictly mechanical process, and is likely to require rewriting of docs and comments.

TODO:
 - [x] - #938 - Rename cleanup code (pkg, cmd)
 - [x] - #939 - Rename cleanup docs (supercedes #907)
 - [x] - #947 - Rename cl

[2019-05-28 16:10] marun commented on #907
Superceded by #936

[2019-05-28 16:10] #907 closed

[2019-05-28 20:56] abrennan89 commented on #891
#939 - @marun is working on final changes to this afaik.

[2019-05-28 22:20] #672 closed

[2019-05-29 00:24] #891 closed

[2019-05-29 02:02] yongzhedamaoxian commented on #932
thank you.I have made it

[2019-05-29 03:36] qinpingli commented on #919
@kigawas Yeah, this should not be GKE-specific.

Hit the same issue with the cluster created by minikube, when kubefed version is 0.0.10.
$ helm version
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

$ helm i

[2019-05-29 06:42] marun commented on #932
@yongzhedamaoxian Glad to hear!  Does that mean this issue can be closed?

[2019-05-29 07:23] marun commented on #919
@qinpingli Thank you for confirming that this is fixed in the latest release.

[2019-05-29 07:23] #919 closed

[2019-05-29 14:58] marun commented on #935
The consensus in the May 30th WG meeting is that a rename is not desirable at this time.

[2019-05-29 14:58] #935 closed

[2019-05-29 15:28] #878 closed

[2019-05-29 16:27] font opened #944 "Add e2e tests for webhook validation"
Add e2e tests for webhook validation of each type per comment from @marun at https://github.com/kubernetes-sigs/kubefed/pull/914#pullrequestreview-242275536.

- [x] FederatedTypeConfig (#993)
- [x] KubeFedCluster (#1027)
- [ ] KubeFedConfig (#1041)

[2019-05-29 19:40] marun commented on #936
@shashidharatd Reference to 'federation' remain in the service dns docs and code.  Do you think it should stay as-is or would it be possible to change as per the discussion of 'federation' -> 'KubeFed control plane' in the WG today?

[2019-05-29 22:40] marun commented on #929
Fixed by #945

[2019-05-29 22:40] #929 closed

[2019-05-30 08:01] yongzhedamaoxian commented on #932
Yes!!

[2019-05-30 08:46] #932 closed

[2019-05-30 10:12] shashidharatd opened #950 "Refactor kubefed controller to include first-class update event handling"
Currently, the update event to kubefed controller is handled as a `Delete` followed by `Add` event handling. The logs for the update event can be confusing and also require efficient usage of locks instead multiple lock/unlock.

Ref: https://github.com/kubernetes-sigs/kubefed/pull/943#issuecomment-496985562

[2019-05-30 10:13] marun opened #951 "Propagation status for a resource should indicate if namespace placement prevented propagation"
As per a conversation on kube slack, if a namespaced federated resource is not propagated to a cluster because the cluster is not selected by the placement for the containing namespace, the propagation status for the federated resource will appear to be healthy with no indication as to why the cluster was not propagated to.

/kind bug

[2019-05-30 13:04] #909 closed

[2019-05-30 13:07] marun opened #952 "KubeFed walkthrough ci check is flakey"
**Which test(s) are failing**:

KubeFed walkthrough check

**Since when has it been failing**:

Since merge of the check

**Reason for failure**:

[code]

**Anything else we need to know**:

The check is flakey - the failure is not consistent.  I've seen it 3 times this week, but we also haven't been running very many jobs.

/kind failing-test

[2019-05-30 19:20] cooktheryan opened #954 "Namespaces stay in forever terminating state"
**What would you like to be added**: Sometimes project stay in a forever terminating state if everything isn't deleted before trying to delete a project.

**Why is this needed**: Customers and myself will mess this up and then a project is stuck forever in a terminating state.

/kind feature

[2019-05-30 22:57] marun commented on #954
@cooktheryan What do you mean by 'project' - an OpenShift `Project` API resource?  Also, please provide sufficient details to enable reproduction of the problem.

[2019-05-31 00:21] cooktheryan commented on #954
@marun when I say project I just mean a namespace. I'll get you steps to reproduce in the morning.

[2019-05-31 18:01] cooktheryan commented on #954
@marun so here is the run down of how to make it happen.

1) Create namespace
2) federate cluster(s)
3) deploy some sort of federated object (federatedclusterrole)
4) Forget to delete federated object
5) unfederate cluster(s)
6) unsubscribe from operator
7) attempt to delete project

[2019-05-31 21:04] marun commented on #954
Apologies for this lengthy response.

tl;dr; finalizers are the reason you're experiencing this problem, and finalizers are a necessary evil for KubeFed.  We need to both improve the documentation around them and simplify their removal if required.

By 'federate clusters' I'm assuming you mean 'register a cluster with the control plane'?  `Federated` was previously an overloaded term, and the name

[2019-05-31 21:41] abrennan89 opened #955 "Separate Cluster Registration documentation into its own .md topic"
**What would you like to be added**:
Similarly to #728 / #730  - I would like to continue breaking the user guide down into content modules, the next being Cluster Registration.

**Why is this needed**:
This would make the documentation around join/unjoin and other commands more manageable and would be a good opportunity to update and add to this content.

This also possibly addresses #613

/kind

[2019-05-31 21:53] abrennan89 commented on #955
/assign abrennan 89

[2019-06-02 13:58] #952 closed

[2019-06-03 06:52] guanzo commented on #324
The output is indeed confusing me, what does it mean? My federated ingresses all have ips, but the `IngressDNSRecord` doesn't reflect that.

IngressDNSRecord
[code]

Ingress 1 & 2 (with different ips)
[code]

[2019-06-03 07:48] marun commented on #324
@guanzo The problem you are reporting appears to be a failure to collect ingress ip's, and does not appear related to this issue.  I think it is likely to represent a support request rather than a bug, and the best place to ask for support is on slack.

[2019-06-03 08:14] shashidharatd commented on #324
@guanzo, please file a separate issue. i will look into this issue and reply.

[2019-06-03 17:30] pmorie opened #961 "Controller should watch KubeFedConfig for updates"
**What would you like to be added**:

The controller manager should watch the `KubeFedConfig` that configures it and assume the latest configuration as that resource is updated.

**Why is this needed**:

Without this feature, it requires restarting the controllers to update to a new configuration, which isn't desirable.

/kind feature

[2019-06-03 21:06] marun opened #962 "SchedulingManager test triggers race detector"
**Which test(s) are failing**:
`Scheduling SchedulingManager when federatedtypeconfig resources are changed related scheduler and plugin controllers should be dynamically disabled/enabled`

**Reason for failure**:

https://gist.github.com/marun/4b4a78cced8d10d48b60fb1676e4e702

/kind failing-test