[2021-04-01 15:43] #1390 closed

[2021-04-01 19:33] dfateyev opened #1391 "annotations in federated ingress not propagated"
**What happened**:
Not sure whether it's a real bug or some restrictions are in place. For a FederatedIngress resource, there is no propagation of annotations, so federated ingress configuration becomes broken.

On the KubeFed control plane side:
[code]
On the member cluster side:
[code]
**What you expected to happen**:
Annotations are propagated for federated resources

**How to reproduce it (as

[2021-04-02 09:13] mars1024 opened #1392 "Make worker count configurable for different controllers"
**What would you like to be added**:
Since #1379 has already fixed the reconciliation conflicts of same object, a worker count option should be imported to `ReconcileWorker` for better performance on different reconciliations.

**Why is this needed**:
As the comments above, a controller-friendly option for better performance.

/kind feature

[2021-04-02 09:13] mars1024 commented on #1392
/assign

[2021-04-05 12:02] #1312 closed

[2021-04-07 03:39] mars1024 opened #1394 "[UMBRELLA] Update to Patch"
**What would you like to be added**:
Use `Patch` operations instead of `Update` across the whole codes.

**Why is this needed**:
- less conflicts
- less error logs
- less reconciliations

**TODO List**:
- #1389
- more actions will be appended after walking all codes

/kind feature

[2021-04-07 15:58] luoMonkeyKing opened #1395 "Multicluster Service DNS"
Hi, what about Multicluster Service DNS
Is there any documentation for Multicluster Ingress DNS operation? I think there is no relevant document in the master branch, is it not supported?

[2021-04-07 16:05] hectorj2f commented on #1395
This feature has been removed from kubefed #1360  and #1283.

[2021-04-08 01:26] luoMonkeyKing commented on #1395
Ok, thanks. Is there any relevant Multicluster DNS case operation document? I don’t know how to do it now.

[2021-04-08 02:16] yuswift commented on #1395
Hope this [link](https://github.com/kubernetes-sigs/kubefed/blob/v0.6.1/docs/servicedns-with-externaldns.md) be helpful for you. If you really want to use `Multicluster Service DNS` with kubefed, please use v0.6.1 and enable the feature manually. But just as @hectorj2f said, the feature has been deprecated.

[2021-04-08 02:48] luoMonkeyKing commented on #1368
Version v.0.6.1, I also encountered the same error, is there any solution?
![image](https://user-images.githubusercontent.com/31637804/113959026-b36ef400-9854-11eb-8e3c-4146fd7ece8f.png)
Although an error was reported, it was successfully created in the federated cluster
![image](https://user-images.githubusercontent.com/31637804/113960894-c0411700-9857-11eb-9e07-a6f356724a01.png)

[2021-04-08 02:51] luoMonkeyKing commented on #1395
ok，thanks!

[2021-04-08 02:51] #1395 closed

[2021-04-08 06:33] qmhu commented on #1394
/assign @qmhu

[2021-04-08 06:49] luoMonkeyKing opened #1397 "unknown field "clusterMonitorPeriod" in io.kubefed.core.v1beta1.KubeFedConfig.spec.controllerDuration"
**What happened**:
I want to verify the Multicluster Service DNS function. When I manually enable the function, I get an error when I execute kubectl apply -f kubefedconfig.yaml

error: error validating "kubefedconfig.yaml": error validating data: ValidationError(KubeFedConfig.spec.controllerDuration): unknown field "clusterMonitorPeriod" in io.kubefed.core.v1beta1.KubeFedConfig.spec.controllerDur

[2021-04-09 01:53] luoMonkeyKing opened #1398 "dnsendpoints.multiclusterdns.kubefed.io is forbidden"
**What happened**:
Did not generate dnsendpoints, query the external-dns pod log and report an error, federatedclusterrolebinding.yaml has been executed

`time="2021-04-09T01:37:00Z" level=error msg="dnsendpoints.multiclusterdns.kubefed.io is forbidden: User \"system:serviceaccount:kube-system:default\" cannot list resource \"dnsendpoints\" in API group \"multiclusterdns.kubefed.io\" at the cluste

[2021-04-09 01:55] yuswift commented on #1397
Please make sure you are using the kubefedconfig generated by v0.6.1 helm chart. I checked out v0.6.1 and found
[code]
So you need to remove the `clusterMonitorPeriod ` field.

[2021-04-09 02:09] yuswift commented on #1398
`kubefed` use `kubefed-controller` as sa instead of `default`. I suggest you reinstalling `kubefed` by helm to avoid such environment errors.

[2021-04-09 02:22] luoMonkeyKing commented on #1397
I confirm that I am using the v0.6.1 version. The kubefedconfig.yaml file is the source code pulled from the v0.6.1 branch. The file path is：example\config. There is indeed a clusterMonitorPeriod field, but it is possible to delete the clusterMonitorPeriod field, thank you

[2021-04-09 03:07] luoMonkeyKing commented on #1398
This is an error from external-dns, do I need to reinstall kubefed? I installed kubefed through the following command:
`helm --namespace kube-federation-system upgrade -i kubefed kubefed-charts/kubefed --version=0.6.1 --create-namespace`
external-dns is in the kube-system namespace。

[2021-04-09 07:16] yuswift commented on #1398
I thought the log came from `kubefed`. You don't need to reinstall `kubefed`. Just need to assign `RBAC` permissions to `external-dns`. See docs [here](https://kubernetes.io/docs/reference/access-authn-authz/rbac/).

[2021-04-09 07:30] luoMonkeyKing commented on #1398
Yes, I have successfully bound the sa, but the binding of serviceAccountName: external-dns is missing in this operation document
`https://github.com/kubernetes-sigs/kubefed/blob/v0.6.1/docs/ingress-service-dns-with-coredns.md`

[2021-04-09 07:54] yuswift commented on #1398
I remembered that the docs were offered by `external-dns` repo.

[2021-04-09 13:52] #1327 closed

[2021-04-10 11:56] #1249 closed

[2021-04-11 13:21] #1317 closed

[2021-04-12 05:18] xunpan commented on #1398
This feature was removed from `kubefed`.

FYI: https://github.com/kubernetes-sigs/kubefed/pull/1360

[2021-04-12 05:37] xunpan commented on #1397
@luoMonkeyKing

`clusterMonitorPeriod` should be a obsolete field that removed after `v0.0.9`.
Please clean your environment and use the latest release to check.

[2021-04-13 10:27] makkes commented on #1313
/remove lifecycle/stale

[2021-04-13 10:28] hectorj2f commented on #1313
@makkes  We added a test to upgrade from a previous image to the latest in master.

[2021-04-13 10:28] makkes commented on #1313
/remove-lifecycle stale

[2021-04-13 10:29] makkes commented on #1313
@hectorj2f would you mind linking it here and closing the issue then, please? Thanks!

[2021-04-13 16:19] hectorj2f commented on #1313
@makkes it was added here https://github.com/kubernetes-sigs/kubefed/pull/1346/commits/8a435bc9eb59adf6712a812868077491527c12b4.

[2021-04-13 16:19] #1313 closed

[2021-04-14 12:06] #1202 closed

[2021-04-14 15:46] yuswift commented on #1398
Could we close this issue? @luoMonkeyKing

[2021-04-14 15:47] yuswift commented on #1397
Could we close this issue? @luoMonkeyKing

[2021-04-15 08:53] luoMonkeyKing commented on #1398
ok，thanks

[2021-04-15 08:53] #1398 closed

[2021-04-15 08:54] #1397 closed

[2021-04-15 14:19] vanyarock01 opened #1401 "A typo in the installation instructions"
**What would you like to be added**:

In the description of the installation in the [README](https://github.com/kubernetes-sigs/kubefed/blame/master/charts/kubefed/README.md#L51) doc, the `upgrade` is executed, but the `install` is needed.

/kind feature

[2021-04-15 14:26] vanyarock01 commented on #1401
Sorry, I didn't see the `-i` flag..

[2021-04-15 14:26] #1401 closed

[2021-04-16 04:00] chris-ng-scmp commented on #1202
I'm going to reopen this PR because it is a definite bug.

/reopen
/remove-lifecycle rotten

[2021-04-16 04:00] chris-ng-scmp commented on #1202
We need this

[2021-04-16 05:01] hectorj2f commented on #1202
/remove-lifecycle rotten

[2021-04-17 03:43] draveness opened #1402 "Replace map in ReplicaSchedulingPreference with named array"
**What would you like to be added**:

[code]

**Why is this needed**:

+ Kubernetes API is really bad at hash supporting, named array is more common in kubernetes API, and we should replace the map with a named array

/kind feature

[2021-04-19 09:47] luoMonkeyKing opened #1403 "How to implement Multicluster Service DNS function in v0.7.0 version？"
Hi, the Multicluster Service DNS function has been deleted in v0.7.0 version. I want to use the changed function in the new version. Are there any examples? I saw in [https://github.com/kubernetes-sigs/kubefed/issues/1283](url) that it says to use service meshes or multi-cluster mesh, but I don’t know how to use it. How to do it, is there any relevant documentation?

**Environment**:
- KubeFed ver

[2021-04-22 11:32] zqzzq opened #1404 "the federatedtypeconfigs in chart are installed in the default namespace"
**What happened**:
The federatedtypeconfigs in chart are installed in the default namespace and cannot be recognized by the controller.
**What you expected to happen**:
The federatedtypeconfigs in chart are installed in kube-federation-system namespace.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes versio

[2021-04-22 18:31] gprossliner opened #1406 "Specify namespace in placement"
**What would you like to be added**:
Allow kubefed to replicate between objects to a specific namespace, different from the master namespace.

**Why is this needed**:

I evaluate to use kubefed to be used to implement a multicluster Management tool.
On the manager cluster, there is a namespace for each cluster like „dev“ or „prod“.
On the managed cluster, there is a corresponding namespace.
It is

[2021-04-28 01:48] yuswift opened #1407 "Display more errorr logs when reconciling fed resources fails"
**What happened**:
https://github.com/kubernetes-sigs/kubefed/blob/5ee53350e44082e8f586dd10b2c17de1599398c5/pkg/controller/sync/controller.go#L283
When failed to add  a finalizer to a fedresource, `RecordError ` function is called. However, it only creates an event and there is nothing showing in `kubefed controller manager` logs, which can be difficult to debug why reconciling failed.
**What you

[2021-04-28 06:20] yuswift commented on #1407
/kind feature

[2021-04-28 09:27] yalctay93 commented on #1391
We have the same issue - how can we federated annotations? Any info on this yet?

[2021-04-28 11:13] yalctay93 commented on #1391
I've found an example on the kubefed userguide:

[code]

This is the part you want:

[code]

[2021-04-29 07:53] yuswift commented on #1404
Docs can be found [here](https://github.com/kubernetes-sigs/kubefed/blob/master/charts/kubefed/README.md#installing-the-chart). When you execute `helm template --name kubefed --namespace kube-federation-system ./kubefed/  > fed.yaml`, you get the manifest which don't contain `kube-federation-system`. But if you execute `helm --namespace kube-federation-system upgrade -i kubefed kubefed-charts/kube

[2021-04-30 08:51] yuswift commented on #1284
Hi @hectorj2f I think we need to reopen this issue cause we can still create `federatedingress` in v0.7.0.  Shall we create a validating webhook for `federatedingress` or mutatingwebhook for `federatedtypeconfig` which disables the propagation?

[2021-05-04 10:33] #1407 closed

[2021-05-04 15:37] makkes commented on #1358
I'm trying to take another stab at this as this will bite more and more clients are upgrading to controller-runtime v0.7.0+

[2021-05-04 15:37] makkes commented on #1358
/assign

[2021-05-05 12:57] #1392 closed

[2021-05-07 02:17] mars1024 commented on #1354
/remove-lifecycle stale

Still working on this.

[2021-05-07 19:37] tehlers320 commented on #1372
I thought this was fixed in image 0.7.0
[code]

[code]

But i'm still not seeing the queue metrics, can anybody else confirm ?

[2021-05-11 06:43] makkes commented on #1359
/remove-lifecycle stale

[2021-05-13 06:01] mars1024 commented on #1372
I see PR #1388 was merged just after v0.7.0 release, so maybe you need a private release for the metrics till v0.7.1 . @tehlers320

[2021-05-13 07:48] hectorj2f commented on #1372
We could schedule a release tomorrow. I think we have couple of minor bug fixes.

[2021-05-13 11:27] #1205 closed

[2021-05-13 21:32] OneCricketeer opened #1412 "k3d instructions"
**What would you like to be added**:

`k3d` kubefed scripts

**Why is this needed**:

`k3d` is similar to `kind`, but requires less resources

/kind feature

[2021-05-13 21:40] OneCricketeer commented on #1412
I _think_ I managed to get it working with the following

ctrl.yml

[code]

worker.yml

[code]

With these steps

[code]

Since I'm on a Mac, I [found the `kind` patch script in `scripts/`](https://github.com/kubernetes-sigs/kubefed/blob/master/scripts/fix-joined-kind-clusters.sh), and changed one line for `k3d`, and ran that

[code]

Now I have

[code]

And I verified the `FederatedConfigMap` exa

[2021-05-17 05:21] wdwangcumt commented on #1403
I have the same question. Anybody can help us?

[2021-05-17 05:32] wdwangcumt opened #1413 "why were the multiclusterdns related CRs not assembled by default on kubefed v0.7.0？"
**What happened:**

I had installed kubefed v0.7.0 by helm, but I found that the `multiclusterdns` related CR (such as `dnsendpoints`, `domains`, `servicednsrecords`) were not assembled by default, while they are found in `./pkg/controller/testdata/fixtures/crds.yaml`, how is this to return a responsibility excuse me?

**Environment:**

Kubernetes version (use kubectl version)
KubeFed version v0.7

[2021-05-17 06:19] wdwangcumt commented on #1413
I got it, the reason is https://github.com/kubernetes-sigs/kubefed/issues/1284

[2021-05-17 06:19] #1413 closed

[2021-05-17 06:23] wdwangcumt commented on #1403
The multi-cluster service discory feature has been removed in the verison `0.7.0`, you can see the details at https://github.com/kubernetes-sigs/kubefed/issues/1284

[2021-05-17 06:48] luoMonkeyKing commented on #1403
Yes, I have seen this, but I don’t know how to use service meshes in version 0.7. Do you know how to use it?

[2021-05-17 07:52] wdwangcumt commented on #1403
Service mesh（eg: istio） is a standalone project, which can be deployed in a member k8s cluster separately. As far as I know, in general, Istio only does service governance for a single cluster. As for service governance for multiple clusters, you can learn it from its official website. I have got a guide from https://istio.io/latest/blog/2020/multi-cluster-mesh-automation/, I hope it is useful for

[2021-05-17 07:52] wdwangcumt commented on #1403
Service mesh（eg: istio） is a standalone project, which can be deployed in a member k8s cluster separately. As far as I know, in general, Istio only does service governance for a single cluster. As for service governance for multiple clusters, you can learn it from its official website. I have got a guide from https://istio.io/latest/blog/2020/multi-cluster-mesh-automation/, I hope it is useful for

[2021-05-17 08:03] luoMonkeyKing commented on #1403
ok, thank you very much, let me study. If you succeed later, can you share this case?

[2021-05-26 20:04] #1276 closed

[2021-05-27 07:56] #1394 closed

[2021-06-01 03:23] #1370 closed

[2021-06-03 13:19] hectorj2f commented on #1359
Yes, we need this fix as soon as possible.

[2021-06-08 08:05] yalctay93 opened #1418 "templates field missing for istiooperator crds"
**What happened**:

We are using kubefed version 0.7.0 as well as the kubefedctl in version 0.7.0
In our cluster, we are using the following istiooperator crd:

istiooperator crd version 1.10.0
[code]

When we use the following command ```kubefedctl enable istiooperator``` the federatedIstioOperator crd is created without the "template" field. This leads to federatedIstioOperator creations that wi

[2021-06-08 12:28] makkes opened #1419 "Migrate from travis-ci.org to travis-ci.com"
**What happened**:
We are using travis-ci.org for PR checks but that's going to shut down (has shut down rather): https://blog.travis-ci.com/2021-05-07-orgshutdown

**What you expected to happen**:
We need to migrate to travis-ci.com or another service (Appveyor, GitHub Actions or similar)

/kind bug

[2021-06-08 12:30] makkes commented on #1419
Related to #1359

[2021-06-08 18:56] #1419 closed

[2021-06-10 05:49] #981 closed

[2021-06-10 07:05] irfanurrehman commented on #981
poke @matti

[2021-06-10 09:36] hectorj2f commented on #1359
@makkes I believe we can close this ticket now :).

[2021-06-10 09:42] #1359 closed

[2021-06-10 13:17] #1358 closed

[2021-06-10 14:56] makkes commented on #1359
From @jimmidyson on a related PR:

[2021-06-11 13:54] #1241 closed

[2021-06-22 09:23] yuswift opened #1431 "Helm installation suggestion: convert federatedtypeconfig.yaml installation step into post-install-job"
**What would you like to be added**:
It will be better to install `federatedtypeconfig` after the webhook pod is running.
**Why is this needed**:
Currently, when installing `kubefed` with `helm`, `federatedtypeconfig` is created whether the webhook pod is running or not. If the webhook pod is not running(e.g. pulling image slowly), the installation fails because the calling of webhook times out, h

[2021-06-28 03:34] qmhu opened #1434 "Introduce overrideParams for Overrides"
**What would you like to be added**:
How about support parameters during the override part.

introduce new configuration part in override:
[code]
support yaml template in federation deployment:

[code]

**Why is this needed**:

1. Multi-cloud deployment often need to override some common paramters like "imageRegistry", "clusterName", "region", "zone"，it will be great when we can reference these pa

[2021-06-28 08:00] #1350 closed

[2021-07-02 04:30] #1356 closed

[2021-07-04 19:45] yalctay93 commented on #1418
Hello, was anyone able to reproduce this? We really cannot upgrade to a newer istio version due to this bug. Any help would be appreciated!

[2021-07-13 12:47] yuswift commented on #1329
/remove-lifecycle rotten

[2021-07-14 11:19] yuswift commented on #1330
/remove-lifecycle rotten

[2021-07-26 08:17] tightime opened #1441 "Support to configure the MaxConcurrentReconciles in new FederatedTypeConfig controller"
I found that the MaxConcurrentReconciles of sync controller could be supported. Could we support the MaxConcurrentReconciles of feratedtypeconfig controller too? Because if there are many feratedtypeconfig resources that are applied at the same time, it will takes lots of time to wait for all sync controller to be ready.

[2021-07-27 14:26] dfateyev commented on #1391
@yalctay93 have you managed to propagate annotations in ingress resources?

[2021-07-27 14:45] yalctay93 commented on #1391
I have only tried the above with deployments but not with ingresses however, it should work similar to my above example :)

[2021-08-01 11:27] #1345 closed

[2021-08-04 10:54] #1278 closed

[2021-08-09 12:10] nitinatgh opened #1443 "Add a new label to Kubefed Controller Custom Metrics"
**What would you like to be added**: Would like to add a new label added to the [Kubefed Controller custom metrics](https://github.com/kubernetes-sigs/kubefed/blob/master/pkg/metrics/metrics.go). The label would be `cluster`  .

**Why is this needed**: This will help greatly during any troubleshooting and investigation work if members clusters are having problems that are registered with the given

[2021-08-13 04:43] hectorj2f opened #1444 "Configure dependabot"
**What would you like to be added**:
Dependabot should be configured to keep up-to-date our dependencies.

**Why is this needed**:
To get the latest changes, bug fixes from the used dependencies.

/kind feature

[2021-08-17 03:38] yuswift opened #1445 "Support Kubernetes v1.22"
- [ ] Bump webhook version to v1
- [ ] Bump CRD version to v1
- [ ] Update Kubernetes client related package

/kind feature
If there is anything I missed, please edit it.

[2021-08-18 02:52] yuswift commented on #1445
/close

[2021-08-18 02:52] #1445 closed

[2021-08-18 09:37] hectorj2f commented on #1444
@jimmidyson, Do you have any thoughts on that ?

[2021-08-25 11:21] nitinatgh opened #1447 "Add custom annotations to pod level at deployment"
**What would you like to be added**:
Would like to have annotations added at the pod level when the kubefed controller is deployed, currently its only available to set at the deployment level.

**Why is this needed**:
This is needed as we require some annotations to be scrapped or identified via other products in kube pods for other functionality to work in the cluster, e.g. [Datadog annotations](

[2021-08-25 22:46] xUnholy opened #1449 "Support ARM64 images"
Is there any scope for adding ARM64 compatibly? People using Graviton 2 instances, or running on other ARM SBC devices will run into this architecture issue.  You could use docker buildx to build multi-architecture images.

[code]

[2021-08-29 08:51] #1374 closed

[2021-09-01 04:54] xUnholy commented on #1449
@yuswift if you would want to contribute it that would be fantastic, alternatively I help maintain arm images here - https://github.com/raspbernetes/multi-arch-images

Which is intended as a placeholder whilst upstream build it into their own support model.

[2021-09-01 09:56] camilamacedo86 opened #1451 "Operator projects using the removed APIs in k8s 1.22 requires changes."
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-02 10:52] swiftslee opened #1452 "failed to upgrade kubefed from v0.7.0 to v0.8.1"
**What happened**:
helm --namespace kube-federation-system upgrade -i kubefed kubefed-charts/kubefed --version=0.8.1 --create-namespace
[code]
**What you expected to happen**:
successfully upgraded kubefed
**How to reproduce it (as minimally and precisely as possible)**:
install kubefed v0.7.0 on k8s v1.21, then upgrade it to v0.8.1
**Anything else we need to know?**:

**Environment**:
- Kubernete

[2021-09-02 10:52] yuswift commented on #1452
/cc @jimmidyson
/cc @hectorj2f

[2021-09-02 11:12] yuswift commented on #1452
After I applied the new `kubefedconfig` crd, another error happened:
[code]
I checked the `kubefedconfig` and found that the `spec.statusController` filed was missing.
I think we should patch the `kubefedconfig` in the `post-install-job` just like what @hectorj2f did.

[2021-09-05 03:18] #1368 closed

[2021-09-06 02:12] irfanurrehman opened #1454 "Documentation for setting intersectWithClusterSelector in RSP"
**What would you like to be added**:
After the behaviour of `intersectWithClusterSelector` was introduced in #1393 the doc was not added for the same.

**Why is this needed**:
Let users know the usage of the feature.

/kind doc

[2021-09-10 08:49] hectorj2f commented on #1372
Closing this issue as https://github.com/kubernetes-sigs/kubefed/pull/1388 got merged.

[2021-09-10 08:49] #1372 closed

[2021-09-14 09:12] nitinatgh opened #1456 "Make Kubefed Admission Webhook replica count configurable for High Availability"
**What would you like to be added**: Add in the helm charts a configurable parameter for the replica count that will be used by kubefed admission webhook

**Why is this needed**: The kubefed admission webhook at the moment is not High Availability (HA), so if there is any issues in the cluster, for example, like around resourcing issues or the pod gets in a crashloop due to image retrievable issue

[2021-09-15 03:49] #1402 closed

[2021-09-17 18:43] TwinProduction commented on #774
This is definitely something that would be necessary long term.

For instance, think deploying a resource containing a CRD, and then federating a separate resource using said CRD.

In a perfect world, we'd be able to set `dependencies` at either the target cluster, or at the kubefed cluster level, though the latter may be simpler to implement.

## At the target cluster level
The idea would be that

[2021-09-18 00:25] OneCricketeer commented on #1412
/remove-lifecycle rotten

[2021-09-19 19:48] #1406 closed

[2021-09-20 15:02] yalctay93 commented on #1452
I had the same issue. For us, we just deployed the helm chart AGAIN and that time it worked. Apparently the CRD for some reason was not updated in the first run. Interestingly, our pipeline first applies the CRDs each time before doing an helm upgrade - seems like either kubernetes was not fast enough on updating the CRDs or we really just have a timing issue.

Still, I find it interesting that so

[2021-09-22 03:08] yuswift commented on #1452
Interesting.

[2021-09-22 13:20] #1434 closed

[2021-09-25 15:56] #1391 closed

[2021-09-26 09:59] #1404 closed

[2021-09-29 12:39] yalctay93 commented on #1418
Hello, is anyone able to reproduce this? I am facing the same issue with kubefed version 0.8.1 - why would the entire template field go missing? Anyone has any idea/suggestion?

[2021-09-29 12:58] yalctay93 commented on #1418
Could it be that kubefed is not able to create the template: field for v1 api resources? It looks like kubefed is only able to create the template: field for their federated components when the crd is a v1beta1 crd...

[2021-09-29 13:08] yalctay93 opened #1458 "kubefed misses template: field when generating federated crds based on v1 crds"
Please help us understand what is going wrong here. Eversince we use the apiVersion v1 of the ```istioOperator``` CRDs, kubefed is not creating the template: field on the ```federatedIstioOperator``` anymore.

I have basically explained the procedure to reproduce this issue here: https://github.com/kubernetes-sigs/kubefed/issues/1418

It looks like for some reason, when kubefed creates a federated

[2021-09-30 07:40] yalctay93 commented on #1458
Short update, when I edit the federatedCRD and include the part:

[code]

manually, the template fields are included again however this is a manual editing of the federatedCRD which the kubefedctl enable command should do by itself....

kubefedctl version is 0.8.1 in case it helps with finding the issue.

[2021-10-04 03:28] #1354 closed

[2021-10-09 09:03] camilamacedo86 commented on #1451
HI @yuswift,

What do you mean? is not this repo managing the operator as well? If not, could you please let us know what is the repo of the operator project?

If yes, note that the operator still using the removed APIs at least for the CRDs and then, for the operator project able to run on the cluster also needs to be updated to no longer use these versions as described in the description of this

[2021-10-09 09:40] yuswift commented on #1451
The operator project was commited by @J0zi, I guess he/she can answer your question.

[2021-10-09 11:51] gregsheremeta commented on #1451
hi @camilamacedo86, I think that list of people you have was requested to review a mass migration, and most of us don't have anything to do with kubefed. I certainly don't -- don't even know what it is :grin:

[2021-10-09 12:14] camilamacedo86 commented on #1451
I found the repo: https://github.com/openshift/kubefed-operator
I am closing this issue and open a new one against these repo.

[2021-10-09 12:14] #1451 closed

[2021-10-14 03:41] mars1024 opened #1459 "informer cache sync needs a timeout"
**What would you like to be added**:
A timeout should be introduced to stop waiting informer cache sync forever, even it will never succeed.

**Why is this needed**:
[https://github.com/kubernetes-sigs/kubefed/blob/5b1f868c77383ada5c19e0f3aff1a5d6f2075941/pkg/controller/sync/controller.go#L206-L229](https://github.com/kubernetes-sigs/kubefed/blob/5b1f868c77383ada5c19e0f3aff1a5d6f2075941/pkg/contro

[2021-10-14 09:06] #1403 closed

[2021-10-21 19:01] mvaal opened #1462 "Support selector-based overrides"
**What would you like to be added**:

Ability to define a clusterSelector on all FederatedOverride objects.

**Why is this needed**:
Re-opening this as issues with this keep coming up.

https://github.com/kubernetes-sigs/kubefed/issues/581
https://github.com/kubernetes-sigs/kubefed/issues/643

I had commented on the ticket a year ago but wasn't able to reactivate it.

The original concerns on this

[2021-10-22 17:43] cebernardi opened #1463 "Allow resource name overriding from spec.template.metadata.name"
**What would you like to be added**:
Adding the capability to override the target resource name from `spec.template.metadata.name`

**Why is this needed**:

We are facing a situation where we need to propagate a resource with different fields in all the clusters.

Let's say a Configmap:

[code]

We want to distribute this configmap to a subset of cluster with `key: another-value`, but we need the

[2021-10-25 06:34] swiftslee opened #1464 "Upgrade kubebuilder dependencies"
Currently, kubefed replies on kubebuilder v2.3.1, which runs `kube-apiserver` v1.16 locally to test the code, the version is too old, we should upgrade it to v3.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- KubeFed version

[2021-10-27 07:31] zqzten opened #1466 "KubeFed controller crash when meeting negative array index in overrides"
**What happened**:
When we use negative array index in overrides of one federated object as below, KubeFed controller panicked and crashed when reconciling that object.
[code]

**What you expected to happen**:
KubeFed controller applies that override correctly as evanphx/json-patch#123 does.

/kind bug

[2021-11-02 05:48] #1447 closed

[2021-11-02 06:50] #1466 closed

[2021-11-02 19:59] serathius opened #1470 "Remove deprecate klog flag usage"
/kind feature

Hey, in K8s 1.23 we are planning to deprecate multiple klog flags. [KEP-2845](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md)

Deprecated flags: `--log-dir`, `--log-file`, `--log-flush-frequency`, `--logtostderr`, `--alsologtostderr`, `--one-output`, `--stderrthreshold`, `--log-file-max-s

[2021-11-08 18:09] mvaal opened #1471 "127.0.0.1:57024: connect: connection refused on kind creation scripts in macOS"
**What happened**:
Running the kind kubefed setup scripts on Mac is not properly registering the kubefed cluster.

[code]

[code]

**What you expected to happen**:
The cluster should be in the READY=true state.

**How to reproduce it (as minimally and precisely as possible)**:
Running:
https://github.com/kubernetes-sigs/kubefed/blob/master/scripts/create-clusters.sh
https://github.com/kubernetes-s

[2021-11-08 20:51] mvaal commented on #1471
This is covered here and I missed it.
https://github.com/kubernetes-sigs/kubefed/blob/master/docs/cluster-registration.md#joining-kind-clusters-on-macos
Running the `fix-joined-kind-clusters.sh` moved my clusters into the ready state.

[2021-11-08 20:51] #1471 closed

[2021-11-09 10:38] nitinatgh commented on #1443
/remove-lifecycle stale

[2021-11-10 19:45] mvaalexp opened #1472 "Add ability to set kind config in create-clusters.sh"
**What would you like to be added**:
The create-clusters.sh script only allows for the creation of clusters with a single node.

**Why is this needed**:
Sometimes there is not enough resources on a single node for testing purposes.

/kind feature

[2021-11-10 19:45] mvaalexp commented on #1472
https://github.com/kubernetes-sigs/kubefed/pull/1473

[2021-11-11 03:22] xunpan opened #1474 "test case failed frequently with no relationship of code change"
**What happened**:
PR fails in non-related test case even with retry.
https://github.com/kubernetes-sigs/kubefed/pull/1469
https://github.com/kubernetes-sigs/kubefed/pull/1455

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- KubeFed version
- Sco

[2021-11-12 10:20] zqzten opened #1475 "KubeFed controller stop working when there are KubeFedClusters with malformed configs whose previous status is ready"
**What happened**:
We accidentally deleted a Secret of one KubeFedCluster which is ready previously. After that, we found that KubeFed controller stop working due to an informer sync check error `The number of target informers mismatch with given clusters`. This is because the KubeFedCluster with malformed config is still in **Ready** state but the controller cannot create a REST client for it.

*

[2021-11-12 10:20] zqzten commented on #1475
/assign

[2021-11-19 15:31] #1431 closed

[2021-11-24 09:41] yalctay93 opened #1478 "clusterOverrides for multiple annotations syntax"
Hello, my question is how can  I override multiple annotations with clusterOverrides?
the below example works for one annotation:

[code]

But for two annotations, how does the syntax look like? I tried this but it is not working;
[code]

/triage support

[2021-11-24 12:39] yalctay93 commented on #1478
apparently the correct syntax is as follows:

[code]

[2021-11-25 20:27] NikhilSharmaWe commented on #1470
@serathius I would like to contribute for this case. I am little bit confused about how to remove deprecated klog flags usage in this case, could you please give me some direction about how to proceed while tackling this issue.

[2021-11-26 09:20] serathius commented on #1470
We need to stop using `--log-file=${WORKDIR}/kube-apiserver.log --logtostderr=false` flags and use other means to redirect command output to file. In case of this script I think we can use standard bash redirection. You can read about them here https://www.gnu.org/software/bash/manual/html_node/Redirections.html

My first guess would be that we should replace
[code]
with
[code]

kube-apiserver wri

[2021-11-26 09:34] NikhilSharmaWe commented on #1470
/assign

[2021-11-26 15:56] #1470 closed

[2021-12-08 21:53] sapconsultantbc opened #1480 "federation kubernetes"
Hi all,
Do federation kubernetes is possible on production because I see that the federation kubernetes is on beta version ?
Thanks
Regards,
Said

[2021-12-13 10:44] nitinatgh commented on #1456
/remove-lifecycle stale

[2021-12-23 19:39] #1441 closed

[2021-12-27 11:17] yuswift commented on #1452
/remove-lifecycle stale

[2021-12-30 08:18] 0xff-dev opened #1481 "Should the KubeFed synchronization controller overwrite the modification of the pvc spec field by the member cluster?"
**What happened**:
In my cluster, I create the resource `FederatedPersistentVolumeClaims`, and then create a `cr` of `fpvc`. When the pv in the member cluster is bound to pvc, the `volumeName` field of pvc will be modified, but the kubefed controller will issue an error at this time.
[code]

But in the end, the controller did not change this field back.
[code]

**What you expected to happen**:
May

[2022-01-04 12:05] irfanurrehman commented on #1454
/remove-lifecycle rotten

[2022-01-10 02:51] yuswift commented on #1329
/remove-lifecycle stale

[2022-01-10 09:16] AndyLZY opened #1482 "Delete Federated Resources"
How to delete federated resources on member clusters together when executing the unjoin command？

[2022-01-13 07:33] ryutoyasugi opened #1483 "Failed to quickstart in macOS"
**What happened**:

I tried the README Quickstart.
Then failed to deploy kubefed command `make deploy.kind`.

**How to reproduce it (as minimally and precisely as possible)**:

Environment
* macOS Monterey 12.1
* go 1.17.5
* kind v0.11.1
[code]

**Anything else we need to know?**:

I think the etcd downloaded by the script is old.
https://github.com/kubernetes-sigs/kubefed/blob/master/scripts/down

[2022-01-13 14:16] jonathanbeber commented on #1254
/reopen

This issue is still valid in `v0.9.0`.

<details>

Example log where `my-cluster` was not related to the specified role.

[code]

</details>

[2022-01-13 14:19] jonathanbeber commented on #1254
@RainbowMango I guess you are not working on this one, right? Do you mind if I give it a shot? I'd be interested in contributing.

[2022-01-13 15:46] jimmidyson commented on #1254
/reopen

[2022-01-13 15:46] jimmidyson commented on #1254
/remove-lifecycle rotten

[2022-01-13 15:51] jonathanbeber commented on #1254
/assign

[2022-01-14 10:35] luolanzone opened #1484 "Member cluster is not ready without endpoint patch in Ubuntu"
**What happened**:

I was following the quickstart in Readme file to set up kubefed, then I tried the last step `kubectl -n federate-me describe federatedconfigmap my-cm` to check the status, it shows `CheckClusters`. the `kind` cluster which is joined by default is not ready.
Only after I tried to do the patch which is provided in `fix-joined-kind-clusters.sh`, it can be ready.

**What you expect

[2022-01-15 11:28] #1444 closed

[2022-01-18 09:20] RainbowMango commented on #1254
Thanks @jonathanbeber for picking this up.
/unassign

[2022-01-20 03:37] mvaal commented on #1462
/remove-lifecycle stale

[2022-01-21 06:01] siyu618 opened #1485 "could not download kubefed-charts 0.9.0"
**What happened**:
xxx@ubuntu:~/kubernetes/kubefed-git$ helm repo list
NAME            URL
kubefed-charts  https://raw.githubusercontent.com/kubernetes-sigs/kubefed/master/charts
xxx@ubuntu:~/kubernetes/kubefed-git$ helm search repo kubefed
NAME                    CHART VERSION   APP VERSION DESCRIPTION
kubefed-charts/kubefed  0.9.0                       KubeFed helm chart
xxx@ubuntu:~/kubernetes/

[2022-01-25 03:41] SUMMERLm opened #1487 "velaux: Bind Environments can't load"
**What happened**:
![image](https://user-images.githubusercontent.com/92348982/150906765-f2142dc2-9d51-4459-8db3-10e4b7c95ead.png)

**What you expected to happen**:
should load env
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
vela version
Version: v1.2.1
GitRevision: git-12f392c
GolangVersion: go1.16.13
**Environment**:
- Kubernetes version

[2022-01-26 22:42] tehlers320 opened #1488 "metrics volume is un-sustainable."
**What happened**:

[code]

**What you expected to happen**:
Fast responses from the metrics url.

**How to reproduce it (as minimally and precisely as possible)**:
add 100+ clustsers with many federated types.

**Anything else we need to know?**:
Yes you can filter the metrics quantity and increase the timeout. But we have 315930 metrics now and its putting excessive load on kubfed as it gets que

[2022-01-26 22:56] tehlers320 commented on #1488
https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.10.0 <--- this version turns off the rest metric by default.

So it may be as simple as upgrading. https://github.com/kubernetes-sigs/kubefed/blob/master/go.mod#L28

[2022-01-27 04:13] tehlers320 commented on #1488
I have it building here with controller 0.11.0 but it forced upgrading to 0.23.2 https://github.com/tehlers320/kubefed/commit/c22e25192d853b5ef4649d7bd924a65ea2eec976

[2022-01-27 05:24] tehlers320 opened #1489 "Helm chart 0.x.x to 0.9.x upgrade fails"
**What happened**:
The new settings in the chart CRD appear to be set before the CRD goes in

[code]

**What you expected to happen**:
upgrades work.

**How to reproduce it (as minimally and precisely as possible)**:
upgrade helm from 0.8.1 to 0.9.0

**Anything else we need to know?**:

I think this may fix it, not sure.
[code]
on the CRD
**Environment**:
- Kubernetes version (use `kubectl version

[2022-01-29 06:10] #1449 closed

[2022-02-08 14:58] nitinatgh commented on #1443
/remove-lifecycle stale

[2022-02-09 00:00] mvaal commented on #1472
/remove-lifecycle stale

[2022-02-14 07:28] swiftslee commented on #1464
/remove lifecycle-stale

[2022-02-14 07:46] swiftslee commented on #1482
I think you should delete the federated resources first on the host cluster.

[2022-02-15 01:43] #1412 closed

[2022-02-16 11:46] irfanurrehman commented on #1488
@tehlers320 thanks for pointing out the issue. Would you be able to post a PR with the upgrade for the package. It seems you have already done it privately.

[2022-02-16 15:52] tehlers320 commented on #1488
@irfanurrehman  https://github.com/kubernetes-sigs/kubefed/pull/1492 but it jumps golang versions (i couldnt get it working on 1.16, maybe it was my workstation not sure) and it jumps module versions skipping .22

I also cant get the CLA thing working even though i've signed everything.

[2022-02-23 19:29] msdolbey opened #1494 "Issue with helper scripts when running Quick Start on macOS"
**Issue #1**
**What happened**:
Two things happened when running the [Quick Start](https://github.com/kubernetes-sigs/kubefed#quickstart) on macOS:
First, when running:

`make deploy.kind`

Somewhere down the line, I encountered this issue:
`go-bindata is not found. Use './scripts/download-binaries.sh' to download it.`

I run this script, and it seemed to download everything as one would expect.

[2022-02-24 08:27] makkes commented on #1494
@msdolbey, about:

Have you tried following the [instructions in the dev docs](https://github.com/kubernetes-sigs/kubefed/blob/master/docs/development.md#binaries), especially the part about adding the `./bin` directory to `PATH`?

[2022-02-24 16:52] msdolbey commented on #1494
I believe I did - that didn't seem to help until I ran this bit first:
`go get -u github.com/go-bindata/go-bindata/...`

that being said - there's always room for user error when I do a first run through of something.

That being said - if this bit is used in the error:
`go-bindata is not found. Use './scripts/download-binaries.sh' to download it.`
Should it also instruct the user to then run:
`ex

[2022-02-26 13:54] #1418 closed

[2022-02-27 10:03] #1458 closed

[2022-03-09 11:20] FengXingYuXin opened #1496 "clusterHealthCheckConfig FailureThreshold and SuccessThreshold not take effect"
**What happened**:
about below struct
type ClusterHealthCheckConfig struct {
	Period           time.Duration
	FailureThreshold int64
	SuccessThreshold int64
	Timeout          time.Duration
}
we set Period 10s，FailureThreshold 100，SuccessThreshold 1，Timeout 60s。

but when kubefed check child k8s failed just only 1 time, the status of child k8s becomes notReady.
**What you expected to happen**:
the

[2022-03-09 11:24] FengXingYuXin commented on #1496
we check the code of clusterHealthCheck and find the bug in function thresholdAdjustedClusterStatus  as followes:
storedData.resultRun's updation must be in front of check
![image](https://user-images.githubusercontent.com/9688486/157432205-35f0296b-92e8-4460-84c8-087fe599a570.png)

[2022-03-10 02:05] #1475 closed

[2022-03-11 12:24] #1330 closed

[2022-03-13 16:42] nitinatgh commented on #1456
/remove-lifecycle stale

[2022-03-14 10:40] lemon360cn opened #1498 "cluster 1 and cluster2 not ready"
ubectl -n kube-federation-system get kubefedclusters
NAME       AGE   READY
cluster1   47m
cluster2   46m

**kubectl -n kube-federation-system describe kubefedclusters.core.kubefed.io cluster2
Name:         cluster2
Namespace:    kube-federation-system
Labels:       <none>
Annotations:  <none>
API Version:  core.kubefed.io/v1beta1
Kind:         KubeFedCluster
Metadata:
  Creation Timestamp:  2022-

[2022-03-14 10:41] lemon360cn commented on #1498
use macOS minikube env

[2022-03-21 20:58] #1463 closed

[2022-04-15 08:43] #1464 closed

[2022-04-18 12:53] jonathanbeber commented on #1254
/remove-lifecycle stale

#1499 is ready for review.

[2022-05-02 11:53] ameena007 commented on #1498
I used minikube but issue is still there

[2022-05-02 12:06] ameena007 commented on #1498
(base) meenaam@meenaam-a01 kubefed % kubectl -n kube-federation-system describe  kubefedclusters  --cluster=master
Name:         master
Namespace:    kube-federation-system
Labels:       <none>
Annotations:  <none>
API Version:  core.kubefed.io/v1beta1
Kind:         KubeFedCluster
Metadata:
  Creation Timestamp:  2022-05-02T12:01:37Z
  Generation:          1
  Managed Fields:
    API Version:  cor

[2022-05-03 01:51] ameena007 commented on #1498
Posted on StackOverflow:  https://stackoverflow.com/questions/72094070/unable-to-implement-multicluster-fedeartion-using-kubefed . Somehow not able to find a working example on mac with minikube and  latest helm, Kubernetes version.

[2022-05-07 22:26] #1480 closed

[2022-05-10 01:41] mvaalexp commented on #1472
/remove-lifecycle stale

[2022-05-10 11:49] #1488 closed

[2022-05-18 00:04] irfanurrehman commented on #1487
Closing as not applicable to kubefed
/close

[2022-05-18 00:04] #1487 closed

[2022-05-18 00:11] irfanurrehman commented on #1498
Just noticed this, will check it out over the weekend

[2022-05-18 00:20] irfanurrehman commented on #1478
@yalctay93  Closing this as you seem to have found the answer to your question
/close

[2022-05-18 00:20] #1478 closed

[2022-05-18 00:27] irfanurrehman commented on #1481
@0xff-dev This is expected. The immutable fields of resources like the one you mentioned cannot be changed after they are first created. The solution to this would be including the volumeName or similar such fields (if there are any) from the pvc to skip while updating the cluster local resource.

[2022-05-18 00:29] irfanurrehman commented on #1482
@AndyLZY the unjoin does not delete the cluster local resources. You as a user are expected to delete the resources before or after unjoin.
Closing this as explained.
/close

[2022-05-18 00:29] #1482 closed

[2022-05-18 12:45] jimmidyson commented on #1489
Could you please provide simplest repro steps?

[2022-05-18 23:11] irfanurrehman commented on #1481
This is a simple change and I will keep this issue open, to see if somebody is interested in implementing this.

[2022-05-19 15:22] Callisto13 opened #1503 "Aggressive failure when command line args are wrong"
**What happened**:

When running `kubefedctl join` with a mis-typed context name, I received a stacktrace of all goroutines rather than a concise error.

This is due to the `klog.Fatalf` in `pkg/kubefedctl/join.go`.

Would it be possible to change it do that it does not throw a panic on _every_ error?

<details>

[code]

</details>

**What you expected to happen**:

A more UI friendly error on a s

[2022-05-24 14:52] xyz-li opened #1504 "controller-manager panic when field insecure-skip-tls-verify of kubeconfig is ture"
**What happened**:
controller-manager panic when field insecure-skip-tls-verify of kubeconfig is ture

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)
- KubeFed version
- Scope of installation (namespaced or cluster)
- Others

/kind bug

[cod

[2022-06-06 13:04] #1504 closed

[2022-06-16 12:56] ra-grover commented on #1489
Hey @jimmidyson , upgrading the helm chart from 0.8.1 to 0.9.2 you will face this error.
```helm upgrade  -n kube-federation-system --set docker_tag=v0.9.2 kubefed .```

[2022-06-16 22:26] bernielomax opened #1507 "Kubefed support for AWS EKS running Weave"
**What would you like to be added**:

Update the Helm chart to support installing Kubefed on an AWS EKS cluster that uses a third-party CNI such as Weave.

**Why is this needed**:

When installing Kubefed `0.9.x` on an EKS cluster running Weave. The following error occurs:
[code]

I believe this is caused by the fact that the EKS Kubernetes control plane nodes are totally managed by AWS, and are n

[2022-06-24 00:49] #1456 closed

[2022-06-25 09:28] zqzten commented on #1443
I do think that's a good idea and I'm curious about which of the metrics would you like to add the `cluster` label?

[2022-06-25 12:05] zqzten commented on #1462
That's what I plan to do then. But it do need some concern on conflicts and propagated version calculating issues.

/assign

[2022-06-25 20:27] OneCricketeer commented on #1498
You need to use a script like this. This one is for kind, but I believe similar steps are required for minikube.

https://github.com/kubernetes-sigs/kubefed/blob/master/scripts/fix-joined-kind-clusters.sh

[2022-06-26 03:17] zqzten commented on #1481
/assign

[2022-06-30 09:38] 0xff-dev opened #1508 "Retain Namespace labels"
**What would you like to be added**:
`Namespace` is a resource that can contain other resources. Can the labels field be retained like the annotations field?

**Why is this needed**:
This is just an idea. When a member is used as a `kubefed member` cluster, it may also be used by other environments. The implementation of some functions may use the `label of the namespace`, such as `networkpolicy`.

[2022-07-01 10:42] nitinatgh commented on #1443
Hi @zqzten,

Thanks for taking time to have a read at this.

So at the moment, I only had the following in mind as they can provide vital information on the health of a cluster, i.e. if the cluster is in poor health, having reconcile issues etc... Also this is a good one stop shop to give the platform team an oversight on how all clusters are behaving on one page, esp for alerting. So kill 2 birds

[2022-07-02 11:46] zqzten commented on #1443
@nitinatgh Thanks for giving information on this. The cardinality is indeed a problem when you extend metrics with cluster label, I cannot think of an ultimate solution for now, but I think we can mitigate it by limiting its usage to as less metrics as we use and make sure these metrics do not have another labels whose values could grow large (such as resource type).

As for the cluster health, we

[2022-07-06 02:56] AlawnWong opened #1509 "Can I use kubefed to deploy a helm chart to multiple clusters？"
Can I use kubefed to deploy a helm chart to multiple clusters？

[2022-07-06 07:58] 0xff-dev commented on #1509
There should be two options for deploying to multi-cluster through helm.
1. Write kubefed's CR directly in the chart.
2. Use [`flux`](https://github.com/fluxcd/flux2) and `kubefed`. Change the CRD of flux into FederatedFluxCRD(`kubefedctl enable xxxx`), let the operator of flux distribute to multiple clusters through kubefed, and then create `FedeartedFluxCRD` to achieve multi-cluster deployment

[2022-07-11 08:44] afoninsky opened #1510 "Mark a portion of source manifest as "do not sync""
**What would you like to be added**:
Have possibility to mark a portion of manifest "do not override this if changed in managed cluster". For instance, it can be done bringing additional field into Federated specs together with _Overrides_, _Placement_ etc.

**Why is this needed**:
In the current paradigm kubefed acts as a single source of truth for all deliverables. The problem is - in the real w

[2022-07-11 11:37] zqzten commented on #1510
This feature is indeed reasonable, but I'm not sure if there's need to customize retentions for every single resource object. If not, we might expose the customization in FederatedTypeConfig which would be much cleaner.

[2022-07-11 12:07] 0xff-dev commented on #1508
Thank you very much for the answer, looking at the issue does cover this feature of mine. I think this issue can be kept temporarily, if https://github.com/kubernetes-sigs/kubefed/issues/1510 is implemented, I will close this issue.

[2022-07-11 18:54] afoninsky commented on #1510
Hello.

I assume by saying "retention" you mean if controller propagates changes to member clusters or not? So you're saying (please fix me if I wrong) that to have rule in `FederatedTypeConfig` is more preferable than in separate `FeredatedResource` manifests, right?

This is a good idea, but let me present for discussion another option:
describe this thing in FederatedResources itself, for insta

[2022-07-12 12:19] zqzten commented on #1510
@irfanurrehman Would be grateful if you can also give some opinions on this!

[2022-07-14 07:21] irfanurrehman commented on #1510
I can think of several usecase around this.
- The retention can be specified once and applied globally to all resources of a specific federatedType
- It can be specified on each federated resource
- It can be further fine grainer to be applied to certain clusters and not to others.

I think we can do this in steps, with a goal that all the above configurations are possible eventually.
My recommend

[2022-07-14 11:06] zqzten commented on #1510
+1, let's first make it configurable in FTC, and leave others till there's a real need.

[2022-07-19 07:41] afoninsky commented on #1510
I'm fine with any solution which allows me to continue using kubefed, FTC sounds better that nothing :)
Now, how do you plan a feature. Is there ETA when it could be delivered (roadmap/plan, next release etc), or this will wait for opensource contributor? (sorry, It is not like I'm pushing or something, just for curiosity)

[2022-07-19 12:20] zqzten commented on #1510
This feature would need a KEP first than implementation, as KubeFed is in short of maintainers, we cannot provide an ETA with confidence. It would be mostly welcomed if there's some contributor who would like to work on this (or even take part in the maintenace). If not, I can carry on with it but I cannot give a clear ETA for now.

[2022-07-20 11:07] fc92 opened #1511 "User guide typo in script related to nginx example"
**What happened**:
In the *Verify your deployment is working* section of the user guide, the script *Ensure nginx is running properly in each cluster* is working for cluster1, not cluster2.
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
copy paste script in the documentation

**Anything else we need to know?**:

**Environment**:
-

[2022-07-20 13:15] sietchcode commented on #1484
same behavior using kubefed master commit a402d2e2750dcc3c094a29a79d8bff53b28fe15d
with kind cluster image version from scripts/create-clusters.sh kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6 under ubuntu 22.04

At the end of `make deploy.kind`:
[code]
But the cluster is not ready:
[code]
The cluster seems fine:
[code]

[2022-07-24 18:31] #1494 closed

[2022-07-25 20:56] ttasharski73 opened #1513 "Supported kubernetes versions / webhook issues"
What kubernetes versions are supported with Kubefed? I have been trying to get to install on an AKS cluster v1.23.5 and I am assuming the API versions (v1betav1) are not supported anymore.

**What happened**:

Error: failed to create resource: Internal error occurred: failed calling webhook "kubefedconfigs.core.kubefed.io": failed to call webhook: Post "https://kubefed-admission-webhook.kube-feder

[2022-07-31 13:52] zqzten commented on #1510
/assign

[2022-08-01 09:37] zqzten commented on #1508
/assign

[2022-08-01 09:46] zqzten commented on #1510
@afoninsky KEP is here FYI: #1514

[2022-08-06 12:23] #1496 closed

[2022-08-10 09:54] #1454 closed

[2022-08-15 13:49] #1489 closed

[2022-08-15 22:08] sietchcode commented on #1484
/assign

[2022-08-15 22:19] sietchcode commented on #1484
#1523 open for review

[2022-08-16 01:37] irfanurrehman commented on #1474
Was fixed by https://github.com/kubernetes-sigs/kubefed/pull/1500
/close

[2022-08-16 01:37] #1474 closed

[2022-08-21 07:29] ilyatovbin-pp opened #1524 "can't see the actual deployment status of an update to the federated object."
**What would you like to be added**:
Some sort of basic status for completion of updates.

**Why is this needed**:
Right now I have a helm chart using federated api objects. when using helm --upgrade install, it finishes in 5 seconds because that's how long it takes to update the federated objects, but not for kubefed to actually update all the underlying objects.

for example, **kubectl desctibe

[2022-08-21 12:54] kundan2707 commented on #1509
/kind support

[2022-08-21 13:24] kundan2707 commented on #1513
@ttasharski73

The KubeFed deployment requires kubernetes version >= 1.16.
There could be some other issue with other components and its configuration

[2022-08-21 13:25] kundan2707 commented on #1513
/kind support

[2022-09-13 09:30] eugene-dm commented on #1513
admissionregistration.k8s.io/v1beta1 is deprecated (and removed) in 1.23 in favor of admissionregistration.k8s.io/v1

[2022-09-13 20:14] wbarnha opened #1525 "'make deploy.kind' fails when following quickstart guide"
**What happened**:
I followed the exact guide in the quickstart:
[code]

**What you expected to happen**:

I expected `make deploy.kind` to work without any errors.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
Looks like `json@v0.0.0-20220713155537-f223a00ba0e2` is meant for 1.17. Updating https://github.com/kubernetes-sigs/kubefed/blob/master/Makefile#L47 to 1.17.0 m

[2022-09-13 22:54] bernielomax commented on #1507
It's been a while since this was first posted. Any folks have any feedback/opinions on this? I would like to get it merged into the official project to avoid forking.

[2022-10-06 21:55] jpuskar commented on #1509
We federate the FluxCD HelmRelease CR to do this. It works very well.

[2022-10-07 03:36] #1472 closed

[2022-10-15 02:21] #1329 closed

[2022-10-15 02:21] #1452 closed

[2022-10-15 02:21] #1483 closed

[2022-10-16 17:32] #1503 closed

[2022-10-31 03:34] 0xff-dev commented on #1508
/remove-lifecycle stale

[2022-11-22 21:48] #1498 closed

[2022-11-23 04:07] shivanisinghnitp opened #1528 "Clusters are not getting joined in Kubernetes V1.24 and above using kubefedctl join"
**What happened**: When I try joining clusters using kubefedctl join, it throws an error and the clusters aren't joined.
<img width="1728" alt="Screenshot 2022-11-23 at 9 38 30 AM" src="https://user-images.githubusercontent.com/58537821/203467670-cfc0136d-d1f7-4b09-a94b-fbc4ab7ae5eb.png">
**What you expected to happen**: The clusters should join

**How to reproduce it (as minimally and precisely a

[2022-11-24 03:14] ebiiim commented on #1528
I had the same issue and found that kubefedctl [v0.10.0](https://github.com/kubernetes-sigs/kubefed/releases/tag/v0.10.0) might work.

Might be related to #1515.

[2022-11-28 22:53] ohkinozomu opened #1531 "Kubefed is heading for archival"
Kubefed will be archived. We should warn about it in this repository.
https://groups.google.com/g/kubernetes-sig-multicluster/c/aZv-YuafSko