[2018-03-30 02:16] pmorie opened #34 "Extension via CRD"
It should be possible to extend the basic mechanism of federation of a new type via a set of CRDs:

- Template
- Override
- Placement

It would be cool if kubefnord would generate CRD templates for you.

[2018-03-30 02:26] pmorie opened #35 "Policy-based validation in basic federation"
There are two flavors of policy that we’ve discussed in Federstion WG:

1. Policy governing whether placement/override of resources is allowed
2. Policy applied by schedulers to make placement/override decisions/requests

This issue deals with flavor (1)

We could have a very generic validation webhook that could apply label-based policy decisions to any resource. As per #34, you should be able to

[2018-04-06 09:43] sdminonne opened #44 "<FederatedKind>Override cannot override immutable fields"
@marun @font @onyiny-ang
@pmorie FYI

While I was trying to add `Completions` to `FederatedJobClusterOverride` type I realized that with today code it's impossible to override an [immutable field](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/batch/validation/validation.go#L153).

I see this as a gap. My understanding is that overridden resource should be directly created while loo

[2018-04-09 03:06] marun commented on #44
@sdminonne I think this is an interesting finding.  It will never be possible to override an immutable field, so if an override is to be effective it must exist before object creation.  If an override resource is added after the job template such that the reconciller has already had a chance to create job resources in the underlying clusters, adding an override will result in a validation error.

[2018-04-17 14:13] pmorie opened #51 "Administrivia: add boilerplate checker"
... for k8s boilerplate; as I understand it, this is a precondition of donation to a kubernetes github org.

[2018-04-21 16:43] pmorie opened #56 "Idea: multicluster service DNS"
We should have an easy way to implement DNS provider integration for multi-cluster service DNS.

Goals:

- Make a vendor-independent DNS controller that does 99% of the work for you of monitoring service resources in multiple clusters and writing an intermediate resource which is the interface for vendor implementations to program to
- Vendors implement controllers that program their DNS solutions

[2018-04-24 00:51] pmorie commented on #56
cc @shashidharatd

[2018-04-24 19:48] pmorie opened #60 "API driven federation of arbitrary types"
Related to #34; assuming that we have a CRD-based way to extend federation by creating some new CRD resources for:

- template
- override
- placement

...then there should be an API resource to have these CRDs created automatically. Example:

[code]

A controller would list/watch this API resource and ensure that the correct CRDs were created for the named `basis` in the API group/version describe

[2018-04-26 19:50] font opened #64 "Federated namespace placement doesn't recreate namespace after adding cluster back in"
Going through instructions at https://github.com/font/k8s-example-apps/tree/master/sample-fed-v2-demo, particularly step https://github.com/font/k8s-example-apps/tree/master/sample-fed-v2-demo#update-federatednamespaceplacement, the `test-namespace` is successfully removed from `us-east` after updating the namespace placement to remove `us-east` from the list of clusters.

But when the cluster `us

[2018-05-01 17:46] pmorie opened #66 "Overrides field should not be capitalized in yaml serialization"
This should be `overrides` when serialized, per: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#naming-conventions

[2018-05-15 20:07] pmorie opened #73 "Use the dynamic client for interacting with the cluster-registry"
So that we don't need to vendor the client. This will ease the transition to the CRD-based cluster registry when the time comes.

See also: https://github.com/kubernetes/cluster-registry/pull/225

[2018-05-17 20:13] marun opened #74 "Transition to kubebuilder"
Federation v2 is currently based on [apiserver-builder](https://github.com/kubernetes-incubator/apiserver-builder), which automates the creation of API types and deployment of an aggregated API server to expose created types.  An aggregated API server imposes considerable operational cost and complexity, and it is desirable to remove this requirement in preparation for an alpha release.   [kubebui

[2018-05-17 20:22] marun opened #75 "Simplify placement"
Resource placement currently requires resource-specific placement.  To be propagated to a given cluster, a template must have that cluster listed in its associated placement resource, and the containing namespace must also have a placement resource listing that cluster.

It would be desirable to make namespace-based placement the default.  If the placement for a namespace specified a given cluster

[2018-05-18 17:19] pmorie opened #76 "Bump dependency on cluster-registry to 0.0.5"
The 0.0.5 version of the cluster-registry contains the CRD refactor and a new generated client (which should be very close to the old one, if not identical). We should revendor this version so that we're working with the current version of the cluster registry.

[2018-05-21 15:16] shashidharatd opened #78 "Flake in Integration test"
Integration test seems to be flaky and randomly failing. I have noticed this issue quite a few times. Here is one such example, where the code in PR have no changes to integration tests. https://travis-ci.org/kubernetes-sigs/federation-v2/builds/381710195

[code]

[2018-05-21 15:32] shashidharatd commented on #56
/assign

[2018-05-21 15:35] shashidharatd commented on #66
@pmorie, does this issue still exist? otherwise can you close this.

[2018-05-22 08:14] shashidharatd commented on #78
This is fixed in https://github.com/kubernetes-sigs/federation-v2/pull/79

[2018-05-22 08:14] #78 closed

[2018-05-22 13:08] wpieterse opened #81 "Availability"
Hi there, not much an issue but I dont know where else to post it. Where can I find a timeline for when v2 will reach beta stage, if there is one? Also, is there a setup guide for how to create a test cluster with v2?

[2018-05-22 22:07] font commented on #81
@wpieterse If you're looking for a user's guide, we still need to create one, but the best way to set it up right now is to create your kubernetes clusters with minikube or using your preferred cloud provider, then using the [deploy federation script](https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/deploy-federation.sh) to automate the deployment. Make sure to [follow the inst

[2018-05-23 04:53] wpieterse commented on #81
Yes this is perfect! Im still a while away from starting to run anything in production, I just want to take it for a test drive and see what it does. My plan is to eventually run my mobile game backend with this. Thanks for the comments!

[2018-05-23 04:53] #81 closed

[2018-05-23 17:08] pmorie opened #82 "official image builds"
We should have an official image that we publish for this repo; should be built from master for canary build and then tagged for releases.

[2018-05-23 17:53] font commented on #73
CRD-based cluster registry is now available. Not sure if we need to move to a dynamic client for interacting with it unless vendoring in the client continues to be problematic.

[2018-05-23 17:57] font commented on #66
This was fixed by https://github.com/kubernetes-sigs/federation-v2/commit/ada272855ee5155491e97a98eeef3baa54c202a3.

[2018-05-23 17:57] #66 closed

[2018-05-23 21:06] font opened #83 "Replace dynamic client usage with controller-runtime's generic client"
The current dynamic client in use has now been deprecated. We need to update the client-go vendored dependency and update the dynamic client to use the new version. See https://github.com/kubernetes/kubernetes/pull/63446 for more details.

[2018-05-23 21:11] font opened #84 "Add a user guide"
Write a user guide to document setting up a fedv2 deployment. This guide should be different from the developer guide and the developer guide can reference it to avoid duplicating docs.

[2018-05-24 14:49] jessfraz opened #86 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 18:14] font commented on #86
Thanks @jessfraz! There is an existing PR #85 that still needs to be lgtm'd and merged.

[2018-05-24 18:20] jessfraz commented on #86
awesome thanks!

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu

[2018-05-25 09:34] irfanurrehman opened #87 "Higher level placement specification aka label selector based placement"
Per resource placement, where the corresponding placement resource specifies a list of clusters to place the template is already available. It also makes a lot of sense to have a default behavior for all resources in the abscence of this per object placement specification (as alluded in #75).
   There additionally is a need for a higher level placement intent that a user can specify. Although ther

[2018-05-25 10:44] irfanurrehman opened #88 "Higher level replica scheduling type and controller for deployments"
Deployments like other resources could be federated using the template, placement and overrides. The capability of distributing non-equal number of replicas per deployment per cluster as an user intent can be specified using overrides. However a higher level automated control loop which watches the clusters and pods health per deployement per cluster, and distrbutes (and further redistributes if n

[2018-05-25 11:08] irfanurrehman opened #89 "E2e setup and actual e2e validation in CI"
Currently, the setup for integration and e2e is quite similar, as in only the k8s API server is run to emulate an actual cluster. This is probably suitable for majority cases, but results in limited testing scope especially in cases where feedback from actual resources run time is needed for functionality (eg, higher level scheduling type, service dns type, .. ). Also at some point the overall CI

[2018-05-25 11:25] irfanurrehman opened #90 "Deletion semantics for higher level resources"
Federation v2 follows a layered approach such that the higher level resources depend on the lower level federated types for propogation and rconciliation of k8s objects into federated clusters.
To create, for example an automated distribution of deployment replicas, an user can only create a `FederatedDeployment` and `ReplicaSchedulingPreference` (as defined in #46). The higher level RSP resource

[2018-05-25 11:43] irfanurrehman opened #91 "E2e tests for higher level resources"
Some higher level resources need e2e tests for actual end to end functionality validation. Below is the list of current such resources which certainly need additional e2e tests:
- [ ] ReplicaSchedulingPreferences as in #46.
- [ ] MultiClusterDNS as in #59

The implementation of these tests is dependent on #89 (or some other strategy, for example self validation external to CI using managed cluster

[2018-05-25 17:24] irfanurrehman opened #92 "Extend ReplicaSchedulingPreferences to support replicasets"
`ReplicaSchedulingPreferences` is implemented (as in #46) to support deployments using the same name `<ns/name>` as the key to target the low level `FederatedDeployment` resources (template, override and placement). This needs to be extended and implementation made generic, such that the same API schema can be used to target `FederatedReplicaset` also using a targetRef. The following 2 items will

[2018-05-30 01:45] font commented on #86
Fixed by #85.

[2018-05-30 01:45] #86 closed

[2018-05-30 14:11] irfanurrehman opened #95 "Higher level HPA Preferences API and controller"
Its easy to federate a given k8s resource with the current federation v2 infrastructure. Federated HPA is also no exception. Default propagation of hpa with possible overrides per cluster (as with using template, overrides and placements) has some, but limited usage. A higher level HPA scheduling API and controller with extended logic makes for a feature set with more usage and value.

A suitable

[2018-05-30 14:15] shashidharatd opened #96 "Feature Request: Federated Ingress"
Federated ingress is a much sought after feature. There was a hacky implementation for it in federation v1 which supported only google environment. There is a tool(kubemci) which can setup ingress across multicluster which again works only for google environment. Also recently there was an excellent demo from @nikhiljindal and @G-Harmon in kubecon eu regarding [Multicluster ingress](https://www.yo

[2018-05-30 14:27] irfanurrehman opened #97 "Config mechanism for API instantiation"
At a given time frame, federation might have a set of k8s resources federated. Users can further federate their CRD resources into the same federation. Additionally, with the layered approach of a lower level federated types enabling simple federation and higher level types based on the lower level controllers, some users might want all or subset of APIs and controllers eventually in their federat

[2018-05-30 14:37] irfanurrehman opened #98 "Higher level Job Preferences API and controller"
k8s jobs has already been federated using the simple federation resources (template, placement and override) for jobs. This however does not provide higher level job scheduling logic, which can provide an automated distribution of parallelism and completions for the given job across federated clusters.
This particular use case seems quite valuable and calls for a higher level job scheduling API (a

[2018-05-31 17:27] marun commented on #34
Federation of any given type is possible as of #71.

[2018-05-31 17:27] #34 closed

[2018-05-31 17:28] marun commented on #64
Fixed by #65.

[2018-05-31 17:28] #64 closed

[2018-05-31 17:31] marun commented on #73
I believe the agreed strategy is to continue vendoring the generated cluster registry client to ensure the robustness of interaction with the cluster CRD (retrieval of api endpoints as part of push reconciliation and addition of cluster as part of cluster join).  Feel to reopen if that's not the case.

[2018-05-31 17:31] #73 closed

[2018-05-31 17:31] marun commented on #83
This will likely depend on upgrading all dependencies to match kube 1.11, not just client-go.

[2018-05-31 17:51] marun commented on #87
This is definitely a requested feature.  I'm interested in seeing discussion of potential strategies of how to resolve the potential for conflict that selector-based placement could represent.  For example, if a policy-imposed placement preference wants to restrict a resource to clusters in the eu region, and another selector-based placement wants to put that resource in all regions, how would thi

[2018-05-31 17:58] marun commented on #89
By 'actual clusters' I'm assuming you mean clusters that can run workloads.  There are a couple of dind-based solutions [1][2] that could satisfy this requirement with minimal overhead.

1: https://github.com/kubernetes/test-infra/tree/master/dind
2: https://github.com/kubernetes-sigs/kubeadm-dind-cluster

[2018-05-31 18:06] marun commented on #90
When would it ever be desirable for higher-level resource deletion to delete lower-level resources by default?  The dependency graph is arguably directional (from high-level to low-level).  It could be possible for a UI to support manual deletion of related resources, but I think it would be surprising for that to happen automatically.

I do think there is value in the controller for a higher-leve

[2018-05-31 18:08] marun commented on #92
Consider avoiding usage of interfaces for providing generic behavior, and instead rely on the dynamic client as per the example of the CRD-supporting push reconciler.

[2018-05-31 18:19] marun commented on #97
Is this related to FederatedTypeConfig, which at present defines the placement/template/override/target resources that will configure propagation and also allows propagation to be enabled/disabled?

[2018-05-31 18:56] marun opened #101 "Add controller manager configuration (for alpha)"
The controller manager currently runs all controllers.  Ideally it would be possible to control whether each controller is started.  Flags is a quick-n-dirty solution to this, and probably preferable if controllers are likely to live in separate repos post-alpha.  A more maintainable solution might be storing configuration as ConfigMap (or whatever the current best practice is for Kube components)

[2018-06-01 13:05] irfanurrehman opened #102 "Refactor reused constants to a common location"
The constants used [here](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/sync/controller.go#L348) are (or can be used) in multiple controllers. It makes sense to move them, and any such similar code to a common location, to reduce duplication.

[2018-06-01 17:44] irfanurrehman commented on #87
This is something like a feature ask for Huawei customers; I do not however have a clear solution yet. The intention of creating this issue actually is to trigger discussions on a possible solution.

[2018-06-01 17:52] irfanurrehman commented on #89
Yes.

I have personally used both `kubeadm-dind-cluster` and its predecessor `https://github.com/sttts/kubernetes-dind-cluster` earlier to locally test federation V1. We would be willing to explore the ones you mentioned, but not sure if we can realistically target alpha for this to be setup and useful.
What would be your thoughts to keep workload clusters as a prerequisite for alpha?

[2018-06-01 18:12] irfanurrehman commented on #90
I did not specify a necessary default behaviour :). IMHO, either (cascade or no cascade) could be default.
The use case that we have in mind is:
User creates a `FederatedDeploymenttemplate` and provides preferences using `ReplicaSchedulingPreferences` and thats all. In this case the override and placement actually are created by the system. When user doesn't want these anymore, he deletes `Federat

[2018-06-01 18:18] irfanurrehman commented on #92
Acknowledge! Meanwhile it seems at many places its encouraged to use typed client rather then dynamic client (I imagine to guarantee type safety). I guess I need some enlightening insights, please ? :)

[2018-06-01 18:28] irfanurrehman commented on #97
What I had in mind was more like one time config for example, gating APIs exposed in Apiserver based on some static config and or running necessary controllers based on the same or perhaps a different controller config. This probably is much simpler to achiev and I think the infrastructure for this config is already in place in the aggregated Apiserver that we are currently using.

This thought pr

[2018-06-01 19:42] quinton-hoole opened #103 "Rename kubefnord to something more appropriate"
Seems like we can do a lot better than fnord w.r.t. understandability

https://en.wikipedia.org/wiki/Fnord

kubefed ?
fedctl ?

[2018-06-01 21:10] marun commented on #89
I think the test-infra solution is the most promising in terms of CI.  The kubeadm solution is better suited to developer use.  I don't think workload CI need be a requirement for alpha, but I would expect it to be a priority after that.

[2018-06-01 21:20] marun commented on #92
My statement was to prod you to investigate the potential benefits of using the dynamic client, not proscribe its use.  The costs of static typing can be excessive verbosity, and the benefits of avoiding it (where appropriate) can be code that is more concise and easier to maintain.

[2018-06-01 21:30] marun commented on #90
I think the template is already on its way to being the primary resource.  At present explicit placement is required, but #75 is likely to make that optional for all namespaced resources.  The catch is that an override resource needs to exist before its associated template if member clusters are to receive those overrides on creation of target resources.  This is critical for Jobs, whose `Completi

[2018-06-01 21:35] marun commented on #97
I'm not understanding your intent, and think a higher-bandwidth discussion at the next WG meeting might be useful.

[2018-06-05 14:01] shashidharatd commented on #51
This is addressed by https://github.com/kubernetes-sigs/federation-v2/pull/77 and hence closing.
/close

[2018-06-05 19:04] pmorie opened #104 "Basic walkthrough and associated test script"
There should be a relatively simple walkthrough that guides users through the experience of kicking the tires on federation-v2 by deploying a very simple application. Other attributes of this:

- Should be possible to do using just minikube (ie, no cloud provider required)
- Should cover installing federation and adding new clusters into a federation
- There should be a test script that exercises

[2018-06-05 19:06] pmorie commented on #84
Closed by #93

[2018-06-05 19:06] #84 closed

[2018-06-05 19:07] pmorie commented on #101
We should be using feature gates for this type of configuration.

[2018-06-05 19:16] font commented on #104
I think the first 2 bullet points are more-or-less already covered by #84 depending on what you mean by a *simple* application. I think the 3rd bullet point is what still needs to be done.

[2018-06-06 14:38] shashidharatd opened #106 "Retrigger CI build"
How to trigger a CI build if one fails due to temporary issue in network? Here is one such [failure](https://travis-ci.org/kubernetes-sigs/federation-v2/builds/388795665?utm_source=github_status&utm_medium=notification) and i am unaware of the method to re-trigger the build. This could be a frequent issue to a developer.

/cc @kubernetes-sigs/federation-wg

[2018-06-06 15:50] font commented on #106
When we eventually move to test-infra we should be able to use bot commands. In the meantime for Travis, there should be a restart build button at the top right.

![screenshot from 2018-06-06 08-49-27](https://user-images.githubusercontent.com/3596535/41049793-92c5490e-6966-11e8-95a8-0dd1c9d7165a.png)

[2018-06-06 15:59] shashidharatd commented on #106
Cool, Thanks for the info @font. I was able to restart the build.
/close

[2018-06-06 15:59] #106 closed

[2018-06-07 17:27] marun opened #107 "Namespace placement should be namespaced"
Currently namespace placement is cluster-scoped, but this complicates the application of fine-grained authz.  If only the 'tenant' for a given namespace should be allowed to affect its placement, then an explicit rbac rule for just that placement resource would be required.  Changing the namespace placement type to be namespaced would allow for namespace-based authz instead.

[2018-06-07 18:34] marun opened #108 "PropagatedVersion resources limit the length of resource names"
Currently `PropagatedVersion` resources are named according to the scheme <type name>-<resource name> (e.g. a `Secret` named Foo would have a `PropagatedVersion` named secret-foo).  This scheme effectively limits the length of resource names to 253 (the max length allowed by k8s) - len(type name) - 1 (for the dash).  A resource name longer than this limit could result in an ambiguous `PropagatedVe

[2018-06-12 18:14] pmorie opened #110 "Align FederatedCluster with cluster-registry"
In 0.0.5, the cluster-registry becomes namespaced; currently, our `FederatedCluster` resource is cluster-scoped. We should align `FederatedCluster` with `Cluster` by making it namespaced. As part of this, we should decide how federation should use the 'globally readable' namespace in the cluster-registry.

[2018-06-13 16:21] pmorie opened #112 "Stop relying on apiserver-boot run in-cluster"
Currently, the `scripts/deploy_federation.sh` runs `apiserver-boot run in-cluster` to deploy the federation bits into a cluster. We should instead have a set of resources (statically defined is fine at first, we might consider a helm chart or other form of packaging in the future) that can be deployed without requiring the user to have a dependency installed.

This likely depends on #82 to be usab

[2018-06-13 17:18] pmorie opened #113 "DNS: feature parity with v1"
This issue is to achieve feature parity for external/in-cluster DNS with v1. I believe in use-case form, this would be:

- As a user of federation, I can created a federated service and have external federated DNS both on a federation-wide and per-zone basis programmed for me, and have kubernetes cluster DNS programmed for me so that if I look up a federated service inside a cluster, I'll have it

[2018-06-13 17:52] pmorie opened #114 "Component configuration for controller"
Follow-on to #101; this is to add (where it makes sense) additional configuration parameters beyond basic feature gating. For example: the push reconciler is enabled/disabled by feature gate, but the resync duration for the push reconciler would be configured by a distinct component configuration API field mapped to a CLI flag.

[2018-06-13 18:14] pmorie opened #115 "Explore ways to facilitate deploying 'normal' k8s resources to federation"
Created after discussion in Jun 13 2018 WG meeting. This issue is to explore ways to allow people to deploy workloads expressed in 'normal' k8s resources to federation with minimal or no modification. There's a very wide spectrum on things that we could do here, and there may be more than one thing that makes sense to do to provide different types of facilitation (ie, transforming YAML resources t

[2018-06-13 18:16] font opened #116 "CRD validation for federated type primitives"
A goal in transitioning to CRDs (depends on #74) is to maintain the same quality of validation for the resources embedded in templates as is currently provided by first-class API types.  Potential strategies:

1. Validate via decoding of object from JSON
2. Validate via OpenAPI spec:
    - For a given template resource (e.g. `FederatedSecret`), find the `FederatedTypeConfig` that specifies the tem

[2018-06-13 18:23] font commented on #74
The validation work is now tracked by #116.

[2018-06-13 21:39] gyliu513 opened #117 "How to deploy storage-provisioner"
At step https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#deploy-the-cluster-registry , it is requested to create `storage-provisioner`. Any steps can help me to set up this?

## Deploy the Cluster Registry
Make sure the storage provisioner is ready before deploying the Cluster Registry.

kubectl -n kube-system get pod storage-provisioner

[2018-06-13 21:40] gyliu513 opened #118 "Where to get federation image"
In step https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#automated-deployment ,

## Automated Deployment
If you would like to have the deployment of the cluster registry and federation-v2 control plane automated, then invoke the deployment script by running:

./scripts/deploy-federation.sh <image> cluster2
Where <image> is in the form <containerregistry>/<username>/<i

[2018-06-14 15:58] onyiny-ang commented on #118
@gyliu513 we are currently working on creating a pre-built image for use with the deploy federation script but currently, the apiserver-builder will build the federation image for you as explained here: https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#deploy-federation
So for example:
if I'm using google container registry and my username is onyinyang, following the s

[2018-06-14 16:18] onyiny-ang commented on #117
This is just specifying a check. Once you have your kubernetes clusters running, use `kubectl -n kube-system get pod storage-provisioner` and make sure the status is RUNNING with READY 1/1.
If you're using minikube, this should be working once your minikube clusters are spun up.

[2018-06-15 02:41] gyliu513 commented on #117
Thanks @onyiny-ang I'm not using mini-kube, does the `storage-provisioner` must be installed?

Also cluster-registry already switched to CRD and there will be no binaries such as crinit etc, the user guide needs to be updated. Updating the user guide to make people can try this is always a good way to attract more contributors.

[2018-06-15 02:52] gyliu513 commented on #118
Thanks @onyiny-ang , let me have a try for this.

[2018-06-15 03:08] onyiny-ang commented on #117
@gyliu513 we are aware of the cluster-registry being switched to CRDs and are working on integrating that into the federation-v2 alpha release as can be seen in such issues as #76 and the v1alpha1 milestone. We will certainly update the user guide accordingly when the cluster-registry CRD and move to kube builder is incorporated--hopefully in the next couple of weeks. Today federation-v2 relies on

[2018-06-15 03:42] gyliu513 commented on #117
@onyiny-ang we do have logic here https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/deploy-federation.sh#L76-L83 waiting for the storage provider, can I delete this from the script when deploy?

Does crinit need this storage provider to create some pv for etcd?

[2018-06-15 16:31] onyiny-ang commented on #117
@gyliu513 I would suggest commenting out that logic on your local version of deploy-federation if you're using something other than minikube as it only applies to minikube instances. Other than that, the script should work outside of minikube as well.

[2018-06-16 04:09] gyliu513 commented on #117
Thanks @onyiny-ang , let me have a try for this.

[2018-06-22 20:35] onyiny-ang opened #121 "Pre-commit.sh TestFederatedDeploymentOverride is flakey"
**What happened:**
pre-commit.sh failed with `The command "./scripts/pre-commit.sh" exited with 1.` during PR merge that didn't change any files involved with pre-commit.
Upon closer inspection, the FederatedDeploymentOverride test was the site of failure. with `E0622 19:32:33.123174    7101 runtime.go:66] Observed a panic: "close of closed channel" (close of closed channel)`

<details>
 <summary>

[2018-06-28 18:34] marun opened #127 "Implement unjoin"
`kubefed` can join clusters but not unjoin them, complicating roundtripping of federation deployment.

[2018-06-29 04:18] #118 closed

[2018-06-29 04:18] #117 closed

[2018-07-02 00:55] gyliu513 opened #128 "Upgrade kubebuilder to 0.1.12"
cluster-registry kubebuilder has been upgraded to 0.1.12 at https://github.com/kubernetes/cluster-registry/pull/244 , it is better upgrade federation v2 to this version as well.

/cc @marun

[2018-07-02 02:31] gyliu513 commented on #76
Being handled by #120

[2018-07-02 03:48] gyliu513 commented on #127
/assign gyliu513

[2018-07-02 06:55] gyliu513 commented on #128
/assign @gyliu513

[2018-07-02 06:59] gyliu513 commented on #127
/assign @gyliu513

[2018-07-02 07:04] marun commented on #128
I don't think it's desirable to update to the version of kubebuilder referenced in this issue.  @pmorie has recently made changes that add support for the status subresource, and ideally a version including that change should be targeted.  There does not need to be a correlation between the versions of kubebuilder used  for cluster registry and federation.

[2018-07-02 07:43] gyliu513 commented on #128
@marun with Kubebuild 0.1.12, we will not need to update `status subresources` as this was alraedy fixed in 0.1.12 at https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v0.1.12

![image](https://user-images.githubusercontent.com/4461983/42151175-af121e86-7e0e-11e8-9a16-f42b8035f42b.png)

@pmorie comments for this?

[2018-07-02 09:01] gyliu513 commented on #103
+1 to fedctl

[2018-07-02 09:02] gyliu513 commented on #110
This is related to https://github.com/kubernetes-sigs/federation-v2/issues/76

[2018-07-02 13:47] gyliu513 opened #131 "Add federated Node Support"
This can make sure have an overview of all the nodes in different clusters.

/cc @marun comments for this?

[2018-07-02 13:47] gyliu513 commented on #131
/assign

[2018-07-02 13:53] gyliu513 opened #132 "Add federated Pod Support"
View Pods cross clusters.

/cc @marun

[2018-07-03 02:31] onyiny-ang commented on #121
Observed the same error for Test Federated Job too.

<details>
 <summary>Federated Job test failure message</summary>
 `=== RUN   TestFederatedJob
Running Suite: FederatedJob Suite
=================================
Random Seed: 1530521791
Will run 1 of 1 specs
[::]:33488
[::]:41503
[::]:37822
I0702 08:56:32.943518    7089 serving.go:295] Generated self-signed cert (/tmp/apiserver-test051189648/.cr

[2018-07-03 17:51] pmorie commented on #76
This will be fixed in #120

[2018-07-03 18:38] marun commented on #128
It turned out to be necessary to use kubebuilder 1.12 (via `scripts/download-binaries.sh`) in #120.  It doesn't appear necessary to update the vendored version of kubebuilder at this time, though, so I think it's safe to close for now.

[2018-07-03 18:38] #128 closed

[2018-07-03 18:39] marun commented on #116
This shouldn't block release of v1alpha1.

[2018-07-03 18:40] marun commented on #112
This is fixed by #120 (switch to kubebuilder).

[2018-07-03 18:40] #112 closed

[2018-07-03 18:41] marun commented on #103
@irfanurrehman Assigning to you, already tracked in the milestone.

[2018-07-03 18:42] marun commented on #101
I think this is satisfied by #105.

[2018-07-03 18:42] #101 closed

[2018-07-03 18:43] marun commented on #75
Moving out of v1alpha1, this will be targeted at a subsequent alpha release.

[2018-07-03 18:44] marun commented on #74
This is implemented by #120.

[2018-07-03 19:06] #74 closed

[2018-07-03 19:07] #76 closed

[2018-07-04 09:46] sdminonne commented on #98
@irfanurrehman  I tried to have a look at federation V1 code but I couldn't find `JobSchedulingPreferences`. Instead, I found something concerning
`ReplicaAllocationPreferences` as an annotation with key `federation.kubernetes.io/job-preferences`.
May you give more details? Thanks

[2018-07-05 10:50] irfanurrehman commented on #98
In V1 there is a single set of preference annotations. The definition was originally created for deployments and replicasets. The same was later reused for jobs controller, as the intent was first to create an alpha prototype, and most of the fields of existing preferences sort of did fit the usage pattern. The preferences however needed a key name specific to the resource, as you mentioned `feder

[2018-07-05 12:30] gyliu513 opened #143 "Improve error handling for `join`"
If a cluster join failed, then there will be some garbage data, such as servieAccount, cluster etc, we should make `join` delete those garbage resources when `join` failed.

/cc @marun @shashidharatd @onyiny-ang

[2018-07-05 12:30] sdminonne commented on #98
@irfanurrehman thanks.
I was having a look at the list of issues and, having some interests in jobs, this one caught my eyes.
I could help on this but I'm not sure to estimate the effort. In mid-July, I'll be in PTO for a couple of weeks and if @shashidharatd already started I don't if and hand-over it's worth.
Eventually, if it's not too work for you guys we can imagine chatting a little before t

[2018-07-05 13:18] gyliu513 opened #145 "`kubefnord join` failed"
[code]

[2018-07-05 13:19] gyliu513 commented on #145
/assign

[2018-07-05 16:20] #145 closed

[2018-07-05 17:47] #110 closed

[2018-07-05 17:54] pmorie opened #150 "Add --version to all binaries"
All the binaries from this project should have a `--version` option that reports the version of the binary.

[2018-07-05 17:55] pmorie commented on #150
@irfanurrehman notes there is a question of how to disambiguate versions of binaries from existing v1 stuff.

[2018-07-05 18:01] pmorie opened #151 "Determine versioning scheme for APIs / releases"
The APIVersion of our APIs (example: v1alpha1) and release version (example: 2.0.0 etc) should be consistent. This issue is to pick a release versioning scheme and make it consistent with existing code/artifacts.

[2018-07-05 18:07] pmorie opened #152 "Add support for building tagged images"
Once we begin releasing tagged versions, we will need to release tagged images. This issue is to update the existing image build to work with tagged versions such that:

- When building a tag, the image pushed will be tagged with the version being built; example: travis build of `0.0.1` tag results in `federation-v2:0.0.1` image being pushed
- The binaries in the image report a version consistent

[2018-07-06 08:25] gyliu513 opened #154 "Federated read access to cluster API objects"
There are some discussions here https://groups.google.com/forum/#!topic/kubernetes-sig-multicluster/47vST8EPHq0

This is also heavily requested feature feature for federation v1 at https://github.com/kubernetes/features/issues/71 .

A basis use case is as follows: How can I use federated control panel to retrieve resources from each cluster? Such as I have cluster1 and cluster2, cluster1 has confi

[2018-07-06 14:58] gyliu513 opened #155 "Update userguide."

[2018-07-09 20:53] onyiny-ang opened #159 "go test -v ./test/integration ./test/e2e failed in precommit.sh"
**What happened:**
go integration and e2e tests failed when the pre-commit.sh is run @ build during PR merge that changed the imagebuild.sh file (which occurs after precommit). Both report kube-apiserver timeout and secure-port selection error.

Point of error for integration test:
[code]
Point of error for e2e test:
[code]
<details>
 <summary>TestIntegration test failure message</summary>

[code]

[2018-07-09 21:54] marun opened #161 "Configure test-managed kube-apiserver to use tls instead of insecure port"
As reported by #159, `kube-apiserver` built from master is now mandating the use of the secure port.  The secure port was being configured previous to the switch to kubebuilder, but that change broke the tls configuration and I disabled rather than troubleshoot.

This will likely need to be fixed upstream in the testing_frameworks repo since we're vendoring that rather than a fork.

[2018-07-09 21:58] marun commented on #159
I'm working on finding a 1.11 binary for `kube-apiserver` that does not require the secure port to be configured.  Testing against a ci build was always a bad idea, it was just a temporary measure until stable binaries become available.

[2018-07-09 22:29] font commented on #159
Fixed by #162.

[2018-07-09 22:29] #159 closed

[2018-07-09 22:51] marun commented on #154
'heavily requested', yes, but the complexity suggested by the [design document](https://docs.google.com/document/d/1H2BkqSKvoCSifi7c8D2gASSJo20ocIEYDMSfNfcylBc/edit#heading=h.gjdgxs) is considerable.  Given that complexity, it's not clear to me that this feature would be best implemented as a kubernetes api at all - it would really depend on the use cases.  The cases listed in the design document

[2018-07-09 23:16] font opened #163 "Multi-cluster namespaces are sometimes not deleted in joined clusters"
If you run through the [Example](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#example) in the user guide after #157 merges, you will see that after running through the [Example Cleanup](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#example-cleanup), the `test-namespace` is sometimes not deleted from `cluster2`.

[2018-07-10 01:08] gyliu513 commented on #154
Thanks @marun , perhaps it is not good to take the configMap as examples, but we can take Node as an example.

In a multiCluster, the customer often have the requirement that they want to get all nodes cross clusters from one central point, and check the node status, resource utilization etc.

For the [design document](https://docs.google.com/document/d/1H2BkqSKvoCSifi7c8D2gASSJo20ocIEYDMSfNfcylBc

[2018-07-10 06:32] gyliu513 opened #165 "Rename `Host` to `HostClusterContext` for `join`/`unjoin` options"
We are now using `Host` to identify the `HostClusterContext` for `join`/`unjoin` options, it is a bit difficult to understand, and changing this option to `HostClusterContext` is more simple to understand.

[code]

/cc @marun comments for this?

[2018-07-10 18:12] marun commented on #154
What you're describing is an aggregation of state from multiple clusters.  Why do you think that implementing a kubernetes API is the best way to accomplish this goal?  It could as well be an entirely separate application that queries target clusters and computes a view of the state that satisfies the user's requirements.

What those requirements were would depend on the use case, and I still don'

[2018-07-10 20:00] marun commented on #103
Fixed by #149

[2018-07-10 20:00] #103 closed

[2018-07-10 22:32] onyiny-ang opened #169 "Integration test still wonky: TestMulticlusterServiceDNS fails intermittently"
**What happened:**
go integration test fails intermittently when the pre-commit.sh is run @ build. Test output reports Error updating federated cluster status:
[code]
<details>
<summary>Parallel-Integration-Test-Group failure message</summary>

[code]
<\details>

[2018-07-11 00:52] gyliu513 commented on #154
Thanks @marun , using `queryJob` is just some proposal and I'm open to have more discussion here before we come to a solution.

Can you please show more detail for your proposal here? What do you mean of `separate application`, how does it query target cluster?

Here I also want to share more use cases for the federated read access:

- Inventory for multi cluster.
  - As admin I would like to view

[2018-07-11 05:12] shashidharatd commented on #51
this is implemented and is checked in ci

[2018-07-11 05:12] #51 closed

[2018-07-11 17:51] runonautomation opened #173 "Federation base image to busybox"
Dear team,
I am looking to the development process and from development prospective and k8s integration. I see that the image build is great and uses multi-stage build.

I have following suggestions:
- If the strategy is to be as tight as possible integrated with kubernetes - use same build image flow as in kubernetes and use the same base image and maybe process in:
https://github.com/kubernetes/

[2018-07-11 19:07] pmorie commented on #82
Closing since the basic work here is done.

[2018-07-11 19:47] marun commented on #154
`separate application` is an exercise for you to consider.  I'm not convinced that a Kubernetes-style API is a particularly good fit for implementing a cross-cluster state reporting application, and am encouraging you to explore alternatives.

[2018-07-11 20:12] marun opened #175 "Generated openapi schema for core kube types is too simple"
Schema-based CRD validation is possible, yet the schema generated for an embedded template is basically useless:

[code]

Source: https://github.com/kubernetes-sigs/federation-v2/blob/master/hack/install-latest.yaml#L151

Ideally CRD schemas would embed a full schema for nested types rather than just using an opaque object type.

cc: @pmorie

[2018-07-11 21:13] pmorie commented on #151
My $0.02:

- the first alpha release should be version `0.0.1`, with next alpha releases `0.0.2`, `0.0.3` and so on
- the first beta release should be `0.1.0`

Thoughts?

[2018-07-13 16:40] #169 closed

[2018-07-16 15:13] irfanurrehman commented on #150
Closing as fixed by https://github.com/kubernetes-sigs/federation-v2/pull/167
/close

[2018-07-16 15:13] #150 closed

[2018-07-16 16:10] gyliu513 commented on #154
@marun For `separate application`, do you mean that I can leverage the kubernetes resources to do the query cross clusters? Such as create a `job`, and use the `job` to computes a view of the state?

Or does the `separate application` means a user defined application for query resources cross cluster?

In my understanding, I think that the `Fderated Read Access` is a very common requirement, seems

[2018-07-17 15:18] qiujian16 commented on #154
IMHO, an operator of multiple clusters will need to know the info of each cluster. At least, operator should be able to select a cluster, check the capacity and resource usage in this cluster, check if nodes in this cluster is healthy, check if pods in this cluster are all in running state, etc. I do not think operator needs to know any details of a single cluster, but he/she should be able to get

[2018-07-17 16:12] #165 closed

[2018-07-17 17:57] irfanurrehman opened #182 "Update scripts to use Makefile"
A Makefile was recently updated to trivial stuff like build bins, build image, run tests, etc.
We should ideally reuse the same in the scripts where-ever need be.
Listing, not exhaustive:
1. scripts/deploy-federation.sh
2. scripts/imagebuild.sh
3. scripts/pre-commit.sh

Warning: `make test` fails as of now would need additional steps mapping to `scripts/pre-commit.sh` to make it pass.

[2018-07-18 16:00] shashidharatd commented on #96
Here is a simple plan to implement a version of federated ingress, which ideally should work for k8s environment on any cloud.
1. Simple propagation of ingress object created in federation control plane to member clusters.
2. A controller to monitor the cluster ingress objects and write DNS records (SRV records) to Global DNS server. So the clients would do a DNS lookup for host and would get targ

[2018-07-20 21:46] guineveresaenger opened #183 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-21 03:10] RA489 commented on #183
@guineveresaenger I am working on it..

[2018-07-23 21:48] guineveresaenger commented on #183
/assign @RA489

[2018-07-25 15:10] marun opened #187 "Deprecate integration tests in preference to running e2e with managed fixture"

[2018-07-26 15:02] #127 closed

[2018-07-26 16:01] gyliu513 opened #188 "`unjoin` should succeed if some resources remove failed."
This is a follow up issue based on comments at https://github.com/kubernetes-sigs/federation-v2/pull/137#issuecomment-406447550

From @marun :  I am still stuck on error handling. Removal of any resource would ideally not fail if not found, ensuring that cleanup of partial configuration is possible.

/assign

[2018-07-26 16:04] gyliu513 opened #189 "Update error messages for `join` and `unjoin`"
This is a follow up issue based on comments at https://github.com/kubernetes-sigs/federation-v2/pull/137#discussion_r203076398

The `err` returned by some api call should already include enough information, so there is no need to log extensively.

/cc @marun

/assign

[2018-07-26 16:14] onyiny-ang commented on #183
/assign @RA489

[2018-07-26 18:16] #183 closed

[2018-08-06 05:53] gyliu513 opened #195 "`kubebuilder create config` will generate different apiGroups"
[code]

[code]
[code]

From above, we can see that I need to update `hack/install.yaml` to rollback the `apiGroups` change.

/cc @onyiny-ang @marun @font comments for this?

[2018-08-06 05:57] gyliu513 commented on #195
Ignore this, it is just order change but no content change.

[2018-08-06 05:57] #195 closed

[2018-08-09 23:50] marun opened #197 "Control plane only supports hard-coded system namespaces"
The fedv2 control plane currently sources `FederatedCluster` resources and their associated secrets from the `federation-system` namespace and `Cluster` resources from the `kube-multicluster-public` namespace.  It would be preferable to allow the names of these namespaces to vary to allow for test isolation on shared clusters and give operators flexibility in how they deploy federation.

Tasks:
-

[2018-08-14 04:36] shashidharatd opened #201 "Make TTL configurable by user in MultiClusterServiceDNSRecord API"
Currently the DNS records created have hard coded TTL. There is a desire to make it configurable by user. See the comment https://github.com/kubernetes-sigs/federation-v2/pull/186#discussion_r206324729
If user does not care to configure it, then default value would be used for TTL.

[2018-08-14 16:20] marun opened #204 "ginkgo test output doesn't include line numbers"
This complicates troubleshooting e2e failures.  Ideally ginkgo output would contain `[file.go:line]` like all other logging in kube.

The following example failure logged by travis:

[code]

[2018-08-15 15:30] shashidharatd opened #208 "Migrate code structure to kubebuilder v1.0.x"
- kubebuilder 1.0.0 introduces big architectural change in the project/code structure. 1.0.0 projects uses client and controller libraries developed under controller-runtime repo. It uses tools from controller-tools repo for scaffolding and manifests (CRD/RBAC) generation.
- 1.0.0 will continue to support projects generated using older version (pre 1.0.0 version) of Kubebuilder, but we would highl

[2018-08-16 02:12] gyliu513 commented on #208
Thanks @shashidharatd .

There is a WIP PR here https://github.com/kubernetes-sigs/federation-v2/pull/148 , hope we can get more comments from @marun to see when we can do the migration.

[2018-08-16 18:19] shashidharatd commented on #201
Closed by #207

[2018-08-16 18:19] #201 closed

[2018-08-20 14:58] shashidharatd opened #214 "Flake in FederatedDeployment e2e test"
`FederatedDeployment` e2e test seems to be flaking. here is one such failure. https://travis-ci.org/kubernetes-sigs/federation-v2/builds/417463481?utm_source=github_status&utm_medium=notification

[code]

[2018-08-21 18:17] danehans opened #219 "Incomplete Pluralization of Types"
53566d9fc6d4062f9c15504af7dda5bf5c42e81b pluralizes federated types ending with "s", such as `Ingress`. However, adding "es" to federated types should be extended beyond suffixes ending with "s".

I will submit a PR to fix this issue following the proper pluralization [guidelines](https://howtospell.co.uk/adding-es-plural-rule).

[2018-08-21 20:53] #107 closed

[2018-08-22 17:19] danehans opened #226 "Broken Integration Tests"
By following the [dev guide](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/development.md#running-tests), I'm unable to have integration tests pass against master with the following error:
[code]

See [here](https://gist.githubusercontent.com/danehans/0a7ccafb6d9c66c11106912895684599/raw/43f775abd77cc1a906ebc1fbea3616e77251a6b2/integration_test_fail) for full log output.

[2018-08-22 19:50] danehans opened #227 "delete-federation.sh does not delete FederatedTypeConfig Resources"
The script is missing the namespace in the kubectl delete command. Therefore, these resources never get removed and the script hangs.

To reproduce:
- Follow the user guide to deploy the k8s clusters, federation control-plane, etc..
- Run the delete script `./scripts/delete-federation.sh` and watch it hang:
[code]

Then check for the existence of `federatedtypeconfig` resources:
[code]

I will sub

[2018-08-22 20:00] marun commented on #214
The only thing that has changed recently was the move to running e2e tests against a single node minikube cluster.  Depending on the environment the tests are run in, tests may take considerably longer due to the interaction between the federation and kubernetes controllers.  The fix is bumping the timeout further (see #205).

[2018-08-22 20:02] marun commented on #226
@danehans The tests are passing in CI, which suggest the problem is your environment setup.  Please provide details as to what component versions you are experiencing the problem with.

[2018-08-22 20:19] marun commented on #227
@danehans Thanks for catching this, we don't have ci testing for the deletion script since it's primarily a developer aid.  How did you determine that deletion of FederatedTypeConfig resources was hanging?  The deletion command being invoked ignores missing resources, and when not provided a namespace kubectl will use the active namespace, so I'm not sure your explanation makes sense.  Have you in

[2018-08-22 23:16] danehans commented on #227
kubectl was trying to delete the resources in the default namespace. Because the `--ignore-not-found=true` flag is being passed, no errors are thrown. The resources are being created in namespace `federation-system`. When I tried the portion of [code](https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/delete-federation.sh#L43-L46) from the deletion script, the resources continued

[2018-08-23 01:42] gyliu513 commented on #227
yes, we should have namespace for federeatedtype now, as this resource is also namespace scoped now https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/deploy-federation.sh#L142

[code]

[2018-08-23 16:32] marun commented on #227
@danehans I get that the resources were not being deleted.  My question was regarding your report of the script hanging, which I don't believe is related to the problem you are fixing.

[2018-08-23 16:37] danehans commented on #227
@marun I can give the delete script another try. It just sat there idle for a couple minutes until I decided to ctrl-C.

[2018-08-23 19:40] marun commented on #219
Fixed by #221

[2018-08-23 19:40] #219 closed

[2018-08-23 19:41] marun commented on #121
We haven't seen this in some time, closing.

[2018-08-23 19:41] #121 closed

[2018-08-23 19:42] marun commented on #92
@irfanurrehman Is this done?

[2018-08-24 18:39] danehans commented on #226
@marun here are more details about my issue running integration tests:

System Details:
[code]
Integration Test Prerequisites:
[code]

I run a test for one of the supported types and it fails:
[code]

[2018-08-24 22:29] onyiny-ang opened #232 "User Guide example fails"
When trying to run through the federation-v2 tutorial using the suggested minikube CI build, the status of resources (from this point onward: https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#check-status-of-resources) does not appear to exist in any of the clusters. The only thing that does appear in the first `get` call is:
[code]

[2018-08-27 16:53] font commented on #226
@danehans Try to blow away your `./bin` directory and re-run `./scripts/download-binaries.sh` to get the latest versions.

[2018-08-27 17:24] #226 closed, assigned to nobody

[2018-08-28 11:25] tuminoid commented on #232
Getting same result with non-minikube clusters too running k8s `1.11.2`.

[2018-08-28 14:15] irfanurrehman commented on #92
Yes.
/close

[2018-08-28 14:15] #92 closed

[2018-08-28 16:05] shashidharatd commented on #96
Created the design doc with more details about this feature. https://docs.google.com/document/d/1znBBmF1-QtdZFKQyYTQZ09vKihh26MPiQLTBZwTZuvA/edit?usp=sharing

[2018-08-29 02:56] font commented on #232
I've identified the root cause of this and will be opening up a PR with a fix soon.

[2018-08-29 19:18] #232 closed

[2018-08-29 21:27] pmorie opened #241 "Strategy for deploying specific versions and ensuring instructions against master stay working"
In the federation WG today we discussed how to prevent #232 from recurring, and arrived at the following consensus:

- There should be a way to deploy a specific version of federation that we capture for each version
- There should be a CI test that ensures that the development instructions work against the `master` branch

We decided to address this as follows:

- Make `install-latest.yaml` work

[2018-08-31 05:09] font opened #242 "Consider UX when federating cluster scoped objects"
We need to consider the UX when dealing with cluster-scoped objects that we would like to federate. That is, for a cluster-scoped `Foo` type that we would like to federate, do we create a respective `FederatedFoo` type or just rely on creating `Foo` objects in the host cluster in order to federate them?

For example, today we support federating the `Namespace` resource and because of the UX as wel

[2018-08-31 16:59] danehans commented on #242
I prefer option 2:
[code]
It keeps the UX of creating cluster-scoped resources consistent with namespace-scoped resources. With that said, I would like to see the `FederatedNamespace` follow this approach. As a new contributor, it was easy to pick-up how namespace-scoped resources are federated.

What happens if I do not want the cluster-scoped resource created in the host cluster? I have to creat

[2018-09-04 07:53] gyliu513 commented on #242
@danehans , If you delete the federated resource from host cluster, then all of the resources in member cluster will be deleted, please check https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/util/deletionhelper/deletion_helper.go#L35-L44 . And currently, the finalizer will always be added to all federated resources.

For the solution, seems option 1) may be better? As th

[2018-09-04 16:28] danehans commented on #242
@gyliu513 I think that explains a shortcoming of the existing approach, the resource must exist in the host cluster even if the resource is not needed in that cluster. This is one of the reasons why I like option 2. As I mentioned above, I also like the consistent UX, even if it requires a user to create a `Federated<TYPE>` resource. The additional step is worth the consistent UX.

[2018-09-04 16:34] shashidharatd opened #246 "Federated Status for Federated types"
Status for federated types can be of two forms
- status containing elaborate details using which we can know resource status in a particular cluster (this could be essentially a list of resource status in all cluster).
- aggregated status which could be compatible with the corresponding resource status.

The first type of status could be useful to the controllers as well and they need not look int

[2018-09-05 15:36] marun commented on #242
`Namespace` does not have a `FederatedNamespace` equivalent due to it being the only container in the kube api.  The fact that it is cluster-scoped is incidental.  Any other resource - cluster-scoped or no - implies a `Federated<type>` template.

Why is this the case?  If `FederatedNamespace` were a thing, and were cluster-scoped, it would not be able to contain resources to be federated (only nam

[2018-09-05 15:48] marun commented on #242
@gyliu513 Placement resources are per-type to ensure that there is always a direct correlation between the placement resource and its template equivalent (they have the same name).  Using a common type would require imposing a naming scheme on the user (e.g. <type>-<name>) which is arguably more complicated UX than using per-type placement types.

[2018-09-05 15:51] marun commented on #242
@danehans The only case where a resource must exist in the host cluster to be federated is for namespaces.  This is a function of namespaces being the only container.  Every other cluster-scoped type implies a `Federated<type>` template and does not require that the target type ever exist in the host cluster.

[2018-09-05 16:46] marun commented on #242
@font I think the scope of a `Federated<type>` template should correspond to the scope of the resource it is targeting.

[2018-09-05 16:52] danehans commented on #242
@marun thank you for the explanation. I will proceed with adding cluster-scoped types (i.e. `ClusterRole`) by implementing the equivalent `Federated<type>`.

[2018-09-05 17:28] font commented on #242
@marun That would probably be my preference as well, including the placement and overrides, but left it open for discussion to see what others think.

[2018-09-06 07:44] gyliu513 commented on #242
Using `Federated<type>` will cause if there are new cluster-scope resources added in Kubernetes and want to be added to federation v2, then we will always need to define the API and CRD for `Federated<type>`, this will bring some effort for maintain, and also the only concern from me.

But agree that keeping consistent UX for all federated resources is good for end users, so +1 to have `Federated<

[2018-09-06 15:01] gyliu513 commented on #131
This will be covered by https://github.com/kubernetes-sigs/federation-v2/issues/154

[2018-09-06 15:01] #131 closed

[2018-09-06 15:01] gyliu513 commented on #132
This will be covered by https://github.com/kubernetes-sigs/federation-v2/issues/154

[2018-09-06 15:01] #132 closed

[2018-09-06 15:13] marun commented on #208
@gyliu513 Upgrading the binaries is fine.  Migrating to the new client-less framework should wait until after #60, which I'll be tackling after #216 is complete.

[2018-09-06 15:19] marun commented on #242
@gyliu513 Type-specific placement has direct associativity - a placement resource named `foo` defines configuration for a federated type named `foo`.

How would a controller determine which federated resource the `FederatedClusterResourcePlacement` should target?  If the placement resource is not type-specific, a name is not sufficient.

[2018-09-06 21:55] marun commented on #116
Looks like dry-run has been implemented server-side in kube 1.12, and that would seem to offer higher fidelity validation than could be achieved with openapi.  The only catch is that a generic webhook validating an arbitrary type would need to have permission/quota/etc to actually create the target resource.

[2018-09-07 03:06] gyliu513 opened #251 "Unify the log level for all controllers"
Please refer to https://github.com/kubernetes-sigs/federation-v2/pull/237#discussion_r213523281 for more discussion of the background.

You may see that the controllers in federation v2 are using different log level for `reconcile()`, including `glog.V(2).Infof`, `glog.V(4).Infof`, `log.Printf`etc, as `reconcile()` is a very important function for the controller, it is better use `glog.Infof()` to

[2018-09-07 07:35] gyliu513 opened #252 "Federation V2 Pull Mode"
Open this ticket to trace the work that we are doing for Fderation V2 Pull Mode.

Design: https://docs.google.com/document/d/1JK8VMwx_pqnAChkjhmwoi7u78yu5oKnmgIuw8IM_XsM/edit?usp=sharing

Mail list Discussion: https://groups.google.com/forum/#!topic/kubernetes-sig-multicluster/nI28ORF-j5M

/cc @marun @pmorie @quinton-hoole @irfanurrehman @xunpan

[2018-09-07 07:36] gyliu513 commented on #252
/assign

[2018-09-07 09:26] gyliu513 commented on #242
@marun I see, with current design, each `placement` need to bind to a `type`.

But I'm wondering why each `type` need a `placement` object? As I can see for federation, the `placement` actually defines in which cluster I want to create my resources, it is a common operation for all federation resources. So is it possible that we abstract out the `placement` and create one `placement` object for al

[2018-09-07 09:30] gyliu513 commented on #208
@marun yes, I only created PR https://github.com/kubernetes-sigs/federation-v2/pull/250 to update binaries based on your comments.

[2018-09-07 14:39] marun commented on #252
I don't think this belongs here, since the work will be performed in a different repo.  Please close.

[2018-09-07 15:09] gyliu513 commented on #252
In the weekly meeting, I think we have some discussion that we can finish the prototype first, and then check if use a separate repo or federation v2 repo? So here I want to keep this open until we finished the prototype, hope it is OK.

[2018-09-07 19:31] marun opened #255 "Overrides are not being applied in testing"
While debugging #214, I discovered that overrides are not actually being applied in e2e testing.  Since resources are not directly compared (only versions), no test is catching this problem.

The crudtester created `FederatedDeployment` with replicas of 3, and `FederatedDeploymentOverride` with replicas of 5.

What resulted: A `Deployment` was created with replicas of 3.

What should have happened

[2018-09-10 14:28] pmorie opened #256 "Consider refining API group structure"
We currently have a single API group (`core.federation.k8s.io`) that has multiple conceptual areas bound up in it:

1. `FederatedCluster` and `FederatedTypeConfig` which program federation with the set of clusters to target and API types to spread, respectively
2. The types for the federation API for the k8s core - `FederatedDeployment`, etc

It seems to me like area (1) is distinct logically from

[2018-09-11 00:17] pmorie opened #258 "Consider renaming 'sync' controller"
Currently, this repo implements a 'push' reconciliation mechanism with the 'sync' controller. The name 'sync controller' is fairly ambiguous - we should consider renaming this controller to the 'push controller' or 'push propagation controller', possibly in connection with renames of API groups in #256

[2018-09-11 02:33] gyliu513 commented on #258
+1 to rename it to `push propagation controller`.

[2018-09-11 04:11] gyliu513 commented on #256
Not quite clear for why does the Area (1) is for push propagation? I think even with pull mode, we still need Area (1). As the pull mode still need to check the cluster resources, the federated resource types.

Also seems the `FederatedTypeConfig` also belong to `core`, as it manages all federated resource types.

[2018-09-11 15:53] marun commented on #214
Fixed by #253

[2018-09-11 15:53] #214 closed

[2018-09-11 17:38] marun commented on #255
This bug is the result of a partial rename of `clusternames` to `clusterNames`.  Before this issue is closed, testing for the application of overrides needs to be added.

[2018-09-12 15:18] pmorie opened #261 "Use cases for federation reprogramming load balancers"
Follow-up from September 12 working group meeting.

A common pattern for deploying services and applications across multiple clusters is to have an externally deployed load balancer that routes requests to different clusters. We are interested in assessing level of interest from the community and specific use-cases that people may have for making federation able to reprogram load balancers; this i

[2018-09-12 15:26] gyliu513 opened #262 "Add more examples for 0.0.2 release"
Follow-up from September 12 working group meeting.

In the coming 0.0.2 release, we introduced some new features for federation v2 but we do not have examples for those new features, it is better add examples for those features for end user to have a try for the new features.

Some features in my mind is as follows:
- Replica Scheduling Preference
- Job Scheduling Preference
- Federated Ingress
-

[2018-09-12 15:43] marun commented on #258
Do we need the `controller` suffix?  How about:

- `push propagator`
- `push reconciler`

[2018-09-12 15:48] marun commented on #256
I agree with @gyliu513 that (1) could be used for both push and pull propagation.

I'm not sure about `kubernetes.federation.k8s.io` in the context of generating primitives.  Should  primitives for 3rd party api types (including crds) end up in that group too, or in a new group?  Or would it make sense to use an agnostic name (e.g. `primitives.federation.k8s.io`)?

[2018-09-13 03:05] gyliu513 commented on #258
I prefer that we add the `controller` suffix to keep consistent with Kubernetes.

![image](https://user-images.githubusercontent.com/4461983/45464688-4d756b00-b744-11e8-96b0-174ceef4832d.png)

So here my proposal is rename the folder of `sync` to `pushpropagator`, and the file name of the controller is `pushpropagator_controller.go`.

[code]

[code]

Besides, I also found that we are not using con

[2018-09-13 03:10] gyliu513 commented on #258
Using different names for the file name of the `controllers` can also help to improve the debug-ability, as the logs will include the file name, all controllers using name of `controller.go` sometimes difficult to debug or else if I want to grep logs for a specified controller.

[2018-09-13 04:32] gyliu513 commented on #261
@pmorie I also posted a message to mail list to get more attention for this issue at https://groups.google.com/forum/#!topic/kubernetes-sig-multicluster/avj0luBwaIg

[2018-09-13 09:57] gyliu513 commented on #256
@marun @pmorie

More thinking about this topic based on @marun 's append.

- Area (1) including `FederatedCluster` and `FederatedTypeConfig` continue use `core.federation.k8s.io`.
- +1 to @marun for Area (2) using `primitives.federation.k8s.io`. For `kubernetes.federation.k8s.io`, it seems a bit duplicate, as `kubernetes` and `k8s` are actually same.

So the proposal is:

- core.federation.k8s.io

[2018-09-13 10:01] gyliu513 commented on #262
@shashidharatd would you please add a test example for federated ingress?

@irfanurrehman as you are working for Job Scheduling at https://github.com/kubernetes-sigs/federation-v2/pull/259 , I assume you will add example for this ;-)

[2018-09-13 14:15] marun commented on #258
I think the way logs only provide the name of the file is a pretty big flaw in golang logging, and I think it's worth considering how to get more context rather than a bandaid solution like unique file naming since that doesn't help if logging originates from 3rd party dependencies.

[2018-09-13 14:18] marun commented on #258
I also think consistent naming of controllers is a pretty low priority.  End-user functionality is our ultimate responsibility, and I don't think enforcing an arbitrary file naming scheme buys us much in that regard.  Also, what makes sense for Kubernetes in terms of code structure doesn't necessary make sense for us - it is a huge and monolithic legacy project.

[2018-09-14 01:48] gyliu513 commented on #258
@marun I recalled that Kubernetes community has some discussion for this, but I cannot find the discussion now, just post a question in kubernetes-dev https://groups.google.com/forum/#!topic/kubernetes-dev/23s6MTTt3gU and we can get some comments from there.

But here I want to control the scope of the discussion to this issue, any comments for my proposal?

Rename the folder of `sync` to `pushpro

[2018-09-14 13:36] marun opened #265 "Federation control plane should not use default service account"
As per a [comment](https://github.com/kubernetes-sigs/federation-v2/pull/230#discussion_r217504775) from @font, the federation control plane should use a dedicated service account rather than the default service account for the federation namespace.  Use of the default service account dates back to fedv1 when the  federation control plane api and the host cluster api were separate and federated wo

[2018-09-14 17:31] pmorie commented on #265
I am majorly +1 on this. I would also add that the service account for federation should have a rolebinding to a least-privilege role based on the API operations the controller needs to function.

As part of that, we need to think about the RBAC story for the federation template,overrides,placement resources - perhaps this supports having a distinct API group for the 'federation API for kubernetes

[2018-09-16 02:56] gyliu513 opened #267 "Logging improvement"
This is a topic generated based on comment from https://github.com/kubernetes-sigs/federation-v2/issues/258#issuecomment-421022780

And I also posted an issue to kubernetes-dev mail list https://groups.google.com/forum/#!topic/kubernetes-dev/23s6MTTt3gU and got a solution like this:

In my opinion, the best way to deal with it by enabling `log.Llongfile`(see
https://golang.org/pkg/log/#pkg-constan

[2018-09-17 05:14] gyliu513 commented on #265
I think there are two ClusterRoles need to handle:

1) Need to have permission to create the federation control plane. We are now using `cluster-admin` role, but seems using a ClusterRole should help.

[code]

2) Make sure the federation controller has permission to create resources in federation cluster, like creating federated resource etc. This was already handled now but we are binding the Clu

[2018-09-17 06:42] gyliu513 commented on #267
@pmorie I found that `kubebuilder` is also generating log with whole path of the source code as follows:
[code]

@pmorie do you know how does kubebuilder handle this case?

[2018-09-17 14:44] rosskukulinski commented on #261
This was a key goal in our development of [Heptio Gimbal](https://github.com/heptio/gimbal) in partnership with Yahoo Japan's subsidiary, Actapio.  More details [here](https://blog.heptio.com/introducing-heptio-gimbal-bridging-cloud-native-and-traditional-infrastructure-9d6224bece5a).

[2018-09-18 16:12] pmorie opened #271 "We should publish a versioned kubefed2 binary"
Currently, we rely on users building the `kubefed2` binary themselves. Long term, as we begin releasing additional versions, we should publish a version-specific binary somehow. We could publish a distinct container image for kubefed2 or add the kubefed2 binary to the existing federation-v2 image.

[2018-09-18 20:03] marun commented on #197
Initial implementation complete!

[2018-09-18 20:03] #197 closed

[2018-09-19 14:39] pmorie opened #275 "Document image tag strategy"
...after some confusion which was resolve in working group discussion but not written down, see: https://github.com/kubernetes-sigs/federation-v2/pull/240#issuecomment-418270608

[2018-09-21 15:40] font opened #279 "Create a release candidate for v0.0.2"
There are current issues with the user guide and using `install-latest.yaml` as this config specifies the `latest` tag, which is still the first `v0.0.1` release. The issue is around `test-namespace` being immediately deleted.

Instead of spending any time investigating it, we should move to release some form of a RC for `v0.0.2` immediately. Alternatively, we can release `v0.0.2` now and then `v0

[2018-09-21 15:53] font commented on #279
Before we create a release or release candidate for `v0.0.2`, we should re-generate the `install-latest.yaml` config.

[2018-09-21 18:01] font opened #280 "FedertedServiceAccount user guide example does not work"
The [creation](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#create-test-resources) of the [FederatedServiceAccount example](https://github.com/kubernetes-sigs/federation-v2/blob/master/example/sample1/federatedserviceaccount-template.yaml) when running through the user guide fails to successfully get created. Instead, only the `default` service account gets create

[2018-09-25 04:54] font commented on #279
Fixed by #281.

[2018-09-25 04:54] #279 closed

[2018-09-25 04:55] font commented on #279
RC for v0.0.2 is at https://github.com/kubernetes-sigs/federation-v2/releases/tag/v0.0.2-rc.1.

[2018-09-25 15:32] marun commented on #204
I think `-ginko.trace` is a stop-gap, but ultimately I want to transition away from ginkgo.  The fact that core kube uses it doesn't mean a smaller project like ours has to suffer.

[2018-09-25 15:38] #204 closed

[2018-09-25 15:47] marun commented on #187
I think integration duplicates e2e, and should go away.  As part of this, though, I want to see e2e rewritten to remove the dependency on ginkgo.  I see negative value in requiring a heavyweight BDD framework when all we really need is a good assertion library (e.g. [testify/assert](https://godoc.org/github.com/stretchr/testify/assert)).  Kubernetes using it is not a good reason for us to use it.

[2018-09-26 07:08] rihabbanday commented on #280
I am facing exactly the same issue.

[2018-09-26 14:44] marun commented on #163
@font Can you still reproduce this?  Namespace garbage collection is often problematic and it would be useful to determine the source of the problem.

[2018-09-26 14:44] marun commented on #227
@danehans Any update on this issue?

[2018-09-26 15:36] font commented on #163
Closing as this has since been fixed.

[2018-09-26 15:36] #163 closed

[2018-09-27 04:36] #280 closed

[2018-09-27 05:44] gyliu513 commented on #271
I'm +1 to add the kubefed2 binary to the existing federation-v2 image, as this simplified the release, and end user can `kubectl cp` to get the kubefed2 from federation controller.

[2018-09-27 16:36] danehans commented on #227
@marun I just tested and it works. I'll close the issue. Thank you.

[2018-09-27 16:36] #227 closed

[2018-09-28 17:14] font opened #297 "Namespace sync controller is run when --limited-scope=true"
With `--limited-scope=true` (namespace-scoped deployment) the federation control plane operates on a single namespace. As a result, the `Namespace` sync controller is not necessary as the creation and deletion of the namespace is not up to the federation controller, nor does it have the permissions necessary for it. There is a check for this in the testing code, but a check needs to be added to th

[2018-09-28 17:27] font opened #298 "Ability to create or remove all resources in namespace with namespace-scoped deployment"
With a cluster-scoped federation control plane deployment, we currently support creation and removal of all resources in a namespace by creating or deleting the entire namespace in target clusters via `FederatedNamespacePlacement`. With a namespace-scoped deployment, the existence of a namespace is not up to the federation controller as we no longer have a `Namespace` sync controller (after #297 i

[2018-09-28 18:48] marun commented on #271
@gyliu513 Given that it's trivial to add a cli binary like kubefed2 to a github release, and that's the way other kube client binaries (e.g. kubectl) are released, I'd hold off on putting kubefed2 into an image just yet.  If/when that becomes a desirable thing, I think it would make sense to ship a separate image to avoid bloating the server image (since kubefed2 is inexplicably 40mb).

[2018-09-29 02:39] gyliu513 commented on #271
@marun I'm fine with this. The reason that I prefer shipping the binary into a docker image because this will help release federation v2 with only one docker image.

We already have some best practise with [IBM Cloud Private](https://www.ibm.com/cloud/private), here I want to show [an example](https://www.ibm.com/support/knowledgecenter/SSBS6K_2.1.0.3/app_center/create_helm_cli.html) here: We are

[2018-10-01 11:08] poothia opened #302 "Add missing go tools."
This issue is to track to have various go tools and their automated scripts.

/sig multicluster

[2018-10-01 17:31] marun commented on #302
I'd like to see an explanation and discussion of why these go tools are necessary or desirable.   Is there a mandate to impose these tools from outside the sig, or some other rational you'd like to share?

[2018-10-03 01:38] pmorie opened #305 "Consider minor API renames for DNS API"
Our API names in the area of DNS run on a bit; I wonder if we should rename:

- API group: multiclusterdns.federation.k8s
- API type: `MultiClusterServiceDNSRecord`

since the group already contains `multicluster`, how about changing the type to just `ServiceDNS` ? and similar for ingress.

WDYT @shashidharatd

[2018-10-03 03:28] danehans opened #306 "Add Support for Cluster-Scoped Objects"
Federation-v2 currently supports namespace-scoped Kubernetes objects (i.e. ConfigMap). Cluster-scoped objects (i.e. ClusterRole) can not be [added](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/development.md#adding-a-new-api-type) due to how fed-v2 version propagation currently works. The UX for adding cluster-scoped objects was addressed by https://github.com/kubernetes-sigs/

[2018-10-03 13:45] irfanurrehman commented on #305
Seems good to me. API name of `ServiceDNS` should also be fine; however I remember that the `Record` was appended to the API name, because the bootstrapping and subsequent auto-generation of clients did not work as expected if the name did end with `S or s`. I am guessing it was a bug then, which might have been rectified now.

[2018-10-04 18:36] danehans opened #310 "gke deployment: kubefed2 join fails to create the required cluster role and binding for the service account"
k8s v1.11:
[code]
fed-v2 master branch:
[code]

Run `join`:
[code]

[2018-10-04 18:38] danehans commented on #310
I found that gke requires I grant my identity the cluster admin role. I'm happy to update the docs with a PR. Should this go in the user guide or a separate doc?

[2018-10-05 05:27] font commented on #310
@danehans I think you were hitting the issue captured here https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control and resolved by issuing:

[code]

This isn't necessarily specific to federation, but I think capturing some notes about it could be useful.

I think I would prefer a separate dedicated doc. Perhaps starting a set of cloud provider docs linked from the user gui

[2018-10-05 21:50] gyliu513 commented on #310
+1 to have a document for different cloud providers, this can definitely help people who want to use federation to manage different kubernetes distributions.

[2018-10-08 09:51] gyliu513 commented on #298
@font I was a bit confused for this, for namespace-scoped federation, when I join a new cluster, the `kubefed2 join` will create the related namespace in the member cluster.

Then we can use `template`, `placement`, `override`, to sync up resources in the specified namespace, we can also remove resource from the specified cluster if we remove the cluster from `placement`.

If I remove all clusters

[2018-10-08 15:37] pmorie opened #313 "Version information in controller log is not correct"
Running `latest` image, controller shows the following log messages:

[code]

...which are not correct.

[2018-10-08 16:17] font commented on #298
@gyliu513 While it is currently possible to remove all the resources in a namespace for namespace-scoped deployments by updating all placement resources, it is not possible to do it in the same way that we can do it with cluster-scoped deployments -- by just removing the cluster from the `federatednamespaceplacement` resource. This issue is to track the ability to remove *all* resources in a names

[2018-10-08 22:51] pmorie opened #314 "Make it easier to understand when the target type is not present in all federated clusters"
Currently, there is not an easy way to determine when a target type is not present in one or more federated clusters. Example controller logs:

[code]

Should this be an element of status in `FederatedTypeConfig`, perhaps?

[2018-10-09 02:04] gyliu513 commented on #298
Ah, I see, thanks @font . So this issue is that we still want to use `federatednamespaceplacement`, but for namespace-scoped federation, as we can only deploy resources in the namespace where federation controller is running, so when delete resources, we should also make sure that the `federationclusters` will not be deleted.

Will check @marun 's PR to see how it is fixing this, thanks.

[2018-10-09 03:14] gyliu513 commented on #314
I think this should be a sub requirement for https://github.com/kubernetes-sigs/federation-v2/issues/246 ?

/cc @shashidharatd

[2018-10-09 03:18] pmorie commented on #314
This is a property of propagation status rather than status of a resource
in target clusters. I don’t view it as related to the concepts of 246.

On Mon, Oct 8, 2018 at 11:14 PM Guang Ya Liu <notifications@github.com>
wrote:

[2018-10-09 05:30] gyliu513 commented on #314
@pmorie do you mean that the status of `FederatedTypeConfig` should include information if the CRD resources exist on member cluster or not?

[2018-10-09 07:57] gyliu513 commented on #297
@font I think we can close this one as namespace sync controller will not run after PR #299

[2018-10-09 15:42] font commented on #297
Fixed by #299.

[2018-10-09 15:42] #297 closed

[2018-10-10 15:18] sohankunkerkar commented on #305
@pmorie Sure. I will dig into it.

[2018-10-10 18:11] danehans opened #317 "Improve godoc for MultiClusterIngressDNSRecord"
No godoc for `MultiClusterIngressDNSRecord` type.

[2018-10-10 18:12] danehans commented on #317
A follow-on to https://github.com/kubernetes-sigs/federation-v2/pull/311

/assign @pmorie

[2018-10-10 20:09] danehans opened #318 "Add Istio Support"
Kubernetes is the predominate environment for running [Istio](https://istio.io/docs/setup/kubernetes/). Managing multiple Istio service meshes pose similar challenges as managing multiple Kubernetes clusters.

- [x] Add cluster-scoped object support https://github.com/kubernetes-sigs/federation-v2/issues/306. This will allow federating cluster-scoped Kubernetes resources required by Istio (i.e. `C

[2018-10-10 20:09] danehans commented on #318
/cc @marun @pmorie @shashidharatd

[2018-10-11 00:33] sohankunkerkar commented on #305
I've created a new resource of the type "ServiceDNS" using kubebuilder for a test-project and verfied that `ServiceDNS` resource is abiding the appropriate plurization.
here's my finding:
[code]
servicedns_types.go

[code]
/cc @pmorie

[2018-10-11 05:31] gyliu513 opened #319 "RSP Policy calculate is not right with `minReplicas`"
This is a follow up action for https://github.com/kubernetes-sigs/federation-v2/pull/288#discussion_r220407570

I created a RSP as this:

[code]

And the result is cluster1 has 3 and cluster2 has 7, and my expectation is cluster1 should have 4 while cluster2 should have 6.

/cc @irfanurrehman @quinton-hoole

[2018-10-11 06:38] gyliu513 commented on #318
@danehans I would love to help on this as well. But have some questions for this:

1) What is the direction for multicluster support with Istio in Federation V2? I can see there are two directions now, one is a single mesh across multiple clusters and another is single mesh per cluster and leverage ingress gateway/egress gateway for across cluster communication.

2) How about open a google doc and

[2018-10-11 06:40] gyliu513 commented on #318
FYI @kevin-wangzefeng @quinton-hoole-2 @irfanurrehman

[2018-10-11 18:46] font commented on #313
Fixed by #315.

[2018-10-11 18:46] #313 closed

[2018-10-11 21:02] danehans commented on #318
@gyliu513 it's great to hear that this topic interests you.

IMO, there is no consensus for addressing multi-cluster within the Istio community. Most work products address extending a single Istio control plane across multiple clusters/environments. See [slide 4](https://docs.google.com/presentation/d/1x6dBgc_3eEOp8RDFEvzJllflMDVk_-XnbRIV1TtmSRU/edit?usp=sharing) for more details. My driver for fe

[2018-10-12 00:05] quinton-hoole-2 commented on #318
@danehans Yes, that's definitely in scope.  I think tackling 3 first is useful, and relatively low-hanging fruit.  I'd really love to expand that to 4 (single public entry point, multiple clusters), and ultimately beyond (multiple clusters in a mesh).

I'm really looking forward to pursuing this further.

[2018-10-12 01:08] quinton-hoole-2 commented on #318
PS: I believe that what you want to achieve in your first phase should already mostly work (pushing copies of your app and istio mesh into multiple clusters, with per-cluster customizations).  And we have some stuff to help you with the single endpoint part too.

[2018-10-12 02:13] gyliu513 commented on #318
Thanks @quinton-hoole-2 and @danehans , very helpful information.

Istio community also has some plan to make the multicluster support more stable in 1.x release and this proposal making Istio multicluster leverage some features from federation v2 is a good integration point for those technologies.

@danehans my only concern for this is federation v2 is still under 0.0.2, not sure if it is a good

[2018-10-12 04:03] quinton-hoole-2 commented on #318
Lets go for it I'd say, with the understanding that Federation v2 is still alpha.

[2018-10-12 15:52] danehans commented on #318
@quinton-hoole thank for the feedback. It's great to hear that this issue is considered in scope.

"Mostly" work is correct. My initial obstacle in adding Istio support is with `propagatedVersion`. This type is namespace-scoped and therefore does not support federating cluster-scoped resources such as `ClusterRole` required for managing Istio. My understanding is that @marun is working on this iss

[2018-10-12 17:20] quinton-hoole-2 commented on #318
@danehans Cool!  Sounds like you're on the right track.  I was not even aware of the VirtualGateway type in kubernetes.  If it's not a standard kubernetes type (including CRD), then you're right, we have no plan to support it, and CRD would be the best route to follow.  I assume that would be consistent with your overall direction anyway, as CRD's are the preferred way (and increasingly the only w

[2018-10-12 17:51] danehans commented on #60
@pmore do you know what remains to close this issue?

[2018-10-12 17:53] pmorie commented on #60
@danehans the remaining bit is actually generating the federation APIs themselves. For example, imagine if creating a FederatedTypeConfig actually caused the federation APIs to be generated.

[2018-10-12 17:53] pmorie commented on #60
Maybe we should split that piece into a separate issue.

[2018-10-12 18:01] danehans commented on #60
@pmorie OK. Is anyone working on this remaining bit?

[2018-10-12 18:48] danehans commented on #60
@pmorie I created [this diagram](https://docs.google.com/drawings/d/1Glq-pI79ZYbb7h4GBqWwTUFavMilwg_ch_LWkThOIrM/edit?usp=sharing) to illustrate what you described [above](https://github.com/kubernetes-sigs/federation-v2/issues/60#issue-317369700). Let me know if I captured it correctly.

[2018-10-12 18:51] danehans commented on #318
I referenced `VirtualGateway`, but I meant `Gateway`. `Gateway` is a CRD used by Istio and [created](https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps) before running the Istio control-plane. You can see the CRD details [here](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/crds.yaml#L67-L86) and learn more about the `Gateway` type [here](htt

[2018-10-12 18:56] quinton-hoole-2 commented on #318
OK, Gateway should federate fine then.

Q

On Fri, Oct 12, 2018 at 11:51 AM Daneyon Hansen <notifications@github.com>
wrote:

--
Quinton Hoole
quinton@hoole.biz

[2018-10-12 19:13] danehans commented on #318
Yes, after fed-v2 supports cluster-scoped propagated version. @gyliu513, maybe you can take a look at my [branch](https://github.com/danehans/federation-v2/commits/cluster_prop_ver_v2) and provide some thoughts on why it's not passing CRUD "Update" tests. This is a blocker for me proceeding with the Istio support effort.

[2018-10-12 21:29] danehans opened #324 "Multi Cluster Ingress DNS Status Improvement"
I configure a fed ingress tmpl/placement for one of the two clusters and an associated `MultiClusterIngressDNSRecord`, the status of the object displays both clusters:
[code]

I would expect the Ingress DNS controller to use `spec.clusterNames` from `FederatedIngressPlacement` to populate  `status.dns` of `MultiClusterIngressDNSRecord`.

@shashidharatd thoughts?

[2018-10-15 05:45] shashidharatd commented on #324
That looks fine to me when `sync controller` is part of the federation control plane. But this feature could also be used independent of sync controller and how it propagates the federated resources.

when there are no LoadBalancer in a member cluster, the `DNS Endpoint` controller will not produce DNSEndpoint for it. In effect its the same result which we wanted. @danehans, wdyt?

[2018-10-15 05:49] shashidharatd commented on #305
cool, Thanks @sohankunkerkar

[2018-10-15 06:08] shashidharatd commented on #305
@sohankunkerkar, Are you working to rename this API and raise a PR?

[2018-10-15 07:00] gyliu513 commented on #318
@danehans are you encountering this issue https://github.com/kubernetes-sigs/federation-v2/issues/214 ?

[2018-10-15 12:22] irfanurrehman opened #325 "Use typeconfig to get resource definitions of known resources."
The precedent is shown in this review commit [here](https://github.com/kubernetes-sigs/federation-v2/pull/259/commits/0757fb444aa81f3608aa5e7c8de8bb09e6734a06#r222386590) and implementation for one type in the review fixes [here](https://github.com/kubernetes-sigs/federation-v2/pull/259/commits/0757fb444aa81f3608aa5e7c8de8bb09e6734a06).
The same can be extended for other resource types (but not ne

[2018-10-15 13:40] sohankunkerkar commented on #305
@shashidharatd yeah.

[2018-10-15 16:52] marun commented on #60
@danehans I'm working on this.

[2018-10-15 19:37] danehans commented on #324
@shashidharatd OK, that makes sense. I do think displaying the following can cause confusion for users:
[code]

I also thought using `spec.clusterNames` from `FederatedIngressPlacement` would be more efficient.

[2018-10-15 20:52] pmorie commented on #314
@gyliu513 yep, that's what I had meant.

[2018-10-16 02:18] xunpan commented on #325
I can work on this.

[2018-10-16 06:51] gyliu513 commented on #314
@pmorie Can we also treat the CRD exist or not as `FederatedTypeConfig` status? The federation controller just query each member cluster and get CRD exist or not and fill in the status of `FederatedTypeConfig`?

[2018-10-16 14:31] marun commented on #255
Fixed by #266

[2018-10-16 14:31] #255 closed

[2018-10-16 17:14] #298 closed

[2018-10-16 18:42] danehans opened #329 "Provide More Flexibility in Federated Service DNS Naming"
I am using Federated Service DNS with [ExternalDNS](https://github.com/kubernetes-incubator/external-dns) to expose a `Service` from an Istio service mesh. The Istio `Gateway` resource is used to expose mesh applications outside the Kubernetes cluster. The `Gateway` resource is front-ended by a Kubernetes `Service`. More details can be found [here](https://istio.io/docs/examples/bookinfo/#determin

[2018-10-16 18:42] danehans commented on #329
/cc @shashidharatd

[2018-10-16 23:07] danehans opened #330 "Allow Federated Service DNS to Work without Endpoints"
The `serviceBackedByEndpointsInCluster` method of the Service DNS Controller requires a service to have an active endpoint (i.e. running pods) before creating a `dnsendpoint`. This inhibits app deployments that require cross-cluster Service Discovery using DNS. For example, etcd provides a DNS Discovery mechanism that requires A records for each member in the etcd cluster before starting the etcd

[2018-10-16 23:07] danehans commented on #330
/cc @shashidharatd

[2018-10-17 07:17] xunpan commented on #325
I finished the code diff with similar logic in Job implementation. But I found that it does not work properly if related FederatedTypeConfig resource is not initialized but federation controller initialized.

Currently, the implementation is to get resource from FederatedTypeConfig. E.g.
`fedClient.CoreV1alpha1().FederatedTypeConfigs(DefaultFederationSystemNamespace).Get("deployments.apps", metav1

[2018-10-17 07:59] gyliu513 commented on #325
@irfanurrehman @xunpan how about ignore this error and just return if the `FederatedTypeConfig resources` are not created?

[2018-10-17 14:00] irfanurrehman commented on #325
@xunpan refer https://github.com/kubernetes-sigs/federation-v2/blob/02efddee7c013515820aa53ed4e9dc6e096a6923/test/integration/jobschedulingpreference_test.go#L98.
This is needed for integration.

[2018-10-17 14:03] shashidharatd commented on #329
@danehans, the naming scheme of the DNS record is designed to accommodate all services in all namespaces that are possible within federation and is designed to fallback to other zone, region if there are no service shards in current cluster.

However, i agree with your requirement as you expressed. So my suggestion would be that we include optional dnsPrefix field in `MultiClusterServiceDNSRecord`

[2018-10-17 14:10] shashidharatd commented on #330
@danehans, the current implementation that service should be backed by endpoints is to provide a form of health check. if there are no endpoints for the service in cluster, that means virtually that service shard should be not routable. A dumb client might do a round-robin among the resolved IP's which cause its request to fail frequently.

I am thinking, about introducing this flexibility to user

[2018-10-17 14:11] shashidharatd commented on #329
/cc @quinton-hoole2

[2018-10-17 14:59] danehans commented on #305
@pmorie I just made a comment about this issue in this [ML thread](https://groups.google.com/forum/#!topic/kubernetes-sig-multicluster/e7l2wjoGWgQ).

IMO the `multicluster` in the group API `multiclusterdns.federation.k8s` causes confusion can be improved. When people think of k8s federation, they think of multi-clusters. What is the difference between federation and multi-cluster?

[2018-10-17 18:13] quinton-hoole-2 commented on #330
Ack.  I don't have time right now to give a thorough response today.  Ping me on slack if it's urgent.

[2018-10-17 18:17] quinton-hoole-2 commented on #330
From memory the DNS records for the federated service were distinct from those for the per-cluster service.  So the per-cluster services should be able to have their DNS records created as usual (with or without healthy pods behind them).  It's only the federated service records that are contingent on healthy pods.  At least that's how I implemented it in federation-v1.  I've not had time to look

[2018-10-17 18:18] quinton-hoole-2 commented on #330
You can take a look at the logic in federation-v1 and see whether that perhaps helps solve your problem.

[2018-10-17 19:39] marun commented on #325
@irfanurrehman What was this in relation to?  The link in the issue post doesn't work for me.

[2018-10-17 21:53] quinton-hoole-2 commented on #329
@danehans @shashidharatd Just to let you know that I've seen this issue but not yet had time to digest it and reply yet.  There are a lot of moving parts and constraints regarding federated DNS, for example:

1. I seem to recall a practical limit of 6 components to a DNS record in kubernetes, and
2. resolution within a cluster, and between clusters needs to work correctly via CNAME records
3. ther

[2018-10-18 05:45] gyliu513 opened #333 "Unify some concept for federation V2"
This is a follow up action based on discussion on 2018.10.17 WG group meeting https://docs.google.com/document/d/1v-Kb1pUs3ww_x0MiKtgcyTXCAuZlbVlz4_A9wS3_HXY/edit#heading=h.m2zygcva2jq1

Some initial concepts proposal and thoughts are as following:

| Concept | Description | Notes|
|-----------|-------------|---------|
| **Federation** | Kubernetes Cluster Federation enables users to federate mult

[2018-10-18 16:10] danehans commented on #333
IMO it's easier to work on the table if it were a goog sheet or doc. Here are the add'l concepts that I believe should be addressed:

| Type        | Description           | Notes  |
| ------------- |:-------------| -----:|
| MultiClusterServiceServiceRecord      | A resource that associates one or more Kubernetes `Service` resources and how to access the `Service`, with a scheme for constructing

[2018-10-18 16:45] danehans commented on #330
@quinton-hoole-2 thanks for your input. Your understanding is correct for fed-v2 Service DNS.

@shshashidharatd I can understand why the health check was implemented. From my understanding `DNSEndpoint` is a wrapper for `Endpoint`, which represents a DNS resource record. I can create a DNS resource record in DNS without the IP address being reachable. Some IT workflows create the resource record b

[2018-10-18 16:55] danehans commented on #329
I like @shashidharatd's idea of using `dnsPrefix`. If `dnsPrefix` is not provided, then the prefix of the resource record is constructed using the value of `Name`. With that said, I would like to get feedback on the  idea of adding `FederatedServiceDNSRecord` so multiple `MultiClusterServiceDNSRecord`'s that simply differ by `dnsPrefix` can be managed as a single resource and use overrides to mana

[2018-10-18 17:02] danehans commented on #305
@pmorie thanks for the background. With that said, I still think the group name can be improved upon. https://github.com/kubernetes-sigs/federation-v2/pull/331 is renaming the DNS API to `IngressDNS` and `ServiceDNS` and `dns` exists in the group name. If the DNS feature is no longer intended to be independent, then change the group to `dns` and the DNS API types to `IngressRecord` and `ServiceRec

[2018-10-19 02:55] gyliu513 commented on #333
Good suggestion @danehans , I created a google doc here https://docs.google.com/document/d/1LD-iIhzW2a-NzbNK5WLKrKhILrg21AeF1JpXkcYECtg/edit?usp=sharing , we can iterate on this document for the concepts.

[2018-10-19 14:49] pmorie commented on #314
@gyliu513 Yep, that's exactly what I had in mind. Writing up some thoughts from a discussion with @sohankunkerkar here. We propose the following:

#### Changes to `FederatedTypeConfigStatus`:

[code]

#### Changes to sync controller

The sync controller will be responsible for maintaining the new fields of status defined above:

- The sync controller will determine the status of the target type in

[2018-10-19 14:49] pmorie commented on #314
^ names of fields are just suggestions, happy to change names if folks come up with better suggestions.

[2018-10-19 14:53] pmorie opened #342 "Add ObservedGeneration to FederatedTypeConfig status"
`ObservedGeneration` is used in many API statuses to indicate whether the controller backing a resource has 'seen' the latest version of that resource's spec. We should have an `ObservedGeneration` field in the status of FederatedTypeConfig to allow users to determine this information for that resource. This will increase understandability of the behavior of the system - for example, if the contro

[2018-10-19 14:53] pmorie commented on #342
@sohankunkerkar is interested in working on this but we cannot assign him in github yet, so noting here.

[2018-10-21 04:04] sohankunkerkar commented on #342
I've created a PR #345 for this issue.

[2018-10-22 16:09] danehans opened #347 "Rename DNS API Group"
The group name can be improved upon. #331 is renames the DNS API to `IngressDNS` and `ServiceDNS` and dns exists in the group name. If the DNS feature is no longer intended to be independent, then change the group to dns and the DNS API types to `IngressRecord` and `ServiceRecord`.

[2018-10-22 16:11] danehans commented on #305
@pmorie sounds like a plan. I created https://github.com/kubernetes-sigs/federation-v2/issues/347 to track renaming the DNS API group.

[2018-10-22 16:18] shashidharatd commented on #329
overrides is for variation of resource across multiple clusters. I am not clear about achieving what you are asking for.

[2018-10-22 16:44] shashidharatd opened #348 "Refactor ServiceDNSRecord API"
Currently, the `ServiceDNSRecord` API is as below
[code]

There is little ambiguity and it is also prone to errors by user's input, and we don't have validation mechanism in place. Logically one federation should be associated with one domain name, but there is no way to enforce it in the current API. (Like for e.g. user can create multiple `ServiceDNSRecords` with the same `FederationName` but wi

[2018-10-22 18:34] irfanurrehman opened #349 "Run controllers based on system configuration"
Currently, a typeconfig controller watches for typeconfig resources and starts sync controllers per federated types if a typeconfig resource with propagation enabled is created for that federated type.
Other controllers, (specifically scheduling controllers) which depend on the target federated types availability when the given controller starts can also be run only if the given target federated t

[2018-10-22 18:43] irfanurrehman commented on #325
@marun this was in continuation to your [comment](https://github.com/kubernetes-sigs/federation-v2/pull/259#discussion_r222379655) on https://github.com/kubernetes-sigs/federation-v2/pull/259. This issue was created to do updates on similar lines for all (all possible) resource definitions in scheduling type controllers.

@xunpan I have created https://github.com/kubernetes-sigs/federation-v2/issu

[2018-10-22 19:21] danehans opened #350 "FederatedServiceAccount Resource Do Not Get Synced When Spec is Undefined"
A `ServiceAccount` resource is typically created without a `spec` field. Here is an example from Kubernetes [documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#manually-create-a-service-account-api-token)
[code]

When creating a `FederatedServiceAccount` resource without `spec` defined, the `ServiceAccount` resource __does not__ get created in target

[2018-10-23 07:16] gyliu513 commented on #314
@pmorie the design looks good to me. I also found that @marun is now working to propagate cluster-scoped resources, then after this project finished, we can leverage it to make sure the cluster-scoped exist on the specified cluster.

[2018-10-23 07:43] gyliu513 commented on #350
@danehans this is because the sync controller has some logic to check `spec`, if the `spec` does not exist, sync controller will report error and the federation resource creation will be failed.

For more detail, please check code https://github.com/kubernetes-sigs/federation-v2/blob/v0.0.2/pkg/controller/sync/controller.go#L695

Also if you `describe` the `federatedserviceaccounts` without `spec`

[2018-10-23 07:47] gyliu513 commented on #305
@pmorie @sohankunkerkar I think this one can be closed?

[2018-10-23 11:47] pmorie commented on #241
@gyliu513 has opened a pull request to add the federation v2 chart to the official helm charts repo:

https://github.com/helm/charts/pull/8631

[2018-10-23 11:48] pmorie commented on #241
Per our discussion on the October 17th WG meeting, releasing the chart will be a post-release step once the image builds are complete and the github release is tagged.

[2018-10-23 17:04] danehans opened #354 "Target Cluster Service Account Does Not Include nonResourceURLs"
While testing https://github.com/kubernetes-sigs/federation-v2/pull/332, the following `FederatedClusterRole` was not being propagated to target clusters:
[code]

I observed the following log messages on the controller-manager:
[code]

After patching the service account used to manage target resources, the resource was properly propagated:
[code]

The resulting service account cluster role:
[code]

[2018-10-23 17:05] danehans commented on #354
/cc @marun

[2018-10-23 22:56] gyliu513 opened #355 "Add more logs in RSP for troubleshooting"
Currently, I found the RSP do not have too much logs, so it seems a bit difficult to debug it when customer have issues, it is better add more logs in RSP to improve troubleshooting.

/cc @irfanurrehman can you please add a label as `good-first-issue`? Thanks.

[2018-10-23 23:01] gyliu513 opened #356 "Make RSP clusterUnavailableDelay and clusterAvailableDelay configurable"
Now, when I enable RSP, if I did a test with the rebalance feature. After deploying on two clusters, I deliberately brought down one of the clusters, then I need to wait at least 1min for all of my pods balanced to the running cluster, it is better to make the clusterUnavailableDelay/clusterAvailableDelay configurable, so that customer can configure those values based on their cluster scale.

Plea

[2018-10-24 05:57] test0x1000 commented on #325
@irfanurrehman OK. I will take it.

[2018-10-24 10:08] tghartland commented on #356
I could try this.

Should the delay should be configurable per RSP (as in a property added [here](https://github.com/kubernetes-sigs/federation-v2/blob/master/hack/install-latest.yaml#L1384)) or is it a single property of the entire multicluster? I'm not sure exactly how and where it is that controller/schedulingpreference is running, is it a continuous part of the cluster itself or is it just run

[2018-10-24 10:17] gyliu513 commented on #356
Thanks @tghartland for the help.

Here are some of my thinking, as we have only one RSP controller for the whole federation cluster, so I think this value should be a global value. We may need to add some parameters at https://github.com/kubernetes-sigs/federation-v2/blob/master/cmd/controller-manager/main.go#L114 to define clusterUnavailableDelay and clusterAvailableDelay.

@irfanurrehman WDYT? T

[2018-10-24 11:48] marun commented on #350
The check for the template field is intended to provide a clear signal that a template isn't formed correctly, since most resources do have specs.  At least for now, I'd rather see templates for types that are not expected to have a body include an empty template rather than remove this safeguard for the majority of types.

[code]

[2018-10-24 11:58] marun commented on #354
Given that cluster-scoped federation should be able to create a cluster role with arbitrary `nonResourceURLs`, I think it would make sense to allow `NonResourceAll` rather than making an exception for `metrics`.  That would mean that there would no longer be a common role between cluster- and namespace-scoped federation.  The existing common role would become specific to namespace-scoped federatio

[2018-10-24 12:00] tghartland commented on #356
Ah, so the delays will be defined as arguments [here](https://github.com/kubernetes-sigs/federation-v2/blob/master/hack/install-latest.yaml#L1451) and then passed through controller-manager/main.go to the RSP controller at the line you linked.
I think I have enough information to start working on this now, I'll let you know when I run into problems.

[2018-10-24 12:31] irfanurrehman commented on #356
You are right. Meanwhile the argument names should be quite specific, such that any other controller (within controller manager) needing similar configurations can be given clear disambiguation.
Also, as a future enhancement you can also look at a component config to handle the various controller arguments.

[2018-10-24 14:56] gyliu513 commented on #350
Thanks @marun , so for this issue, seems we can close it? As the federated resource event already tell us enough error message.

@danehans what do you think? Thanks.

[2018-10-24 15:23] tghartland commented on #356
I have added some placeholder flags. I copied the format from the flags that were already there, including the "If unset...", but when the help is printed it already prints the default value in brackets. Is that unintended, or is it duplicated just to specifically say that the flag is optional?
[code]
I would also be happy to have your input on the flag name and the usage text. From your descripti

[2018-10-24 19:42] sohankunkerkar commented on #305
@gyliu513 Yes, we can close this issue.

[2018-10-25 02:32] gyliu513 commented on #356
@tghartland for the first issue

[code]
I think it is a bug, the go `flag` already can help print out the default value, so I think we can remove the sentence like `If unset, will default to`.

The help message lgtm, but I think @irfanurrehman can provide more comments for this.

Yes, it will also apply to new clusters added to as well as clusters removed from the multicluster.

@irfanurrehman ple

[2018-10-25 02:35] gyliu513 commented on #305
Thanks @sohankunkerkar , but I do not have permission to close, I think @pmorie can help close. ;-)

[2018-10-25 03:04] gyliu513 commented on #354
@danehans may I know why the following rules cannot be propagated in your example?

[code]

But only following rule works?

[code]

[2018-10-25 05:37] font commented on #348
@shashidharatd Thanks for creating this issue! I have some comments below.

By "one federation" I presume you mean one federation deployment. If that's the case, I think the current mechanism enables the use of multiple sub-domains so that each `ServiceDNSRecord` can be associated with a different `DNSSuffix` e.g. `foo.example.com` and `bar.example.com`. With these changes it would mean you can on

[2018-10-25 10:01] tghartland commented on #356
I now have the command line values being passed through to where they are used. I had to add a flag --rsp-minimize-latency as well since that was always true before and would override the new values. I have left the default of that as true to preserve the current behaviour.

I'm thinking about input validation, and if the provided value is a negative integer is it better to just error and quit or

[2018-10-25 10:31] shashidharatd commented on #348
federation in the context of this features is logical grouping of federated services. I have created some slides related to this feature. https://docs.google.com/presentation/d/1b6yI3FpysxvdLvCmrR5sgIeDcG7nMGdG3b169sed-pY/edit#slide=id.p hope it clarifies some internal workings of this feature.

This pr partially addresses #329, to configure additional DNS name for federated service, which will be

[2018-10-25 16:32] danehans commented on #348
@shashidharatd Thanks for creating the issue and slides. I provided feedback in the slides.

[2018-10-25 16:44] #306 closed

[2018-10-25 16:49] danehans commented on #306
@marun thanks for all your hard work in getting this issue resolved!

[2018-10-25 16:57] danehans commented on #354
@gyliu513 The `FederatedClusterRole` is not being propagated because the resources contains:
[code]

The fedv2 sync controller uses a svc account to create the target `ClusterRole` resources. This svc account does not have the permissions to manage `nonResourceURLs`.

[2018-10-25 16:58] danehans commented on #354
@marun I agree.

[2018-10-25 17:09] danehans commented on #350
I think it should be documented somewhere before closing. I'm confident others will run into the same issue.

[2018-10-25 18:28] irfanurrehman commented on #356
@tghartland the minimize latency value set to `true` [here](https://github.com/kubernetes-sigs/federation-v2/blob/master/cmd/controller-manager/main.go#L114) seems to be a mistake. It should be set to `false`. The function minimize latency is only for use in tests.

I checked the code further and found that `clusterAvailableDelay`, and `clusterUnavailableDelay` are used in `SchedulingPreference Co

[2018-10-25 20:16] danehans opened #362 "Manifest Conversion Tool"
Converting Kubernetes manifests to a "Federated" equivalent is time consuming, error prone and can be a barrier to adopting federation-v2. For example, Istio consists of 100+ Kubernetes resources that has become burdensome to Federate. I suggest adding a command (i.e. `render`, `convert`, etc.) to `kubefed2` that takes a manifest consisting of one or more resources (using `---` as a resource separ

[2018-10-26 05:36] gyliu513 commented on #354
Thanks @danehans , clear now. +1 with allow `NonResourceAll` rather than making an exception for `metrics`.

[code]

[2018-10-26 07:31] poothia opened #364 "update the CI checks invoking make rather then calling various scripts"
Reference:
https://github.com/kubernetes-sigs/federation-v2/pull/361#issuecomment-433169782

[2018-10-26 07:32] poothia commented on #364
i am working on this.

[2018-10-26 19:00] danehans opened #367 "Implement FederatedServiceOverride API type"
I need the ability to change the service `type` depending on the environment of the cluster. For example, some clusters will use `NodePort` while others may use `LoadBalancer`.

[2018-10-26 23:09] danehans opened #368 "DNSEndpoint Does Not Update Properly"
I have a working setup that includes 2 clusters and a sample app exposing a front-end from each cluster. I am simulating an app upgrade, so I update the ServicePlacement to only use cluster1. The `MultiClusterServiceDNSRecord` resource gets properly updated:
[code]
As you can see above, only `cluster1` has an ingress ip. However, the `DNSEndpoint` still contains A and CNAME records for the service

[2018-10-26 23:09] danehans commented on #368
/cc @shashidharatd

[2018-10-27 00:31] font commented on #368
@danehans In your example, I don't see any `DNSEndpoint` A records for the service in cluster2, only CNAME records. The CNAME record points to the global DNS, which points to the A record for the service in cluster1. That looks correct.

[2018-10-27 19:25] danehans opened #370 "Support NodePort for Type MultiClusterServiceDNSRecord"
Currently, services must be of type `LoadBalancer` to populate the `MultiClusterServiceDNSRecord` status.dns.loadbalancer field. Exposing a Kubernetes service of type `NodePort` is common and should be supported by type `MultiClusterServiceDNSRecord`.

[2018-10-29 01:29] johnarok commented on #355
Hi @gyliu513 I can work on this.. can you assign this to me?

[2018-10-29 03:59] gyliu513 commented on #355
Thanks @johnarok , seems I can only assign to members of federation v2, but I think you can go ahead to create the PR, as I think no one is working on this for now. ;-)

[2018-10-29 04:40] gyliu513 commented on #370
@danehans I think one of the concerns for NodePort is security, any solutions to handle the security issues when using NodePort?

[2018-10-29 05:10] shashidharatd commented on #370
NodePort poses some restriction to the DNS based discovery mechanism.
1. The NodePort allocated by the service-controller would not be the same across all member clusters for the service. (workaround is to user specify NodePort in spec, but this is too restrictive and there is potential for port clash and is better avoided).
2. The DNS mechanism we currently use does not take care of `port` and so

[2018-10-29 08:51] shashidharatd commented on #348
/assign

[2018-10-29 09:21] irfanurrehman commented on #367
I was actually on my way to bootstrap the service type and add needed override fields to it. At my end we need to override `annotations`. However, after looking at what @marun is trying to achieve in https://github.com/kubernetes-sigs/federation-v2/pull/340, that might not be needed. What I am assuming is `kubefed federate` should be able to generate needed types and CRD placeholders for the type

[2018-10-29 13:38] marun commented on #367
@irfanurrehman After reviewing #357, and seeing hard-coded override fields (e.g. [replicas for deployments](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/apis/core/v1alpha1/federateddeploymentoverride_types.go#L33)) with fresh eyes, I think it's time for generic overrides.  I think a simple scheme could be as follows:

[code]

Alternately we could go full-on json patch.  The com

[2018-10-29 13:39] marun commented on #367
@shashidharatd I'm removing the tags you helpfully applied for now, since I think this is likely to be more complicated than just adding a field to a type.

[2018-10-29 15:26] danehans commented on #367
I agree.

[2018-10-29 15:29] danehans commented on #370
@gyliu513 I am not following your question. NoePort is used by gke and many other k8s implementations to externally expose services.

[2018-10-29 17:09] marun commented on #367
@danehans My apologies in hijacking this issue.  Since there don't appear to be explicit client calls for `FederatedService*` types, I think this could be a good candidate for removing the generated type from the tree and generating it instead with `kubefed2` on deployment.  I'm working on adding override support, and I'll use `FederatedService` as a test case in #340.

[2018-10-29 17:17] danehans commented on #370
@shashidharatd thanks for your feeback. I should clarify my question. I do not care about the TCP/UDP port used by type `NodePort` as it relates to the `MultiClusterServiceDNSRecord`. With type `NodePort`, I care about the IP address used for populating the status ingress IP of `MultiClusterServiceDNSRecord`. As we do with type `LoadBalancer`, we should be able to obtain the node(es) IP to use for

[2018-10-29 19:05] danehans opened #373 "Add Cross Compile Support to Deploy Script"
The deployment [script](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/development.md#automated-deployment) builds the controller-manager bin using GOOS=darwin when running on Mac OSX. This causes problems because the Docker image uses the bin as darwin instead of linux.

[2018-10-29 22:02] danehans commented on #368
@font you are correct. I'll close this issue. Thanks for your feedback.

[2018-10-29 22:02] #368 closed

[2018-10-30 01:38] gyliu513 commented on #370
@danehans The reason that I say NodePort is not security is because if you are using NodePort, then the service can be accessed from any node as follows:

1) Create a service and use NodePort.
2) After the service created, normal user will get the host IP address and one NodePort which in 31000 - 32000
3) Normal user can use tool to access this node IP with other port which in 31000 - 32000 as wel

[2018-10-30 01:51] gyliu513 commented on #373
@danehans can you please show more detail for where is using `GOOS=darwin`? I did not found it in the [script](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/development.md#automated-deployment) you mentioned, am I missing anything?

[2018-10-30 14:32] tghartland opened #374 "User guide RSP example missing weight value"
In the [final RSP example](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#distribute-replicas-evenly-in-all-clusters-however-not-more-then-20-in-c) no weight is specified for cluster C. The weight defaults to 0 so the following scenarios are impossible as C would never be scheduled on. ```weight: 1``` should be added.

[2018-10-30 16:49] tghartland commented on #319
I have added some logging to the Plan function to try to see what is going on here. I have it pushed to a branch [here](https://github.com/tghartland/federation-v2/blob/debug-319/pkg/controller/util/planner/planner.go#L104).

In this example, the issue is that is first allocates the minimum number of replicas to each cluster, and **then** uses the weighting to distribute the remaining replicas.
Th

[2018-10-30 16:50] danehans commented on #370
@gyliu513 understood. My argument is that `NodePort` is a supported service type for Kubernetes and is common in the on-prem deployments I see. It is also used by minikube, so I believe there is benefits to supporting this service type.

[2018-10-30 16:54] danehans commented on #362
@marun thanks for the input. Please link your upcoming PR to this issue for tracking purposes. It has been very painful converting the Istio [v0.8 manifest](https://raw.githubusercontent.com/danehans/fedv2-manifests/master/istio/v0.8.0/src/istio.yaml) to its federated equivalent. A tool as proposed by this issue will go a long way to increasing adoption of federation-v2.

[2018-10-30 17:49] irfanurrehman opened #375 "Differentiating a controller created/updated spec vs a user created/updated spec"
Recently there has been some conversations about the need to differentiate the FederatedXXXX spec created/updated by a controller vs a user created/updated FederatedXXXX spec. The main question that arises is as follows:
- Should a user or a controller get the final say, for example another mechanism which can specify, who has higher powers.

A simple straightforward approach IMHO would be:
Spec c

[2018-10-30 21:38] pmorie commented on #375
A couple other thoughts about this, both pure statements of fact:

- This information would already be captured by audit
- If we want to capture user information, it would require a mutating webhook for each type where we wanted to store that information

See: https://github.com/kubernetes/kubernetes/blob/v1.10.0-beta.1/staging/src/k8s.io/api/admission/v1beta1/types.go#L67

[2018-10-30 22:09] marun commented on #375
I don't think it is necessary to record status for user-initiated spec changes.  As per the incident that prompted this issue - a user not realizing that spec changes were being made by a controller - there is  potential value in highlighting to a user when spec is being changed by an automated mechanism.  This could be as simple as status fields indicating which controller last updated the spec a

[2018-10-30 23:16] gyliu513 commented on #373
Does it because Kubernetes also support running on OSX?

[2018-10-30 23:18] gyliu513 commented on #370
Thanks @danehans , +1 to have this, we can use `NodePort` at least for some demo purpose as mentioned by @shashidharatd :)

[2018-10-31 11:06] tghartland commented on #319
If you have less totalReplicas than the sum of minReplicas on each cluster, the current method assigns all replicas to the cluster with the highest weight. It tries to satisfy the minReplicas requirement but in doing so ignores the weight balancing. Is this preferable to satisfying the weight first and ignoring the minReplicas limit on each?

For instance if you have
[code]
you get
* cluster1: 0 r

[2018-11-01 03:18] gyliu513 commented on #319
Thanks @tghartland my thinking is that

- if the number of `totalReplicas` greater than sum of `minReplicas`, we can allocate the replicas as allocate `minReplicas` first, then allocate the remaining based on weight.
-  if the number of `totalReplicas` less than sum of `minReplicas`, we can allocate the replicas directly based on weight.

@irfanurrehman @tghartland WDYT?

[2018-11-01 04:01] #356 closed

[2018-11-01 10:56] irfanurrehman commented on #319
@tghartland the equation correctly distributes replicas in the ratio, giving the ceiling of the fractional value (rounding up) considering weights in descending order. This ensures that clusters with higher weights always get a minimum whole number of replicas considering the weighted ratio. So a cluster with higher weight can get an additional replica, but not the cluster with lower weight.

taki

[2018-11-01 12:44] poothia opened #381 "Switch to github.com/pkg/errors"
There is a general consensus on moving towards `github.com/pkg/errors`... and it's being said that `fmt.errorf` is confusing and has an overhead to it.

reference:
https://github.com/kubernetes/kubeadm/issues/1183#issue-372862070
https://github.com/kubernetes/kubernetes/pull/70271#issue-225967737

Other references:
https://github.com/golang/lint/issues/284#issue-218626145
https://hyperledger-fabri

[2018-11-01 12:45] poothia commented on #381
if there is a consensus on this, i would like to work on it.

[2018-11-01 17:00] marun commented on #381
I would be happy to see us transition to the `errors` package.  I think the following article makes a more compelling case:

https://dave.cheney.net/2016/04/27/dont-just-check-errors-handle-them-gracefully

There are ~100 instances of embedding errors as strings in the codebase today, I encourage you to propose a PR that adds the dependency on the `errors` package and updates the code to use the `

[2018-11-02 12:08] poothia commented on #381
@marun  thanks for the reply and the pointers, will keep those in mind.

[2018-11-02 20:02] marun commented on #367
@danehans #340 has merged with support for overrides.  I'm working on generic overrides.

[2018-11-03 11:57] gyliu513 commented on #373
FYI @xunpan

[2018-11-03 15:05] irfanurrehman opened #383 "Documentation for kubefed2 federate"
`kubefed2 federated` introduces useful functionality of generating CDR primitives for a given k8s type on the fly. It might however be a little overwhelming for an user to understand the whole functionality and interworking with the k8s cluster and federation control plane.
A documentation elaborating the bits and pieces and nuances of the same would be useful.

For anybody picking up this issue,

[2018-11-05 00:40] xunpan opened #386 "stop scheduling controller if federatedtypeconfig resource is deleted from system"
In PR [366 ](https://github.com/kubernetes-sigs/federation-v2/pull/366), we implement basic functions to reconcile federatedtypeconfig for scheduling controller when the resource is created.

This ticket is used to trace related resource deletion case to make sure schedulingmanager works gracefully for all cases.

[2018-11-05 15:55] #350 closed

[2018-11-05 17:17] danehans opened #389 "Federating MutatingWebhookConfiguration Type"
The Istio sidecar-injector pod patches the client `caBundle` of the `MutatingWebhookConfiguration` resource with the sidecar-injector secret data, and therefore can not be federated. When the resource gets patched, the `resourceVersion` field is updated, causing a propagated version mismatch between the federated and target resources. When the sync controller sees the mismatch, it will re-propagat

[2018-11-05 17:17] danehans commented on #389
/cc @marun

[2018-11-05 18:08] marun commented on #389
The two comparison fields supported by for push propagation are `resourceVersion` (increments on all changes) and `generation` (increments on spec changes).  Neither would appear to allow for spec changes that federation should ignore.

There is already [special handling](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/sync/controller.go#L731) of services to retain cont

[2018-11-06 09:09] glerchundi opened #395 "Roadmap"
Really good job being done in here, keep up the good work!

I would love to see a roadmap for this so that people can pose it as an option for their own projects in the {mid,long}-term. I saw that #81 asked for this in May and lots of work (code/meetings/etc) have been done since then so is it possible to make it on the master?

Thanks!

[2018-11-06 09:30] gyliu513 commented on #395
/cc @kubernetes-sigs/federation-wg

@glerchundi more info as follows:

1) You can get some detail for `sig-multicluster` at https://github.com/kubernetes/community/tree/master/sig-multicluster

2) You can attend federation v2 wg weekly meeting for some roadmap/project discussion, and here is the meeting minutes https://docs.google.com/document/d/1v-Kb1pUs3ww_x0MiKtgcyTXCAuZlbVlz4_A9wS3_HXY/edit#he

[2018-11-06 09:40] glerchundi commented on #395
Thanks for the prompt response and the links but I already read those notes and they're weekly minutes that give a sense of how everything is going but without settling the timeline. I was expecting something more lightweight for the newcomer. A birds-eye glimpse of how the {mid,long}-term timeline of the federation-v2 will be.

[2018-11-06 14:35] mvazquezc opened #396 "Control plane terminating a Federated Namespace when FederatedNamespacePlacement doesn't have the Host Cluster defined within clusters spec"
Hello,

I just found out some strange behaviour (at least something that I wouldn't expect to happen)

Let's say we have 3 different clusters: cluster1, cluster2, cluster3, the Federation v2 control plane is running on cluster1, so we create all the CRDs related to federation in that cluster.

With the yaml definition below I would expect `foo` namespace being available on cluster2 and cluster3, b

[2018-11-06 16:21] danehans commented on #389
@marun thanks for the response. I'll test using `generation` during my next deployment and update this issue accordingly.

[2018-11-06 16:27] danehans commented on #318
I have a working implementation of Federated Istio with the details documented [here](https://github.com/danehans/fedv2-manifests/blob/master/istio/federated-istio.md). @marun felt it's best for the Federated Istio manifests, documentation, etc. to reside in the Istio community instead of the federation-v2 example directory, so I created https://github.com/istio/istio.io/issues/2843 to address the

[2018-11-06 16:30] danehans commented on #348
@shashidharatd what else is needed to close this issue?

[2018-11-06 17:19] marun commented on #396
It is by design that federation requires a namespace to exist in the host cluster if it is to be propagated to any member clusters.  Not including cluster1 in the placement list should not result in the host cluster namespace being removed, however.  I will attempt to reproduce.

[2018-11-07 00:38] marun opened #400 "Generic overrides"
As per a [comment](https://github.com/kubernetes-sigs/federation-v2/issues/367#issuecomment-433912857) on #367, the recent implementation of `kubefed2 federate` has highlighted the need to support generic overrides (in which _almost_ [1] any field can be overridden).  Without generic overrides, generated override types could vary by deployment and this would complicate productization.

A simple pa

[2018-11-07 07:56] shashidharatd opened #401 "Option to specify propagate resource to all cluster"
Currently, the placement objects are designed such that if you wish to propagate the federated resource to a member cluster, then one need to explicitly specify the cluster name in corresponding placement object. This could be hard as the cluster members could added/removed over time and user needs to keep updating the placement objects of federated resource. There is a clear desire to be able to

[2018-11-07 09:16] fisherxu opened #402 "Enable LeaderElect for federation controller"
Now the federation-controller is deployed through statefulset and without LeaderElect only can in single instance. But in the following scenarios, we need to deploy the federation-controller in multiple instances for high availability with LeaderElect:

1. Need to deploy multiple instances in several nodes, in case of node crash then the slave controller can acquire leadership and serve soon.
2. I

[2018-11-07 11:09] tghartland commented on #401
I have been writing down some rough ideas for what advanced placement might look like, that I started writing after looking at #87.

I do not know what the implementation process would be like for something like this, so it is may be that some of the things could be impossible. I also don't know if something like this fits in with the current design goals for federation-v2.

If you have the time,

[2018-11-07 12:35] shashidharatd commented on #401
I'm not 100% sure that adding a special keyword would be consistent with the traditional kube APIs.

AFAIK, there is no `label selector` based placement implementation of any sort in federation-v2. @font, can you please confirm.

[2018-11-07 14:31] #349 closed

[2018-11-07 14:46] xunpan commented on #325
@irfanurrehman I think we can close this issue because #366 is merged.

[2018-11-07 14:48] marun commented on #401
I can confirm that there is currently no selector-based placement available in fedv2.  I've had reservations about using selectors to provide associativity between primitives, but I think it makes sense to use selectors for placement.  Either selector-based placement could be added to the current scheme, or the existing name-based strategy removed in favor of selectors.  We're still in alpha, so d

[2018-11-07 15:08] #325 closed

[2018-11-07 15:38] tghartland commented on #401
@marun my main concern was that I had over complicated things.

I thought about a hierarchy because in the suggestion in #87 it has `region=eu, zone=east`, and I felt that `zone=east` on its own is an odd thing to have, because I think nobody would ever want to select us-east, eu-east and asia-east all at once. `zone` would only ever be used to limit within a region.

I think this is an important

[2018-11-07 17:42] marun commented on #401
@tghartland It may be that nobody would ever use `zone=east` on its own.  That doesn't preclude implicit hierarchy - i.e. `region=eu` includes all zones in that region - and I'm not sure what the value would be in imposing explicit hierarchy.

Regarding your gist's questions about troubleshooting selectors, I can see the value in adding something to `kubefed2` that would allow testing of a selecto

[2018-11-07 20:29] marun commented on #402
I'm not sure why leader election is worth pursuing in advance of users validating the general direction of federation.   The complexity is real, the benefits are not (at least not yet).  I'm also concerned that the challenges of high availability federation are likely to be related to the involvement of multiple clusters, and that leader election as proposed is really only intended to achieve HA w

[2018-11-08 01:11] danehans commented on #389
@marun Using `generation`, thanks for the pointer. I could not find a `kubefed2 federate` cmd flag that would allow me set `comparisonField`, so I patched the `FederatedTypeConfig` afterward.

[2018-11-08 02:32] fisherxu commented on #402
and yes, this is target to the HA within a single cluster, and it's just a base framwork, user can also set it to false so disable it and benefits is to users.

And to the member clusters health checking, that's should be another feature. They are all necessary and important.

[2018-11-08 10:10] tghartland commented on #401
@marun in any case I would be happy to see label based selection over the current naming method. Any higher level management can come after that, if needed.

[2018-11-08 13:08] #374 closed

[2018-11-08 17:11] marun commented on #389
@danehans What about `--comparison-field`?  It's a flag to `enable`.

[2018-11-08 17:47] danehans commented on #389
I see it now. Thanks! I will consider this issue closed.

[2018-11-08 17:47] #389 closed

[2018-11-09 21:27] raffaelespazzoli opened #410 "unjoin - re-join flow doesn't work"
the flow of unjoining and rejoining clusters doesn't work because the unjoin does not clean the resources crested during join and the join fails if these resources are already present.

The unjoin - rejoin flow is needed to create idempotent installation scripts.

I don't know the implementation details behind the join phase, but if the created resources were created with the apply semantic, proba

[2018-11-10 13:31] gyliu513 commented on #410
@raffaelespazzoli can you please append some output of the error message when you unjoin and then re-join?

@xunpan can you help on this?

[2018-11-10 19:17] raffaelespazzoli commented on #410
@gyliu513 I'd see something like this:
[code]
sorry for the formatting, this is ansible's output.
In general I noticed that the secrets in the federation-system namespace and the clusterroles were the objects for which I was getting errors.

[2018-11-11 02:06] gyliu513 commented on #410
@raffaelespazzoli I did some test to un-join and re-join, `kubefed2` works fine, can you please run `kubefed2` join and unjoin manually to see if it works and then check what is wrong with your ansible script?

### Unjoin cluster2, succeed.
[code]

### Join cluster2 again, succeed.
[code]

### Check cluster2 status, it is ready again.
[code]

[2018-11-11 02:09] gyliu513 commented on #410
@raffaelespazzoli For your issue, I think the unjoin failed, and this left some garbage data and caused re-join failed. I'd suggest you clean up your cluster and re-run this again. Please make sure unjoin succeed before you re-join again.

[2018-11-11 15:18] raffaelespazzoli opened #412 "error when updating the federated cluster status"
I am getting the following error when the federation controller tries to update the federatedcluster status:
[code]
the federated clusters object do exist, here they are:

[code]
as we can see they have no status.
What can be causing the error? I am using the default namespaces and the :latest tag for the federation controller image (but I was getting the same error with the :canary tag).

[2018-11-11 15:31] raffaelespazzoli commented on #412
I noticed that the clusterName field is empty. It is empty also in the corresponding cluster object:
[code]
I think that could be related to the error that I am seeing, what could be causing it.
I create the clusters when registering the clusters with the option `--add-to-registry`, what could be the cause of the fact that they don't get a name?

[2018-11-12 02:40] gyliu513 commented on #410
Thanks @raffaelespazzoli , so here you want to enable `force join` here, let's get some comments from @marun for this, the only concern from me is that the `force join` may leave some garbage data.

@marun WDYT?

[2018-11-12 03:55] #348 closed

[2018-11-12 04:51] marun commented on #412
Confusing I know, but `clusterName` has nothing to do with federation.  It's an unrelated kube metadata field.

The error you are seeing is likely due to the `FederatedCluster` resource not having a status subresource, which is required by the `UpdateStatus` call that sets the health status of a cluster.  To get the yaml of the `FederatedCluster` crd:

[code]

Look for the following snippet:

[cod

[2018-11-12 05:00] marun commented on #410
I think this issue is a duplicate of #188, and I'm closing accordingly.  `unjoin` should remove everything it can rather than bailing on the first error it encounters.  Feel free to reopen if you do not agree with my assessment.

[2018-11-12 05:00] #410 closed

[2018-11-12 05:14] marun opened #413 "Cleanup vendor path"
As per a recent vendor tree update (#406), the number of vendored dependencies seems excessive and it may be worth attempting to discovery and remove unused dependencies.

[2018-11-12 05:33] gyliu513 commented on #188
@xunpan can you help on this?

[2018-11-12 13:43] raffaelespazzoli commented on #412
I create the resources with the helm chart. and it seems OK. I am running on OpenShift 3.10, corresponding to kubernetes 1.10. Could that be the issue?

[2018-11-12 13:47] raffaelespazzoli commented on #188
from the #410 that was marked as a duplicate of this, I think that join should succeed if some of the resources that it would have created already exist. Join should update these resources to the desired state when possible. In order to do this join should use an `apply` strategy rather than a `create` strategy.

[2018-11-12 15:14] marun commented on #412
@raffaelespazzoli fedv2 is only compatible with kubernetes >= 1.11, and that would correspond to openshift >= 3.11.  3.10 (and 1.10) has broken crd subresource support that is not compatible with updating the status of crd resources.  Accordingly, I'm going to close this issue, as this is well-documented in the user guide.

[2018-11-12 15:14] #412 closed

[2018-11-13 09:32] shashidharatd commented on #413
Addressed by #415

[2018-11-13 09:32] #413 closed

[2018-11-13 09:46] shashidharatd commented on #56
This issue has been addressed and the implementation is available.

[2018-11-13 09:46] #56 closed

[2018-11-13 09:49] shashidharatd commented on #75
@marun, this feature is implemented and available. is there something pending for this, otherwise shall we close this issue?

[2018-11-13 09:50] #82 closed

[2018-11-13 10:17] #102 closed

[2018-11-13 18:59] marun commented on #75
@shashidharatd I don't believe this feature is implemented yet.  The only option for placement is resource-specific.

[2018-11-14 15:37] marun commented on #271
A kubefed2 binary is included in each release, which I think satisfies the main requirement in this issue.  If/when it becomes desirable to ship the client binary in the server image that issue can be raised separately.

[2018-11-14 15:37] #271 closed

[2018-11-16 15:47] marun commented on #402
@fisherxu I hear that adding leader election is desirable for your use case, and thank you for putting up with my uncertaintly.  I think there need to be 2 paths:

  - a statefulsets-based option that doesn't enable leader election
  - a deployment-based option that does enable leader election

The helm installer would ideally allow the user to select either option.  I'm not sure the deployment sc

[2018-11-16 22:14] pmorie commented on #314
@font is going to pick up this work now that #403 is merged

We were brainstorming today and @font observed that status should also include whether federated APIs referenced from `FederatedTypeConfig` exist in the host cluster

[2018-11-19 00:10] gyliu513 commented on #373
@danehans can you help close this one as it was resolved in https://github.com/kubernetes-sigs/federation-v2/pull/416

[2018-11-19 08:12] fisherxu commented on #402
@marun Thanks for reminder, and there is a enableLeaderElection option in the PR, so users can disable it.

[2018-11-19 17:02] marun commented on #402
@fisherxu I understand that it can be disabled.  My comment was meant to indicate that there needs to be an implementation path for deployments + leader election and stateful sets without leader election.  If you don't intend to implement those paths that could be ok but there should be issues that point other people in the right direction to complete the work.

[2018-11-19 17:20] marun opened #433 "Validate the names of FederationTypeConfigs"
The naming of `FederatedTypeConfig` instances needs to conform to `<target plural name>.<target group name>` to ensure that federation will be enabled at most once for a given target type.  The simplest way to accomplish this is to add validation on any controllers that respond to `FederatedTypeConfig` (sync and rsp at the time of this writing).  Ideally a validation webhook would be used, but in

[2018-11-20 00:40] danehans commented on #329
@shashidharatd adding `dnsPrefix` to the API was a big help. However, I believe it's even more helpful if this prefix was used to create additional zone/region specific resource records. This will allow users to have a consistent prefix with Istio resources that control ingress/egress traffic. I propose using the `<dnsPrefix>.<namespace>.<federation>.<svc>.<avl-zone>.<region>.<federation-domain>`

[2018-11-20 06:15] gyliu513 opened #434 "Enable POWER and s390x support for federation"
The current federation only support running on amd64 but no POWER and s390x , we should enable federation can also run on those two platforms to enlarge its adoption.

[code]

FYI @xunpan

[2018-11-20 07:04] gyliu513 commented on #373
@danehans @shashidharatd do we also need to make the `kubefed2` also as cross compile? I found that both `controller-manager` and `hyperfed` support this but `kubefed2` not.

[2018-11-20 13:17] ErikLundJensen commented on #261
Implementation of load balancing across multiple clusters must support the Istio multi-cluster setup.
Having a simple "pod-aware" load balancer in-front will not work for clusters using Istio as the load balancer must have knowledge of the Istio route rules.

[2018-11-21 02:46] gyliu513 commented on #434
Thanks @marun . I got some requirement in KubeCon Shanghai that someone (Non IBM) want to test federation V2 on POWER and s390x because they have a mixed Kubernetes environment: POWER, x86 and POWER machines, and each architecture in a different cluster.

I told them they can make the x86 cluster as the host cluster and manage POWER and s390x cluster, they agree with this solution for now. But I w

[2018-11-21 03:03] marun commented on #434
I'm guessing that Kubernetes didn't always support multiple architectures.  It's a mature product now, and we're still in alpha.  However, it might be worth investigating whether moving to test-infra ci infrastructure would give us the means to develop and test against other architectures.  I'm still not convinced it's a useful near-term priority, but we will want to get there eventually.

Given t

[2018-11-21 03:18] gyliu513 commented on #434
Yes, +1 that this is not a near-term priority, and we can probably enable this after enter Beta. For now, I can enable POWER and s390x support internal first.

And regarding who is behind the support, as I work for systems group, it is also my responsibility to enable different architecture support for federation.

[2018-11-21 16:16] glerchundi commented on #318
Is it possible to made intra-federated-cluster communication? I.e. connect from a ServiceA located in Cluster A (Taiwan) to ServiceB located in ClusterB (Spain)? Imagine a compliance restriction that forces a microservice to stay in a concrete region/cluster (but allowing in-transit communications) how would you allow communication for a potential user in another region can access to that service?

[2018-11-21 17:12] quinton-hoole-2 commented on #318
@glerchundi Yes, yes, that's cross-cluster service discovery.  @shashidharatd implemented it, and can give you the details.  It's currently implemented based on DNS and public load-balanced services.  Istio support would further extend this by allowing access to non-public services between clusters.

[2018-11-21 17:15] glerchundi commented on #318
Fantastic, thanks @quinton-hoole-2!

[2018-11-22 00:49] #188 closed

[2018-11-22 09:02] mvazquezc commented on #396
Thanks for the link. Now I understand the behaviour, thanks!

[2018-11-22 10:39] mvazquezc commented on #396
@gyliu513 This type of explanation is great and I believe it would be worth to have it documented somewhere accessible. I've been looking at the docs/ folder and I couldn't find a good document where the differents Federated items where explained. I would find useful a document where we can explain why a namespace should exist in the host cluster in order to federate it to other clusters or such s

[2018-11-22 13:48] gyliu513 commented on #396
@mvazquezc after @marun 's fix at https://github.com/kubernetes-sigs/federation-v2/pull/443 , deleting namespace in host cluster will not cause the deletion of namespace in other member clusters, so seems we do not need document anymore for this?

[2018-11-22 14:16] mvazquezc commented on #396
@gyliu513 So even if you delete the namespace on the Host cluster it will remain across the member clusters, that's okay. I've one more question though, what would happen to other federated resources like for example "FederatedNamespacePlacement" or "FederatedDeployment" if they happen to be created in the namespace deleted from the host cluster?

Anyway, I still think a document with expected beh

[2018-11-26 05:11] gyliu513 opened #448 "Add a document for how to create federated ingress with CoreDNS"
We have document for creating federated ingress with GKE but do not have document for CoreDNS etc, this caused end user who do not have GKE account cannot leverage features of federated ingress, it is better to add a document for end user to create a federated ingress with CoreDNS in private cloud.

FYI @xunpan

[2018-11-26 07:02] gyliu513 commented on #396
Seems CI close this automatically, but I think we need tp keep this open as we are still talking if the document need some update.

@shashidharatd can you help open this again? :-)

[2018-11-26 14:26] raffaelespazzoli opened #450 "question: disaster recovery strategy with federation v2"
One of the reason for building multiple clusters, potentially in multiple data centers, is to implement a disaster recovery strategy.
What is the recommended disaster recovery strategy for federation V2? Obviously the fact that the federation control plane exists only in only one cluster can be an issue.

One more question more specifically on the management of dnsrecord objects. Assuming that we

[2018-11-26 19:12] marun commented on #450
The control plane of fedv2 is tied to a single cluster.  It's possible for a cluster to span availability zones where the latency between nodes across the zones is within the bounds required by etcd (<10ms), which may offer an increase in resiliency.  If the cluster goes down, though, the fedv2 control plane goes offline.  fedv2 being implemented as a kube api limits the options for DR to those av

[2018-11-26 21:30] marun commented on #396
- Namespaced resources can't exist without a namespace.
  - This includes namespaced federated resources.
  - This is as true in the host cluster as in member clusters.
- Deleting a namespace in the host cluster removes its contents, including federated resources.
   - Removal of federated resources from the host cluster removes the equivalent target resources from all member clusters
- `Federated

[2018-11-27 01:30] marun commented on #450
@raffaelespazzoli What are you intending 'global' to mean in this context? Most load balancers I've worked with are pointed to by DNS and are then programmed with health-checkable backends for a given frontend (a configured combination of ip/host/path).  The scope of DNS can of course vary, from local network up to the internet.

[2018-11-27 05:58] shashidharatd commented on #450
Even when federation control plane not running in cloud, one of the hosted DNS server (AWS Route53 or Google CloudDNS, etc..) could be chosen as the Global DNS server, which would solve the problem  described above.

yes, you are right. multiple dns server instances need to run in every cluster. (atleast more than one cluster) for resilience. I am not sure whether CoreDNS provides such a feature.

[2018-11-27 07:54] gyliu513 commented on #396
+1 for this as well, this can make sure the namespace and other resources have same behavior: if no placement policy, the resource will not be propagated; Resources will only be propagated to member clusters with placement policy.

[2018-11-27 11:01] shashidharatd commented on #396
I am keen to have a default behaviour to propagate a resource to all member clusters without enumerating the clusterNames in placement object. Something like below:
- If the placement object does not exist for the resource, the resource would not be propogated.
- If the placement object exist but does not list any clusterNames. propogate to all member clusters.
- If the placement object exist and

[2018-11-27 13:02] raffaelespazzoli commented on #450
@marun Global Load Balancer (GLB) or Global Traffic Manager (GTM) are all terms used by different vendors to indicate global DNSs. Usually these tools have the ability to be deployed in cluster mode, where there is an instance in each data-center and then the instances are all synchronized. They can make routing decisions (which IP to return) based on IP geo localization and can run a health check

[2018-11-27 14:55] marun commented on #396
@shashidharatd You proposal makes sense for clusterName-based placement.  Assuming selector-based placement, though, I think the default should be 'do not propagate' if a placement resource exists without a value for the selector.

[2018-11-27 15:02] marun commented on #450
@raffaelespazzoli So 'global' as I'm hearing you describe it sounds like a mechanism to coordinate configuration across a distributed set of load balancers.  Below that coordination mechanism, load balancing is pretty much the same regardless of the scope of the the network it serves.

[2018-11-28 13:03] raffaelespazzoli opened #456 "question: vanity URLs for ServiceDNSRecords"
per the documentation for ServiceDNSRecords the system will create the following dns records
[code]
where is the `federation` value taken from?

I get that this naming scheme was devised to prevent name collisions.
However, people will not want to expose their apps with those names.
Application endpoints will be available to the end users via vanity url of the form: `<myapp>.<company-domain>`.

It

[2018-11-28 18:55] danehans opened #457 "kubefed2 federate resource pluralization"
The command does not properly pluralize recouces that end in "y":
[code]

In the above example, you see `federatedserviceentrys` should be `federatedserviceentries`.

[2018-11-28 18:58] marun commented on #457
The command doesn't do any pluralization, it only prefixes `federated`.  If you check the plural name of the target and I'll bet you'll see that it is `serviceentrys`.

[2018-11-28 19:06] marun commented on #457
(Please close if my perspective is correct)

[2018-11-28 19:38] danehans commented on #457
@marun The target is `serviceentries` and not `serviceentrys`. If the target was `serviceentrys`, that would be a problem b/c the proper and expected pluralization of `ServiceEntry` is `serviceentries`. Istio users are expecting `ServiceEntry` to be pluralized as `serviceentries`. See:
[code]

The federated equivilent:
[code]

You can see the incorrect pluralization in the api resources as well:
[

[2018-11-29 04:57] shashidharatd commented on #456
`federation` is a logical concept where part of the app could be distributed across clusters (like deployment & services). In most of the scenarios federation name need not be called out explicitly, but for cross cluster service discovery, the discoverer need to know which federation the service belong to as there could be multiple federations hosted by the system.
`federation` is taken from `Doma

[2018-11-29 05:16] sohankunkerkar commented on #457
I had similar kind of issues while trying to rename `servicedns` API type. It was doing `servicednss` instead of `servicednses`. I've created a PR in the controllers-tool repository to fix this issue.
https://github.com/kubernetes-sigs/controller-tools/pull/106/files
With this in place, we can define the resource name with the help of `+kubebuilder:resource:path=" servicednses"` annotation.
@marun

[2018-11-29 18:30] #457 closed

[2018-11-30 03:08] magicwang-cn opened #461 "bug: flag(start up parameter) include problem"
currently, the startup parameters does not include `flag.CommandLine`, like [this](https://github.com/kubernetes-sigs/federation-v2/blob/master/vendor/github.com/kubernetes-sigs/kubebuilder/pkg/config/config.go#L36-L39) which is just set to flag's CommandLine, not in cmd's Flags. so when we start controller-manager with --kubeconfig or --master, there will be the problem as follows:
[code]

[2018-11-30 03:08] magicwang-cn commented on #461
/kind bug

[2018-11-30 03:52] konghui opened #463 "does federation v2 support manage federation v2 cluster as a sub cluster"
In my case. I have three federation in my region, I need a parent federation help me to manage it, does federation v2 support or not? if support pls tell me what should I do. Thanks.

[2018-11-30 05:33] gyliu513 commented on #463
Can you describe your use case more clear? What do you want to `manage` with hierarchical federation and what is the expected behavior for your case?

Currently, if you add another federation controller for all of the three federation controllers, then the three controller clusters will be treated as member cluster fro the top level federation controller. For this case and with current behavior, a

[2018-11-30 08:59] konghui commented on #463
the manage means I can do every thing I can do in top level federation controller like what I can do in  the sub federation controller, such as deploy deployment, service to the any one of cluster
 or all cluster(depend by placement), the sub federation controller like a transparent proxy, it just forward the resource request to  the sub cluster(may support weight , and another schedule rules).

[2018-11-30 09:22] xunpan opened #464 "external DNS does not work correctly"
I install federation cluster automatically.
After that:
1. install metallb on each member cluster.
2. create externaldns with coredns as its backend
3. apply federation deployment and service. The service is LoadBalancer type.
4. create ServiceDNSRecord mentioned in [servicedns-with-externaldns.md](https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/servicedns-with-externaldns.md)

A

[2018-11-30 11:18] gyliu513 commented on #464
@danehans did you see such issues in your GKE cluster?

[2018-11-30 16:39] danehans opened #466 "kubefed2 federate enable CustomResourceDefinition fails"
Federating type `CustomResourceDefinition` causes kubefed2 to panic. Details can be found [here](https://gist.github.com/danehans/1c4abd4de185fa69c382f382ebc92ffc).

[2018-11-30 16:39] danehans commented on #466
__Note:__ This worked in `v0.0.3` but it broken in master.

[2018-11-30 16:39] danehans commented on #466
/cc @marun

[2018-11-30 17:32] font commented on #463
@konghui In theory, I think this would work if you enable federation of the federation primitives. There's a certain level of abstraction going on in order to do that, so I'm curious to understand your use case on why you'd want the extra complexity involved in doing this. For instance, why not just have 1 federation, the parent federation in your example, and have it manage all the clusters in yo

[2018-11-30 20:39] danehans opened #469 "FederatedDeployment with Volumes that include ConfigMap Items fail Validation"
When a federated deployment references a configmap that includes [item mapping](https://kubernetes.io/docs/concepts/storage/volumes/#configmap), it fails validation. For example:
[code]

This worked recently, but now fails on master. Here is the example Deployment (succeeds):
[code]

and the federated equivalent (fails):
[code]

Full error when creating the above example federated deployment:
[cod

[2018-11-30 23:06] danehans commented on #469
The workaround in the above k8s issue worked for me. Thanks @marun for discovering the issue.

[2018-12-01 00:31] marun commented on #461
I'm curious how you discovered this problem.  Do you have a use case that suggest running the controller manager outside of a cluster?

[2018-12-01 03:38] magicwang-cn commented on #461
haha... yeah. we have deployed the federated controller plane out side of the k8s cluster

[2018-12-01 04:19] magicwang-cn opened #471 "bug: too many API struct format error and test error"
**Domain API error:**
see [this](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/apis/multiclusterdns/v1alpha1/domain_types.go#L36)

format error as follows(`just lack the '"' in the NameServer param`):
[code]

**make test error:**
[code]

[2018-12-01 04:19] magicwang-cn commented on #471
/kind bug

[2018-12-01 06:37] magicwang-cn commented on #471
@marun @shashidharatd @pmorie
currently,  ./script/pre-commit.sh does not do the UT test?

[2018-12-01 06:56] marun commented on #471
No, there are no unit tests at present worth running.  The generated tests are useless, and should probably be removed.

[2018-12-01 07:04] magicwang-cn commented on #471
oh, :(

but the currently pre-commit check is not enough, i think. like the `Domain API error`

[2018-12-01 07:14] magicwang-cn opened #472 "compile: `make container` needs higher version docker for docker build"
when use the old version docker, do the `make container` will hit the problem as follows:
[code]

**details**:
- docker with 1.11.1 is not work for `docker build xxx -t xxx:tag`
- docker with 1.12.0 is ok both for `docker build xxx -t xxx:tag` and `docker build -t xxx:tag xxx`

we should modify this makefile or comment the docker version?

@marun @shashidharatd

[2018-12-01 07:50] marun commented on #472
Feel free to propose a doc change to the dev guide.  I think this is rarely an issue for contributors because recent docker is pretty much mandatory for kubernetes.

[2018-12-01 07:51] marun commented on #471
It's not that the precommit check isn't enough, it's that the e2e isn't comprehensive enough.  We're still in alpha, so the emphasis is on validating end-user functionality rather than doing comprehensive testing of functionality that may not live to see end-users.

[2018-12-01 07:55] magicwang-cn commented on #472
sure. will do the work later.

[2018-12-01 08:08] magicwang-cn commented on #471
ok, i see.

[2018-12-03 04:14] konghui commented on #463
We have some special requirement need to split different some area with federation, what do the federation primitives mean? It's federation v1 or some other feature(if it was a feature how to enable it )?
 I decide modify the typeconfig target description to the federation resource, How about this?

[2018-12-03 06:40] gyliu513 opened #473 "Copy "config/federatedirectives" to federation v2 image"
Based on the comments here https://github.com/kubernetes-sigs/federation-v2/pull/432#issuecomment-440356504 , I was now trying to enable `kubefed2 federate enable` in a post-install job, but the problem is that I need to let the job know where are the files of `config/federatedirectives`, so here the proposal is put those files to the docker image of federation v2 and then we can call `/root/kubef

[2018-12-03 06:44] gyliu513 opened #474 "Add post-install-job/pre-delete-job to generate/delete all primitives for helm chart"
After PR #426 , all of the primitives are now generated by `kubefed2 federate enable`, so with helm chart, we need to introduce `post-install-job/pre-delete-job` to generate and delete those primitives.

An example of `post-install-job` can be referenced here https://github.com/helm/helm/blob/master/docs/examples/nginx/templates/post-install-job.yaml

/cc @marun

[2018-12-03 06:52] shashidharatd commented on #464
@xunpan, i can see few problems in your testing.
1. Do you have 2 clusters in your environment? Are they both `minikube` clusters?
2. Looks like the clusters does not have `region` and `zone` labels. (here are the labels. `failure-domain.beta.kubernetes.io/zone` and `failure-domain.beta.kubernetes.io/region`).
3. It could be possible the lb ip's assigned by `metallb` is the same in both clusters,

[2018-12-03 09:18] qinpingli opened #475 "Created resources using manifest defined in examples failed."
kubectl apply -R -f https://github.com/kubernetes-sigs/federation-v2/blob/master/example/sample1/federatedconfigmap-placement.yaml
error: unable to recognize "example/federatedconfigmap-placement.yaml": no matches for core.federation.k8s.io/, Kind=FederatedConfigMapPlacement

apiversion should be: primitives.federation.k8s.io/v1alpha1

[2018-12-03 11:35] irfanurrehman opened #477 "kubefed2 federate/delete/disable type/resource"
Placeholder issue and also for scrutiny from stakeholders.
The intention is to update `kubefed2 federate` command with below semantics.
[code]

`federate/delete/disable` are primary keywords and `type/resource` are secondary keywords (commands and subcommands in kobra terms)

Some examples below to explain the intent:

_Example: Federate a type_
`kubefed2 federate type Service`
_Replacement for (c

[2018-12-03 11:35] irfanurrehman commented on #477
cc @kubernetes-sigs/federation-wg

[2018-12-03 19:23] pmorie commented on #477
Nice write up. I like the suggestions; a couple notes follow.

Initially, `kubefed2 delete` seemed a little risky to me, since users already have strong expectations around `kubectl delete`. I worried that someone might type it by mistake, but then realized that you also have to type `delete resource` or `delete type`, which should provide some measure of safety.

I don't think anything has to cha

[2018-12-03 19:23] marun commented on #477
Just a couple of notes:

- `kubefed delete type Service` should fail if there are federated resources of that type unless `--force=true` is provided to avoid unintended mischief.  Also, this suggests adding rbac rules to federated types to ensure only privileged users can run this.

- `kubefed federate resource` should avoid federating the type unless a flag like `--federate-type=true` is provided

[2018-12-03 19:30] marun commented on #477
I've also been wondering if `<command> <noun>` is the right paradigm here.  That's the general precedent I derive from tools like `kubectl`, but does it make sense for `kubefed2` given that the commands are more admin-focused?  Would `<noun> <command>` be a better fit for the type federation, and `federate` can become focused on resources?

 - `kubefed2 type [enable/disable/delete]`
 - `kubefed2 f

[2018-12-03 19:33] pmorie commented on #477
`kubefed2 type delete` feels a lot better than `kubefed2 delete type` to me, fwiw

[2018-12-03 20:35] marun commented on #60
@pmorie With the switch to generation of federated types via the `kubefed2` cli command, I think this issue should be closed.  If/when it becomes desirable to support this behavior via an api, that can be filed as a new issue that takes into account the current state-of-the-art.

[2018-12-03 20:41] marun commented on #83
The dynamic client has been superceded by the generic client defined by the `controller-runtime`:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/example_test.go

[2018-12-03 20:42] marun commented on #89
@font @irfanurrehman Can this issue be closed now that kind clusters are running in ci?  I think CI for cloud-specific features can be tracked separately.

[2018-12-03 20:44] marun commented on #90
@irfanurrehman Would it make sense for the RSP controller to add ownership references to rsp resources such that deletion of a template would ensure deletion an owned rsp resource?

[2018-12-03 20:46] marun commented on #91
@irfanurrehman Can RSP testing be considered complete with the merging of #392?

@shashidharatd Is there additional testing needed to satisfy the e2e requirement listed above?

[2018-12-03 20:46] marun commented on #96
@shashidharatd Can this issue be closed?

[2018-12-03 20:49] marun commented on #97
@irfanurrehman @shashidharatd  Revisiting this, what next steps are required to satisfy this issue?  sync controllers and rsp schedulers are both driven by the state of `FederatedTypeConfig`.  Should dns programming (both service- and ingress- based) be similarly driven by configuration?

[2018-12-03 20:57] danehans commented on #464
@gyliu513 I did not see this issue with gcloud dns.

[2018-12-03 21:10] marun opened #479 "Store propagated version status in template resources"
This issue supercedes #108.

Propagated version status is used to determine whether target resources need to be updated without having to consider the content of the target resource.  The content of target resources may vary between member clusters due to new field additions for which default values are supplied.

Currently propagated version status for a federated resource is tracked in resources

[2018-12-03 21:10] marun commented on #108
Superceded by #479

[2018-12-03 21:10] #108 closed

[2018-12-03 21:13] marun commented on #401
I'm working on replacing name-based placement with a selector-based scheme.

[2018-12-03 21:15] marun commented on #175
This has been resolved #377 and #426

[2018-12-03 21:15] #175 closed

[2018-12-03 21:17] marun commented on #187
Resolved by #392.  I'm not sure my judgement of ginkgo is valid, and that transitioning to something else can be tracked via a separate issue should the need arise.

[2018-12-03 21:17] #187 closed

[2018-12-03 21:19] marun commented on #256
With #426 having merged, the proposal has been implemented:

- core.federation.k8s.io for area (1)
- primitives.federation.k8s.io for area (2)

[2018-12-03 21:19] #256 closed

[2018-12-03 21:21] marun commented on #262
@gyliu513 Given that 0.0.2 was released some time ago, I'm closing this issue.  Please file a separate issue for a future release if there are outstanding doc requirements not captured elsewhere.

[2018-12-03 21:21] #262 closed

[2018-12-03 21:41] marun opened #480 "Remove the need to specify ComparisonField for federated types"
A `FederatedTypeConfig` requires that a value for `comparisonField` be provided.  This value is used to determine what field of a target resource determines equality when deciding whether an update is required.  The 2 valid values are:

 - `ResourceVersion`
    - Used when a resource does not have a controller that records status on it, since `resourceVersion` is incremented when a change is made

[2018-12-03 21:42] marun commented on #475
Fixed by #476

[2018-12-03 21:42] #475 closed

[2018-12-03 21:53] marun commented on #473
I'm ok with adding the directives to the image.

Once #400 and #480 are implemented, it will become possible to simplify configuration of `enable` to a list of types, so maybe the federate directive files can go away (at least for the purposes of initial deployment).

[2018-12-03 21:55] quinton-hoole-2 commented on #477
IMO we should just stay consistent with kubectl (and the english language),
i.e. <predicate> then <object> a.k.a. <verb> then <noun>

Q

On Mon, Dec 3, 2018 at 11:33 AM Paul Morie <notifications@github.com> wrote:

--
Quinton Hoole
quinton@hoole.biz

[2018-12-03 22:47] font commented on #89
SGTM. I'll leave to @irfanurrehman to close.

[2018-12-04 02:34] konghui commented on #463
ok, thanks

[2018-12-04 04:19] gyliu513 commented on #262
@marun all of the examples are now there and it is ok to close this.

[2018-12-04 06:24] gyliu513 opened #483 "Add kubectl to federation v2 image"
As I was planning to add a `pre-install` script for helm chart in https://github.com/kubernetes-sigs/federation-v2/issues/474 to disable federation via the following command:
[code]

And the above command need depend on `kubectl`, but the federation v2 image do not include this binary, we need to put `kubectl` to federation v2 image as well.

/cc @marun any comments for this?

[2018-12-04 06:51] gyliu513 commented on #483
`kubectl` is 53M.

[code]

And the current federation v2 image is ~51M which build by myself.

[code]

[2018-12-04 08:57] irfanurrehman commented on #90
Yes it seems logical to me, because creation of the template would be what triggers the creation of placement and override in the first place.

[2018-12-04 09:00] irfanurrehman commented on #91
For RSP tests the answer is yes.
Will leave it to @shashidharatd to update for MultiClusterDNS tests.

[2018-12-04 09:04] irfanurrehman commented on #97
I think TypeConfig provides a good enough configuration mechanism for controllers that work based on it. We can probably do similar stuff (`ServiceManager ?`) for network (`service, ingress`) types also.

[2018-12-04 10:45] irfanurrehman commented on #477
What @maru elucidated in the [very next comment](https://github.com/kubernetes-sigs/federation-v2/issues/477#issuecomment-443836691) appeals to me as the correct behaviour. By k8s resource I meant all k8s resources which are adopted or created by federation wrt to this particular `resource`. I also think that cascading deletion (which deletes all k8s resources also) can be better left off for now

[2018-12-04 11:36] irfanurrehman commented on #477
If we take `kubectl` precedence what @quinton-hoole-2  mentioned [here](https://github.com/kubernetes-sigs/federation-v2/issues/477#issuecomment-443885069) and what I have suggested is the right way to go. However taking a look at `docker` from which `kubectl` took inspirations now lists a set of `Management` commands which are `<noun> <command>` format. Interestingly many of these `Management` co

[2018-12-04 16:06] marun commented on #483
I don't think `kubectl` should be added to the federation image. If we needed to consume it, we should rely on an official kube image.  I'm going to close this.

[2018-12-04 16:06] #483 closed

[2018-12-04 16:08] marun commented on #474
Is deletion of a control plane via helm something new or was that happening before?

[2018-12-05 00:12] gyliu513 commented on #483
Based on discussion at https://kubernetes.slack.com/archives/C09R1PJR3/p1543936266022400?thread_ts=1543935228.020800&cid=C09R1PJR3 , I will try to use `kubefed2 federate enable’ with ‘—dry-run —output=yaml` to generate some YAML templates, this will not require kubectl, so closing this is good for me.

[2018-12-05 00:17] gyliu513 commented on #474
@marun Yes, this is the behavior from day 1, please refer to https://github.com/kubernetes-sigs/federation-v2/blob/master/charts/federation-v2/README.md#uninstalling-the-chart for detail.

The following command will delete the control plane.

[code]

[2018-12-05 01:00] marun commented on #474
So this shouldn't be required if yaml is used instead of kubefed2?

[2018-12-05 01:41] xunpan commented on #464
@shashidharatd
1. I have 2 cluste4rs with minikube in my environment
2. Even if I do not have region and zone label, the serice "test-service.test-namespace.test-domain.svc.example.org" should have the correct IP values I think
3. I configured metalb with different IP range. So, each cluster assigned different IP
[code]
If the correct behavior is that we should have 2 IPs in DNS for this case. I w

[2018-12-05 05:10] gyliu513 commented on #473
Based on discussion at https://kubernetes.slack.com/archives/C09R1PJR3/p1543936266022400?thread_ts=1543935228.020800&cid=C09R1PJR3 , I will try to use `kubefed2 federate enable` with `—dry-run —output=yaml` to generate some YAML templates, this will not require copying "config/federatedirectives" to federation v2 image, so closing this.

[2018-12-05 05:10] #473 closed

[2018-12-05 08:42] ganisback commented on #471
I am also meet this unit test error when involve:
"github.com/kubernetes-sigs/federation-v2/pkg/client/clientset/versioned/fake"

`
/Users/xzgan/go/src/github.com/kubernetes-sigs/federation-v2/pkg/client/clientset/versioned/typed/multiclusterdns/v1alpha1/fake/fake_multiclusteringressdnsrecord.go:32:6: FakeIngressDNSRecords redeclared in this block
	/Users/xzgan/go/src/github.com/xzgan/myproject/ku

[2018-12-05 09:57] shashidharatd commented on #464
@gyliu513, you are looking `IngressDNS` documentation, while this issue is for `ServiceDNS`.

[2018-12-05 09:59] shashidharatd commented on #464
@xunpan, this case may not be tested. we might need to fix this to work when there are no `zone` and `region` attributes to the cluster.

[2018-12-05 10:19] shashidharatd commented on #91
There were some test cases missing like `cluster fail-over` which required 2 clusters to test. Now we have support for deploying multiple clusters in CI, we should add such test cases.

[2018-12-05 11:01] gyliu513 commented on #464
Thanks @shashidharatd , I mean the document here https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/servicedns-with-externaldns.md , it is also returning two IP addresses which is different with our test cases append by @xunpan https://github.com/kubernetes-sigs/federation-v2/issues/464#issue-386102460

[code]

[2018-12-05 11:33] kc004 opened #487 "cmd/kubefed2/kubefed2.go:27:2: cannot find package "github.com/kubernetes-sigs/federation-v2/pkg/kubefed2""
When i am executing this command:  ./scripts/deploy-federation-latest.sh cluster2

**I am facing an error:**
namespace/federation-system created
namespace/kube-multicluster-public created
clusterrolebinding.rbac.authorization.k8s.io/federation-admin created
clusterrole.rbac.authorization.k8s.io/federation-role created
clusterrolebinding.rbac.authorization.k8s.io/federation-rolebinding created
cust

[2018-12-05 11:46] shashidharatd commented on #464
@gyliu513, @xunpan, the DNS records may be cached and that is one of the reason why you see some stale records. But if as you said, even after waiting more than TTL seconds both IP's are shown, we need to inspect more on the reason for this.
- Have you checked the DNS service console (or the external-dns logs) if any directly, to see what happens to the DNS records?

[2018-12-05 15:09] marun commented on #91
@shashidharatd Would you please add detail to this issue to aid in either implementation or review of that testing?

[2018-12-05 15:21] #471 closed

[2018-12-05 17:22] danehans commented on #464
@gyliu513 yes, both IP's are reachable. Which one I use is based on the name query response of the dns server (gcloud DNS in my example). From my understanding gcloud dns uses multicast routing to respond with the IP closest to the source IP. You can also verify connectivity to both IP's by using the zone/region-level DNS names instead of the global or dnsPrefix (CNAME) record.

[2018-12-06 02:40] #400 closed

[2018-12-06 04:15] gyliu513 commented on #487
@kc004 I think you need to clone the source code of federation V2 to `$GOPATH/src/github.com/kubernetes-sigs/federation-v2` to make sure the deploy script works, please close this one after it works.

[code]

[2018-12-06 06:05] magicwang-cn opened #489 "dnsendpoint does not always keep exist"
dnsendpoint is created when servicednsrecord or ingressdnsrecord has been created, but now if deleting dnsendpoint alone, the controller will not create if forever, only created it when servicednsrecord /ingressdnsrecord has been updated.

details:
dnsendpoint service controller just has [servicednsrecord list & watch method](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/control

[2018-12-06 06:07] #329 closed

[2018-12-06 06:08] #401 closed

[2018-12-06 06:52] gyliu513 opened #490 "Added document for clusterSelector."
With PR https://github.com/kubernetes-sigs/federation-v2/pull/484 , fed v2 now support placement policy with `clusterSelector`. But when joining a cluster to the federation controller plane, we cannot set labels for the joining cluster, it is better to enable `kubefed2 join` support adding labels.

My proposal here is adding a new option like `label` to `kubefed2` like `kubectl label`, and also en

[2018-12-06 07:01] marun commented on #490
I don't think this should be the responsibility of `kubefed2`.  Labels are a part of every single kube resource, and there is a wealth of existing tooling and commands that allow them to be edited.  The best code is the code we don't have to write.

[2018-12-06 07:07] gyliu513 commented on #490
@marun so for now, if an end user want to add labels for the federated clusters, then two steps are needed:

- Join the cluster
- Label the cluster via `kubectl label federatedclusters`

Shall we update the document a bit by clarifying this?

[2018-12-06 07:13] qinpingli opened #491 "federation control plane panic"
Logs:
Federation v2 controller-manager version: version.Info{Version:"v0.0.3-126-g7906b8cd", GitCommit:"7906b8cdb73334930ea9dd7e2871a4bbbe5af176", GitTreeState:"clean", BuildDate:"2018-12-06T02:42:38Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
I1206 06:52:48.991785       1 controller-manager.go:100] Federation will target all namespaces
I1206 06:52:48.992888       1 controller.

[2018-12-06 07:14] marun commented on #490
Maybe add a pointer to the kube docs on labeling?

Also, just because label selection is supported doesn't mean that clusters need to be labeled.  I think the base use case is distributing resources to all clusters, and an empty selector will ensure that regardless of whether clusters are labeled or not.

[2018-12-06 07:16] marun commented on #491
It would be helpful to know the version of the control plane, the arguments used to start it, and what federated type configs are present (if any).    Given that the control plane is constantly being run in CI, I suspect a problem with the environment (i.e. maybe the controller has a dependency on a certain system state that is guaranteed in CI but not true of your environment).

[2018-12-06 07:53] qinpingli commented on #491
image tag is: canary,  image tag=latest no this issue.

No federatedtypeconfig was created.

Deployed federation control plane on openshift v3.11
Deploy steps:
1) create namespace `federation-system`, `kube-multicluster-public` on hostcluster
2) oc create clusterrolebinding federation-admin --clusterrole=cluster-admin --serviceaccount="federation-system:default"
3) oc apply --validate=false -f htt

[2018-12-06 08:04] kc004 commented on #487
@gyliu513 thanks it's working now

[2018-12-06 08:19] qinpingli commented on #491
Reproduced the issue, changed image tag from `latest` to `canary`.
Run the command:
./kubefed2 federate enable Namespace -f ./federatedirectives/namespaces.yaml --host-cluster-context=cluster1
./kubefed2.latest federate enable Deployment --override-paths=spec.replicas -f ./federatedirectives/deployments.apps.yaml --host-cluster-context=cluster1

[2018-12-06 12:18] magicwang-cn opened #495 "question: why `Domain` is namespace scoped and federation-v2 just care about the one in federation-system namespace?"
currently, `Domain` resource is namespace scoped, and ref with servicednsrecord. But the servicednsrecord controller just list & watch the `federation-system` namespace's domains, [details](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/servicedns/controller.go#L132-L135), see this:
[code]

and just get domain from `federation-system` namespace, [details](https://githu

[2018-12-06 13:04] magicwang-cn commented on #489
i have created a servicednsrecord:
[code]
and federation-v2 will create a dnsendpoint:
[code]

but if i delete the dnsendpoint:
[code]

it's suggested that the dnsendpoint will be created again, right? but it will not.

the reason is that the dnsendpoint controller just care about the servicednsrecord's change, but not cat about the dnsendpoint. maybe this has another consideration?

[2018-12-06 16:43] danehans opened #496 "Precommit script fails locally"
Whenever I run `./scripts/pre-commit.sh` locally, I get the following error:
[code]

I plan to submit a PR that updates `federate.go` to be gofmt'd.

[2018-12-06 19:32] #496 closed

[2018-12-06 20:39] marun commented on #495
@shashidharatd Was the intention to have a domain defined at most once for a control plane?  I'm not sure why `Domain` would otherwise need to be sourced from the federation namespace, but since there need not be a correlation between the `domain` field and the name of a `Domain` resource, I'm not sure how that characteristic would be achieved by the current scheme.

[2018-12-06 21:14] marun commented on #480
@irfanurrehman suggested an alternative to content-based versioning - use `generation` if available and fall back to `resourceVersion` if not.  This may require recording what field is being used in the propagated version status.

[2018-12-06 21:18] marun commented on #386
I think both deletion and disabling (`enablePropagation: false`) for a scheduled type should result in the scheduler being stopped.

[2018-12-07 13:46] xunpan commented on #464
I fixed kubernetes-incubator/external-dns#805 and merged.

There is still a new issue logged for obsolete IP address clean up:
https://github.com/kubernetes-incubator/external-dns/issues/808.

I keep this ticket open until external-dns with coredns works correctly.

[2018-12-07 15:31] xunpan commented on #489
I reproduced this issue in my environment.
I think this is an issue. Controller create dnsendpoint and should make sure it is there.

I can work on this. @shashidharatd, what do you think?

[2018-12-07 16:07] shashidharatd commented on #495
@marun, @magicwang-cn, the `Domain` object is supposed to be defined at most once for a federation (Here, when we say federation, its not control plane, but just logical grouping of services. Multiple federations could be possible within a single control plane). All the services belonging to a federation share the same domain. while discovering the federated service this federation name place a ro

[2018-12-07 16:10] mvazquezc opened #500 "[Docs Request] How-to update Federation Control Plane"
Hello,

I tried to update the Federation Control Plane from 0.0.2 to the latest available version (Canary) which includes the GenericOverride feature and it seems that updating the control plane is not as straightforward as changing the Operator's image.

I've been looking for documentation about how to update the control plane the right way, but I didn't find anything.

Could you provide some inf

[2018-12-07 16:12] shashidharatd commented on #489
I am not sure, whether recreating the dnsendpoint when manually deleted is the right choice. As delete action on this object could be controlled by something like rbac policy. My concern is to not put additional overhead on the controller to watch these resources. if we can achieve this without much overhead, please go ahead.

[2018-12-07 16:16] shashidharatd commented on #489
Another alternative than to watch `DNSEndpoint` could be to use `resync` period in the ServiceDNSRecord informer [here](https://github.com/kubernetes-sigs/federation-v2/blob/master/pkg/controller/servicedns/controller.go#L124)

[2018-12-07 16:39] marun commented on #500
There is no update procedure defined at this time.  Redeploying federation is suggested.  Once we approach beta (early next year) we'll need to consider an upgrade path, but at this time fedv2 is alpha and the focus is on converging on a supportable solution.

[2018-12-07 16:57] klingeleersbenjamin opened #501 "Overrides types in userguide not working."
I followed the federationv2 user guide. When i try to make test resources with

kubectl apply -R -f example/sample1

The overrides types are not working. The placement and templates types are working as expected.

unable to recognize "example/sample1/federatedconfigmap-override.yaml": no matches for kind "FederatedConfigMapOverride" in version "primitives.federation.k8s.io/v1alpha1"

unable to rec

[2018-12-07 17:08] mvazquezc commented on #500
Thanks for the information.

I'll remove and re-deploy the federation bits.

[2018-12-07 17:09] #500 closed

[2018-12-07 17:57] marun commented on #501
How did you install, and were there any error messages during the install?  Very strange to see just the override types missing.

[2018-12-07 18:19] marun opened #505 "Automate consistent update of primitive crds for helm chart"
As per a [comment](https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/pre-commit.sh#L162) in the CI script, there needs to be a way for any contributor to consistently update the primitive CRDs packaged with the helm chart.

`kubefed2` depends on openapi schema to determine the validation for the CRDs it generates, and openapi needs to be sourced from a `kube-apiserver`.  The ope

[2018-12-07 18:22] marun opened #506 "Enable CI testing of helm chart"
Currently the helm chart is not tested in CI, so ensuring it is current with changes in master is a manual process.  As a starting point, a new test run could be added that tears down the most recent script-deployed control plane, deploys with helm, and runs the e2e tests.  Eventually the helm chart could replace the script-based deployment entirely when it proves reliable.

[2018-12-07 19:51] danehans commented on #464
@xunpan have you been able to test PR #805 with federation-v2?

[2018-12-07 21:59] klingeleersbenjamin commented on #501
I installed the clusters following this guide

https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/environments/gke.md

Then i tried to deploy the federation control plane with the provided script

./scripts/deploy-federation-latest.sh cluster2

I got some errors during this script about kubefed2 and my GOPATH,, but the control plane was up and running so i manually joined the federa

[2018-12-08 09:19] gyliu513 commented on #501
I think this was fixed in https://github.com/kubernetes-sigs/federation-v2/pull/502 , can you help test this and close if test passed? @klingeleersbenjamin

FYI @marun

[2018-12-08 22:14] danehans commented on #329
@shashidharatd I'm not fully convinced this should be closed yet. I feel we can still provide a better UX. This is the ServiecDNSRecord that I must use for the federated istio use case:
[code]

If `externalName` is specified, what are your thoughts about also creating a CNAME record like what  `dnsPrefix` provides?

[2018-12-09 20:41] klingeleersbenjamin commented on #501
I will test it tomorrow at work!

[2018-12-10 08:31] kc004 opened #507 "federatedclusters is not reachable"
Kubernetes version: **v1.11.3**
Cluster joining method: **helm**
**Kubernetes using Rancher**

root@:~/go/src/github.com/kubernetes-sigs/federation-v2# **./bin/kubefed2 join on-prem --cluster-context on-prem --host-cluster-context on-prem --add-to-registry --v=2**

I1210 06:42:35.370728   13102 join.go:141] Args and flags: name on-prem, host: on-prem, host-system-namespace: federation-system, regi

[2018-12-10 09:05] klingeleersbenjamin commented on #501
I changed the override yaml files but im getting the same issue as before

unable to recognize "example/sample1/federatedconfigmap-override.yaml": no matches for kind "FederatedConfigMapOverride" in version "primitives.federation.k8s.io/v1alpha1"

unable to recognize "example/sample1/federateddeployment-override.yaml": no match
es for kind "FederatedDeploymentOverride" in version "primitives.feder

[2018-12-10 10:21] klingeleersbenjamin commented on #501
During the deploy federation script i got these errors

cmd/kubefed2/kubefed2.go:27:2: cannot find package "github.com/kubernetes-sigs/federation-v2/pkg/kubefed2" in any of:
	/usr/lib/go-1.6/src/github.com/kubernetes-sigs/federation-v2/pkg/kubefed2 (from $GOROOT)
	($GOPATH not set)
cmd/kubefed2/kubefed2.go:24:2: cannot find package "k8s.io/apiserver/pkg/util/logs" in any of:
	/usr/lib/go-1.6/src/k

[2018-12-10 16:29] mvazquezc opened #509 "Cannot use DownwardAPI on FederatedDeployment"
Given a deployment with a DownwardAPI volume:

[code]

When creating the FederatedDeployment object it fails as per validation failure:

validation failure list:
type in spec.template.spec.template.spec.volumes.downwardAPI is required

This was working on v0.0.3, now we're on Canary.

[2018-12-11 04:45] #466 closed

[2018-12-11 05:03] danehans commented on #469
Federating mutatingwebhookconfiguration is also effected by this issue:
[code]

Error:
[code]

[2018-12-11 15:02] mvazquezc opened #510 "delete-federation.sh script doesn't take care of FederatedItems"
If this script is used without deleting the federated objects beforehand the ControlPlane won't be deleted.

I think this script should wether show a disclaimer or ask the user for confirmation in order to delete federated objects.

To my understanding, it should be enough if `FederatedClusterRole` and Namespaces associated with a `FederatedNamespacePlacemen`are deleted from the Host Cluster.

Wha

[2018-12-12 09:15] konghui opened #511 "cluster always display 'ClusterNotReachable'"
I found the cloud always display ClusterNotReachable. like this

[code]

final I found the problem cause fedclient vist the cluster's healthz url return the
[code]

The log of apiserver says
[code]

I try to visit healthz url directly, but it says ok

[code]

I was install the federation with follow this step.
[code]

here is my kubernetes configration:
in the region cluster:
apiservers:
[code]
co

[2018-12-12 12:52] #501 closed

[2018-12-12 13:23] gyliu513 commented on #501
Generic overrides working fine after @klingeleersbenjamin using master build.

[2018-12-12 13:40] gyliu513 commented on #511
@konghui  I think the `context` should be `region` when create clusterrolebinding?

[code]

[2018-12-13 02:14] konghui commented on #511
yes, it's should be region, I real do this in the region. But I was thinking about why default-token was correct, but zone-4fhxl was invalid.

[2018-12-13 06:13] konghui commented on #511
it still not work, this time both default-token and zone-token was invalid

the secret output:
[code]
health check script:
[code]
port 26543 was the port of region apiservers
check default-token
[code]
check zone token:
[code]

here is my install command and output:
1.delete the federation
[code]
install federation
[code]
try to start federation controller:
[code]
the output of federation controll

[2018-12-13 07:49] magicwang-cn opened #513 "kubefed2: some suggestion about kubefed2 command"
currently, kubefed2 is a total tool to manage federation controller plane. we should focus on its use experience to make it more reliable :).

**some suggestions:**
- `join`: maybe we should check the cluster's environment first to avoid do the wrong work. currently, once join the cluster failed(create sa failed, create secret failed, or create clusterrole failed, etc.), we can't do the join work

[2018-12-13 08:20] gyliu513 commented on #511
@konghui can you install federation with scripts? For your case, you can run the command:

[code]

[2018-12-13 08:30] magicwang-cn commented on #513
@gyliu513 this can't slove all the problems. `unjoin --force` just force to delete the federated cluster and secret in the federation controller plane, but some resources are still left in the `unjoined cluster`, next time, if we want join the cluster again, it will failed.

[2018-12-13 09:15] konghui commented on #511
I found the real problem, I think it not the issue of how to install federation controller:
I see the source code, it can create sub resource:

1.  service account called **zone-region**
2.  cluster role called **federation-controller-manager:zone-region** and **federation-controller-manager:common-zone-region**
3.  then create a two clusterrolebinding:
- **federation-controller-manager:common-zon

[2018-12-13 09:55] magicwang-cn opened #514 "Lack of conditional preparation of the cross-cluster service discovery"
**use case:**
![image](https://user-images.githubusercontent.com/7587313/49926133-d5ab0e00-fef5-11e8-8e34-51d5db5d0b30.png)

**details:**
A -> B maybe includes cross-cluster service access, and use `b.ns.federation` domain name to do the service discovery. first, localdns(kubedns/coredns) will check if the local cluster has B's service, if so, it will use the local cluster's B service, if not, it

[2018-12-14 02:57] gyliu513 commented on #513
@magicwang-cn if with `unjoin --force`, there are still some garbage data, then there might be something wrong with your k8s cluster, if you check the `unjoin --force` logic, it is actually trying to delete all of the resource even if some steps failed.

FYI @xunpan for more comments.

[2018-12-14 03:05] konghui commented on #511
it's the reason I forget add --service-account-key-file option cause this problem.

[2018-12-14 03:05] #511 closed

[2018-12-14 03:35] magicwang-cn commented on #513
@gyliu513 yes, i know `unjoin --force` will delete all of the resource(just in the federation controller plane/hostcluster) even if some steps failed, but the cluster which has been unjoined still left some resources, this will effect the `join` process(if we want to join the cluster again)

[2018-12-14 05:45] gyliu513 commented on #491
@qinpingli Your second command failed in my cluster as follows, am I missing anything?

[code]

[2018-12-14 05:49] gyliu513 commented on #491
Another question is install federation via `install-latest.yaml` and then update image from `latest` to `canary` may also have some issues, as `install-latest.yaml` may lack some CRD resources compared with the install file generated by `canary` image.

If you want to test via the `canary` image, then I suggest you install federation via helm chart or you may want to re-generate a `install.yaml` v

[2018-12-14 06:00] qinpingli commented on #491
I compile the `kubefed2` by `go build -o bin/kubefed2 cmd/kubefed2/kubefed2.go` with some commit, but I can not tell the commit id now.
$ ./kubefed2 version
kubefed2 version: version.Info{Version:"v0.0.1-alpha.0", GitCommit:"unknown", GitTreeState:"unknown", BuildDate:"unknown", GoVersion:"go1.11", Compiler:"gc", Platform:"linux/amd64"}
The version is not correct. If using `make kubefed2`, the ver

[2018-12-14 06:15] gyliu513 commented on #510
@mvazquezc +1 to your proposal, can you please create a PR to update the document at https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#cleanup to claim this first?

Actually, we already cleaned up the resources at https://github.com/kubernetes-sigs/federation-v2/blob/master/docs/userguide.md#example-cleanup , but it would be great if we can highlight this again before

[2018-12-14 06:30] gyliu513 commented on #505
FYI @xunpan

[2018-12-14 08:21] qinpingli commented on #491
Do not reproduce this issue with version:
./kubefed2 version
kubefed2 version: version.Info{Version:"v0.0.4", GitCommit:"2cdf5d37240d9b8b33e2715deb75fbb7f9e003ad", GitTreeState:"clean", BuildDate:"2018-12-11T01:26:09Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

$ kubectl logs -f federation-controller-manager-0 -n federation-system
Federation v2 controller-manager version: versi

[2018-12-14 09:33] #333 closed

[2018-12-17 05:54] xunpan commented on #464
@danehans
Yes. It works in federation v2 in my environment.

However, there still have issues in external-dns for related case. The obsolete record cannot be deleted. I'm working on it to make it work. This ticket will be cloased if related issue is resolved.

[2018-12-17 06:15] xunpan commented on #513
@magicwang-cn ,
Currently, unjoin is an operation opposite to join. It only deleted resources created for federation cluster management itself.

In your case, I guess federated resources, like Deployment, is left in the unjoin cluster. The related resource is generated by federation resource. You're trying to use unjoin to clean related resources. However, it does not work currently.

I think clea

[2018-12-17 07:08] gyliu513 commented on #510
@mvazquezc can you close this issue as the PR was merged?

[2018-12-17 07:08] gyliu513 commented on #513
@magicwang-cn @xunpan please refer to https://github.com/kubernetes-sigs/federation-v2/issues/510 and https://github.com/kubernetes-sigs/federation-v2/pull/518 for some detail, we already mentioned to end user that the federated resources should be deleted before unjoin cluster.

[2018-12-17 07:18] mvazquezc commented on #510
Sure.

[2018-12-17 07:18] #510 closed

[2018-12-17 20:55] marun commented on #469
@danehans That appears to be a different problem - it doesn't think the value of `caBundle` is of type byte.  Maybe try skipping the quotes?

[2018-12-17 21:03] marun commented on #514
iirc multicluster dns records handle the case of delivering traffic to a local service if available, and otherwise to the same service in another cluster if not.  I'll leave it to @shashidharatd and @font to confirm.